{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <style type="text/css">
    table.stdtable thead th.target-header {
        background: #cc9ee8;
    }
    </style>
    <div class="widgetgrid">
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>Word count by report</span></h2></div>
            <div class="widgetcontent padding0">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                    <thead>
                        <tr>
                            <th class="head0" rowspan="2">Report</th>
                            {% for language in sourceLanguageHeader %}
                                <th class="head0" rowspan="2">{{ language }}</th>
                            {% endfor %}
                            {% for language in targetLanguageHeader %}
                                <th class="head0 target-header" colspan="2">{{ language }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for language in targetLanguageHeader %}
                                <th class="head0 target-header">SOURCE</th>
                                <th class="head0 target-header">UNTRANSLATED WORDS</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in wordCount %}
                            <tr>
                                {% for cell in row %}
                                    <td rowspan="{{ cell['span'] }}">{{ cell['value'] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        {% for row in totalWordCount %}
                            <tr>
                                {% for cell in row %}
                                    <td rowspan="{{ cell['span'] }}">{{ cell['value'] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}