{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}

    {% endembed %}

    <script type="text/javascript">
        function saveTextBlock(idTextBlock, idLanguage) {
            var textfieldInfo = jQuery('#tb_' + idTextBlock + '_' + idLanguage + '_info');
            var textfield = jQuery('#tb_' + idTextBlock + '_' + idLanguage);
            var body = textfield.val();

            var targetUrl = '{{ links['translate_text_block']['saveTextBlock'] }}';

            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                data: {
                    idTextBlock: idTextBlock,
                    idLanguage: idLanguage,
                    body: body
                },
                context: document.body
            }).done(function(data) {
                if (data == 'SUCCESS') {
                    displayMsg(idTextBlock, idLanguage, '<b style="color: green">Saved</b>');
                }
                else if (data == 'FAILED') {
                    displayMsg(idTextBlock, idLanguage, '<b style="color: red">ERROR, HAVEN\'T SAVED YET! Please save your translation somewhere else first!</b>');
                    highlightRow(idTextBlock, idLanguage);
                }
                else {
                    displayMsg(idTextBlock, idLanguage, '<b style="color: red">ERROR (HAVEN\'T SAVED YET!) <br/> ' + data + '</b>');
                    highlightRow(idTextBlock, idLanguage);
                }
            }).error(function(jqXHR, textStatus, errorThrown ) {
                displayMsg(idTextBlock, idLanguage, '<b style="color: red">ERROR, HAVEN\'T SAVED YET! Please save your translation somewhere else first!</b>');
                highlightRow(idTextBlock, idLanguage);
            });
        }

        function updateStats(idTextBlock, idLanguage) {
            var textfield = jQuery('#tb_' + idTextBlock + '_' + idLanguage);
            var textfieldStatsInfo = jQuery('#tb_' + idTextBlock + '_' + idLanguage + '_stats_info');
            var textfieldInfo = jQuery('#tb_' + idTextBlock + '_' + idLanguage + '_info');
            var translation = textfield.val();

            // Compute value
            var lineBreak = 0;
            for (var i = 0; i < translation.length; i++) {
                if (translation[i] == '\n') {
                    lineBreak++;
                }
            }

            var isUppercase = false;
            if (translation == translation.toUpperCase()) {
                isUppercase = true;
            }
            else {
                isUppercase = false;
            }

            var length = translation.length - lineBreak;

            // Print
            textfieldStatsInfo.html('Length = ' + length + ', ' + (isUppercase ? "UPPERCASE, " : "") + 'Break = ' + lineBreak + "<br/>");
            textfieldInfo.html('');
        }

        function displayMsg(idTextBlock, idLanguage, msg) {
            var textfieldInfo = jQuery('#tb_' + idTextBlock + '_' + idLanguage + '_info');
            var textfield = jQuery('#tb_' + idTextBlock + '_' + idLanguage);

            var oriHeight = textfield.css('height');
            textfield.css('height', (parseInt(oriHeight) - 10) + 'px')
            textfieldInfo.html(msg);        
        }

        function highlightRow(idTextBlock, idLanguage) {
            var r = jQuery('#tb_' + idTextBlock + '_' + idLanguage).parent().parent();            
            r.css('background-color', '#ff9999');
        }
    </script>
{% endblock %}
