{% extends 'LeepAdminBundle::PopupWithoutTabs.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Translate <text style="color: red">[[{{ textBlock.name | default('') }}]]</text></h1><br/>

    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}      
            <input type="hidden" name="idReport" value="{{ idReport }}" />
            <input type="hidden" name="idLanguage" value="{{ idLanguage }}" />
            <input type="hidden" name="idTextBlock" value="{{ idTextBlock }}" />

            <table class="stdtable" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="head0" width="50%">Source Languages</th>
                        <th class="head0" width="50%">Target Language</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            {% for b in sourceBlocks %}
                                <div style="padding-bottom: 30px">
                                    <b>{{ b['name'] }}</b>
                                    <div style="margin-top: 5px">{{ b['body'] | nl2br }}</div>
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            <b>{{ targetLanguage.name }}</b>
                            {{ form_widget(form['view'].translation) }} <br/>

                            {% if numTextBlock > 1 %}
                                <br/>
                                <b style="color: red">WARNING: This is duplicated text blocks, please click link below to choose correct translation. After you click save, the duplication will be removed</b>
                                <br/>
                                <a href="{{ linkViewTranslation }}?idTextBlock={{ textBlock.id }}&idLanguage={{ idLanguage }}" class="popupButton">View possible translations</a>
                            {% endif %} 
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if rules is not empty %}
                <br/>
                <h2>Rules</h2>
                <br/>
                <table class="stdtable" cellpadding="0" cellspacing="0" border="0" style="width: 50%">
                    <thead>
                        <tr>
                            <th class="head0" width="50%">Rule</th>
                            <th class="head0" width="25%">Required</th>
                            <th class="head0" width="25%">Actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if rules['maxLength'] is defined %}
                            <tr>
                                <td>Max Length</td>
                                <td>{{ rules['maxLength'] }}</td>
                                <td id="maxLengthActual" width="25%"></td>
                            </tr>   
                        {% endif %}
                        {% if rules['isUppercase'] is defined %}
                            <tr>
                                <td>IS UPPERCASE</td>
                                <td>YES</td>
                                <td id="isUppercaseActual" width="25%"></td>
                            </tr>   
                        {% endif %}
                        {% if rules['numLineBreak'] is defined %}
                            <tr>
                                <td>The number of line break</td>
                                <td>{{ rules['numLineBreak'] }}</td>
                                <td id="numLineBreakActual" width="25%"></td>
                            </tr>   
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    checkTranslation();

                    jQuery("#{{ form['view'].translation.vars.id }}").keyup(function() {
                        checkTranslation(); 
                    });
                });

                function checkTranslation() {
                    var translation = jQuery("#{{ form['view'].translation.vars.id }}").val();

                    var lineBreak = 0;
                    for (var i = 0; i < translation.length; i++) {
                        if (translation[i] == '\n') {
                            lineBreak++;
                        }
                    }

                    jQuery('#maxLengthActual').html(translation.length - lineBreak);
                    if (translation == translation.toUpperCase()) {
                        jQuery('#isUppercaseActual').html("YES");
                    }
                    else {
                        jQuery('#isUppercaseActual').html("NO");
                    }

                    jQuery('#numLineBreakActual').html(lineBreak);
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
