{% extends 'LeepAdminBundle::PopupWithoutTabs.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% set widthPct = 85 / numCol %}
    <table class="stdtable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th class="head0" width="10%" rowspan="2">Text Block</th>
                <th class="head0" colspan="{{ sourceLanguageList | length }}">Source Languages</th>
                <th class="head0">Target Language</th>
                <th class="head0" width="5%" rowspan="2">Action</th>
            </tr>
            <tr>
                {% for l in sourceLanguageList %}
                    <th width="{{ widthPct }}%" class="head0">{{ l['name'] }}</th>
                {% endfor %}
                <th  width="{{ widthPct }}%" class="head0">{{ targetLanguage['name'] }}</th>
            </tr>
        </thead>

        <tbody>
            {% for b in translations %}
                <tr>
                    <td>{{ b['name'] }}</td>
                    {% for l in sourceLanguageList %}
                        <td>
                            {% if b['blocks'][l['id']] is defined %}
                                {{ b['blocks'][l['id']]}}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% if b['blocks'][targetLanguage['id']] is defined %}
                            {{ b['blocks'][targetLanguage['id']] }}
                        {% endif %}
                    </td>
                    <td>
                        <a target="_blank" href="{{ linkPerformTranslation }}&idTextBlock={{ b['id'] }}"><div class="button-redo"></div></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}