{% extends 'LeepAdminBundle::PopupWithoutTabs.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% for t in translations %}
        <div style="padding-top: 5px; padding-bottom: 20px; border-bottom: 1px solid #ddd">
            {{ t | nl2br }}&nbsp;
        </div>
    {% endfor %}
{% endblock %}