{% block app_nutri_me_parsed_row %}
<br/>
<h2>Code parsed</h2>
<br/>

{% if error is defined %}
    Error in code: {{ error }} <br/>
{% else %}
    <div class="one_half">
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                {% for r in info %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ r['label'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ r['value'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>

        {% if isMade is not defined %}
        <br/>
        <button id="startProductionBtn" class="submit radius2">Start production</button>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#startProductionBtn').click(function() {
                    window.location = '{{ startProductionLink | raw }}';
                    return false;
                });
            });
        </script>
        {% endif %}
    </div>

    <div class="one_half last">
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head0" style="width: 35%; text-align: right">Type</th>
                    <th style="width: 65%; text-align: left; font-weight: normal">Amount</th>
                </tr>
                {% for d in drugs %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ d['type'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ d['amount'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>

    <br clear="all" /><br />
{% endif %}

{% if isMade is defined %}

    <h2>History</h2>
    <br/>
    <div class="one_half">
        <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>Summary</span>
                    </h2>
                </div>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                {% for r in history %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ r['label'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ r['value'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>

    </div>

    <div class="one_half last">
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>SUPPLEMENT TYPE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 40%">Supplement Type</th>
                                <th class="head0" style="width: 30%">Letter</th>
                                <th class="head0" style="width: 30%">Lot in use</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['supplementType'] %}
                                <tr>
                                    <td>{{ r['name'] }}</td>
                                    <td>{{ r['letter'] }}</td>
                                    <td>{{ r['lotInUse'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>STOCK IN-USE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 25%">Name</th>
                                <th class="head0" style="width: 15%">Letter</th>
                                <th class="head0" style="width: 15%">Shipment</th>
                                <th class="head0" style="width: 45%">w/w (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['testedAndInUsePellet'] %}
                                <tr>
                                    <td>{{ r['name'] | default('') }}</td>
                                    <td>{{ r['letter'] | default('') }}</td>
                                    <td>{{ r['shipment'] | default('') }}</td>
                                    <td>{{ r['activeIngredient'] | default('') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>MATERIAL USED UP - IN USE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 35%">Material</th>
                                <th class="head0" style="width: 10%">Quantity in units</th>
                                <th class="head0" style="width: 25%">Used for</th>
                                <th class="head0" style="width: 10%">Date taken</th>
                                <th class="head0" style="width: 25%">Taken by</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['selectedUsedUpMaterial'] %}
                                <tr>
                                    <td>{{ r['materialName'] }}</td>
                                    <td>{{ r['quantity'] }}</td>
                                    <td>{{ r['usedFor'] }}</td>
                                    <td>{{ r['dateTaken'] }}</td>
                                    <td>{{ r['takenBy'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>

    <br clear="all" /><br />
{% endif %}

{% endblock %}