{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modified.css') }}" type="text/css">
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>

    <!-- x-editable (bootstrap 3) -->
    <link href="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ parent() }}
            <script type="text/javascript">
                function validateOrderNumbers() {
                    var orderNumberTextarea = jQuery('#{{ form['view'].selectedOrderNumbers.vars.id }}');
                    var selectedOrderNumberValue = orderNumberTextarea.val();
                    if (selectedOrderNumberValue != '') {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentOrder.vars.id }} .field');
                        resultSpan.html('Validating..');

                        var targetUrl = '{{ links['nutriMe']['bulkEditStatusValidate'] }}';
                        orderNumberTextarea.attr('readonly', 'readonly');
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: { orderNumbers: selectedOrderNumberValue },
                            context: document.body
                        }).done(function(data) {
                            resultSpan.html(data);
                            orderNumberTextarea.removeAttr('readonly');
                            onValidateOrderNumbersDone();
                        }).error(function(jqXHR, textStatus, errorThrown ) {
                            resultSpan.html(textStatus + " " + errorThrown);
                        });
                    }
                    else {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentOrder.vars.id }} .field');
                        resultSpan.html('');
                    }
                }

                function onValidateOrderNumbersDone() {

                }

                jQuery('#{{ form['view'].selectedOrderNumbers.vars.id }}').change(function() {
                    validateOrderNumbers();
                });
                jQuery(document).ready(function() {
                    validateOrderNumbers();
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}