{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}

        {% block gridDrawCallback %}
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return statusBulkEdit()">&nbsp;&nbsp;Bulk-edit&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function statusBulkEdit() {
                                var targetUrl = '{{ links['nutriMe']['bulkEditStatus'] }}';
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}

