{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="content">
                <br/>
                <h2 style="font-size: 40px">NutriMe Production</h2>
                <br/>
                <div class="one_half">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; border-top: 1px solid #ddd">Order Number</th>
                                <th style="width: 50%; text-align: left; border-top: 1px solid #ddd;">{{ orderNumber }}</th>
                            </tr>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Supplement days</th>
                                <th style="width: 50%; text-align: left;  ">{{ supplementDaysOrder }}d</th>
                            </tr>
                            <tr  style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Product</th>
                                <th style="width: 50%; text-align: left;  ">{{ product }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="one_half last">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; border-top: 1px solid #ddd">Total Amount</th>
                                <th style="width: 50%; text-align: left; border-top: 1px solid #ddd">{{ totalAmount }}</th>
                            </tr>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Total packs</th>
                                <th style="width: 50%; text-align: left; ">{{ totalPack }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <br clear="all" /><br />    

                <br/>     
                <h2 style="font-size: 40px">Next steps</h2>
                <br/>     
                <form id="mainForm" action="">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px" id="inputRow">
                                <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">Scan</th>
                                <th id="drug" style="width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 40px"></th>
                                <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">and use </th>
                                <th id="drugAmount" style="width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 40px"></th>
                                <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">unit(s)</th>
                                <th style="width: 15%; text-align: left; border-top: 1px solid #ddd">
                                    <input type="text" id="inputText" name="inputText" style="height: 40px; width: 100%; font-size: 24px; font-weight: bold"/>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
                <br/>     

                <form id="finalForm" action="{{ doneProductionLink | raw }}" style="display: none">
                    <input type="hidden" name="id" value="{{ id }}" />
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px" id="finalRow">
                                <th style="width: 50%; text-align: right; border-top: 1px solid #ddd">Completed! Total units should be </th>
                                <th id="totalDrugAmount" style="width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 40px">{{ totalAmount }}</th>
                                <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">unit(s)</th>
                                <th style="width: 15%; text-align: left; border-top: 1px solid #ddd">
                                    <input type="text" id="inputFinalText" name="inputFinalText" style="height: 40px; width: 100%; font-size: 24px; font-weight: bold"/>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
                <br/>     
                <h2 style="font-size: 40px">Done steps</h2>
                <br/>                         
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                    <thead id="doneSteps">
                    </thead>
                </table>

            </div>

            <script type="text/javascript">
                var drugs = JSON.parse('{{ drugsJson | raw }}');
                var drugId = -1;
                jQuery(document).ready(function() {
                    jQuery('#inputText').focus();
                    
                    jQuery('#mainForm').submit(function() {
                        var drugInput = jQuery('#inputText').val();
                        if (drugs[drugId] != undefined && drugs[drugId]['type'] != undefined) {
                            var drug = drugs[drugId];
                            if (drugInput == drug['type']) {
                                jQuery('#doneSteps tr').each(function() {
                                    jQuery(this).css('background-color', '');
                                });

                                var row = jQuery("<tr style='height: 50px; background-color: #90EE90'>" + 
                                    "<th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>Scan</th>" +
                                    "<th style='width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 40px'>" + drug['type'] + "</th>" +
                                    "<th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>and use</th>" +
                                    "<th style='width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 40px'>" + drug['amount'] + "</th>" +
                                    "<th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>unit(s)</th>" +
                                    "<th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>COMPLETED!</th>" +
                                "</tr>");
                                jQuery('#doneSteps').prepend(row);
                                moveNextDrug();
                            }
                            else {
                                alert("Wrong drug!");
                            }
                            jQuery('#inputText').val('');
                        }

                        return false;
                    });

                    jQuery('#finalForm').submit(function() {
                        return true;
                    });

                    moveNextDrug();
                });

                function moveNextDrug() {
                    drugId++;
                    if (drugs[drugId] != undefined && drugs[drugId]['type'] != undefined) {
                        var drug = drugs[drugId];
                        jQuery('#drug').html(drug['type']);
                        jQuery('#drugAmount').html(drug['amount']);
                    }
                    else {
                        jQuery('#mainForm').css('display', 'none');
                        jQuery('#finalForm').css('display', '');
                        jQuery('#inputFinalText').focus();
                        return false;
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}