{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return importPrice()">&nbsp;&nbsp;Import price&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function importPrice() {
                                var idPriceCategory = jQuery('#{{ form['view'].priceCategoryId.vars.id }}').val();

                                var targetUrl = '{{ links['productPrice']['importPrice'] }}?id=' + idPriceCategory;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}

