.tbstyle{
    cellpadding = "0";
    cellspacing = "0";
    border = 2px;
}

.tbinfostyle{
    cellpadding = "0";
    cellspacing = "0";
    border = "0;
    border: 1px;
}

.colInput{
    width: 400px;
    align-content: center;
}

.titleOutput{
    font-size: 150%;
}
