{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="stdform stdform2">
        <br/><h2>Email sending activities</h2><br/>
        <p></p>
        {% for activity in activities %}
            <p>
                <span class="field" style="margin-left:-1px">
                    {{ activity.time }}&nbsp;:&nbsp; {{ activity.notes }}
                </span>
            </p>
        {% endfor %}
    </div>
    <br/>
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        function onChangeEmailTemplateId() {
            var id = jQuery('#{{ form['view'].emailTemplateId.vars.id }}').val();                    
            var idCustomer = jQuery('#{{ form['view'].customerId.vars.id }}').val();
            var targetUrl = "{{ links.emailTemplate.ajaxRead }}?id=" + id + "&idCustomer=" + idCustomer;
            jQuery.ajax({
                url: targetUrl,
                context: document.body
            }).done(function(data) {
                if (data == "FAIL") {
                    return;
                }
                var emailTemplate = JSON.parse(data);

                jQuery('#{{ form['view'].subject.vars.id }}').val(emailTemplate['subject']);
                jQuery('#{{ form['view'].content.vars.id }}').val(emailTemplate['content']);

                if (emailTemplate['toCustomer']) {
                    jQuery('#{{ form['view'].emailList.vars.id }}_0').attr('checked', 'checked');
                }
                else {
                    jQuery('#{{ form['view'].emailList.vars.id }}_0').removeAttr('checked');
                }
                if (emailTemplate['toDistributionChannel']) {
                    jQuery('#{{ form['view'].emailList.vars.id }}_1').attr('checked', 'checked');
                }
                else {
                    jQuery('#{{ form['view'].emailList.vars.id }}_1').removeAttr('checked');
                }
                if (emailTemplate['toPartner']) {
                    jQuery('#{{ form['view'].emailList.vars.id }}_2').attr('checked', 'checked');
                }
                else {
                    jQuery('#{{ form['view'].emailList.vars.id }}_2').removeAttr('checked');
                }

                onChangeEmailList();

                jQuery('#{{ form['view'].cc.vars.id }}').val(emailTemplate['toOthers']);                
            });
        }

        function onChangeEmailList() {
            var addedEmails = '';
            jQuery('#{{ form['view'].emailList.vars.id }} input').each(function() {
                if (jQuery(this).is(':checked')) {
                    addedEmails += jQuery(this).val() + ';';
                }
            });

            jQuery('#{{ form['view'].sendTo.vars.id }}').val(addedEmails);
        }

        jQuery(document).ready(function() {
            jQuery('#{{ form['view'].emailList.vars.id }} input').each(function() {
                jQuery(this).change(onChangeEmailList);
            });

            {% if preSelectTemplateId is defined %}
                jQuery('#{{ form['view'].emailTemplateId.vars.id }}').val({{ preSelectTemplateId}});
                onChangeEmailTemplateId();  
            {% endif %}
        });
    </script>
{% endblock %}
