{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block BODY %}
<body class="loggedin">
    <h3>Total: {{ total }} </h3>
    <h3>To be corrected: {{ corrected }}</h3>
    <h3>Won't be corrected: {{ wonCorrected }}</h3>
    <h4>Won't be corrected = Fake positive / lack of correct text</h4>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
        {% for r in text %}
            <tr>
                <td style="width: 50%">{{ r['idBlockLanguage'] }}<textarea style="width: 100%; height: 50px">{{ r['body'] | raw }}</textarea></td>
                <td style="width: 50%"><textarea style="width: 100%; height: 50px">{{ r['correct'] | raw }}</textarea></td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}