{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}   
    <div class="content">
        <form class="stdform" action="/developer/developer/encode" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button class="button">Encode</button>
        </form>
    </div>
{% endblock %}