{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Component:WidgetBox.html.twig' with {'title': 'Customer statistic'} %}
        {% block content %}
            <table class="stdtable">
                <thead>
                    <tr>
                        <th class="head1">Status</th>
                        <th class="head1">Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in customerStatistic %}
                        <tr>
                            <td>{{ item['title'] }}</td>
                            <td>{{ item['value'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
