{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="widgetgrid">
        {% if widgets is empty %}
            <div class="widgetbox" style="width: 100%">
                <div class="title"><h2 class="tabbed"><span>Welcome</span></h2></div>
                <div class="widgetcontent">
                    Welcome back to order management system!
                </div>
            </div>
        {% endif %}

        {% for widget in widgets %}
            <div class="widgetbox" style="width: 100%">
                <div class="title"><h2 class="tabbed"><span>{{ widget['name'] }}</span></h2></div>
                <div class="widgetcontent padding0">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 20%">Must be status</th>
                                <th class="head0" style="width: 20%">Must not be status</th>
                                <th class="head0" style="width: 20%">Must be product</th>
                                <th class="head0" style="width: 20%">Must be category</th>
                                <th class="head0" style="width: 15%">Last update</th>
                                <th class="head0" style="width: 5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ widget['mustBeStatus'] }}</td>
                                <td>{{ widget['mustNotBeStatus'] }}</td>
                                <td>{{ widget['mustBeProduct'] }}</td>
                                <td>{{ widget['mustBeCategory'] }}</td>
                                <td>
                                    {{ widget['lastUpdate'] }}
                                    <a href="{{ widget['updateLink']}}"><div class="button-checked" alt="Update now" title="Update now"></div></a>
                                </td>
                                <td>
                                    <a href="{{ widget['customerLink'] }}">
                                        <div class="button-detail" alt="See customers" title="See customers"></div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                        <colgroup>
                            <col class="con0" width="20%">
                            {% for calculate in widget['calculates'] %}
                                <col class="con0">
                            {% endfor %}
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="head0">Period</th>
                                {% for calculate in widget['calculates'] %}
                                    <th class="head0">{{ calculate }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for idPeriod, period in widget['timePeriods'] %}
                                <tr>
                                    <td>{{ period }}</td>
                                    {% for idCalculate, calculate in widget['calculates'] %}
                                        <td>
                                            {% set idResult = idPeriod ~ '_' ~ idCalculate %}
                                            {% if widget['result'][idResult] is defined %}
                                                {{ widget['result'][idResult] }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

        {% block PendingOrder %}
            <div class="widgetbox" style="width: 100%">
                <div class="title"><h2 class="tabbed"><span>Pending Order Information</span></h2></div>
                <div class="widgetcontent padding0">
                    <table class="stdtable">
                        <thead>
                            <tr>
                                <th class="head0" style="width:20%">Distribution Channel</th>
                                <th class="head0" style="width:20%">Customer</th>
                                <th class="head0" style="width:20%">Category</th>
                                <th class="head0" style="width:20%">Number Products</th>
                                <th class="head0" style="width:20%">Products</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pendingOrder in pendingOrdersInfo %}
                                <tr>
                                    <td>{{ pendingOrder['dc'] }}</td>
                                    <td>{{ pendingOrder['customer'] }}</td>
                                    <td>
                                        {% for categoryName in pendingOrder['categories'] %}
                                            <div>{{ categoryName }}</div>
                                        {% endfor %}
                                    </td>
                                    <td>{{ pendingOrder['numberProducts'] }}</td>
                                    <td>
                                        {% for productName in pendingOrder['products'] %}
                                            <div>{{ productName }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
