    <Item>
        <ItemNumber>${itemNumber}</ItemNumber>
        <Title>${itemTitle}</Title>
        <Contributor>
            <ContributorRole>${contributorRole}</ContributorRole>
            <ContributorName>${contributorName}</ContributorName>
        </Contributor>
        <Height>${itemHeight}</Height>
        <Width>${itemWidth}</Width>
        <Pages>${itemNumPages}</Pages>
        <ColouredPages>${itemColouredPages}</ColouredPages>
        <ColouredPagesPosition>${itemColouredPagesPosition}</ColouredPagesPosition>
        <Paper>${itemPaper}</Paper>
        <Binding>${itemBinding}</Binding>
        <Finish>${itemFinish}</Finish>
        <Jacket>${itemJacket}</Jacket>
    </Item>