
/***** GENE GROUP */
.geneGroup {}
.geneGroup .geneRow { width: 500px; height: 45px; text-align: right; display: block; }
.geneGroup .geneRow label { float: left; width: 150px; text-align: right; padding: 0px 20px 0 0; }
.geneGroup .geneRow .geneField { width: 550px; margin-left: 180px; display: block; text-align: left; position: relative; }
