{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/angularjs/angular.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jQueryRotateCompressed.2.2.js') }}"></script>
    
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modal.css') }}">

    <style>

        .stdtable tbody tr:hover td, .stdtable tbody tr.selected td { background: none; }
        .one_fourth{ width:22.0%; }
        .sample-box {
            padding: 5px; 
            border: 2px solid #d2d2d2;
        }
        .sample-box:hover {
            cursor: pointer;
            border: 2px solid #3b4650;     
        }
        .sample-box.selected {
            border: 2px solid red;     
        }
        .sample-box.selected-fam {
            border-color: 2px solid #0070C0;
            background-color: #0070C0;     
            color: white;
        }
        .sample-box.selected-vic {
            border-color: 1px solid #00B050;
            background-color: #00B050;     
            color: white;
        }
        .sample-box.selected-famvic {
            border-color: 1px solid #008E82;
            background-color: #008E82;     
            color: white;
        }
        .sample-box.selected-failed {
            border-color: 1px solid #000000;
            background-color: #000000;     
            color: red;
        }

        .color-fam {
            color: #0070C0;
        }
        .color-vic {
            color: #00B050;
        }
        .color-famvic {
            color: #008E82;
        }
        .color-failed {
            color: #000000;
        }

        .point-box {
            position: relative;
            border: 1px solid #d2d2d2;
            height: 450px;
            border-left: 2px solid #0070C0;
            border-bottom: 2px solid #00B050;
        }
        .point {
            height: 5px;
            width: 5px;
            background-color: #999;
        }
        .point.selected {
            background-color: red !important;     
        }
        .point.selected-fam {
            border-color: 1px solid #0070C0;
            background-color: #0070C0;     
            color: white;
        }
        .point.selected-vic {
            border-color: 1px solid #00B050;
            background-color: #00B050;     
            color: white;
        }
        .point.selected-famvic {
            border-color: 1px solid #008E82;
            background-color: #008E82;     
            color: white;
        }
        .point.selected-failed {
            border-color: 1px solid #000000;
            background-color: #000000;     
            color: red;
        }

        .line-point-y1 {
            position: absolute;
            left: -5px;
            bottom: 50px;
            height: 12px;
            width: 12px;
            background-color: #800080;
        }
        .line-point-y2 {
            position: absolute;
            right: -5px;
            top: 150px;
            height: 12px;
            width: 12px;
            background-color: #800080;
        }
        .line-y {
            width: 100px;
            height: 1px;
            position: absolute;
            background-color: #800080;
        }


        .line-point-x1 {
            position: absolute;
            left: 50px;
            bottom: -5px;
            height: 12px;
            width: 12px;
            background-color: #800080;
        }
        .line-point-x2 {
            position: absolute;
            right: 150px;
            top: -5px;
            height: 12px;
            width: 12px;
            background-color: #800080;
        }
        .line-x {
            width: 100px;
            height: 1px;
            position: absolute;
            background-color: #800080;
        }

        #selectable .ui-selecting {
            background: red;
        }

        .ui-selectable-helper{
            position:absolute;
            z-index:100;
            border:1px dotted red;
        } 

        .chart-box {
            border: 2px solid #d2d2d2;
            height: 240px;
        }
        .chart-box.fam {
            border: 2px solid #0070C0;
        }
        .chart-box.vic {
            border: 2px solid #00B050;
        }

    </style>
{% endblock %}

{% block MainContentInner %}
    <script type="text/javascript">
        var massPortalApp = angular.module('MassPortalApp', []);
        
        massPortalApp.controller('MassPortalController', ['$scope', '$http', '$q', function($scope, $http, $q) {
            this.scope = $scope;
            this.http = $http;
            this.q = $q;
            this.maxFam = {{ maxFam }};
            this.maxVic = {{ maxVic }};

            this.genes = {{ genes | raw }};
            this.selectedSample = {};
            this.statusMessage = '';
            this.statusColor = '';

            this.selectAll = function (idGene) {
                for (var id in this.genes[idGene]['samples']) {
                    this.genes[idGene]['samples'][id]['isSelected'] = true;
                }
                this.redrawCanvas(idGene);
            };  
            this.deselectAll = function (idGene) {
                for (var id in this.genes[idGene]['samples']) {
                    this.genes[idGene]['samples'][id]['isSelected'] = false;
                }
                this.redrawCanvas(idGene);
            };
            this.selectValue = function (idGene, val) {
                for (var id in this.genes[idGene]['samples']) {
                    if (this.genes[idGene]['samples'][id]['value'] == val) {
                        this.genes[idGene]['samples'][id]['isSelected'] = true;                        
                    }
                    else {
                        this.genes[idGene]['samples'][id]['isSelected'] = false;                        
                    }
                }
                this.redrawCanvas(idGene);
            };
            this.setValue = function (idGene, val) {
                for (var id in this.genes[idGene]['samples']) {
                    if (this.genes[idGene]['samples'][id]['isSelected']) {
                        this.genes[idGene]['samples'][id]['value'] = val;
                    }
                }
                this.deselectAll(idGene);
            }

            this.toggleSample = function (idGene, idSample) {
                this.genes[idGene]['samples'][idSample]['isSelected'] = !this.genes[idGene]['samples'][idSample]['isSelected'];
                this.redrawCanvas(idGene);
            };
            this.selectSample = function (idGene, idSample) {
                this.genes[idGene]['samples'][idSample]['isSelected'] = true;
                this.redrawCanvas(idGene);
            };
            this.initialize = function() {
                for (var idGene in this.genes) {
                    for (var idSample in this.genes[idGene]['samples']) {
                        var famPct = (this.genes[idGene]['samples'][idSample]['result']['fam'] * 100 / this.maxFam);
                        var vicPct = (this.genes[idGene]['samples'][idSample]['result']['vic'] * 100 / this.maxVic);
                        this.genes[idGene]['samples'][idSample]['style'] = {'left': vicPct + '%', 'bottom': famPct + '%'};
                    }
                }         
            }
            this.redrawCanvas = function(idGene) {
                var famCanvas = jQuery('#famCanvas-' + idGene);
                fitToContainer(famCanvas.get(0));
                var famCtx = famCanvas.get(0).getContext('2d');
                famCtx.clearRect(0, 0, famCtx.canvas.clientWidth, famCtx.canvas.clientHeight);

                var vicCanvas = jQuery('#vicCanvas-' + idGene);
                fitToContainer(vicCanvas.get(0));
                var vicCtx = vicCanvas.get(0).getContext('2d');
                vicCtx.clearRect(0, 0, vicCtx.canvas.clientWidth, vicCtx.canvas.clientHeight);

                for (var id in this.genes[idGene]['samples']) {
                    if (this.genes[idGene]['samples'][id]['isSelected']) {
                        var cycles = this.genes[idGene]['samples'][id]['cycles'];
                        drawFamCycle(cycles, famCtx);
                        drawVicCycle(cycles, vicCtx);
                    }
                }
            }
            this.showSampleDetail = function(idGene, idWellIndex) {
                this.selectedSample = this.genes[idGene]['samples'][idWellIndex];
                this.selectedGene = this.genes[idGene]['name'];
                jQuery('#modalViewSample').modal('show');

                var parent = this;
                setTimeout(function() {
                    var canvas = jQuery('#viewSampleCanvas');
                    fitToContainer(canvas.get(0));
                    var ctx = canvas.get(0).getContext('2d');
                    console.log(ctx.canvas.clientWidth, ctx.canvas.clientHeight);
                    ctx.clearRect(0, 0, ctx.canvas.clientWidth, ctx.canvas.clientHeight);
                    drawSample(parent.selectedSample['cycles'], ctx);
                }, 200);
            }
            this.save = function() {
                var html = jQuery('#saveBtn').html();
                jQuery('#saveBtn').attr('disabled', true);
                jQuery('#saveBtn').html('Saving...');

                var parent = this;
                this.statusMessage = 'Saving..';
                this.statusColor = '#999';

                var assignment = {};
                for (var idGene in this.genes) {
                    for (var id in this.genes[idGene]['samples']) {
                        var idWellIndex = this.genes[idGene]['samples'][id]['pos'];
                        var result = this.genes[idGene]['samples'][id]['value'];

                        assignment[idWellIndex] = result;
                    }
                }

                this.http.post('{{ links["plate"]["saveAnalyse"] }}', {
                    id: {{ idPlate }},
                    assignment: assignment
                }).success(function(data) {
                    if (data['status'] == 'SUCCESS') {
                        parent.statusMessage = 'Saved!';
                        parent.statusColor = '#0070C0';

                        jQuery('#saveBtn').html(html);
                        jQuery('#saveBtn').attr('disabled', false);
                    }
                    else {                        
                        parent.statusMessage = 'Failed! Can\'t save!';
                        parent.statusColor = '#990000';

                        jQuery('#saveBtn').html(html);
                        jQuery('#saveBtn').attr('disabled', false);
                    }
                }).error(function(data) {
                    parent.statusMessage = 'Failed! Can\'t save!';
                    parent.statusColor = '#990000';
                    jQuery('#saveBtn').html(html);
                    jQuery('#saveBtn').attr('disabled', false);
                });
            }
        }]);
        function fitToContainer(canvas){
            // Make it visually fill the positioned parent
            canvas.style.width ='100%';
            canvas.style.height='100%';
            // ...then set the internal size to match
            canvas.width  = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        }
        function drawLine(point1, point2, line) {
            var x1 = jQuery(point1).offset().left + 6;
            var x2 = jQuery(point2).offset().left + 6;
            var y1 = jQuery(point1).offset().top + 6;
            var y2 = jQuery(point2).offset().top + 6;
     
            var hypotenuse = Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2));
            var angle = Math.atan2((y1-y2), (x1-x2)) *  (180/Math.PI);
            if(angle >= 90 && angle < 180){
                y1 = y1 - (y1-y2);
            }
            if(angle > 0 && angle < 90){
                x1 = x1 - (x1-x2);
                y1 = y1 - (y1-y2);
            }
            if(angle <= 0 && angle > -90){
                x1 = x1 - (x1-x2);
            }
     
            jQuery(line).queue(function(){
                jQuery(this).offset({top: y1, left: x1});
                jQuery(this).dequeue();
            }).queue(function(){
                jQuery(this).width(hypotenuse);
                jQuery(this).dequeue();
            }).queue(function(){
                jQuery(this).rotate(angle);
                jQuery(this).dequeue();
            });
        }
        jQuery(document).ready(function() {
            jQuery('#tab-div').tabs();

            var massPortalController = document.getElementById('massPortalController');
            var controller = angular.element(massPortalController).controller();

            jQuery( ".selectable" ).selectable({
                stop: function() {
                    var massPortalController = document.getElementById('massPortalController');
                    var controller = angular.element(massPortalController).controller();

                    var idGene = 0;
                    jQuery(".ui-selected", this).each(function() {
                        var idCGene = jQuery(this).attr('id-gene');
                        if (typeof idCGene !== typeof undefined && idCGene !== false) {
                            idGene = idCGene;
                        }
                    });
                    if (idGene > 0) {
                        controller.deselectAll(idGene);
                        jQuery(".ui-selected", this).each(function() {
                            var idGene = jQuery(this).attr('id-gene');
                            if (typeof idGene !== typeof undefined && idGene !== false) {
                                var idSample = jQuery(this).attr('id-sample');
                                controller.selectSample(idGene, idSample);
                            }
                        });
                        controller.redrawCanvas(idGene);
                        controller.scope.$apply();
                    }
                }
            });

            {% for id, v in genesMap %}
                jQuery('#point-chart-{{ id }} .line-point-y1').draggable({ containment: "#point-chart-{{ id }}", scroll: false, axis: "y", delay: 0, distance: 0 }, {
                    drag: function(event, ui) {
                        drawLine('#point-chart-{{ id }} .line-point-y1', '#point-chart-{{ id }} .line-point-y2', '#point-chart-{{ id }} .line-y');
                    }
                });
                jQuery('#point-chart-{{ id }} .line-point-y2').draggable({ containment: "#point-chart-{{ id }}", scroll: false, axis: "y", delay: 0, distance: 0 }, {
                    drag: function(event, ui) {
                        drawLine('#point-chart-{{ id }} .line-point-y1', '#point-chart-{{ id }} .line-point-y2', '#point-chart-{{ id }} .line-y');
                    }
                });
                jQuery('#point-chart-{{ id }} .line-point-x1').draggable({ containment: "#point-chart-{{ id }}", scroll: false, axis: "x", delay: 0, distance: 0 }, {
                    drag: function(event, ui) {
                        drawLine('#point-chart-{{ id }} .line-point-x1', '#point-chart-{{ id }} .line-point-x2', '#point-chart-{{ id }} .line-x');
                    }
                });
                jQuery('#point-chart-{{ id }} .line-point-x2').draggable({ containment: "#point-chart-{{ id }}", scroll: false, axis: "x", delay: 0, distance: 0 }, {
                    drag: function(event, ui) {
                        drawLine('#point-chart-{{ id }} .line-point-x1', '#point-chart-{{ id }} .line-point-x2', '#point-chart-{{ id }} .line-x');
                    }
                });                
            {% endfor %}
        });

        function drawSample(cycles, ctx) {
            var unit = ctx.canvas.clientWidth / 42;
            var maxV = {{ maxV }};

            var arr = [
                { key: 'fam', color: '#0070C0'},
                { key: 'rox', color: '#CC0000'},
                { key: 'vic', color: '#00B050'},
            ];

            for (var k in arr) {
                ctx.beginPath();
                for (var i = 0; i < cycles.length; i++) {      
                    var v = (cycles[i][arr[k].key] / maxV) * ctx.canvas.clientHeight;
                    console.log(ctx.canvas.clientHeight);
                    var x = unit * i;
                    var y = ctx.canvas.clientHeight - v;
                    if (i == 0) {
                        ctx.moveTo(x,y);
                    }
                    else {
                        ctx.lineTo(x,y);
                    }
                }
                ctx.strokeStyle = arr[k].color;
                ctx.stroke();
            }
        }

        function drawFamCycle(cycles, ctx) {
            var unit = ctx.canvas.clientWidth / 42;
            var maxFam = {{ maxFam }};

            ctx.beginPath();
            for (var i = 0; i < cycles.length; i++) {      
                var v = (cycles[i]['fam'] / maxFam) * ctx.canvas.clientHeight;

                var x = unit * i;
                var y = ctx.canvas.clientHeight - v;
                if (i == 0) {
                    ctx.moveTo(x,y);
                }
                else {
                    ctx.lineTo(x,y);
                }
            }
            ctx.strokeStyle = '#0070C0';
            ctx.stroke();
        }
        function drawVicCycle(cycles, ctx) {
            var unit = ctx.canvas.clientWidth / 42;
            var maxVic = {{ maxVic }};

            ctx.beginPath();
            for (var i = 0; i < cycles.length; i++) {      
                var v = (cycles[i]['vic'] / maxVic) * ctx.canvas.clientHeight;

                var x = unit * i;
                var y = ctx.canvas.clientHeight - v;
                if (i == 0) {
                    ctx.moveTo(x,y);
                }
                else {
                    ctx.lineTo(x,y);
                }
            }
            ctx.strokeStyle = '#00B050';
            ctx.stroke();
        }
    </script>

    <div class="content" ng-app="MassPortalApp">
        <div id="massPortalController" ng-controller="MassPortalController as massPortalController" ng-init="massPortalController.initialize()">
            <h3>{{ plate['name'] }} ({{ plate['type']}}) at {{ plate['timestamp']}} <b style="padding-left: 30px; color: {{ '{{massPortalController.statusColor}}' }}">{{ '{{ massPortalController.statusMessage }}' }}</b> </h3>
            <br/>
            <div id="tab-div">
                <ul>
                   <li ng-repeat="(id, gene) in massPortalController.genes"><a href="#section-{{'{{id}}'}}">{{'{{ gene["name"] }}'}}</a></li>
                </ul>

                <div ng-repeat="(id, gene) in massPortalController.genes" id="section-{{'{{ id }}'}}">
                    <div class="one_half stdform stdform2">
                        <div>
                            <div class="one_half">
                                <h3>Selection</h3>
                                <button type="button" ng-click="massPortalController.selectAll(id)">Select All</button>
                                <button type="button" ng-click="massPortalController.deselectAll(id)">Deselect All</button>
                                <button type="button" ng-click="massPortalController.selectValue(id, 'fam')" style="border: 1px solid #0070C0; background-color: #0070C0">&nbsp;</button>
                                <button type="button" ng-click="massPortalController.selectValue(id, 'vic')" style="border: 1px solid #00B050; background-color: #00B050">&nbsp;</button>
                                <button type="button" ng-click="massPortalController.selectValue(id, 'fam+vic')" style="border: 1px solid #008E82; background-color: #008E82">&nbsp;</button>
                                <button type="button" ng-click="massPortalController.selectValue(id, 'failed')" style="border: 1px solid #000000; background-color: #000000">&nbsp;</button>                                
                            </div>
                            <div class="one_half last">
                                <h3>Action</h3>
                                <button id="saveBtn" type="button" ng-click="massPortalController.save()">Save</button>
                            </div>
                            <br clear="all" />
                        </div>

                        <div style="margin-top: 20px">                            
                            <div ng-repeat="(idWellIndex, data) in gene['samples']" class="one_fourth" style="margin-bottom: 5px">
                                <div class="sample-box" ng-click="massPortalController.toggleSample(id, idWellIndex)" ng-class="{selected: data['isSelected'], 'selected-fam': data['value'] == 'fam', 'selected-vic': data['value'] == 'vic', 'selected-famvic': data['value'] == 'fam+vic', 'selected-failed': data['value'] == 'failed'}">
                                    {{'{{ data["pos"] }}'}}
                                    <div style="float: right">
                                        <a href="javascript:void(0)" ng-click="massPortalController.showSampleDetail(id, idWellIndex)"><div class="button-detail" alt="View" title="View"></div></a>
                                    </div>
                                </div>
                            </div>
                            <br clear="all" />
                        </div>
                    </div>  
                    <div class="one_half last">
                        <div class="stdform stdform2">
                            <h3>Set to</h3>
                            <button type="button" ng-click="massPortalController.setValue(id, 'fam')" style="border: 1px solid #0070C0; background-color: #0070C0">FAM</button>
                            <button type="button" ng-click="massPortalController.setValue(id, 'vic')" style="border: 1px solid #00B050; background-color: #00B050">VIC</button>
                            <button type="button" ng-click="massPortalController.setValue(id, 'fam+vic')" style="border: 1px solid #008E82; background-color: #008E82">FAM+VIC</button>
                            <button type="button" ng-click="massPortalController.setValue(id, 'failed')" style="border: 1px solid #000000; background-color: #000000">FAILED</button>
                            <button type="button" ng-click="massPortalController.setValue(id, '')" style="border: 1px solid #a2a2a2; background-color: #a2a2a2">Clear</button>
                        </div>
                        <div id="point-chart-{{'{{ id }}'}}" class="selectable point-box" style="margin-top: 20px">
                            <div class="point" id-gene="{{'{{ id }}'}}" id-sample="{{'{{ idWellIndex }}'}}" ng-repeat="(idWellIndex, data) in gene['samples']" style="position: absolute" ng-style="data['style']" ng-class="{selected: data['isSelected'], 'selected-fam': data['value'] == 'fam', 'selected-vic': data['value'] == 'vic', 'selected-famvic': data['value'] == 'fam+vic', 'selected-failed': data['value'] == 'failed'}">                                
                            </div>

                            <div class="line-point-y1" class="ui-widget-content"></div>
                            <div class="line-point-y2" class="ui-widget-content"></div>
                            <div class="line-y" class="ui-widget-content"></div>

                            <div class="line-point-x1" class="ui-widget-content"></div>
                            <div class="line-point-x2" class="ui-widget-content"></div>
                            <div class="line-x" class="ui-widget-content"></div>
                        </div>

                        <div style="margin-top: 20px">
                            <div class="one_half">
                                <div class="chart-box fam">
                                    <canvas id="famCanvas-{{'{{id}}'}}" height="244" width="340">
                                    </canvas>
                                </div>
                            </div>
                            <div class="one_half last">
                                <div class="chart-box vic">
                                    <canvas id="vicCanvas-{{'{{id}}'}}" height="244" width="340">
                                    </canvas>
                                </div>
                            </div>
                            <br clear="all" />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
            </div>

            <!-- Modal -->
            <div id="modalViewSample" class="modal fade" role="dialog">
                <div class="modal-dialog stdform"  style="width: 1000px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="position: absolute; right: 10px">&times;</button>
                            <h3>Well Index: {{ '{{massPortalController.selectedSample["pos"] }}' }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="one_half">
                                <h3>Information</h3>
                                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 10px; border-top: 1px solid #ddd">
                                    <tbody>
                                        <tr>
                                            <td width="30%">Well Index</td>
                                            <td width="70%">{{ '{{massPortalController.selectedSample["pos"] }}' }} </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">Cell</td>
                                            <td width="70%">{{ '{{massPortalController.selectedSample["name"] }}' }} </td>
                                        </tr>
                                        <tr>
                                            <td width="30%">Genes</td>
                                            <td width="70%">{{ '{{massPortalController.selectedGene }}' }}</td>
                                        </tr>
                                        <tr>
                                            <td width="30%">Assign</td>
                                            <td width="70%">
                                                <div style="font-weight: bold" ng-class="{'color-fam': massPortalController.selectedSample['value'] == 'fam', 'color-vic': massPortalController.selectedSample['value'] == 'vic', 'color-famvic': massPortalController.selectedSample['value'] == 'fam+vic', 'color-failed': massPortalController.selectedSample['value'] == 'failed'}">{{ '{{massPortalController.selectedSample["value"] | uppercase }}' }}</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>    
                                <br/>
                                <h3>Chart</h3>
                                <div class="chart-box" style="height: 300px; border: 1px solid #d2d2d2">
                                    <canvas id="viewSampleCanvas" height="298" width="450">
                                    </canvas>
                                </div>
                            </div>

                            <div class="one_half last">
                                <h3>Raw data</h3>
                                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 10px; border-top: 1px solid #ddd">
                                    <thead>
                                        <tr>
                                            <th class="head1" style="width: 25%">Cycle</th>
                                            <th class="head1" style="width: 25%">FAM</th>
                                            <th class="head1" style="width: 25%">ROX</th>
                                            <th class="head1" style="width: 25%">VIC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(id, c) in massPortalController.selectedSample['cycles']">
                                            <td>{{ '{{ id }}'}}</td>
                                            <td>{{ '{{ c["fam"] }}'}}</td>
                                            <td>{{ '{{ c["rox"] }}'}}</td>
                                            <td>{{ '{{ c["vic"] }}'}}</td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>  
                            <br clear="all" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

    </script>
{% endblock %}