{% block app_plate_box_selector_row %}
    <p>
        <table id="{{ form.vars.id }}_wellTable" cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <colgroup>
                {% for i in 1..13 %}
                    <col class="con0" />
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    <th class="head1" colspan="13" style="text-align: left">PLATE: {{ plateName }}</th>
                </tr>
                <tr>
                    <th class="head1" width="4%"></th>
                    {% for i in 0..11 %}
                        <th class="head1" width="8%" onclick="javascript:clickAppPlateBoxSelectorColumn('{{ form.vars.id }}', {{i}})">{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% set m = ['A','B','C','D','E','F','G', 'H'] %}
                {% for r in 0..7 %}
                    <tr>
                        <td class="head1" style="background-color: #ddd; text-align: center; font-weight: bold" width="4%">{{ m[r] }}</td>
                        {% for c in 0..11 %}
                            <td col-id="{{ c }}" height="40px" style="text-align: center; font-size: 11px" width="8%">
                                {{ wellData[r][c] | default('') | raw }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for i in 0..11 %}
            {% set columnSelectedName = 'columnSelect_' ~ i %}
            {{ form_widget(form.getChild(columnSelectedName)) }}
        {% endfor %}

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var i;
                for (i = 0; i < 12; i++) {
                    var columnSelect = jQuery('#{{ form.vars.id }}_columnSelect_' + i).val();
                    if (columnSelect == 1) {
                        clickAppPlateBoxSelectorColumn('{{ form.vars.id }}', i);
                    }
                }
            });
        </script>
    </p>
{% endblock %}