{% block app_plate_box_row %}
    <p>
        <table id="{{ form.vars.id }}_wellTable" cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <colgroup>
                {% for i in 1..13 %}
                    <col class="con0" />
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    <th class="head1" width="4%"></th>
                    {% for i in 1..12 %}
                        <th class="head1" width="8%">{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% set m = ['A','B','C','D','E','F','G', 'H'] %}
                {% for r in 0..7 %}
                    <tr>
                        <td class="head1" style="background-color: #ddd; text-align: center; font-weight: bold" width="4%">{{ m[r] }}</td>
                        {% for c in 0..11 %}
                            <td height="40px" style="text-align: center; font-size: 11px" width="8%">
                                <a href="#" id="{{ form.vars.id }}_popup_cell_{{ r }}_{{ c}}" data-type="plateCellForm" data-value="" data-title="Edit well"></a>
                                {% set cellName = 'cell_' ~ r ~ '_' ~ c %}
                                {{ form_widget(form.getChild(cellName)) }}
                                <script type="text/javascript">
                                    jQuery(document).ready(function() {
                                        jQuery('#{{ form.vars.id }}_popup_cell_{{ r }}_{{ c}}').editable({
                                            saveField: '#{{ form.getChild(cellName).vars.id }}',
                                            showbuttons: false,
                                            placement: 'left'
                                        });
                                    });

                                    var val = jQuery('#{{ form.getChild(cellName).vars.id }}').val();
                                    jQuery("#{{ form.vars.id }}_popup_cell_{{r}}_{{c}}").attr('data-value', val);
                                </script>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </p>

    <script type="text/javascript">
        jQuery(document).ready(function() { 
            jQuery('#{{ form.vars.id }}_wellTable .editable').on('hidden', function(e, reason) {
                if(reason === 'save' || reason === 'nochange') {
                    var id = jQuery(this).attr('id');
                    var arr = id.split('_');

                    var r = parseInt(arr[arr.length-2]) + 1;
                    var c = parseInt(arr[arr.length-1]);
                    if (r >= 8) {
                        r = 0;
                        c++;
                    }

                    var next = jQuery('#{{ form.vars.id }}_popup_cell_' + r + '_' + c);
                    console.log(next);
                    setTimeout(function() {
                        next.editable('show');
                    }, 200);

                }
            });
        });
    </script>
{% endblock %}