{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}    
        {% block formContentNormal %}     
            {{ form_row(form['view'].sectionResult )}}    
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                    <tr>
                        <th class="head1" width="8%">Index</th>
                        <th class="head1" width="12%">Order Number</th>
                        <th class="head1" width="12%">Gene</th>
                        <th class="head1" width="10%">Assignment</th>
                        <th class="head1" width="10%">Gene Result</th>
                        <th class="head1" width="10%">Current Result</th>
                        <th class="head1" width="35%">Errors</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data %}
                        <tr style="color: #000000; {% if r['errors'] is not empty %}background-color: {% if r['isConflict'] %}#FF0000{% else %}#ECA3A3{% endif %};{% else %}background-color: {% if r['isSame'] %}#FFE6B2{% else %}#99CCFF{% endif %};{% endif %}">
                            <td>{{ r['wellIndex'] }}</td>
                            <td>
                                {% if r['idCustomerInfo'] > 0 %}
                                    <a target="_blank" href="{{ editCustomerInfo }}?id={{ r['idCustomerInfo'] }}">{{ r['orderNumber'] }}</a>
                                {% else %}
                                    {{ r['orderNumber'] }}                            
                                {% endif %}
                            </td>
                            <td>{{ r['gene'] }}</td>
                            <td>{{ r['assignmentText'] | raw }}</td>
                            <td>{{ r['geneResult'] }}</td>
                            <td>{{ r['currentResult'] }}</td>
                            <td style="">
                                {% for error in r['errors'] %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
            {{ form_row(form['view'].sectionAction )}}    
            {{ form_row(form['view'].isUpdateResult )}}

        {% endblock %}
    {% endembed %}
{% endblock %}