{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
		    <p id="field_row_header">
		    	<label>
		    		&nbsp;
		    	</label>
		    	<span class="field" style="padding-bottom:30px">
		    		<span style='float:left; width:100px; padding-left:100px; text-align:center'>
		    			<strong style="color: #0070C0">FAM</strong>
			        </span>
		    		<span style='float:left; width:100px; padding-left:100px; text-align:center'>
		    			<strong style="color: #00B050">VIC</strong>
			        </span>
		    		<span style='float:left; width:100px; padding-left:100px; text-align:center'>
		    			<strong style="color: #0070C0">FAM</strong> + <strong style="color: #00B050">VIC</strong>
			        </span>
			        <span style="clear:both"></span>
		        </span>
		    </p>
        	{% for resultId, resultLabel in resultGroups %}
			    <p id="field_row_{{ resultId }}">
			    	<label>
			    		{{ resultLabel }}
			    	</label>
			    	<span class="field" style="padding-bottom:50px">
				        {% for mappingCode, mappingLabel in famVicMappingCodes %}
				        	<span style='float:left; width:100px; padding-left:100px'>
			        			{% set idInput = resultId ~ '_' ~ mappingCode %}
						        {{ form_widget(form['view'][idInput]) }}
					        </span>
				        {% endfor %}
				        <span style="clear:both"></span>
			        </span>
			    </p>
        	{% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
