{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modified.css') }}" type="text/css">
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>

    <!-- x-editable (bootstrap 3) -->
    <link href="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>

    <!-- form -->
    <script src="{{ asset('bundles/leepadmin/plate_cell_form.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}      
            {{ form_row(form['view'].name )}}        
            {{ form_row(form['view'].creationDatetime )}}       
            {{ form_row(form['view'].idPlateType )}}       
            {{ form_row(form['view'].notes )}}      

            {{ form_row(form['view'].sectionPlateBox )}}    
            {{ form_row(form['view'].plateBox )}}              

            {% if appRequestId != 0 %}
                <p class="stdformbutton">
                    <a href='{{ links['plate']['copy'] }}?id={{ appRequestId }}'>Copy from another plate</a>
                </p>   
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
