{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modified.css') }}" type="text/css">
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>

    <!-- x-editable (bootstrap 3) -->
    <link href="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>

    <!-- form -->
    <script src="{{ asset('bundles/leepadmin/plate_cell_form.js') }}"></script>
    <script src="{{ asset('bundles/leepadmin/plate_box_selector.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}    
        {% block formContentNormal %}      
            {{ form_row(form['view'].sectionFromPlateBox )}}
            {{ form_row(form['view'].idPlate )}}        
            {{ form_row(form['view'].fromPlateBox )}}  

            {{ form_row(form['view'].sectionToPlateBox )}}   
            {{ form_row(form['view'].targetPlateBox )}}   

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery("#{{ form['view'].idPlate.vars.id }}").change(function() {
                        var idPlate = jQuery(this).val();
                        if (idPlate != 0) {
                            window.location = "{{ links['plate']['copy'] }}?id={{ appRequestId }}" + "&idFromPlate=" + idPlate; 
                        }
                    });
                });
            </script>     


            <p class="stdformbutton">
                <a href='{{ links['plate']['edit'] }}?id={{ appRequestId }}'>Back to edit plate</a>
            </p>   
        {% endblock %}
    {% endembed %}
{% endblock %}
