{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        {% if parseErrors is not empty %}
            <h2>Parse Error</h2>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                <thead>
                    <tr style="height: 45px">
                        <th class="head1" style="width: 25%">Result line</th>
                        <th class="head1" style="width: 10%">Well Index</th>
                        <th class="head1" style="width: 10%">Cycle</th>        
                        <th class="head1" style="width: 10%">FAM</th>
                        <th class="head1" style="width: 10%">ROX</th>
                        <th class="head1" style="width: 10%">VIC</th>
                        <th class="head1" style="width: 25%">Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in parseErrors %}
                        <tr style="background-color: #FFCCCC; color: red">
                            <td>{{ row['raw'] }}</td>
                            <td>{{ row['tokens'][0] | default('') }}</td>
                            <td>{{ row['tokens'][1] | default('') }}</td>
                            <td>{{ row['tokens'][2] | default('') }}</td>
                            <td>{{ row['tokens'][3] | default('') }}</td>
                            <td>{{ row['tokens'][4] | default('') }}</td>
                            <td>{{ row['error'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
        {% endif %}
        
        <h2>
            SUBMIT RAW RESULT
        </h2>
        <br/>
        Input format: {wellIndex};{cycle};{FAM};{ROW};{VIC}
        <br/>
        Example: 1;1;71,408.547;116,432.648;32,715.486
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentNormal %}      
                <p id="field_row_form_result">
                    <label for="form_result" class="required">Result</label>
                    <span class="field">
                        <a href="javascript:convertTabToSemiColon()">Tab to semi-colon</a><br/>
                        {{ form_widget(form['view'].result )}}                         
                    </span>
                </p>  
            {% endblock %}
        {% endembed %}
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery(".submit").click(function(e) {
                var inputData = jQuery('#{{ form.view.result.vars.id }}').val();

                if (!inputData.trim()) {
                    swal("Missing Something!", "Plz input Raw Result!", "error");
                    return false;
                }
            });
        });

        function convertTabToSemiColon() {
            var inputData = jQuery('#{{ form.view.result.vars.id }}').val();
            inputData = inputData.replace(/\t/g, ';');
            jQuery('#{{ form.view.result.vars.id }}').val(inputData);
        }
    </script>
{% endblock %}
