{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}
{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        
        var myData = JSON.parse({{ myData|json_encode|raw }});

        function onChangeReminderType() {
            var idReminderIn = jQuery('#{{ form['view'].idReminderIn.vars.id }}').val();
            if (idReminderIn == 1) { // Specific date
                jQuery('#field_row_{{ form['view'].reminderDate.vars.id }}').css('display', 'block');
            } 
            else {
                jQuery('#field_row_{{ form['view'].reminderDate.vars.id }}').css('display', 'none');
            }
        }

         jQuery(document).ready(function() {
            jQuery('#{{ form['view'].idReminderIn.vars.id }}').change(function() {
                onChangeReminderType();
            })
            onChangeReminderType();

            jQuery("a").click(function(){
                setTimeout(function(){
                    setLastStatus();
                }, 300)
            });
        });

        function onChangeCategoryId(){
            var leadCategoryId = jQuery('#{{ form['view'].category.vars.id }}').val();
            var validStatus = myData.data[leadCategoryId];
            var children = jQuery('#container_form_statusList').children('p');

            if (children) {
                for (var i = 0; i < children.length; i++) {
                    var child = jQuery(children[i]).children('span')[0];
                    var selection = jQuery(child).children('select')[0];
                    var options = jQuery(selection).children('option');
                    for (var j = 0; j < options.length; j++) {
                        var option = options[j];
                        if (jQuery(option).val() in validStatus) {
                            jQuery(option).show();
                        } else {
                            jQuery(option).hide();
                        }
                    
                    }

                    // hard code set
                    jQuery(selection).val(0);
                }
            }
        }

        function setLastStatus(){
            var leadCategoryId = jQuery('#{{ form['view'].category.vars.id }}').val();
            var validStatus = myData.data[leadCategoryId];
            var children = jQuery('#container_form_statusList').children('p').length - 1;

            var lastSelect = jQuery('#form_statusList_' + children + '_status');
            var options = jQuery(lastSelect).children('option');
            for (var j = 0; j < options.length; j++){
                var option = options[j];
                if(jQuery(option).val() in validStatus){
                    jQuery(option).show();
                }
                else {
                    jQuery(option).hide();
                }
            }
        }

    </script>
{% endblock %}
