{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
	<link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
	<div class="content">
        {% for title in title %}
        	<h1><span style="position: relative; margin-left: 4px; top: -4px; width:200px; color:#ff0000"> {{ title['type'] }} </span></h1>
        	<br/>
      		<h4> {{ title['description'] }} </h4>
      	{% endfor %}
        <br/>

        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
          <thead>  
            <tr style="heigth:45px">
                <th class="head1" style="width: 15%">Lead name</th>
                <th class="head1" style="width: 8%">Responsible</th>
                  {% for header in header %}
                    <th class="head1" style="width: 10%">{{ header['name'] }}</th>
                  {% endfor %}
                  <th class="head1" style="width: 10%"">Select DC</th>
                  <th class="head1" style="width: 10%"">TOTAL Orders</th>
                  <th class="head1" style="width: 10%"">TOTAL Revenue</th>
                  <th class="head1" style="width: 5%"">Last order</th>
                  <th class="head1" style="width: 5%"">Rating</th>
            </tr>
          </thead>
          
          <tbody>
          {% for body in body %}
            <tr>
                <td align="center">{{ body['leadName'] }}</td>

                <td style="padding: 0px">
                  <select style="height: 100%; width: 100%">
                  {% for user in user %}
                    <option value="{{ user['username'] }}">{{ user['username'] }}</option>
                  {% endfor %}
                  </select>
                </td>

                {% for _body_ in body['leadStatus'] %}
                {% if _body_ < 0 %}
                  <td align="center"><span style="color: #ff0000"><b>{{ _body_ }}d</b></span></td>
                  {% else %}
                    <td style="background-color: #9ae8c1" align="center"><b>{{ _body_ }}d<b></td>
                {% endif %}
                {% endfor %}

                <td style="padding: 0px">
                  <select style="height: 100%; width: 100%">
                  {% for dc in dc %}
                    <option value="{{ dc['name'] }}">{{ dc['name'] }}</option>
                  {% endfor %}
                  </select>
                </td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
    </div>

<br></br>
<button id='Form_Save' 
    style="border:1px solid #333;background: #333;color:#fff;cursor: pointer;padding: 7px 15px; font-weight: bold; font-size: 12px; font-family: sans-serif">Add new
</button>

{% endblock %}



