{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button type="button" class="radius2" onclick="exportLeadList()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                            <button class="radius2" onclick="return bulkConvertLeadToDC()">
                                &nbsp;&nbsp;Bulk Convert Lead to DC&nbsp;&nbsp;
                            </button>
                        </div>
                    {% endblock %}
                {% endembed %}

                 <script type="text/javascript">
                    function bulkConvertLeadToDC() {
                        var selectedId = '';
                        var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                        checkboxes.each(function(i, v) {
                            if (jQuery(this).is(':checked')) {
                                var id = jQuery(this).attr('id').substring(4);
                                selectedId += id + ',';
                            }
                        });

                        if (selectedId) {
                            var targetUrl = '{{ bulkConvertLeadToDC }}?id=' + selectedId;
                            jQuery.colorbox({
                                href: targetUrl,
                                iframe: true,
                                width:  "90%",
                                height: "90%",
                                onClosed:function(){
                                    funcDynamicTableReload_{{ grid['id'] }}();
                                }
                            });
                        } else {
                            swal("Missing Something!", "Plz select at least 1 Lead!");
                        }


                        return false;
                    }

                    function exportLeadList() {
                        var url = '{{ links['lead']['exportLead'] }}';
                        window.open(url,'_blank');
                        return false;
                    }
                </script>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
