{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h1>Reports</h1>

        <br/>

        {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': errors, 'type': 'error'} %}
    
        <br/>
        <form id="MainForm" method="post" class="stdform stdform2" action="">
            <p> 
                <label for="form_subject">Order number</label>
                <span class="field">  
                    <input type="hidden" name="key" value="{{ key }}"/>
                    <input type="text" name="orderNumber" />
                </span>
            </p>
            <p> 
                <label for="form_subject">Passcode</label>
                <span class="field">  
                    <input type="password" name="passcode" />
                </span>
            </p>
            <p class="stdformbutton">
                <button class="submit radius2">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
            </p>
        </form>
    </div>
{% endblock %}