{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="stdform stdform2">
                <p>
                    <label>Order number</label>
                    <span class="field">
                        {{ customer['orderNumber'] }}
                    </span>
                </p>
                <p>
                    <label>Customer name</label>
                    <span class="field">
                        {{ customer['name'] }}
                    </span>
                </p>
                <p>
                    <label>Distribution Channel</label>
                    <span class="field">
                        {{ customer['distributionChannel'] }}
                    </span>
                </p>
                <p>
                    <label>Language</label>
                    <span class="field">
                        {{ customer['language'] }}
                    </span>
                </p>
            </div>
            <br/>


            {% if errors is defined %}
                {% for message in errors %}
                    {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'error'} %}
                {% endfor %}
            {% endif %}
            {% if messages is defined %}
                {% for message in messages %}
                    {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'info'} %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
