{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}     
            {{ form_row(form['view'].sectionReport)}}

            <p id="field_row_form_reports">

                {{ form_label(form['view'].reports)}}
                <span class="field">
                    <span>
                        <a href='#' class="showAll">Show all</a>
                        <br/>
                        {{ form_widget(form['view'].reports) }}
                    </span>
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">  
                        {{ form_errors(form['view'].reports)}}                              
                    </label>
                </span>
            </p>

            {{ form_row(form['view'].reports)}}
            {{ form_row(form['view'].idLanguage)}}
            {{ form_row(form['view'].isSaveReport)}}
            {{ form_row(form['view'].isUseNewQueue)}}
            {{ form_row(form['view'].isGenerateXmlVersion)}}

            <script type="text/javascript">
                jQuery(document).ready(function(){
                    // backup all reports
                    var allReports = jQuery('#{{ form['view'].reports.vars.id}}').html();

                    // get reports by DC
                    var reportsByDC = JSON.parse('{{ reportsByDC | raw }}');

                    // show reports by DC first
                    showReportsByDC();

                    // when click on 'show all'
                    jQuery('.showAll').each(function(index, value) {
                        jQuery(this).click(function(){
                            showAllReports();
                            return false;
                        });
                    });

                    // show all reports
                    function showAllReports() {
                        jQuery('#{{ form['view'].reports.vars.id}}').html('');
                        jQuery('#{{ form['view'].reports.vars.id}}').html(allReports);
                    }

                    // show reports by DC
                    function showReportsByDC() {
                        jQuery('#{{ form['view'].reports.vars.id}}').html('');
                        for (var key in reportsByDC) {
                            if (reportsByDC.hasOwnProperty(key)) {
                                jQuery('#{{ form['view'].reports.vars.id}}').append("<option value='" + key + "'>" + reportsByDC[key] + "</option>");
                            }
                        }
                    }
                });
            </script>
        {% endblock %}

        {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Generate report&nbsp;&nbsp;</button>            
        {% endblock %}
    {% endembed %}
{% endblock %}
