{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}

    <div class="mainwrapper">
        {% if (warningMessage is defined) and (warningMessage is not empty) %}
            <div class="notification msgerror">
                <p> {{ warningMessage }} </p>
            </div>
        {% endif %}


        <div class="mainwrapperinner">
            <div class="stdform stdform2 one_half">
                <p>
                    <label>Order number</label>
                    <span class="field">
                        {{ customerInfo['orderNumber'] }}
                    </span>
                </p>
                <p>
                    <label>Customer name</label>
                    <span class="field">
                        {{ customerInfo['name'] }}
                    </span>
                </p>
                <p>
                    <label>Distribution Channel</label>
                    <span class="field">
                        {{ customerInfo['distributionChannel'] }}
                    </span>
                </p>
                <p>
                    <label>Report Delivery</label>
                    <span class="field">
                        {{ customerInfo['reportDelivery'] }}
                    </span>
                </p>
                <p>
                    <label>Categories</label>
                    <span class="field">
                        {% for p in orderCategories %}
                            {{ p }}<br/>
                        {% endfor %}
                    </span>
                </p>
                <p>
                    <label>Products</label>
                    <span class="field">
                        {% for p in orderProducts %}
                            {% if p.isCategoryProduct %}
                                {{ p.name }}<br/>
                            {% else %}
                                <text style="color: green">{{ p.name }}</text></br>
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>
            </div>

            <div class="stdform stdform2 one_half last">
                <p>
                    <label>Customer Info</label>
                    <span class="field">
                        {{ customerInfo['info'] | nl2br }}&nbsp;
                    </span>
                </p>
                <p>
                    <label>DC Supplement Info</label>
                    <span class="field">
                        {{ customerInfo['distributionChannelSupplementInfo'] | nl2br }}&nbsp;
                    </span>
                </p>
                <p>
                    <label>Attachments</label>
                    <span class="field">
                        {% for file in customerInfo['attachments'] %}
                            <a target="_blank" href="{{ file['link'] }}">{{ file['name'] }}</br>
                        {% endfor %}

                        <br/><br/>
                        <a target="_blank" href="{{ customerInfo['showAllImagesLink'] }}">Show all images</a>
                    </span>
                </p>
                <p>
                    <label>Report delivery options</label>
                    <span class="field">
                        {% for option in customerInfo['reportDeliveryOptions'] %}
                            {{ option }}<br/>
                        {% endfor %}
                    </span>
                </p>
            </div>

            <br clear="all" /><br />


            <ul class="maintabmenu">
                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
            </ul>

            <div class="content">
                {% block MainContentInner %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
