{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% if (fixedReportMessage is defined) and (fixedReportMessage is not empty) %}
        <div class="notification msgerror">
            <a class="close"></a>
            <p> 
                {{ fixedReportMessage }}
            </p>
        </div>
    {% endif %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}     
            {{ form_row(form['view'].sectionReport)}}
            {{ form_row(form['view'].idCustomerReport)}}
            {{ form_row(form['view'].filename)}}
             
            <script type="text/javascript">
                function onChangeReport() {
                    var reportId = jQuery('#{{ form['view'].idCustomerReport.vars.id }}').val();

                    var targetUrl = "{{ links.customerReport.fixFileName }}?id=" + reportId;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data){
                        if (data == "FAIL") {
                            return;
                        }                        
                        jQuery('#{{ form['view'].filename.vars.id }}').val(data['result']);                        
                    });
                }

                jQuery(document).ready(function() {  
                    jQuery('#viewFiles').click(function() {
                        
                    });                  
                    jQuery('#{{ form['view'].idCustomerReport.vars.id }}').change(function() {
                        onChangeReport(); 
                    });                           
                });
            </script>            
        {% endblock %}        
    {% endembed %}

    <br/>
    <div style="width:100%; margin-bottom: 13px;"> 
        <h2 style="float:left">Upload log</h2>    
        <a href="{{ viewFileLinkUrl }}" target="_blank" id="viewFiles" style="float:right; padding: 2px 13px; background-color: #283038; color: #fff; font-weight: bold; text-decoration: none">View files</a>
    </div>    
    <br/>
    
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head0" style="width: 40%">Timestamp</th>
                <th class="head0" style="width: 30%">Report</th>
                <th class="head0" style="width: 30%">Filename</th>
            </tr>
        </thead>
        <tbody>
            {% for r in ftpShipmentLog %}
                <tr>
                    <td>{{ r['timestamp'] }}</td>
                    <td>{{ r['reportName'] }}</td>
                    <td>{{ r['fileName'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}
