{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
    <script type="text/javascript">

        jQuery(document).ready(function() {
            jQuery('.deleteFile').click(function() {
                var fileName = jQuery(this).val();

                var targetUrl = "{{ links.customerReport.unLinkFile }}?fileName=" + fileName;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data){
                        if (data == "FAIL") {
                            alert("Failure");
                        }
                        else if (data == "SUCCESS") {
                            window.location.reload();
                        }
                    });
            });
        });
    </script>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 80%">Name</th>
                <th class="head1" style="width: 20%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <h3><b>UPLOADED FILES</b></h3>
                </td>
            </tr>
        {% for file in files %}
            <tr>
                <td>{{ file['name'] }}</td>
                <td></td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="2">
                    <h3><b>DOWNLOADABLE FILES</b></h3>
                </td>
            </tr>
        {% for file in downloadableFiles %}
            <tr>
                <td>{{ file['name'] }}</td>
                {% if file['downloadable'] %}
                    <td><a href="{{ file['downloadLink'] }}">Download</a></td>
                {% else %}
                    <td>Not yet ready</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>`
    </table>

    </div>

{% endblock %}
