{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}        
        {% block filterForm %}    
            {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                {% block buttons %}
                    {{ parent() }}
                    <div style="float: right">
                        <button class="radius2" onclick="return viewCustomerData()">Download customer data</button>   
                    </div>

                    <script type="text/javascript">
                        function viewCustomerData() {
                            document.location = '{{ links['customerReport']['viewCustomerData'] }}?idCustomer={{ idCustomer }}';
                            return false;
                        }
                    </script>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
