{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h1>Your reports</h1>
        <br/>
        Dear <b>{{ customerName }}</b> ({{ customerOrderNumber}}), please download your report(s) here <br/>

        <br/>
        <br/>
        <h4>Your reports</h4>
        <table class="stdtable" cellpadding="0" cellspacing="0" border="0" style="margin-top: 10px; border-top: 1px solid #ddd">
            {% for report in reports %}
                <tr>
                    <td width="30%">{{ report['time'] }}</td>
                    <td><a target="_blank" href="{{ report['downloadLink'] }}">{{ report['name'] }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <b style="color: red">
        Nach dem Download einfach <a onclick="return confirm('Are you really want to disable the link?')" href="{{ disableLink }}">HIER</a> klicken um den Link zu deaktivieren. Bei Bedarf können wir für Sie einen neuen Link erstellen.<br/>
        After downloading simply click <a onclick="return confirm('Are you really want to disable the link?')" href="{{ disableLink }}">HERE</a> to deactivate the link. If required, we can provide you with a new link.

        </b>

    </div>
{% endblock %}