{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% block header %}
        <head>
            <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                <h2 class="table"><span>Import Lytech log</span></h2>
            </div>
        <head>
    {% endblock %}

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 13%">User name</th>
                <th class="head1" style="width: 13.5%">Import time</th>
                <th class="head1" style="width: 12%">Start date</th>
                <th class="head1" style="width: 12%">End date</th>
                <th class="head1" style="width: 12.5%">New samples</th>
                <th class="head1" style="width: 12.5%">Changed samples</th>
                <th class="head1" style="width: 12.5%">Error samples</th>
                <th class="head1" style="width: 12%">View Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for log in importLytechLogs %}
                <tr style="text-align: center;">
                    <td>{{ log['name'] }}</td>
                    <td>{{ log['importTime'] }}</td>
                    <td>{{ log['startDate'] }}</td>
                    <td>{{ log['endDate'] }}</td>
                    {% if log['errorMessage'] is not empty %}
                        <td colspan="3">{{ log['errorMessage'] }}</td>
                    {% else %}
                        <td>{{ log['newSamples'] }}</td>
                        <td>{{ log['changedSamples'] }}</td>
                        <td>{{ log['errorSamples'] }}</td>
                    {% endif %}
                    <td>
                        <button type="button" class="radius2" onclick="return viewDetail('{{ log['id'] }}')">&nbsp;&nbsp;View Detail&nbsp;&nbsp;</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        function viewDetail(logId) {
            var targetUrl = '{{ showLogDetailUrl }}?requestData=' + String(logId);
            jQuery.colorbox({
                href: targetUrl,
                iframe: true,
                width:  "90%",
                height: "90%",
            });
        }
    </script>
{% endblock %}