{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}   
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    {# NEW SAMPLES #}
    {% if newSamples is not empty %}
        <br/>
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>New samples ({{ newSamples|length }} samples)</span></h2></div>
            <div class="widgetcontent padding0"> 
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head1" style="width: 20%">Sample</th>
                            <th class="head1" style="width: 15%">Registered Date</th>
                            <th class="head1" style="width: 15%">Finished Date</th>
                            <th class="head1" style="width: 10%">GEW1</th>
                            <th class="head1" style="width: 10%">GEW2</th>
                            <th class="head1" style="width: 10%">GEW3</th>
                            <th class="head1" style="width: 10%">GEW4</th>
                            <th class="head1" style="width: 10%">GEW5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in newSamples %}
                            <tr>
                                <td>{{ sample['sampleId'] }}</td>
                                <td>
                                    {% if sample['registeredDate'] is not empty %}
                                        {{ sample['registeredDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sample['finishedDate'] is not empty %}
                                        {{ sample['finishedDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>{{ sample['gew1'] }}</td>
                                <td>{{ sample['gew2'] }}</td>
                                <td>{{ sample['gew3'] }}</td>
                                <td>{{ sample['gew4'] }}</td>
                                <td>{{ sample['gew5'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {# CHANGED SAMPLES #}
    {% if changedSamples is not empty %}
        <br/>
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>Changed samples ({{ changedSamples|length }} samples)</span></h2></div>
            <div class="widgetcontent padding0"> 
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head1" style="width: 20%">Sample</th>
                            <th class="head1" style="width: 15%">Registered Date</th>
                            <th class="head1" style="width: 15%">Finished Date</th>
                            <th class="head1" style="width: 10%">GEW1</th>
                            <th class="head1" style="width: 10%">GEW2</th>
                            <th class="head1" style="width: 10%">GEW3</th>
                            <th class="head1" style="width: 10%">GEW4</th>
                            <th class="head1" style="width: 10%">GEW5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in changedSamples %}
                            <tr>
                                <td>{{ sample['existing'].sampleId }}</td>
                                <td>
                                    {% if sample['existing'].registeredDate is not empty %}
                                        {{ sample['existing'].registeredDate | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sample['existing'].finishedDate is not empty %}
                                        {{ sample['existing'].finishedDate | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>{{ sample['existing'].gew1 }}</td>
                                <td>{{ sample['existing'].gew2 }}</td>
                                <td>{{ sample['existing'].gew3 }}</td>
                                <td>{{ sample['existing'].gew4 }}</td>
                                <td>{{ sample['existing'].gew5 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    {% if sample['registeredDate'] is not empty %}
                                        {{ sample['registeredDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sample['finishedDate'] is not empty %}
                                        {{ sample['finishedDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>{{ sample['gew1'] }}</td>
                                <td>{{ sample['gew2'] }}</td>
                                <td>{{ sample['gew3'] }}</td>
                                <td>{{ sample['gew4'] }}</td>
                                <td>{{ sample['gew5'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {# ERROR SAMPLES #}
    {% if errorSamples is not empty %}
        <br/>
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>Error samples ({{ errorSamples|length }} samples)</span></h2></div>
            <div class="widgetcontent padding0"> 
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head1" style="width: 10%">Sample</th>
                            <th class="head1" style="width: 10%">Registered Date</th>
                            <th class="head1" style="width: 10%">Finished Date</th>
                            <th class="head1" style="width: 10%">GEW1</th>
                            <th class="head1" style="width: 10%">GEW2</th>
                            <th class="head1" style="width: 10%">GEW3</th>
                            <th class="head1" style="width: 10%">GEW4</th>
                            <th class="head1" style="width: 10%">GEW5</th>
                            <th class="head1" style="width: 20%">Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sample in errorSamples %}
                            <tr>
                                <td>{{ sample['sampleId'] }}</td>
                                <td>
                                    {% if sample['registeredDate'] is not empty %}
                                        {{ sample['registeredDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sample['finishedDate'] is not empty %}
                                        {{ sample['finishedDate'] | date('d/m/Y') }}
                                    {% endif %}
                                </td>
                                <td>{{ sample['gew1'] }}</td>
                                <td>{{ sample['gew2'] }}</td>
                                <td>{{ sample['gew3'] }}</td>
                                <td>{{ sample['gew4'] }}</td>
                                <td>{{ sample['gew5'] }}</td>
                                <td>{{ sample['error'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
