{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% block header %}
        <head>
            <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                <h2 class="table"><span>Import Lytech log detail</span></h2>
            </div>
        <head>
    {% endblock %}

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 40%">Content</th>
                <th class="head1" style="width: 20%">New samples</th>
                <th class="head1" style="width: 20%">Changed samples</th>
                <th class="head1" style="width: 20%">Error samples</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ content }}</td>
                <td>
                    {% for newSample in newSamples %}
                        <p style="padding-bottom: 15px">{{ newSample }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for changedSample in changedSamples %}
                        <p>From parse simple</p>
                        <p style="padding-bottom: 5px">{{ changedSample['new'] }}</p>
                        <p>Current sample</p>
                        <p style="padding-bottom: 15px">{{ changedSample['existing'] }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for errorSample in errorSamples %}
                        <p style="padding-bottom: 15px">{{ errorSample }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}