{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return viewLog()">&nbsp;&nbsp;View log&nbsp;&nbsp;</button>
                            <button class="radius2" onclick="return importFromLytech()">&nbsp;&nbsp;Import from lytech&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function importFromLytech() {
                                var targetUrl = '{{ links['sampleImportJob']['importFromLytech'] }}';
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function viewLog() {
                                var targetUrl = '{{ links['sampleImportJob']['viewLogUrl'] }}';
                                window.open(targetUrl, '_blank');
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
