{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/geno_form_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="marginPage">
        {% block header %}
            <head>
                <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                    <h2 class="table"><span>Geno Form</span></h2>
                </div>
            <head>
        {% endblock %}

        {% block button %}
            <div name="content" class="contentLayout">
                <div style="float:left; width: 12%" class="divGenoButton">
                    <ul class="left-main-navbar">
                         <li><a href="#" onclick="printBarcodeProcess();" return false;>Print barcode</a></li>
                         <li><a href="#" onclick="moveStockProcess();" return false;>Move Stock</a></li>
                         <li><a href="#" onclick="removeStockProcess();" return false;>Remove stock</a></li>
                         <li><a href="#" onclick="createPellets();" return false;>Create Pellets/Pills</a></li>
                         <li><a href="#" onclick="createNutriMe();" return false;>Create NutriMe</a></li>
                     </ul>
                </div>

                <div style="float: right; width: 86%;" class="">
                    <iframe src="" class="iframeGenoForm" id="destination-page"></iframe>
                </div>
            </div>

            <script type="text/javascript">
                var flag = 0;

                function resetIframe() {
                    jQuery("#destination-page").css({
                        "margin-left": "+20px",
                        "margin-top": "+30px",
                        "margin": "0"});
                }

                function printBarcodeProcess(){
                    var targetUrl = '{{ printBarcodePage }}';
                    if (flag == 1) {
                        resetIframe();
                        flag = 0;
                    }
                    document.getElementById("destination-page").src = targetUrl;
                }

                function moveStockProcess(){
                    var targetUrl = '{{ moveStockPage }}';
                    if (flag == 1) {
                        resetIframe();
                        flag = 0;
                    }
                    document.getElementById("destination-page").src = targetUrl;
                }

                function removeStockProcess(){
                    var targetUrl = "{{ removeStockPage }}";
                    if (flag == 1) {
                        resetIframe();
                        flag = 0;
                    }
                    document.getElementById("destination-page").src = targetUrl;
                }

                function createPellets(){
                    var targetUrl = "{{ createPelletPage }}";
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(listFormula) {
                        flag = 1;
                        jQuery("#destination-page").css({
                            "margin-left": "-20px",
                            "margin-top": "-30px",
                        });
                        document.getElementById("destination-page").src = listFormula;
                    }).error(function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR, textStatus, errorThrown);
                    });
                }

                function createNutriMe(){
                    var i = 1;
                }
            </script>
        {% endblock %}
    </div>
{% endblock %}
