{% block ContentHeader %}
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/geno_form_style.css') }}" type="text/css">
    <!--[if IE 9]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie9.css') }}"/>
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie8.css') }}"/>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie7.css') }}"/>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/excanvas.min.js') }}"></script><![endif]-->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/redactor/redactor.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/table/table.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontcolor/fontcolor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontfamily/fontfamily.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontsize/fontsize.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fullscreen/fullscreen.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/imagemanager/imagemanager.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/textdirection/textdirection.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/plugin/redactor/redactor.css') }}" type="text/css">
{% endblock %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="marginSubPage">
        {% block header %}
            <head>
                <div class="titleGenoForm contenttitle radiusbottom0">
                    <h2 class="table"><span>Move Stock</span></h2>
                </div>
            <head>
        {% endblock %}

        {% block MainContent %}
            <body onload="showLocationInfo()">
                <div id="main-wrapper" class="marginPage">
                    <br>
                    <output id="result-move-stock" class="resultchange"></output>
                    <h2>Input barcode</h2>
                    <output id="error-input-barcode" class="resultChange"></output>
                    <table class="stdform tbinputbarcodestyle stdTable">
                        <tr class="textRowInput">
                            <td class="textInputBarcodeCol">
                                <input type="text" name="ScanBarcode" id="input-barcode" class="textInputBarcode" autofocus="true">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <h2>Move Batch</h2>
                    <table class="stdform tbinputmovestock stdtable">
                        <tr  class="textRowInput">
                            <td class="titleColumn">
                                Amount need to move
                            </td>
                            <td>
                                <input type="textarea" name="ScanBarcode" id="input-amount-move" font-size="200%" class="textInfo">
                                <br>
                                <output id="error-amount" class="errorText"></output>
                            </td>
                        </tr>
                        <tr  class="textRow">
                            <td class="titleColumn">
                                Destination place
                            </td>
                            <td>
                                <select type="textarea" name="listLocation" id="input-destination" font-size="200%" class="textInfo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" id="btn-move" name="buttonMove" onclick="confirmMoving()" class="buttonSubmit">Move</button>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <h2>Batch Information</h2>
                    <output id="error-show-information" class="resultChange"></output>
                    <table class="stdform stdTableMS">
                        <tr class="textRow">
                            <td class="titleColumn">
                                Full Subtance Name
                            </td>
                            <td class="textColumn">
                                <output type = "textarea" name="subtanceName" id="subtance-name" class="textInfo"></output>
                            </td>
                        </tr>
                        <tr class="textRow">
                            <td class="titleColumn">
                                Subtance loads
                            </td>
                            <td class="textColumn">
                                <output type="textarea" name="subtanceLoad" id="subtance-load" class="textInfo"></output>
                            </td>
                        </tr>
                        <tr class="textRow">
                            <td class="titleColumn">
                                Geno Material Type
                            </td>
                            <td class="textColumn">
                                <output type="textarea" name="subtanceType" id="subtance-type" class="textInfo"></output>
                            </td>
                        </tr>
                        <tr class="textRow">
                            <td class="titleColumn">
                                Amount in stock
                            </td>
                            <td class="textColumn">
                                <output type="textarea" name="subtanceAmountInStock" id="subtance-amount-in-stock" class="textInfo"></output>
                            </td>
                        </tr>
                        <tr class="textRow">
                            <td class="titleColumn">
                                Location
                            </td>
                            <td class="textColumn">
                                <output type="textarea" name="subtanceLocation" id="subtance-location" class="textInfo"></output>
                            </td>
                        </tr>
                    </table>
                </div>
            </body>
            <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery("#input-destination").select2();
                    jQuery("#input-barcode").keydown(function(event){
                        if (event.keyCode == 13) {
                            showBatchInfo();
                            return false;
                        }
                    });
                });

                var getInfoErrorList = "Error! Error batch information appear at: ";
                var appearError = 0;

                var idLocationArray = [];
                var fullLocationInfoArray = [];

                function showBatchInfo() {
                    document.getElementById("error-input-barcode").style.visibility = "hidden";
                    document.getElementById("error-show-information").style.visibility = "hidden";
                    var barcodeText = document.getElementById("input-barcode").value;
                    var targetUrl = '{{ getBatchIdUrl }}?barcode=' + barcodeText;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(batchId) {
                        // print batch info
                        /// print full subtance name
                        printSubtanceName(batchId);
                        /// print full subtance load
                        printSubtanceLoad(batchId);
                        /// print Geno Material type
                        printGenoMaterialType(batchId);
                        /// print Amount In stock
                        printAmountInStock(batchId);
                        /// print get location
                        printLocation(batchId);
                        // focus to input amount stock
                        if (appearError == 1) {
                            var errorShowInfo = appearError.slice(0, -2);
                            document.getElementById("error-show-information").value = errorShowInfo;
                            document.getElementById("error-show-information").style.color="red";
                            document.getElementById("error-show-information").style.visibility = "visible";
                        }
                        document.getElementById("input-amount-move").focus();
                    }).error(function(jqXHR, textStatus, errorThrown){
                        document.getElementById("error-input-barcode").value = "ERROR! Load batch information failed";
                        document.getElementById("error-input-barcode").style.color="red";
                        document.getElementById("error-input-barcode").style.visibility = "visible";
                    });
                }

                function printSubtanceName(batchId){
                    var targetUrl = '{{ getSubtanceNameUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(subtanceName) {
                        jQuery('#subtance-name').val(subtanceName);
                        jQuery("#subtance-name").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance name, ");
                    });
                }

                function printSubtanceLoad(batchId){
                    var targetUrl = '{{ getSubtanceLoadUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(subtanceLoad) {
                        jQuery('#subtance-load').val(subtanceLoad);
                        jQuery("#subtance-load").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance load, ");
                    });
                }

                function printGenoMaterialType(batchId){
                    var targetUrl = '{{ getGenoMaterialTypeUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(genoMaterialType) {
                        jQuery('#subtance-type').val(genoMaterialType);
                        jQuery("#subtance-type").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("geno material type, ");
                    });
                }

                function printAmountInStock(batchId){
                    var targetUrl = '{{ getAmountInStockUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(amountInStock) {
                        jQuery('#subtance-amount-in-stock').val(amountInStock);
                        jQuery("#subtance-amount-in-stock").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("amount in stock, ");
                    });
                }

                function printLocation(batchId){
                    var targetUrl = '{{ getLocationUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(location) {
                        jQuery('#subtance-location').val(location);
                        jQuery("#subtance-location").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance name, ");
                    });
                }

                function showLocationInfo(){
                    var targetUrl = '{{ getLocationInfoUrl }}';
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(locationInfo_Json){
                        var locationInfo = JSON.parse(locationInfo_Json);
                        // locationInfo contain the 2 array: id location array and full information location array
                        idLocationArray = locationInfo[0];
                        fullLocationInfoArray = locationInfo[1];
                        len = idLocationArray.length;
                        var locationSelect = document.getElementById("input-destination");
                        for (var i = 0; i < len; i++) {
                            var optionLocation = document.createElement("option");
                            optionLocation.text = fullLocationInfoArray[i];
                            optionLocation.value = idLocationArray[i];
                            locationSelect.add(optionLocation);
                        }
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("location information, ");
                    });
                }

                function confirmMoving(){
                    document.getElementById("error-amount").style.visibility = "hidden";
                    document.getElementById("result-move-stock").style.visibility = "hidden";
                    var amountMove = document.getElementById("input-amount-move").value;
                    var destinationId = document.getElementById("input-destination").value;
                    var amountInStock = document.getElementById("subtance-amount-in-stock").value;
                    len = idLocationArray.length;
                    var currentLocationInfo = "";
                    for (var i = 0; i < len; i++) {
                        if (idLocationArray[i] == destinationId) {
                            currentLocationInfo = fullLocationInfoArray[i];
                            break;
                        }
                    }
                    var message = ("Are you sure to move with amount ".concat(amountMove)).concat(" to ".concat(currentLocationInfo));
                    amountMove = parseInt(amountMove);
                    amountInStock = parseInt(amountInStock);
                    if (amountMove > amountInStock) {
                        amountMove = amountInStock;
                        message = message.concat("\n WARNING! Your moved amount bigger than amount in stock");
                    }
                    if (amountMove >= 0) {
                        if (confirm(message)) {
                            processMoving(amountMove, destinationId);
                        }
                    }
                    else {
                        document.getElementById("error-amount").value = "Moving amount is not valid";
                        document.getElementById("error-amount").style.visibility = "visible";
                    }
                }

                function processMoving(amountMove, destinationId) {
                    // TODO: Get batch Id via barcode info as show batch info
                    var barcodeText = document.getElementById("input-barcode").value;
                    var targetUrl = '{{ getBatchIdUrl }}?barcode=' + barcodeText;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(batchId) {
                        var passDataArr_json = JSON.stringify([batchId, amountMove, destinationId]);
                        var targetUrlMoveBatch = '{{ moveBatchUrl }}';
                        var data = {
                            'passData': passDataArr_json,
                        }
                        jQuery.ajax({
                            url: targetUrlMoveBatch,
                            data: data,
                            type: "POST"
                        }).done(function(signal){
                            if (signal == "1") {
                                document.getElementById("result-move-stock").value = "Move stock successfully";
                                document.getElementById("result-move-stock").style.color="blue";
                                document.getElementById("result-move-stock").style.visibility = "visible";
                                printAmountInStock(batchId);
                            }
                        }).error(function(){
                            document.getElementById("result-move-stock").value = "Move stock failed";
                            document.getElementById("result-move-stock").style.color="red";
                            document.getElementById("result-move-stock").style.visibility = "visible";
                        });
                    }).error(function(jqXHR, textStatus, errorThrown){
                        document.getElementById("error-input-barcode").value = "ERROR! Load batch information failed";
                        document.getElementById("error-input-barcode").style.color="red";
                        document.getElementById("error-input-barcode").style.visibility = "visible";
                    });
                }
            </script>
        {% endblock %}
    </div>
{% endblock %}
