{% block ContentHeader %}
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/geno_form_style.css') }}" type="text/css">
    <!--[if IE 9]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie9.css') }}"/>
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie8.css') }}"/>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie7.css') }}"/>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/excanvas.min.js') }}"></script><![endif]-->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/redactor/redactor.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/table/table.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontcolor/fontcolor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontfamily/fontfamily.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontsize/fontsize.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fullscreen/fullscreen.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/imagemanager/imagemanager.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/textdirection/textdirection.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/plugin/redactor/redactor.css') }}" type="text/css">
{% endblock %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <style type="text/css">
        #input-barcode {
            width: 100%;
            height: 40px;
            font-size: 30px;
            margin: 15px 0px;
        }

        .marginSubPage {
            background: white;
        }

        .titleColumn {
            width: 15%;
            background: #776e6e;
            color: white;
        }

        .textColumn {
            width: 35%;
            background: #e0e0e0;
        }

        .batchInfoTable {
            margin: 0px;
            padding: 0px;
            width: 100%;

            text-align: left;
            border-spacing: 0px;
            margin-top: 15px;
        }

        .batchInfoTable td {
            padding: 10px 20px;
        }

        #printer-setting-table,
        .stdformbutton {
            margin: 15px 0px;
        }

        #printer-setting td {
            width: 50%;
        }

        .field {
            margin: 0px;
        }

        .submit {
            background: #3b4650;
            border: 1px solid #333;
            color: #fff;
            cursor: pointer;
            padding: 7px 10px;
            font-weight: bold;
        }

        .submit:hover {
            background: #111;
            border: 1px solid #000;
            color: #fff;
        }
    </style>
{% endblock %}

{% block MainContentInner %}
    <div class="marginSubPage">
        {% block header %}
            <head>
                <div class="contenttitle radiusbottom0">
                    <h2 class="table"><span>Print Barcode</span></h2>
                </div>
            <head>
        {% endblock %}

        {% block MainContent%}
            <body id="main-wrapper">
                <br>
                <h2>Input barcode</h2>
                <output id="error-input-barcode" class="resultChange"></output>
                <input type="text" name="ScanBarcode" id="input-barcode" font-size="200%" autofocus="true">
                <br>
                <h2>Batch Information</h2>
                <output id="error-show-information" class="resultchange"></output>
                <table class="batchInfoTable">
                    <tr class="textRow">
                        <td class="titleColumn">
                            Full Subtance Name
                        </td>
                        <td class="textColumn">
                            <output type = "textarea" name="subtanceName" id="subtance-name" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Subtance loads
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLoad" id="subtance-load" class="textInfo"></output>
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td class="titleColumn">
                            Geno Material Type
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceType" id="subtance-type" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Amount in stock
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceAmountInStock" id="subtance-amount-in-stock" class="textInfo"></output>
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td class="titleColumn">
                            Location
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="subtance-location" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Ordered by
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-ordered-by" class="textInfo"></output>
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td class="titleColumn">
                            Ordered date
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-ordered-date" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Ordered price
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-ordered-price" class="textInfo"></output>
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td class="titleColumn">
                            Unit price
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-unit-price" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Received by
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-received-by" class="textInfo"></output>
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td class="titleColumn">
                            Received date
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-received-date" class="textInfo"></output>
                        </td>
                        <td class="titleColumn">
                            Expired date
                        </td>
                        <td class="textColumn">
                            <output type="textarea" name="subtanceLocation" id="genobatch-expired-date" class="textInfo"></output>
                        </td>
                    </tr>
                </table>
                <br>
                <h2>PRINTER</h2>
                <table id="printer-setting-table" class="display_two_column stdform stdformfilter">
                    <tr>
                        <td>
                            <label>Report template</label>
                        </td>
                        <td>
                            <select id='report-template-id'>
                                {% for id, name in reportList %}
                                    <option value="{{ id }}" {% if selectedPrinterReport == id %}selected='selected'{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label>Language</label>
                        </td>
                        <td>
                            <select id='report-language-id'>
                                {% for id, name in languageList %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <p class="stdformbutton">
                    <button id="btn-generate" class="submit radius2">&nbsp;&nbsp;Generate report&nbsp;&nbsp;</button>
                </p>
                <br>
                <h2>REPORT PREVIEW</h2>
                <iframe id="previewPanel" width="100%" height="800px" style="margin-top: 10px" src=""></iframe>
            </body>

            <script type="text/javascript">
                var getInfoErrorList = "Error! Error appear at: ";
                var appearError = 0;
                var batchData = {
                    full_substance_name: '',
                    location: '',
                    unit_price: '',
                    substance_load: '',
                    ordered_by: '',
                    received_by: '',
                    material_type: '',
                    ordered_date: '',
                    received_date: '',
                    amount_in_stock: '',
                    ordered_price: '',
                    expired_date: '',
                    barcode_number: ''
                };

                function process(){
                    // get input data
                    document.getElementById("error-input-barcode").style.visibility = "hidden";
                    document.getElementById("error-input-barcode").style.display = "none";
                    document.getElementById("error-show-information").style.visibility = "visible";
                    var barcodeText = document.getElementById("input-barcode").value;
                    var targetUrl = '{{ getBatchIdUrl }}?barcode=' + barcodeText;
                    batchData.barcode_number = barcodeText;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(batchId){
                        // print batch info
                        /// print full subtance name
                        printSubtanceName(batchId);
                        /// print full subtance load
                        printSubtanceLoad(batchId);
                        /// print Geno Material type
                        printGenoMaterialType(batchId);
                        /// print Amount In stock
                        printAmountInStock(batchId);
                        /// print get location
                        printLocation(batchId);
                        // print order by
                        printOrderedBy(batchId);
                        // print order date
                        printOrderedDate(batchId);
                        // print order price
                        printOrderedPrice(batchId);
                        // print unit in stock
                        printUnitPrice(batchId);
                        // print received by
                        printReceivedBy(batchId);
                        // print received date
                        printReceivedDate(batchId);
                        // print expire date
                        printExpiryDate(batchId);
                        if (appearError == 1) {
                            var errorShowInfo = appearError.slice(0, -2);
                            document.getElementById("error-show-information").value = errorShowInfo;
                            document.getElementById("error-show-information").style.color="red";
                            document.getElementById("error-show-information").style.visibility = "visible";
                        }
                    }).error(function(jqXHR, textStatus, errorThrown){
                        document.getElementById("error-input-barcode").value = "ERROR! Can't load batch information";
                        document.getElementById("error-input-barcode").style.color="red";
                        document.getElementById("error-input-barcode").style.visibility = "visible";
                        document.getElementById("error-input-barcode").style.display = "block";
                    });
                }

                function printSubtanceName(batchId){
                    var targetUrl = '{{ getSubtanceNameUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(subtanceName) {
                        batchData.full_substance_name = subtanceName;
                        jQuery('#subtance-name').val(subtanceName);
                        jQuery("#subtance-name").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance name, ");
                    });
                }

                function printSubtanceLoad(batchId){
                    var targetUrl = '{{ getSubtanceLoadUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(subtanceLoad) {
                        batchData.substance_load = subtanceLoad;
                        jQuery('#subtance-load').val(subtanceLoad);
                        jQuery("#subtance-load").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance load, ");
                    });
                }

                function printGenoMaterialType(batchId){
                    var targetUrl = '{{ getGenoMaterialTypeUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(genoMaterialType) {
                        batchData.material_type = genoMaterialType;
                        jQuery('#subtance-type').val(genoMaterialType);
                        jQuery("#subtance-type").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("subtance type, ");
                    });
                }

                function printAmountInStock(batchId){
                    var targetUrl = '{{ getAmountInStockUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(amountInStock) {
                        batchData.amount_in_stock = amountInStock;
                        jQuery('#subtance-amount-in-stock').val(amountInStock);
                        jQuery("#subtance-amount-in-stock").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("amount in stock, ");
                    });
                }

                function printLocation(batchId){
                    var targetUrl = '{{ getLocationUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(location) {
                        batchData.location = location;
                        jQuery('#subtance-location').val(location);
                        jQuery("#subtance-location").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("location, ");
                    });
                }

                function printOrderedBy(batchId){
                    var targetUrl = '{{ getOrderedByUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(orderedName){
                        batchData.ordered_by = orderedName;
                        jQuery('#genobatch-ordered-by').val(orderedName);
                        jQuery("#genobatch-ordered-by").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("ordered by, ");
                    });
                }

                function printOrderedDate(batchId){
                    var targetUrl = '{{ getOrderedDateUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(orderedDate){
                        batchData.ordered_date = orderedDate;
                        jQuery('#genobatch-ordered-date').val(orderedDate);
                        jQuery("#genobatch-ordered-date").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("ordered date, ");
                    });
                }

                function printOrderedPrice(batchId){
                    var targetUrl = '{{ getOrderedPriceUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(orderedPrice){
                        batchData.ordered_price = orderedPrice;
                        jQuery('#genobatch-ordered-price').val(orderedPrice);
                        jQuery("#genobatch-ordered-price").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("ordered price, ");
                    });
                }

                function printUnitPrice(batchId){
                    var targetUrl = '{{ getUnitPriceUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(unitPrice){
                        batchData.unit_price = unitPrice;
                        jQuery('#genobatch-unit-price').val(unitPrice);
                        jQuery("#genobatch-unit-price").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("unit price, ");
                    });
                }

                function printReceivedBy(batchId){
                    var targetUrl = '{{ getReceivedByUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(nameReceivedBy){
                        batchData.received_by = nameReceivedBy;
                        jQuery('#genobatch-received-by').val(nameReceivedBy);
                        jQuery("#genobatch-received-by").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("received by, ");
                    });
                }

                function printReceivedDate(batchId){
                    var targetUrl = '{{ getRecievedDateUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(ReceivedDate){
                        batchData.received_date = ReceivedDate;
                        jQuery('#genobatch-received-date').val(ReceivedDate);
                        jQuery("#genobatch-received-date").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("received date, ");
                    });
                }

                function printExpiryDate(batchId){
                    var targetUrl = '{{ getExpiredDateUrl }}?batchId=' + batchId;
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST"
                    }).done(function(expiryDate){
                        batchData.expired_date = expiryDate;
                        jQuery('#genobatch-expired-date').val(expiryDate);
                        jQuery("#genobatch-expired-date").prop("readonly", true);
                    }).error(function(jqXHR, textStatus, errorThrown) {
                        appearError = 1;
                        getInfoErrorList = getInfoErrorList.concat("expired date, ");
                    });
                }

                jQuery(document).ready(function(){
                    jQuery("#input-barcode").keydown(function(event){
                        if (event.keyCode == 13) {
                            process();
                            return false;
                        }
                    });

                    jQuery('#report-template-id').change(function() {
                        var newValue = jQuery('#report-template-id').val();
                        jQuery.ajax({
                            url: "{{ updateSelectedPrinterReport }}?id=" + newValue,
                            type: "POST"
                        }).done(function(subtanceName) {
                            console.log('success');
                        }).error(function(jqXHR, textStatus, errorThrown) {
                            console.log('failure', jqXHR);
                        });
                    });

                    jQuery('#btn-generate').click(function() {
                        console.log('here');
                        var reportId = jQuery('#report-template-id').val();
                        var languageId = jQuery('#report-language-id').val();
                        var data = "full_substance_name=" + batchData.full_substance_name;
                        data += "@@location=" + batchData.location;
                        data += "@@unit_price=" + batchData.unit_price;
                        data += "@@substance_load=" + batchData.substance_load;
                        data += "@@ordered_by=" + batchData.ordered_by;
                        data += "@@received_by=" + batchData.received_by;
                        data += "@@material_type=" + batchData.material_type;
                        data += "@@ordered_date=" + batchData.ordered_date;
                        data += "@@received_date=" + batchData.received_date;
                        data += "@@amount_in_stock=" + batchData.amount_in_stock;
                        data += "@@ordered_price=" + batchData.ordered_price;
                        data += "@@expired_date=" + batchData.expired_date;
                        data += "@@barcode_number=" + batchData.barcode_number;
                        data = data.replace(/=/g, '||');
                        document.getElementById('previewPanel').src = "{{ generateReportUrl }}?id=" + reportId + "&idLanguage=" + languageId + "&reportData=" + data;
                        console.log(document.getElementById('previewPanel').src);
                    });
                });
            </script>
        {% endblock %}
    </div>
{% endblock %}
