{% if message is not empty %}
{% if type == 'info' %}
    {% set class = 'msginfo' %}
{% elseif type == 'error' %}
    {% set class = 'msgerror' %}
{% endif %}

<div class="notification {{ class | default('msgsuccess') }}">
    <a class="close"></a>
    <p> 
        {{ message | raw }}
    </p>
</div>
{% endif %}
