{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );

            setInterval(function(){
                funcDynamicTableReload_{{ grid['id'] }}();
            }, 10000);
        {% endblock %}
    {% endembed %}
{% endblock %}
