{% extends 'LeepAdminBundle::PopupWithoutTabs.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <div class="mainwrapper">
                <div class="mainwrapperinner">
                    {{ form_row(form['view'].name) }}
                    {{ form_row(form['view'].submitLoginInfo) }}
                    {{ form_row(form['view'].submitContactSetting) }}

                    <div class="stdform stdform2 one_half">
                        <p style='padding-top:5px'>
                            <label>Name</label>
                            <span class="field" style='padding:32px'>
                                {{ receiverInfo['name'] }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label>{{ form['view'].webLoginUsername.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].webLoginUsername) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label>{{ form['view'].webLoginPassword.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].webLoginPassword) }}
                            </span>
                        </p>
                        <p class="stdformbutton">
                            <button class="submit radius2" onClick="javascript:submitLoginInfo();">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                        </p>
                    </div>

                    <div class="stdform stdform2 one_half last">
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].isCustomerBeContacted.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].isCustomerBeContacted) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].isNutrimeOffered.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].isNutrimeOffered) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].isNotContacted.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].isNotContacted) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].isDestroySample.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].isDestroySample) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].sampleCanBeUsedForScience.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].sampleCanBeUsedForScience) }}
                            </span>
                        </p>
                        <p style='padding-top:5px'>
                            <label style='padding-top:5px'>{{ form['view'].isFutureResearchParticipant.vars.label }}</label>
                            <span class="field">
                                {{ form_widget(form['view'].isFutureResearchParticipant) }}
                            </span>
                        </p>
                        <p class="stdformbutton">
                            <button class="submit radius2" onClick="javascript:submitContactSetting();">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                        </p>
                    </div>
                    <br clear="all" /><br />
                </div>
            </div>
            {{ form_row(form['view'].sectionContent) }}
            {{ form_row(form['view'].idEmailMethod) }}
            {{ form_row(form['view'].sendTo) }}
            {{ form_row(form['view'].cc) }}
            {{ form_row(form['view'].subject) }}
            {{ form_row(form['view'].content) }}
            {{ form_row(form['view'].isSendNow) }}

            <script type="text/javascript">
                function submitLoginInfo() {
                    jQuery('#{{ form['view'].submitLoginInfo.vars.id }}').val(1);
                }

                function submitContactSetting() {
                    jQuery('#{{ form['view'].submitContactSetting.vars.id }}').val(1);
                }
            </script>

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>
        {% endblock %}
    {% endembed %}
{% endblock %}