{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    	{% block formContentNormal %}
    		{# BASIC INFORMATION #}
            {{ form_row(form['view'].sectionBasicInfo) }}
    		{% if form['view'].customerNumberHidden is defined %}
    			{{ form_row(form['view'].customerNumberHidden) }}
    		{% endif %}

    		{{ form_row(form['view'].customerNumber) }}
    		{{ form_row(form['view'].externalBarcode) }}
    		{{ form_row(form['view'].idDistributionChannel) }}
    		{{ form_row(form['view'].firstName) }}
    		{{ form_row(form['view'].surName) }}
    		{{ form_row(form['view'].dateOfBirth) }}
            {{ form_row(form['view'].email) }}
    		{{ form_row(form['view'].postCode) }}
    		{{ form_row(form['view'].genderId) }}
    		{{ form_row(form['view'].title) }}
    		{{ form_row(form['view'].detailInformation) }}

            {# WEB LOGIN #}
            {{ form_row(form['view'].sectionWebLogin) }}
            {{ form_row(form['view'].webLoginUsername) }}
            {{ form_row(form['view'].webLoginPassword) }}
            {{ form_row(form['view'].webLoginStatus) }}
            {{ form_row(form['view'].webLoginGoesTo) }}
            {{ form_row(form['view'].isWebLoginOptOut) }}
            {{ form_row(form['view'].canViewShop) }}
            {{ form_row(form['view'].isCanViewYourOrder) }}
            {{ form_row(form['view'].isCanViewCustomerProtection) }}
            {{ form_row(form['view'].isCanViewRegisterNewCustomer) }}
            {{ form_row(form['view'].isCanViewPendingOrder) }}
            {{ form_row(form['view'].isCanViewSetting) }}

            {# OTHERS #}
            {{ form_row(form['view'].sectionOthers) }}
            {{ form_row(form['view'].isCustomerBeContacted) }}
            {{ form_row(form['view'].isNutrimeOffered) }}
            {{ form_row(form['view'].isNotContacted) }}
            {{ form_row(form['view'].isDestroySample) }}
            {{ form_row(form['view'].isFutureResearchParticipant) }}
            {{ form_row(form['view'].sampleCanBeUsedForScience) }}

            {# GENE RESULT #}
            {{ form_row(form['view'].sectionGeneResult) }}
            {{ form_row(form['view'].geneResult) }}

            <script>
                jQuery('#{{ form['view'].idDistributionChannel.vars.id }}').change(onChangeDistributionChannel);

                function onChangeDistributionChannel() {
                    var id = jQuery('#{{ form['view'].idDistributionChannel.vars.id }}').val();
                    var targetUrl = "{{ links.distributionChannel.ajaxRead }}?id=" + id;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data) {
                        if (data == "FAIL") {
                            return;
                        }
                        var dc = JSON.parse(data);

                        jQuery('#{{ form['view'].isCustomerBeContacted.vars.id }}').prop('checked', dc['isCustomerBeContacted']);
                        jQuery('#{{ form['view'].isNutrimeOffered.vars.id }}').prop('checked', dc['isNutrimeOffered']);
                        jQuery('#{{ form['view'].isNotContacted.vars.id }}').prop('checked', dc['isNotContacted']);
                        jQuery('#{{ form['view'].isDestroySample.vars.id }}').prop('checked', dc['isDestroySample']);
                        jQuery('#{{ form['view'].isFutureResearchParticipant.vars.id }}').prop('checked', dc['isFutureResearchParticipant']);
                        jQuery('#{{ form['view'].sampleCanBeUsedForScience.vars.id }}').prop('checked', dc['sampleCanBeUsedForScience']);

                        if (dc['canViewShop']) {
                            jQuery('#{{ form['view'].canViewShop.vars.id }}').prop('checked', true);
                        }

                        if (dc['isCanViewYourOrder']) {
                            jQuery('#{{ form['view'].isCanViewYourOrder.vars.id }}').prop('checked', true);
                        }

                        if (dc['isCanViewCustomerProtection']) {
                            jQuery('#{{ form['view'].isCanViewCustomerProtection.vars.id }}').prop('checked', true);
                        }

                        if (dc['isCanViewRegisterNewCustomer']) {
                            jQuery('#{{ form['view'].isCanViewRegisterNewCustomer.vars.id }}').prop('checked', true);
                        }

                        if (dc['isCanViewPendingOrder']) {
                            jQuery('#{{ form['view'].isCanViewPendingOrder.vars.id }}').prop('checked', true);
                        }

                        if (dc['isCanViewSetting']) {
                            jQuery('#{{ form['view'].isCanViewSetting.vars.id }}').prop('checked', true);
                        }

                        jQuery('#{{ form['view'].webLoginStatus.vars.id }}').val(dc['webLoginStatus']);
                        jQuery('#{{ form['view'].webLoginGoesTo.vars.id }}').val(dc['webLoginGoesTo']);
                    });
                }
            </script>

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>
    	{% endblock %}
    {% endembed %}
{% endblock %}
