{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}

        {% block gridDrawCallback %}
            jQuery('#{{ grid['id'] }} tr').each(function() {
                var colorCode = jQuery(this).find('.customer_color').attr('color-code');
                if (colorCode != 'undefined') {
                    jQuery(this).css('background-color', colorCode);
                }
            });

            jQuery(".simpletip").tooltip({
                bodyHandler: function() {
                    return jQuery(this).find('.hide-content').html();
                },
                left: -100,
                top: 20,
                showURL: false
            });
        {% endblock %}

        {% block button %}
            <div style="float: right">
                <button class="radius2" onclick="return exportCI()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
            </div>
            <script type="text/javascript">
                function exportCI() {
                    // body...
                }
            </script>
        {% endblock %}

        {% block filterForm %}
            <style type="text/css">
            button.disabled {
                opacity: 0.5;
            }
            </style>

            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return exportCI()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function getSelectedId() {
                                var selectedId = [];
                                var checkboxes = jQuery("#{{ grid['id'] }} .stdtableCheckBox");
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId.push(id);
                                    }
                                });

                                return selectedId;
                            }

                            function exportCI() {
                                var selectedIds = getSelectedId();
                                var targetUrl = '{{ links['customerInfo']['exportCsv'] }}?selected=all';
                                console.log(selectedIds);
                                if (selectedIds != null && selectedIds.length > 0) {
                                    console.log("Failed");
                                    targetUrl = '{{ links['customerInfo']['exportCsv'] }}?selected=' + selectedIds;
                                }
                                window.open(targetUrl, '_blank');
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}