{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
{% endblock %}

{% block MainContentInner %}

    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ parent() }}
            <script type="text/javascript">

                function validateCustomerNumbers() {
                    var customerNumberTextarea = jQuery('#{{ form['view'].customerNumbers.vars.id }}');
                    var selectedCustomerNumberValue = customerNumberTextarea.val();
                    if (selectedCustomerNumberValue != '') {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentOrder.vars.id }} .field');
                        resultSpan.html('Validating..');

                        var targetUrl = '{{ links['customer']['bulkMergeCheckOrder'] }}';
                        customerNumberTextarea.attr('readonly', 'readonly');
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: { customerNumbers: selectedCustomerNumberValue },
                            context: document.body
                        }).done(function(data) {
                            resultSpan.html(data);
                            customerNumberTextarea.removeAttr('readonly');
                        }).error(function(jqXHR, textStatus, errorThrown ) {
                            resultSpan.html(textStatus + " " + errorThrown);
                        });
                    }
                    else {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentOrder.vars.id }} .field');
                        resultSpan.html('&nbsp;');
                    }
                }

                jQuery('#{{ form['view'].customerNumbers.vars.id }}').change(function() {
                    validateCustomerNumbers();
                });
                jQuery(document).ready(function() {
                    validateCustomerNumbers();
                });

                function checkDuplication() {
                    var fromDate = jQuery('#{{ form['view'].viewDuplicationFrom.vars.id }}').val();
                    var toDate = jQuery('#{{ form['view'].viewDuplicationTo.vars.id }}').val();
                    var mustBeProduct = jQuery('#{{ form['view'].mustBeProduct.vars.id }}').val();
                    var mustNotBeProduct = jQuery('#{{ form['view'].mustNotBeProduct.vars.id }}').val();
                    window.open('{{ links['customer']['viewDuplication'] }}' +
                        '?from=' + fromDate + '&to=' + toDate +
                        '&must=' + mustBeProduct + '&must_not=' + mustNotBeProduct,
                        '_blank');
                    return false;
                }
            </script>
        {% endblock %}

        {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Merge&nbsp;&nbsp;</button>
            <button onclick="return checkDuplication()" class=" radius2">&nbsp;&nbsp;View duplications&nbsp;&nbsp;</button>
        {% endblock %}
    {% endembed %}
{% endblock %}