{% extends 'LeepAdminBundle:CRUD:view.html.twig' %}

{% block MainContentInner %}
	{{ parent() }}

	<style>
		.content {
		    line-height: normal;
		}
		.stdform2 label {
		    padding: 5px 20px 5px 20px;
		}
	</style>
{% endblock %}
