{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}
{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        function selectAllTopics() {
            var chkStatus = jQuery('#{{ form['view'].subscribeAll.vars.id }}').prop('checked');

            if (chkStatus) {
                jQuery('#{{ form['view'].idTopics.vars.id }} option').prop('selected', true);
            } else {
                jQuery('#{{ form['view'].idTopics.vars.id }} option').prop('selected', false);
            }
            
            return false;
        }
    </script>
{% endblock %}