{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContent %}
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="content">
                Your IP {{ ip }} has been blocked. Please contact Dr. Daniel Wallerstorfer for access grant.<br/><br/>

                Dr. Daniel Wallerstorfer <br/>
                Geschäftsführer / CEO of the Novogenia Group<br/>
                Mobile: +43 (0) 664 160 10 90<br/>
                Email: ceo@novogenia.com<br/>
            </div>
        </div>
    </div>
{% endblock %}
