{% extends 'LeepAdminBundle:Form:listFormHeader.html.twig' %}

{% block MainContent %}
    <style type="text/css">
    div.content {
        margin: 30px;
        background: none;
        border: none;
    }

    .message-window {
        width: 500px;
        border: 1px solid black;

        /* Center form */
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    table {
        width: 100%;
        margin: 15px 0px;
    }

    table td {
        width: 50%;
        text-align: center;
        margin: 20px;
        font-size: 14px;
    }

    table td a {
        font-size: 16px;
        font-weight: bold;
        color: #3b4650;
    }
    </style>

    <div class="content">
        <div class="message-window">
            <div class="contenttitle radiusbottom0">
                <h2 class="table"><span>PELLET PRODUCTION FINISHED</span></h2>
            </div>
            <table>
                <tr>
                    <td colspan="2">Name: {{ formulaName }}</td>
                </tr>
                <tr>
                    <td style='padding-bottom: 15px; border-bottom: 1px solid #666;' colspan="2">Id: {{ formulaId }}</td>
                </tr>
                <tr>
                    <td style='padding-top: 10px;'><a href="{{ urlFormulaList }}">Back to formula list</a></td>
                    <td><a href="{{ urlProductionList }}">Show production list</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
