{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}


{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <style type="text/css">
        .custom-btn {
            border: 1px solid #333;
            background: #333;
            color: #fff;
            cursor: pointer;
            padding: 5px 20px;
            font-weight: bold;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            font-size: 20px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .substance-cell{
            margin-top: 5px;
            border: 1px solid #a3a375;
            vertical-align: middle;
            width: 90%;
            display: inline-flex;
        }

        .order-cell{
            background-color: #a6a6a6;
            color: #fff;
            font-weight: bold;
            padding: 8px 5px 5px 5px;
            float:left;
            width: 5%;
            height: 100%;
            vertical-align: middle;
        }

        .content-cell{
            padding: 8px 0px 5px 8px;
            width: 95%;
            height: 100%;
            vertical-align: middle;
        }

        .substance-cell-choosed{
            margin-top: 5px;
            border: 1px solid #a3a375;
            vertical-align: middle;
            width: 90%;
            display: inline-flex;
        }

        .order-cell-choosed{
            background-color: #5c5c3d;
            color: #fff;
            font-weight: bold;
            padding: 8px 5px 5px 10px;
            float:left;
            width: 5%;
            height: 100%;
            vertical-align: middle;
        }

        .content-cell-choosed{
            background-color: #ffff66;
            padding: 8px 0px 5px 8px;
            width: 95%;
            height: 100%;
            vertical-align: middle;
            font-weight: bold;
        }
    </style>
    <div class='mainwrapper'>
        <div class="mainwrapperinner">
            {% block header %}
                <head>
                    <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                        <h2 class="table"><span>Substances list</span></h2>
                    </div>
                <head>
            {% endblock %}

            {% block content %}
                <div>
                    <div style="margin-top:20px; padding-top: 15px; float: left; width:70%; border-right: 1px solid black;">
                        <input type="button" id="add-before" class="custom-btn" onclick="confirmAdd('before')" value="Add Before">
                        <input type="button" id="add-after" class="custom-btn" style="margin-left: 20px;" onclick="confirmAdd('after')" value="Add After">
                        <div style="padding-top: 15px">
                            {% set id = 1 %}
                            {% for index, substances in substancesList %}
                                <div id="section-{{ index }}" class="one_third {% if index == 2 %}last{% endif %}">
                                    {% for substance in substances  %}
                                        <div class="substance-cell row">
                                            <div class="order-cell">
                                                <p id=""> {{ id }} </p>
                                            </div>
                                            <div id="area-substance-{{ substance['idSubstance'] }}" class="content-cell" onclick="checkSubstance({{ substance['idSubstance'] }})">
                                                <p id="substance-name-grid-{{ substance['idSubstance'] }}">{{ substance['substanceName'] }}</p>
                                            </div>
                                        </div>
                                        {% set id = id + 1 %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="choosed-area" style="margin-top: 30px; float: right; width: 28%">
                        <h2>Choosed substances list</h2>
                        <div id="std-cell-choosed" style="visibility: hidden;" class="substance-cell-choosed row">
                                <div class="order-cell-choosed">
                                    <p id="order-cell-index-"></p>
                                </div>
                                <div class="content-cell-choosed">
                                    <p id="choosed-substance-name-"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="step-form">
                    <input type="hidden" id="id-add-substances-infos" name="addSubstancesInfos">
                </form>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        var choosedSubstance = [];

        function removeSubstance(substanceId) {
            var removeCellId = "#choosed-cell-" + substanceId;
            jQuery(removeCellId).remove();
            var removeIndex = choosedSubstance.indexOf(substanceId);
            for (var i = removeIndex + 1; i < choosedSubstance.length; i++) {
                var cellId = "#order-cell-index-" + choosedSubstance[i];
                var newOrder = parseInt(jQuery(cellId).text()) - 1;
                jQuery(cellId).text(newOrder);
            }
        }

        function addSubstance(substanceId) {
            var cloneCell = jQuery("#std-cell-choosed").clone();
            var wholeCellId = "choosed-cell-" + substanceId;
            cloneCell.attr('id', wholeCellId);
            choosedSubstance.push(substanceId);

            // set order substance cell id (order when user click choose)
            cloneCell.find("#order-cell-index-").attr("id", "order-cell-index-" + substanceId);
            var orderCellId_jquery = "#" + "order-cell-index-" + substanceId;

            // set id cell of substance name cell choosed by user
            var cellNameId = "choosed-substance-name-" + substanceId;
            cloneCell.find("#choosed-substance-name-").attr("id", cellNameId);

            // append to choosed area
            jQuery("#choosed-area").append(cloneCell);

            // set order cell
            jQuery(orderCellId_jquery).text(choosedSubstance.length);

            // fill name to cell name
            var cellShowedId = "#substance-name-grid-" + substanceId;
            var substanceName = jQuery(cellShowedId).text();
            var cellNameId_jquery = "#" + cellNameId;
            jQuery(cellNameId_jquery).text(substanceName);

            // set visible
            var wholeCellId_jquery = "#" + wholeCellId;
            jQuery(wholeCellId_jquery).attr('style', 'visibility: visible !important');
        }

        function checkSubstance(substanceId) {
            var strId = String(substanceId);
            var substanceAreaId = "#area-substance-" + strId;
            if (choosedSubstance.includes(strId)) {
                jQuery(substanceAreaId).css({
                    "background-color": "#ffffff",
                    "color":"#666",
                    "font-weight":"normal"
                });
                removeSubstance(strId);
                choosedSubstance.splice(choosedSubstance.indexOf(strId), 1);
            }
            else{
                jQuery(substanceAreaId).css({
                    "background-color":"#adad85",
                    "color":"#ffffff",
                    "font-weight":"bold"
                });
                addSubstance(strId);
            }
        }

        function confirmAdd(typeAdd) {
            var confirmText = "";
            if (typeAdd == "before") {
                confirmText = "Do you want to add these substances before current susbtance";
            }
            else{
                confirmText = "Do you want to add these substances after current susbtance";
            }
            swal(
                    {
                        title: 'Attention!',
                        text: confirmText + "\nThis process can not be undone!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: "Yes, add it plx!",
                        cancelButtonText: 'No, cancel plx!',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function(isConfirm){
                        if (isConfirm) {
                            submitAddSubstances(typeAdd);
                        }
                    }
                );
        }

        function submitAddSubstances(typeAdd) {
            var stepId = "{{ currentStepId }}";
            if (choosedSubstance) {
                var submitInfo = JSON.stringify([stepId, choosedSubstance, typeAdd]);
                jQuery("#id-add-substances-infos").val(submitInfo);
                parent.jQuery("#id-add-substances-infos").val(submitInfo);
                parent.jQuery.colorbox.close();
            }
        }
    </script>
{% endblock %}