{% extends 'LeepAdminBundle:Form:listFormHeader.html.twig' %}

{% block MainContent %}
    <style type="text/css">
    div.content {
        margin: 30px;
    }
    </style>

    <div class="content">
        <div class="contenttitle radiusbottom0">
            <h2 class="table"><span>Filters&nbsp;</span></h2>
        </div>

        <form id="CrudGrid_Filter" method="post" action="#" style="margin-top: -1px">
            <input style="display:none" type="text" id="form_clear_all" value="0" name="isClearAll">
            <div id="CrudGrid_Filter_ContentDiv">
                <table class="display_two_column stdform stdformfilter">
                    <tbody>
                        <tr>
                            <td><label for="form_name">Name</label></td>
                            <td><input type="text" id="form_name" value="{{ name }}" name="name"></td>
                            <td><label for="form_content">Formula contain</label></td>
                            <td><input type="text" id="form_content" value="{{ content }}" name="content"></td>
                        </tr>
                        <tr>
                            <td><label for="form_substances">Contain substances</label></td>
                            <td>
                                <select id="form_substances" name="substances[]" style="min-height:100px; max-height: 100px" multiple="multiple">
                                {% for id, substance in substances %}
                                    <option value="{{ id }}" {% if id in selected_substances %}selected="selected"{% endif %}>{{ substance }}</option>
                                {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="display_two_column stdform stdformfilter" style="margin-top: -1px">
                <tbody>
                    <tr>
                        <td colspan="4">
                            <button id="CrudGrid_Filter_submitButtonDiv" class="submit radius2">&nbsp;&nbsp;Apply filter&nbsp;&nbsp;</button>
                            <button id="CrudGrid_Filter_clearButtonDiv" class="submit radius2">&nbsp;&nbsp;Clear filter&nbsp;&nbsp;</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <script type="text/javascript">
                jQuery('#CrudGrid_Filter_clearButtonDiv').click(function() {
                    jQuery('#form_clear_all').val(1);
                    return true;
                });

                jQuery(document).ready(function() {
                    jQuery("#CrudGrid_Filter").keypress(function (e) {
                        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                            jQuery('#CrudGrid_Filter_submitButtonDiv').click();
                            return false;
                        } else {
                            return true;
                        }
                    });
                });
            </script>
        </form>

        <div class="contenttitle radiusbottom0" style="margin-top: 20px;">
            <h2 class="table"><span>Formula List&nbsp;</span></h2>
        </div>

        <table style="font-size: 16px; margin-top: 20px" cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <thead>
                <tr>
                    <th class="head1" style="width: 4%">ID</th>
                    <th class="head1" style="width: 20%">Name</th>
                    <th class="head1" style="width: 16%">Created date</th>
                    <th class="head1" style="width: 16%">Created by</th>
                    <th class="head1" style="width: 16%">Modified date</th>
                    <th class="head1" style="width: 16%">Modified by</th>
                    <th class="head1" style="width: 12%">Action</th>
                </tr>
            </thead>
            {% for formula in formulas %}
                <tr style="cursor: pointer; height: 40px; font-weight: bold; text-align: center;" >
                    <td style="vertical-align: middle;">{{ formula['id'] }}</td>
                    <td style="vertical-align: middle;">{{ formula['name'] }}</td>
                    <td style="vertical-align: middle;">{{ formula['createdDate'] }}</td>
                    <td style="vertical-align: middle;">{{ formula['createdBy'] }}</td>
                    <td style="vertical-align: middle;">{{ formula['modifiedDate'] }}</td>
                    <td style="vertical-align: middle;">{{ formula['modifiedBy'] }}</td>
                    <td class="btn-start-production" style='vertical-align: middle; background: #343d47; padding: 10px 20px; margin-top: 10px'>
                        <a style='text-decoration: none; color: white' href="{{ startProductionUrl }}?id={{ formula['id'] }}">
                            Start production
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("td.btn-start-production").click(function() {
                    jQuery(this).children("a")[0].click();
                });
            });
        </script>
    </div>
{% endblock %}
