{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Production step by step history</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 10%">Date</th>
                    <th class="head1" style="width: 10%">Status</th>
                    <th class="head1" style="width: 10%">Type</th>
                    <th class="head1" style="width: 70%">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for data in logDataList %}
                    <tr>
                        <td>{{ data['date'] }}</td>
                        <td>{{ data['status'] }}</td>
                        <td>{{ data['type'] }}</td>
                        <td>{{ data['value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}