{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    <style type="text/css">
        .widgetcontent {
            font-size: 0;
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        .widgetcontent .wrapper {
            display: inline-block;
            width: calc(25% - 23px);
            border: 1px solid #ccc;
            padding: 4px 8px;
            margin: 10px 0px;
            margin-right: 4px;
            font-size: 20px;
            font-weight: bold;
            background: #eee;
            text-align: center;
        }

        .widgetcontent .wrapper.final {
            margin-right: 0px;
        }

        div.label {
            color: #069;
            font-size: 18px;
        }

        div.value {
            color: #333;
            margin-top: 5px;
        }

        div.title-progress {
            margin-top: 20px;
        }

        .custom-btn {
            border: 1px solid #333;
            background: #333;
            color: #fff;
            cursor: pointer;
            padding: 5px 20px;
            font-weight: bold;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            font-size: 20px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            margin: 0;
            margin-top: 10px;
            margin-left: 10px;
            float: right;
        }

        .custom-btn.skip {
            background: #9c1a1a;
            border-color: #751010;
        }

        .custom-btn:hover {
            background: #111;
            border: 1px solid #000;
            color: #fff;
        }

        .custom-btn.skip:hover {
            background: #8c1818;
        }

        td.information {
            width: 70%;
            margin-right: 80px;
            padding-left: 10px;
        }

        td.action {
            width: 30%;
            padding-left: 20px;
            padding-right: 20px;
            border-left: 1px solid #ddd;
        }

        td.action.value-getter input {
            width: calc(100% - 12px);
            border: 1px solid #ccc;
            background: #fcfcfc;
            padding: 3px 5px;
            margin-top: 10px;
            font-size: 18px;
        }

        .step-wrapper table {
            width: 100%;
            font-size: 25px;
            font-weight: bold;
            border-spacing: 0;
            border-collapse: collapse;
            margin-top: 10px;
            border: 1px solid #ccc;
            background: #eee;
            color: #3b4650;
            opacity: 0.5;
        }

        .step-wrapper table td {
            vertical-align: middle;
        }

        .step-wrapper table td.value-getter {
            height: 45px;
        }

        .step-wrapper table td.step-controller {
            height: 55px;
        }

        .step-wrapper table.current {
            opacity: 1;
        }

        tr.second td {
            padding-bottom: 10px;
        }

        td.step-title {
            border-bottom: 1px solid #ddd;
        }

        .hidden {
            display: none;
        }

        .step-helper {
            color: red;
            font-size: 18px;
        }

        div.step-value-display.skiped {
            color: red;
        }

        .one-three{
            -moz-column-count: 3;
            -moz-column-gap: 30%;
            -webkit-column-count: 3;
            -webkit-column-gap: 30%;
            column-count: 3;
            column-gap: 30%;
        }

        .substance-cell{
            margin-top: 5px;
            border: 1px solid #a3a375;
            height: 30px;
        }
    </style>

    <div class="mainwrapper">
        <div class="mainwrapperinner">
            <div class="content">
                <br/>
                <h1 style="font-size: 30px">Pellet Production</h1>
                <br/>

                <div class="contenttitle radiusbottom0">
                    <h2 class="table"><span>Summary</span></h2>
                </div>

                <div class="widgetcontent">
                    <div class="wrapper">
                        <div class='label'>Pellet's type</div>
                        <div class='value'>{{ pelletType }}</div>
                    </div>

                    <div class="wrapper">
                        <div class='label'>Lot number</div>
                        <div class='value'>{{ pelletLotNumber }}</div>
                    </div>

                    <div class="wrapper">
                        <div class='label'>Expected total amount</div>
                        <div class='value'>{{ totalAmount }}</div>
                    </div>

                    <div class="wrapper final">
                        <div class='label'>Finished tep</div>
                        <div class='value'>{{ stepIndex }}/{{ totalStep }}</div>
                    </div>
                </div>

                <div class="contenttitle radiusbottom0 title-progress">
                    <h2 class="table"><span>Progress</span></h2>
                </div>

                <div class="step-wrapper">
                    <form id="StepForm" action="{{ updateStepUrl }}" method="post">
                        <table class="current">
                            <tr class="first">
                                <td class="information step-title">
                                    {{ currentStep['title'] }}
                                </td>
                                <td class="action value-getter">
                                    <input type="text" name="id" value="{{ currentStep['id'] }}" class="hidden">
                                    <input id="main-value-input" type="text" name="value" value="{{ defaultValue }}">
                                </td>
                            </tr>
                            <tr class="second">
                                <td class="information step-helper">
                                    <div><span style="color: #9a2c2c;">{{ currentStep['helper']['msg']|raw|nl2br }}</span></br><span>{{ currentStep['error'] }}</span></div>
                                </td>
                                <td class="action step-controller">
                                    <input id="btn-click-next" class="custom-btn" type="button" name="btn-click-next-name" value="Next" onclick="clickNext()">
                                    <input id="step--btn-next" type="submit" name="btn-next" style="visibility: hidden;" onclick="btnNextClick()">
                                    {% if currentStep['skippable'] %}
                                        <input id="step--btn-skip" class="custom-btn skip" type="submit" name="btn-skip" value="Skip" onclick="btnSkipClick()">
                                    {% endif %}
                                    {% if currentStep['isScanSubstance'] == '1' %}
                                        <input type="button" name="add-after" class="custom-btn" value="Add Substances" onclick="addSubstances()">
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </form>
                    {% for index, step in prevSteps %}
                        <table>
                            <tr class="first">
                                <td class="information step-title">
                                    {{ step['title'] }}
                                </td>
                                <td class="action value-getter">
                                    <div class="step-value-display" {% if step['value'] == 'Skiped!' %}style="color: red;"{% endif %}>{{ step['value'] }}</div>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
                <form id="add-substances-form" method="post">
                    <input type="hidden" id="id-add-substances-infos" name="addSubstancesInfos">
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var choosedSubstance = [];

    jQuery(document).ready(function() {
        window.setTimeout (function(){
            jQuery("#main-value-input").select();
        }, 100);
    });


    {% if currentStep['helper']['expected'] != "" %}
        var submitAble = false;
    {% else %}
        var submitAble = true;
    {% endif %}

    function clickNext() {
        isScanSubtance = "{{ currentStep['isScanSubstance'] }}";
        if (isScanSubtance == '1') {
            lotNumber = jQuery("#main-value-input").val();
            var storageSampleCollectedLots_json = "{{ currentStep['storageSample'] }}";
            var storageSampleCollectedLots = JSON.parse(storageSampleCollectedLots_json.replace(/&quot;/g, '"'));
            console.log(storageSampleCollectedLots);
            if (storageSampleCollectedLots.includes(lotNumber)) {
                swal({
                    title:              'Attention!',
                    text:               'YOU NEED TO COLLECT A STORAGE SMAPLE OF THIS BATCH!',
                    type:               'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Continue',
                    cancelButtonText: false,
                    closeOnConfirm: true,
                    closeOnCancel: true
                }, function(isConfirm){
                    if (isConfirm) {
                        jQuery("#step--btn-next").click();
                    }
                });
            }
            else{
                jQuery("#step--btn-next").click();
            }
        }
        else{
            jQuery("#step--btn-next").click();
        }
    }

    function btnNextClick(e) {
        {% if currentStep['helper']['expected'] != "" %}
        if ({{ currentStep['helper']['expected'] }} >= jQuery('#main-value-input').val()) {
            submitAble = true;
        } else {
            submitAble = false;
            swal({
                title:              'Attention!',
                text:               'You use more than required! Are you sure you want to continue',
                type:               'warning',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Yes, I am sure!',
                cancelButtonText: 'No, cancel plx!',
                closeOnConfirm: true,
                closeOnCancel: true
            }, function(isConfirm) {
                if (isConfirm) {
                    jQuery("#StepForm").attr("action", "{{ updateStepUrl }}");
                    submitAble = true;
                    jQuery("#StepForm").submit();
                }
            });
        }
        {% endif %}
        jQuery("#StepForm").attr("action", "{{ updateStepUrl }}");
    }

    function btnSkipClick() {
        jQuery("#StepForm").attr("action", "{{ skipStepUrl }}");
    }

    function addSubstances() {
        var currentStepId = "{{ currentStep['id'] }}";
        if (currentStepId) {
            var targetUrl = "{{ showListSubstanceUrl }}?stepid=" + currentStepId;
            jQuery.colorbox({
                href: targetUrl,
                iframe: true,
                width:  "90%",
                height: "90%",
                onClosed:function(){
                    jQuery("#add-substances-form").attr("action", "{{ addSubstancesUrl }}");
                    jQuery("#add-substances-form").submit();
                }
            });
        }
    }

    jQuery(document).ready(function() {
        jQuery("#main-value-input").focus();

        jQuery("#StepForm").submit(function() {
            return submitAble;
        });
    });
    </script>
{% endblock %}