{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            <style type="text/css">
            button.disabled {
                opacity: 0.5;
            }
            </style>
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <script>
                            jQuery(document).ready(function() {
                                var contentDiv = jQuery('#CrudGrid_Filter_ContentDiv');
                                contentDiv.slideDown('fast');

                                var toggeBtn = jQuery('#CrudGrid_Filter_toggerButtonDiv');
                                var btnDiv = jQuery('#CrudGrid_Filter_submitButtonDiv');
                                var clearDiv = jQuery('#CrudGrid_Filter_clearButtonDiv');
                                btnDiv.css('display', '');
                                clearDiv.css('display', '');
                            });
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
