<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle | default('') }}</title>
    {% block HeaderScript %}
        <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
        <!--[if IE 9]>
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie9.css') }}"/>
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie8.css') }}"/>
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie7.css') }}"/>
        <![endif]-->

        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.7.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.8.16.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/excanvas.min.js') }}"></script><![endif]-->
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
        <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
        <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/ckeditor/ckeditor.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>

        <!-- ///// -->

        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    {% endblock %}
    
    {% block CustomHeaderScript %}

    {% endblock %}
</head>

{% block BODY %}
<body class="loggedin">
    {% include 'DesignStarlightBundle:Component:SearchableCacheBoxData.html.twig' %}
    <!-- START OF HEADER -->
    {% block ContentHeader %}
    <div class="header radius3">
        <div class="headerinner">
            <div style="height: 37px; color: white; font-size: 25px; font-style: bold;">
                <b style="position: absolute">&nbsp;&nbsp;&nbsp;{{ pageTitle | default('') }}</b>
                <span>
                    <div id="frontheader">
                        <nav class="quick-access" style="float: left;">
                            <ul>
                                {% block quickAccessButton %}
                                    {% for shortcut in quickAccess %}
                                        <li>
                                            <a href="{{ shortcut['link'] }}">{{ shortcut['nameShortcut'] }}</a>
                                        </li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                        </nav>
                    </div>
                </span>
            </div>
            <div class="headright">
                <div class="headercolumn">&nbsp;</div>

                <!-- FIX ME -->
                <div id="notiPanel" class="headercolumn" style="display: none">
                    <div class="notiwrapper">
                    </div><!--notiwrapper-->
                </div><!--headercolumn-->

                {% block UserPanel %}
                    <div id="userPanel" class="headercolumn">
                        <a href="" class="userinfo radius2">
                            <img src="{{ asset('bundles/designstarlight/images/avatar.png') }}" alt="" class="radius2" />
                            <span><strong>{{ username | default('') }}</strong></span>
                        </a>
                        <div class="userdrop">
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <ul>
                                    <li><a href="{{ exitSwitchUserUrl }}">Back to admin</a></li>
                                </ul>
                            {% endif %}
                            <ul>
                                <li><a href="{{ logoutUrl }}">Logout</a></li>
                            </ul>
                        </div><!--userdrop-->
                    </div><!--headercolumn-->
                {% endblock %}
            </div><!--headright-->
        </div><!--headerinner-->
    </div><!--header-->

    <!-- END OF HEADER -->
    {% endblock %}

    {% block MainContent %}
    <!-- START OF MAIN CONTENT -->
    <div class="mainwrapper">
        <div class="mainwrapperinner">
            {% block Menu %}
                <div class="mainleft">
                    <div class="mainleftinner">
                        <div id="togglemenuleft_intop"><a></a></div>
                        <div class="leftmenu">
                            {% include 'DesignStarlightBundle:Component:SideMenu.html.twig' with {'menu': menu} %}
                        </div><!--leftmenu-->
                        <div id="togglemenuleft"><a></a></div>
                    </div><!--mainleftinner-->
                </div><!--mainleft-->
            {% endblock %}

            {% block content %}
            <div class="maincontent noright">
                <div class="maincontentinner">
                    <ul class="maintabmenu">
                        <li class="current"><a href="#">&nbsp;</a></li>
                    </ul><!--maintabmenu-->
                    <div class="content">
                    </div><!--content-->
                </div><!--maincontentinner-->
                <div class="footer">
                    <p></p>
                </div><!--footer-->
            </div><!--maincontent-->
            {% endblock %}
       </div><!--mainwrapperinner-->
    </div><!--mainwrapper-->
  <!-- END OF MAIN CONTENT -->
  {% endblock %}

</body>
{% endblock %}
</html>
