{% extends 'DesignStarlightBundle::Base.html.twig' %}

{% block BODY %}
<body class="login">
    <div class="loginbox radius3">
        <div class="loginboxinner radius3">
        <div class="loginheader">
            <h1 class="bebas">Sign In</h1>
            <div class="logo"><!-- <img src="{{ asset('bundles/blocktemplatestarlight')}}/images/starlight_admin_template_logo.png" alt="" />--></div>
        </div>

        <div class="loginform">
            {% if form_error is not empty %}
                <div class="loginerror" style="display: block"><p>Login failed</p></div>
            {% endif %}

            <form id="login" action="{{ form_url }}" method="post">
                <p>
                    <label for="username" class="bebas">Username</label>
                    <input type="text" id="username" name="username" class="radius2" />
                </p>
                <p>
                    <label for="password" class="bebas">Password</label>
                    <input type="password" id="password" name="password" class="radius2" />
                </p>
                <p>
                    <button class="radius3 bebas">Sign in</button>
                </p>
                <!--<p><a href="" class="whitelink small">Can't access your account?</a></p>-->
            </form>
        </div>
        </div>
    </div>
</body>
{% endblock %}