{% block field_row %}
    <p id="field_row_{{ form.vars.id}}">
        {{ form_label(form) }}
        <span class="field">
            {{ form_widget(form) }}
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                {{ form_errors(form) }}
            </label>
        </span>
    </p>
{% endblock field_row %}

{% block field_errors %}
    {% if errors is defined %}
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators')|raw }}<br/>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block section_row %}    
    <br/><h2>{{ label }}</h2><br/>
    <p></p>
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {% if label_attr['helpText'] is defined %}
            <small style="display: inline-block">{{ label_attr['helpText'] | raw }}</small>
        {% endif %}
    </label>
    
    
{% endspaceless %}
{% endblock form_label %}

{% block label_widget %}
    {% if value is not empty %}
        {{ value | raw }}&nbsp;
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
        <input type="checkbox" {{
               block('widget_attributes') }}{% if value is defined %}
               value="{{ value }}"{% endif %}{% if checked %}
               checked="checked"{% endif %} />
{% endspaceless %}
{% endblock %}

{% block choice_row %}
    {% if expanded %}
        <p id="field_row_{{ form.vars.id}}">
            {{ form_label(form) }}
            <span class="field">
                <span {{ block('widget_container_attributes') }}>
                    {% for child in form %}
                        <span>
                            <span style="height: 20px">{{ form_widget(child) }}</span>
                            <span style="height: 20px; margin-left: 5px">
                                {{ child.vars.label | raw }}                        
                            </span>
                        </span>
                    {% endfor %}

                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(form) }}
                    </label>
                </span>
            </span>
        </p>
    {% else %}
        <p id="field_row_{{ form.vars.id}}">
            {{ form_label(form) }}
            <span class="field">
                {{ form_widget(form) }}
                <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                    {{ form_errors(form) }}
                </label>
            </span>
        </p>
    {% endif %}    
{% endblock %}

{% block searchable_box_widget %}
    {{ block('choice_widget') }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#{{ form.vars.id }}').select2({
                width: '{{ width }}',
                allowClear: true,
                dropdownAutoWidth: true
            });
        });
    </script>
{% endblock %}

{% block searchable_cache_box_widget %}
    {{ block('field_widget') }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#{{ form.vars.id }}').select2({
                width: '{{ width }}',
                allowClear: true,
                dropdownAutoWidth: true,
                data: { results: searchableCacheBoxData["{{ dataKey }}"]},
                formatSelection: searchableCacheBoxResultFormat
            });
        });
    </script>
{% endblock %}

{% block datepicker_widget %}
    {% spaceless %}
        {{ block('date_widget') }} 
        
        <script>
            jQuery("#{{ form.vars.id }}").datepicker({
                showOn: "both",
                buttonImage: "{{ asset('bundles/designstarlight/images/calendar_small.png') }}",
                buttonImageOnly: true,
                dateFormat: "{{ pattern }}"
            });
        </script>
    {% endspaceless %}
{% endblock %}

{% block datetimepicker_widget %}
    {{ form_widget(form.date)}} {{ form_widget(form.hour)}}:{{ form_widget(form.minute)}}:{{ form_widget(form.second)}}
    <a style="display: inline-block" href="javascript:setCurrentDate('{{ form.vars.id }}')">Set current time</a>
    <script type="text/javascript">
    function setCurrentDate(id) {
        var currentDate=new Date();
        var month = currentDate.getMonth() + 1;
        if (month < 10) month = '0' + month;
        var date = currentDate.getDate();
        if (date < 10) date = '0' + date;

        jQuery('#' + id + '_date').val(date + '/' + month + '/' + currentDate.getFullYear());
        jQuery('#' + id + '_hour').val(currentDate.getHours());
        jQuery('#' + id + '_minute').val(currentDate.getMinutes());
        jQuery('#' + id + '_second').val(currentDate.getSeconds());
    }
    </script>
{% endblock %}

{% block time_period_widget %}
    From&nbsp;{{ form_widget(form.startHour) }}:{{ form_widget(form.startMinute )}}&nbsp;
    to&nbsp;{{ form_widget(form.endHour) }}:{{ form_widget(form.endMinute )}}&nbsp;
{% endblock %}
