{% form_theme form['view'] 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}

{#-- children['MessagesBox'].toHtml() | raw --#}

{% for message in form['messages'] %}
    {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'info'} %}
{% endfor %}
{% for message in form['errors'] %}
    {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'error'} %}
{% endfor %}


{% if form['title'] is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ form['title'] }}</span></h2>
</div><!--contenttitle-->
{% endif %}

<form id="{{ form['id'] }}" class="stdform stdform2" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }} style="margin-top: -1px">
    {% block formContent %}
        {% block formContentNormal %}
            {% for element in form['view'] %}
                {% if 'hidden' not in element.vars.block_prefixes %}
                    {{ form_row(element) }}
                {% endif %}
            {% endfor %}
        {% endblock %}

        {% block formContentHidden %}
            {% for element in form['view'] %}
                {% if 'hidden' in element.vars.block_prefixes %}
                    {{ form_widget(element) }}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endblock %}

    <p class="stdformbutton">
        {% block buttons %}
        <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
        {% endblock %}
    </p>
</form>
