{% form_theme form['view'] 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}

{% block messagesBox %}
{% endblock %}

{% if form['title'] is defined %}
<div class="contenttitle">
    <h2 class="form"><span>{{ form['title'] }}</span></h2>
</div><!--contenttitle-->
{% endif %}

<script type="text/javascript">
    function toggleFilterForm_{{ form['id']}}() {
        var contentDiv = jQuery('#{{ form['id'] }}_ContentDiv');
        if(contentDiv.is(':visible')) {
            contentDiv.slideUp('fast');
        } else {
            contentDiv.slideDown('fast');
        }

        var toggeBtn = jQuery('#{{ form['id'] }}_toggerButtonDiv');
        var btnDiv = jQuery('#{{ form['id'] }}_submitButtonDiv');
        var clearDiv = jQuery('#{{ form['id'] }}_clearButtonDiv');
        if(btnDiv.is(':visible')) {
            btnDiv.css('display', 'none');
        } else {
            btnDiv.css('display', '');
        }    

        if(clearDiv.is(':visible')) {
            clearDiv.css('display', 'none');
        } else {
            clearDiv.css('display', '');
        }        

        return false;
    }
</script>

<form id="{{ form['id'] }}" method="post" action="{{ form['url'] }}" novalidate {{ form_enctype(form['view']) }} style="margin-top: -1px">
    <input type="hidden" id="__clear_all" name="__clear_all" value="0" />
    {% for element in form['view'] %}
        {% if 'hidden' in element.vars.block_prefixes %}
            {{ form_widget(element) }}
        {% endif %}
    {% endfor %}

    <div id="{{ form['id'] }}_ContentDiv" {% if form['visiblity'] == 'hide' %}style="display: none"{% endif %}>
        {% block content %}
        <table class="display_two_column stdform stdformfilter">        
            {% set count = 0 %}
            {% for element in form['view'] %}
                {% if 'hidden' not in element.vars.block_prefixes %}
                    {% if count % 2 == 0 %}
                        <tr>
                    {% endif %}
                        
                    <td>{{ form_label(element) }}</td>
                    <td>
                        {{ form_widget(element) }}
                        <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                            {{ form_errors(element) }}
                        </label>
                    </td>
                    
                    {% if count % 2 == 1 %}
                        </tr>
                    {% endif %}

                    {% set count = count +1 %}
                {% endif %}
            {% endfor %}   

            {% if count % 2 == 1 %}
                <td></td><td></td></tr>
            {% endif %}        
        </table>
        {% endblock %}
    </div>
    <table class="display_two_column stdform stdformfilter" style='margin-top: -1px'>        
        <tr>
            <td colspan="4">
                {% block buttons %}
                <button id="{{ form['id'] }}_toggerButtonDiv" class="radius2" onclick="javascript:toggleFilterForm_{{ form['id'] }}(); return false;">&nbsp;&nbsp;Toggle filter&nbsp;&nbsp;</button>            
                <button id="{{ form['id'] }}_submitButtonDiv" {% if form['visiblity'] == 'hide' %}style="display: none"{% endif %} class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
                <button id="{{ form['id'] }}_clearButtonDiv" {% if form['visiblity'] == 'hide' %}style="display: none"{% endif %} class="submit radius2">&nbsp;&nbsp;Clear filter&nbsp;&nbsp;</button>            
                {% endblock %}
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        {% block extraJavaScript %}
            jQuery('#{{ form['id'] }}_clearButtonDiv').click(function() {
                jQuery('#__clear_all').val(1);
                return true;
            });

            jQuery(document).ready(function() {
                jQuery("#{{ form['id'] }}").keypress(function (e) {
                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                        jQuery('#{{ form['id'] }}_submitButtonDiv').click();
                        return false;
                    } else {
                        return true;
                    }
                });
            });
        {% endblock %}
    </script>
</form>