    <div class="wizard">
        <ul class="tabbedmenu anchor">
            <li>
                <a id="selectTemplate" href="javascript:void(0)" class="wizard-step {% if 'selectTemplate' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 1</span>
                    <span class="label">Select template</span>
                </a>
            </li>
            <li>
                <a id="realignTemplate" href="javascript:void(0)" class="wizard-step {% if 'realignTemplate' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 2</span>
                    <span class="label">Realign page</span>
                </a>
            </li>
            <li>
                <a id="fillBasicData" href="javascript:void(0)" class="wizard-step {% if 'fillBasicData' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 3</span>
                    <span class="label">Fill basic data</span>
                </a>
            </li>
            <li>
                <a id="createOrder" href="javascript:void(0)" class="wizard-step {% if 'createOrder' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 4</span>
                    <span class="label">Generate order</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.wizard-step').click(function() {
                if (jQuery(this).hasClass('selected')) {

                    var stepId = jQuery(this).attr('id');
                    if (stepId == 'selectTemplate') {
                        window.location = "{{ links.scanFile.selectTemplate }}?id={{ appRequestId }}";
                    }
                    else if (stepId == 'realignTemplate') {
                        window.location = "{{ links.scanFile.realignTemplate }}?id={{ appRequestId }}";
                    }
                    else if (stepId == 'fillBasicData') {
                        window.location = "{{ links.scanFile.fillBasicData }}?id={{ appRequestId }}";
                    }
                    else if (stepId == 'createOrder') {
                        window.location = "{{ links.scanFile.generateOrder }}?id={{ appRequestId }}";
                    }
                }   
                return false;
            });
        });
    </script>
