{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentNormal %}
                {{ form_row(form['view'].idScanFormTemplate) }}

                {# SCAN FORM FILE #}
                <br/><h2>GENERATE ORDER</h2><br/>
                {% include 'LeepAdminBundle:ScanFile:header.html.twig' with {'scanFile': scanFile} %}

                {# SCAN FORM TEMPLATE #}
                <br/>
                {% include 'LeepAdminBundle:ScanFile:create_wizard.html.twig' with {'steps': ['selectTemplate']} %}
                <br/>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                        <thead>
                            <tr style="height: 45px">
                                <th class="head1" style="width: 5%">&nbsp;</th>
                                <th class="head1" style="width: 15%">Template</th>
                                <th class="head1" style="width: 40%">Expected Images</th>
                                <th class="head1" style="width: 40%">Actual Images</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for id, template in templates %}
                                <tr>
                                    <td>
                                        <input type="radio" name="idTemplate" value='{{ id }}'/>
                                    </td>
                                    <td>
                                        {{ template['name'] }}
                                    </td>
                                    <td>
                                        {% for image in template['expectedTokens'] %}
                                            <img style="max-height: 150px; max-width: 100%" src="{{ image }}"/><br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for image in template['actualTokens'] %}
                                            <img style="max-height: 150px; max-width: 100%" src="{{ image }}"/><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <input type="radio" name="idTemplate" value="-1"/>
                                </td>
                                <td>
                                    None of the above
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        jQuery(".stdform>tbody").selectable({
                            filter: 'tr'
                        });

                        jQuery(".stdform>tbody tr").click(function() {
                            var radioInput = jQuery(this).find('input[type="radio"]');
                            radioInput.prop('checked', true);
                            jQuery('#{{ form['view'].idScanFormTemplate.vars.id }}').val(radioInput.val());
                        });
                    });
                </script>
                <style>
                    .stdtable tbody tr:hover td, .stdtable tbody tr.selected td { background: transparent; }

                    .ui-selectable>.ui-selected {
                        background-color: #ccc;
                    }
                </style>
            {% endblock %}
        {% endembed %}
{% endblock %}