{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ form_row(form['view'].idScanFormTemplate) }}

            <br/><h2>GENERATE ORDER</h2><br/>
            {% include 'LeepAdminBundle:ScanFile:header.html.twig' with {'scanFile': scanFile} %}


            <br/>
            {% include 'LeepAdminBundle:ScanFile:create_wizard.html.twig' with {'steps': ['selectTemplate', 'realignTemplate', 'fillBasicData']} %}
            <br/>

            <div>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                    <thead>
                        <tr style="height: 45px">
                            <th class="head1" style="width: 15%">Token</th>
                            <th class="head1" style="width: 55%">Image</th>
                            <th class="head1" style="width: 30%">Input</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for token in tokens %}
                            {% if form['view'].offsetExists(token['id']) %}
                                <tr>
                                    <td><b style="color: blue; font-size: 20px">{{ token['id'] }}</b></td>
                                    <td>
                                        <a target="_blank" tabindex="-1" href="{{ token['imageUrl'] | raw }}">
                                            <img style="max-height: 140px; max-width: 100%" src="{{ token['imageUrl'] | raw }}" />
                                        </a>
                                        <br/><i style="color: red">{{ token['params']['Notes'] | default('')}}</i>
                                    </td>
                                    <td>{{ form_widget(form['view'].getChild(token['id'])) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function() {

                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}