{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ form_row(form['view'].idScanFormTemplate) }}

            <br/><h2>GENERATE ORDER</h2><br/>
            {% include 'LeepAdminBundle:ScanFile:header.html.twig' with {'scanFile': scanFile} %}


            <br/>
            {% include 'LeepAdminBundle:ScanFile:create_wizard.html.twig' with {'steps': ['selectTemplate', 'realignTemplate', 'fillBasicData', 'createOrder']} %}
            <br/>

            <div>
                <div class="one_third">
                    <h4>Raw Data</h4>
                    <textarea id="inputData" rows="18" cols="70">{{ rawData }}</textarea>
                </div>
                <div class="one_third">
                    <b>Formula: </b><text>{{ formulaTemplate.name | default('---')}}</text><br/>
                    <button class="radius2" id="testButton" onclick="return executeFormula()">&nbsp;&nbsp;Generate order&nbsp;&nbsp;</button>
                    
                    <br/><br/>
                    <textarea id="message" rows="14" cols="70"></textarea>
                </div>
                <div class="one_third last">
                    <h4>Preview</h4>
                    <div id="preview">
                        <a target="_blank" id="previewLink" href="#" style="display: none">View order</a>
                    </div>
                </div>
            </div>
            <br clear="all" />


            <script type="text/javascript">
                function executeFormula() {
                    var idScanFile = '{{ scanFile['id'] }}';
                    var inputData = jQuery('#inputData').val();

                    var targetUrl = '{{ links.scanFile.formulaGenerateOrder | raw }}';
                    var curHtml = jQuery('#testButton').html();
                    jQuery('#testButton').html('Generating...');

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { id: idScanFile, inputData: inputData },
                        context: document.body
                    }).done(function(data) {
                        jQuery('#testButton').html(curHtml);

                        var d = JSON.parse(data);                    
                        jQuery('#message').val(d['message']);
                        if (d['isError'] === false) {
                            jQuery('#previewLink').css('display', 'block');
                            jQuery('#previewLink').attr('href', "{{ links.customer.editOrder }}?id=" + d['idOrder']);
                        }
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#testButton').html(curHtml);
                        jQuery('#message').val(textStatus + " " + errorThrown);
                    });

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
