<p></p>
<p id="field_row_form_scanFormFileDownload">
    <label>Scan File</label>
    <span class="field">                        
        <a target="_blank" href='{{ scanFile['downloadPdfUrl'] }}'>{{ scanFile['name'] }}</a>
    </span>
</p>
<p id="field_row_form_scanFormFileDownload">
    <label>Actions</label>
    <span class="field">      
        {% if (isWarning is defined) and (isWarning) %}
            <a onclick="return backToList()" href="{{ links.scanFile.list }}">Back to list</a>
        {% else %}
            <a href="{{ links.scanFile.list }}">Back to list</a>
        {% endif %}   
         &nbsp;&nbsp;|&nbsp;&nbsp;
        <a onclick="return markAsError()" href="javascript:void(0)">Mark as error</a>
         &nbsp;&nbsp;|&nbsp;&nbsp;
        <a onclick="return markAsClosed()" href="javascript:void(0)">Mark as closed</a>
    </span>
</p>

<script type="text/javascript">
    function backToList() {
        swal(
            {   
                title: 'Attention!',   
                text: 'This file hasn\'t been closed yet, remember to click "Close & Move Next" first!',   
                type: 'warning',   
                showCancelButton: true,   
                confirmButtonColor: '#DD6B55',   
                confirmButtonText: 'No, I want to go back to the list',   
                cancelButtonText: 'Yes, I forgot',   
                closeOnConfirm: true,   closeOnCancel: true 
            }, 
            function(isConfirm){   
                if (isConfirm) {     
                    location.href='{{ links.scanFile.list }}';   
                } else {     
                    return false;   
                } 
            }
        );
        return false;
    }

    function markAsError() {
        swal(
            {   
                title: 'Attention!',   
                text: 'Do you really want to mark this as error?',   
                type: 'warning',   
                showCancelButton: true,   
                confirmButtonColor: '#DD6B55',   
                confirmButtonText: 'Yes!',   
                cancelButtonText: 'No, cancel pls!',   
                closeOnConfirm: true,   closeOnCancel: true 
            }, 
            function(isConfirm){   
                if (isConfirm) {     
                    location.href='{{ links.scanFile.markError }}?id={{ appRequestId }}';   
                } else {     
                    return false;   
                } 
            }
        );
        return false;
    }

    function markAsClosed() {
        swal(
            {   
                title: 'Attention!',   
                text: 'Do you really want to close this?',   
                type: 'warning',   
                showCancelButton: true,   
                confirmButtonColor: '#DD6B55',   
                confirmButtonText: 'Yes!',   
                cancelButtonText: 'No, cancel pls!',   
                closeOnConfirm: true,   closeOnCancel: true 
            }, 
            function(isConfirm){   
                if (isConfirm) {     
                    location.href='{{ links.scanFile.markError }}?id={{ appRequestId }}&isClosed=1';   
                } else {     
                    return false;   
                } 
            }
        );
        return false;
    }
</script>