{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 10%">Status</th>
                    <th class="head1" style="width: 10%">Total</th>
                    <th class="head1" style="width: 10%">Action</th>        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pending for creating order</td>
                    <td>{{ stats['numPendingForCreation'] }}</td>
                    <td>{% if stats['numPendingForCreation'] > 0 %}<a href="{{ links['scanFile']['processPendingForCreation'] }}">Process</a>{% endif %}</td>
                </tr>
                <tr>
                    <td>Pending for updating order</td>
                    <td>{{ stats['numPendingForUpdation'] }}</td>
                    <td>{% if stats['numPendingForUpdation'] > 0 %}<a href="{{ links['scanFile']['processPendingForUpdation'] }}">Process</a>{% endif %}</td>
                </tr>
                <tr>
                    <td>Error</td>
                    <td>{{ stats['numError'] }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Closed</td>
                    <td>{{ stats['numClosed'] }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br/>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
    {% endembed %}
{% endblock %}