{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    <p id="field_row_form_scanFormFileDownload">
        All files has been processed, <a href="{{ links.scanFile.list }}">back to the list</a>
    </p>
{% endblock %}