{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ form_row(form['view'].idScanFormTemplate) }}

            <br/><h2>GENERATE ORDER</h2><br/>
            {% include 'LeepAdminBundle:ScanFile:header.html.twig' with {'scanFile': scanFile} %}

            <br/>
            {% include 'LeepAdminBundle:ScanFile:create_wizard.html.twig' with {'steps': ['selectTemplate', 'realignTemplate']} %}
            <br/>
            <div class="mainwrapperinner"> 
                {% for i in 1..numPages %}
                    <div style="padding-top: 20px" class="stdform stdform2 one_half {% if i % 2 == 0 %}last{% endif %}">
                        X: {{ form_widget(form['view'].getChild('alignX_' ~ i))}}
                        Y: {{ form_widget(form['view'].getChild('alignY_' ~ i))}}
                        <a href="javascript:preview({{ i }})">View</a>
                        <iframe id="previewPanel_{{ i }}" width="100%" height="400px" style="margin-top: 10px">
                        </iframe>
                    </div>
                {% endfor %}

                <br clear="all" /><br />
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    {% for i in 1..numPages %}
                        preview({{ i }});
                    {% endfor %}
                });

                function preview(pageNumber) {
                    var x = jQuery('#form_alignX_' + pageNumber).val();
                    var y = jQuery('#form_alignY_' + pageNumber).val();
                    var url = '{{ viewScanFileUrl }}?id={{ scanFile['id'] }}&pageNumber=' + pageNumber + '&x=' + x + '&y=' + y;

                    var p = document.getElementById("previewPanel_" + pageNumber);
                    p.src = url;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}