{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ form_row(form['view'].idScanFormTemplate) }}

            <br/><h2>UPDATE ORDER</h2><br/>
            {% include 'LeepAdminBundle:ScanFile:header.html.twig' with {'scanFile': scanFile, 'isWarning': true} %}

            <br/>
            {% include 'LeepAdminBundle:ScanFile:update_wizard.html.twig' with {'steps': ['fillAllData', 'updateOrder']} %}
            <br/>

            <div>
                <div class="one_third">
                    <h4>Raw Data</h4>
                    <textarea id="inputData" rows="18" cols="70">{{ rawData }}</textarea>
                </div>
                <div class="one_third">
                    <b>Formula: </b><text>{{ formulaTemplate.name | default('---')}}</text><br/>
                    <button class="radius2" id="testButton" onclick="return executeFormula()">&nbsp;&nbsp;Update order&nbsp;&nbsp;</button>
                    
                    <br/><br/>
                    <textarea id="message" rows="14" cols="70"></textarea>
                </div>
                <div class="one_third last">
                    <h4>Preview</h4>
                    <div id="preview">
                        <a target="_blank" id="previewLink" href="{{ viewOrderUrl | raw }}">View order</a>
                        <br/>
                        <b id="msg"></b>
                    </div>
                </div>
            </div>
            <br clear="all" />


            <script type="text/javascript">
                function executeFormula() {
                    var idScanFile = '{{ scanFile['id'] }}';
                    var inputData = jQuery('#inputData').val();

                    var targetUrl = '{{ links.scanFile.formulaUpdateOrder | raw }}';
                    var curHtml = jQuery('#testButton').html();
                    jQuery('#testButton').html('Updating...');

                    jQuery('#msg').html('');
                    
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { id: idScanFile, inputData: inputData },
                        context: document.body
                    }).done(function(data) {
                        jQuery('#testButton').html(curHtml);

                        var d = JSON.parse(data);                    
                        jQuery('#message').val(d['message']);

                        if (d['isError']) {
                            jQuery('#msg').html('FAILED');
                            jQuery('#msg').css('color', '#990000');
                        }
                        else {
                            jQuery('#msg').html('SUCCESS');
                            jQuery('#msg').css('color', '#006600');
                        }
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#testButton').html(curHtml);
                        jQuery('#message').val(textStatus + " " + errorThrown);

                        jQuery('#msg').html('FAILED');
                        jQuery('#msg').css('color', '#990000');
                    });

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
