    <div class="wizard">
        <ul class="tabbedmenu anchor">
            <li>
                <a id="fillAllData" href="javascript:void(0)" class="wizard-step {% if 'fillAllData' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 1</span>
                    <span class="label">Fill all data</span>
                </a>
            </li>
            <li>
                <a id="updateOrder" href="javascript:void(0)" class="wizard-step {% if 'updateOrder' in steps %}selected{% else %}disabled{% endif%}">
                    <span class="h2">STEP 2</span>
                    <span class="label">Update order</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.wizard-step').click(function() {
                if (jQuery(this).hasClass('selected')) {

                    var stepId = jQuery(this).attr('id');
                    if (stepId == 'fillAllData') {
                        window.location = "{{ links.scanFile.fillAllData }}?id={{ appRequestId }}";
                    }
                    else if (stepId == 'updateOrder') {
                        window.location = "{{ links.scanFile.updateOrder }}?id={{ appRequestId }}";
                    }
                }   
                return false;
            });
        });
    </script>