{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Selected Outgoing Email</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Creation Datetime</th>
                    <th class="head1" style="width: 15%">Queue</th>
                    <th class="head1" style="width: 20%">Email Method</th>
                    <th class="head1" style="width: 35%">Info</th>
                    <th class="head1" style="width: 10%">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emailList %}
                    <tr>
                        <td>{{ email['timestamp'] }}</td>
                        <td>{{ email['queue'] }}</td>
                        <td>{{ email['emailMethod'] }}</td>
                        <td>
                            {{ email['title'] }}
                            </br>
                            {{ email['recipients'] }}
                            {% if email['showWarning'] %}
                            <div class='warning' style='color:red; font-weight:bold'>
                                Warning: This email has been sent. Are you sure you want to re-sent it?
                            </div>
                            {% endif %}
                        </td>
                        <td>{{ email['status'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>

        <h2>Bulk process</h2>
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentHidden %}
                {{ parent() }}
                <input type="hidden" name="selected" value="{{ selectedEmailList }}" />
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}