{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return bulkSendProcess()">&nbsp;&nbsp;Bulk-send&nbsp;&nbsp;</button>
                        </div>

                         <script type="text/javascript">
                            function bulkSendProcess() {
                                var selectedId = '';
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });

                                var targetUrl = '{{ links['emailOutgoing']['bulkProcess'] }}?selected=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
