{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Email Logging History</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Logging time</th>
                    <th class="head1" style="width: 80%">Log Message</th>
                </tr>
            </thead>
            <tbody>
                {% for log in data['logs'] %}
                    <tr>
                        <td>{{ log['timestamp'] }}</td>
                        <td>{{ log['message'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}