<html>
<head>
    <style>
        body {
            font-family: sanuk;
            font-style: Regular;
            font-size: 9pt;
        }

        .debug {
            /*border: 1px solid;*/
        }
        #page {
            width: 1000px;
            height: 1550px;
            margin: 0px auto 0px auto;            
        }
        #banner {
            width: 100%;
            height: 160px;
        }
        #bannerImage {
            width: 300px;
            height: 160px;            
            margin-left: 690px;
        }
        #header {
            margin-left: -40px;
        }
        #contact {
            width: 1000px;
            height: 270px;
            margin:0 auto;
        }
        #contact_table {
            border-collapse:collapse;      
            width: 1000px;      
        }
        .order_table {
            border-collapse: collapse;
            width: 1000px;
        }
        #contact_table td {

        }
        #bank_section {
            background-color: #F2F2F2;
        }
        .normal {
            padding: 0px 0px 0px 0px;
        }
        .green {
            color: #E2E41A;
        }
        .green2 {
            color: #D2C321;
        }
        .white {
            color: white;
        }
        .purple {
            color: #5D0046;
        }
        .background_gray {
            background-color: #F2F2F2;
        }
        .background_purple {
            background-color: #5D0046;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div id="page" class="debug">
        <div id="banner" class="debug">
            <div id="bannerImage">
                <img width="300" src="{{ logoImagePath }}" />
            </div>
        </div>

        <div id="header" class="debug">
            <b class="green">Gentests zur Gesundheitsvorsorge</b>
        </div>

        <div class="background_purple" style="height: 5px; width: 100%; margin-left: -40px">
        </div>


        <div id="contact" class="debug">
            <table class="debug" id="contact_table">
                <tr class="debug" style="height: 15px">
                    <td class="debug" style="width: 600px"><b class="purple">{{ clientR1 }}</b></td>
                    <td class="debug green" style="width: 100px">&nbsp;</td>
                    <td class="debug background_purple white" style="width: 294px">&nbsp;&nbsp;{{ companyName }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug"><b class="purple">{{ clientR2 }}</b></td>
                    <td class="debug green"><b>Adresse</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyStreet }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientR3 }}</td>
                    <td class="debug green"></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyPostCode }}&nbsp;{{ companyCity }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientR4 }}</td>
                    <td class="debug green"><b>Email</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyEmail }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug"></td>
                    <td class="debug green"><b>Office</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyTelephone }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug"></td>
                    <td class="debug green"><b>Web</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyWebSite }}</td>
                </tr>
            </table>
        </div>

        <div style="height: 50px">
            <table style="width: 100%; height: 30px">
                <tr style="height: 15px">
                    <td style="width: 250px">Your UID: {{ yourUid }}</td>
                    <td style="width: 250px">Purchase order: {{ purchaseOrder }}</td>
                    <td style="width: 250px">Supplier number: {{ supplierNumber }}</td>                    
                </tr>
                <tr style="height: 15px">
                    <td style="width: 250px">Invoice date: {{ invoiceDate }}</td>
                    <td style="width: 250px"></td>
                    <td style="width: 250px"></td>                    
                </tr>
            </table>
        </div>
        <div style="margin-top:15px;margin-bottom: 10px"><b class="purple">&nbsp;Rechnung / Invoice Nr. {{ invoiceNumber }}</b></div>
        <div>Wir danken Ihnen für Ihr Vertrauen und erlauben uns hiermit, Ihnen folgende Leistungen zu verrechnen:</div>
        <div>We thank you for this cooperation and business and would like to invoice the following:</div>
        <div style="height: 15px"></div>
        <table class="order_table">
            <tr>
                <td width="250px"><b class="purple">Bodykey ID</b></td>
                <td width="250px"><b class="purple">Datum/date</b></td>
                <td width="250px"><b class="purple">Produkte/products</b></td>
                <td width="250px" style="text-align: right" ><b class="purple">Summe</b></td>                
            </tr>
            <tr style="height: 5px"> 
                <td class="background_purple" colspan="4"></td>     
            </tr>
            {% set count = 0 %}
            {% for r in order %}                
                {% if count % 20 == 0 %}
                    </table>
                    <table class="order_table">
                {% endif %}
                {% set count = count + 1 %}
                <tr>
                    <td width="250px">{{ r['sampleId'] }}</td>
                    <td width="250px">{{ r['date'] }}</td>
                    <td width="250px">{{ r['product'] }}</td>
                    <td style="text-align: right">{{ r['price'] }}</td>
                </tr>
            {% endfor %}
            
            <tr style="height: 5px"> 
                <td class="background_purple" colspan="4"></td>     
            </tr>

            <tr>
                <td colspan="3">Versandkostenpauschale / Postage</td>
                <td style="text-align: right">{{ postage }}</td>
            </tr>
            <tr>
                <td colspan="3">Zwischensumme / subtotal</td>
                <td style="text-align: right">{{ subtotal }}</td>
            </tr>
            <tr style="height: 5px"> 
                <td class="background_purple" colspan="4"></td>     
            </tr>            
            {% if mwaInvoice.isWithTax %}
                <tr>
                    <td colspan="3" class="purple"><b>Summe (ohne Ust.)</b></td>
                    <td style="text-align: right">{{ total }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="purple"><b>Summe (inkl. {{ mwaInvoice.taxValue }}% Ust. In der Höhe von: {{ taxAmount }})</b></td>
                    <td style="text-align: right">{{ totalWithTax }}</td>
                </tr>                
            {% else %}
                <tr>
                    <td colspan="3" class="purple"><b>Summe</b></td>
                    <td style="text-align: right">{{ total }}</td>
                </tr>                
            {% endif %}            


            {% if currency is defined %}
                <tr>
                    <td colspan="3" class="purple"><b>Currency convert (Rate: 1 EUR = {{ exchangeRate }} {{ currency.name }})</b></td>
                    <td style="text-align: right">{{ totalConverted }}</td>
                </tr> 
            {% endif %}


            {% if mwaInvoice.isWithTax %}
                <tr style="height: 5px"> 
                    <td class="background_purple" colspan="4"></td>     
                </tr>
            {% else %}
                <tr style="height: 5px"> 
                    <td class="background_purple" colspan="4"></td>     
                </tr>
                <tr>
                    <td colspan="4" class="purple"><b>Dieser Betrag enthält keine Umsatzsteuer (Reverse Charge System)</b></td>
                </tr>
                <tr>
                    <td colspan="4" class="purple"><b>This amount is exempt any tax (Reverse Charge System)</b></td>
                </tr>
            {% endif %}
        </table>

        {% if mwaInvoice.isShowSummarySentence %}
            <div style="height: 20px"></div>
            Note: These services have been paid for in advance and a total of {{ numSample }} analyses were deducted from your credit.
        {% endif %}        

        <div style="height: 20px"></div>
        {% if textAfterDescription is not empty %}
            {{ textAfterDescription | raw }}
            <div style="height: 20px"></div>
        {% endif %}

        <table width="1000px">
            <tr>
                <td style="width: 520px">
                    <div>
                        <div><b>Vielen Dank, dass Sie sich für uns entschieden haben!</b></div>
                        <div><b>We thank you for your business!</b></div>
                        <div style="margin-top: 10px" class="purple">
                            <b style="font-size: 11pt">Ihr {{ companyName }} Team</b>
                        </div>
                        <div style="height: 50px"></div>
                        <div class="background_gray" style="padding: 5px">
                            <div><b class="purple">Kreditkarte / Credit Card</b></div>
                            <div><b style="font-size: 7pt">Bezahlen Sie per Faxformular für Kreditkartenzahlungen oder im Internet unter: www.novogenia.com/rechnung</b></div>
                            <br/>
                            <div><b style="font-size: 7pt">Either use the fax form for credit card payments or use our web-portal at: www.novogenia.com/invoice</b></div>
                        </div>

                        <div style="height: 10px"></div>
                        <div class="background_gray" style="padding: 5px">
                            <div><b class="purple">PayPal</b></div>
                            <div><b style="font-size: 7pt">paypal@novogenia.com</b></div>                            
                        </div>
                    </div>    
                </td>
                <td style="width: 5px">&nbsp;</td>
                <td style="width: 450px">
                    <div id="bank_section">
                        <div class="purple"><b  style="margin-left: 20px; margin-top: 15px">Überweisung / Bank Transfer</b></div>
                        <table>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Bank:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.bank }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Kontonummer:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.bankAccount }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">BLZ:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.bankCode }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">BIC:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.bic }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">IBAN:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.iban }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Handelsregister:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.tradeRegister}}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Gerichtsstand:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.jurisdiction }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">UID-Nummer:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.UIDNumber}}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Steuernummer:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.taxNumber }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Rechtsform:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.legalForm }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Geschäftsführer:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ company.manager }}</b></td>
                            </tr>
                            <tr>
                                <td width="150px" style="text-align: right;font-size: 8pt"><b class="green2">Verwendungszweck:</b></td>
                                <td width="20px">&nbsp;</td>
                                <td width="280px" style="text-align: left;font-size: 8pt"><b class="purple">{{ invoiceNumber }}</b></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div style="height: 10px"></div>
        <div class="background_gray" width="1000px" style="padding: 5px">
            <b style="font-size: 7pt">Bitte führen Sie unabhängig von der Zahlungsmethode die Rechnungsnummer an. Wir danken für Ihren Auftrag und ersuchen Sie um Ausgleich der Rechnung innerhalb von 14 Tagen.</b><br/>
            <b style="font-size: 7pt">Please state the invoice number with any chosen method of settlement. We highly appreciate your business and kindly ask you for settlement within 14 days.</b>
        </div>
        
        <div style="height: 10px"></div>
        <div class="background_gray" width="1000px" style="padding: 5px">
            <b style="font-size: 7pt">Wenn Sie bereits bezahlt haben, sehen Sie diese Rechnung bitte als gegenstandslos</b><br/>
            <b style="font-size: 7pt">Should you have already settled the invoice, please disregard this document.</b>
        </div>

        {% if textFooter is not empty %}
            <div style="height: 10px"></div>
            <div class="background_gray" width="1000px" style="padding: 5px">
                <b style="font-size: 7pt">{{ textFooter | raw }}</b>
            </div>
        {% endif %}
    </div>
</body>
</html>
