{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block buttons %}
            <a class="back-btn" href="/genlife_sample_registration/grid/list">&nbsp;&nbsp;Back&nbsp;&nbsp;</a>
            <style>
                .back-btn {
                    border: 1px solid #333;
                    background: #333;
                    color: #fff;
                    cursor: pointer;
                    padding: 7px 10px;
                    font-weight: bold;
                }
                .back-btn:hover {
                    background-color: #283038;
                }
                .back-btn:hover {
                    background: #111;
                    border: 1px solid #000;
                    color: #fff;
                }
                
            </style>
        {% endblock %}
    {% endembed %}
{% endblock %}
