{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="contenttitle radiusbottom0">
        <h2 class="table"><span>Filter&nbsp;</span></h2>
    </div>
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
    {% endembed %}

    <br/>
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': gridTask, 'sDom': 'rt'} %}
        {% block gridDrawCallback %}            
            jQuery('#{{ grid['id'] }} tr').each(function() {
                var colorCode = jQuery(this).find('.task_color').attr('color-code');
                if (colorCode != 'undefined') {
                    jQuery(this).css('background-color', colorCode);
                }
            });

            funcDynamicTableReload_GridGoal();     
            funcDynamicTableReload_GridContinualImprovement();            
        {% endblock %}    
    {% endembed %}

    <br/>
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': gridContinualImprovement, 'sDom': 'rt'} %}
    {% endembed %}

    <br/>
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': gridGoal, 'sDom': 'rt'} %}
    {% endembed %}
    
    <script type="text/javascript">
        function callTaskAjax(targetUrl) {
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                funcDynamicTableReload_GridTask();
                funcDynamicTableReload_GridGoal();                
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert(textStatus + " " + errorThrown);
            });
        }
    </script>
{% endblock %}