{% block app_invoice_tax_widget %}
    {{ form_widget(form.isTax) }} &nbsp; 
    <span id="{{ form.isTax.vars.id }}_percentage_box">
        {{ form_widget(form.taxPercentage) }}
    </span>

    <script type="text/javascript">        
        function onChangeIsTax(isTaxElement) {
            var isTaxSelected = jQuery(isTaxElement).is(':checked');
            if (isTaxSelected) {
                jQuery(isTaxElement + "_percentage_box").css('display', 'inline-block');
            }
            else {
                jQuery(isTaxElement + "_percentage_box").css('display', 'none');                
            }
        }
        jQuery('#{{ form.isTax.vars.id }}').change(function() {
            onChangeIsTax('#{{ form.isTax.vars.id }}');
        });

        jQuery(document).ready(function() {
           onChangeIsTax('#{{ form.isTax.vars.id }}'); 
        });        
    </script>
{% endblock %}