{% block app_distribution_channel_customers_picker_row %}
    {{ form_row(form.idDistributionChannel) }}
    {{ form_row(form.customerDataSessionKey) }}
    
    <p>
        <label>Customers</label>
        <span class="field">
            <button class="radius2" id="addCustomersBtn">Add customers</button>
            <button class="radius2" id="removeCustomersBtn">Remove selected customers</button>
        </span>
    </p>

    {% embed 'LeepAdminBundle:Invoice:customers_viewer_grid.html.twig' with {'grid': customerGridViewer} %}        
        {% block gridDrawCallback %}
            jQuery('#{{ grid['id'] }} .invoiceCustomerGridField').change(function() {
                var targetUrl = '{{ updateCustomerDataUrl | raw }}';
                var idCustomer = jQuery(this).attr('idCustomer');
                var field = jQuery(this).attr('field');;
                var value = jQuery(this).val();

                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    data: { idCustomer: idCustomer, field: field, value: value },
                    context: document.body
                }).done(function(data) {
                    
                }).error(function(jqXHR, textStatus, errorThrown ) {
                    
                });
            });
            
            jQuery(".simpletip").tooltip({ 
                bodyHandler: function() {   
                    return jQuery(this).find('.hide-content').html();
                }, 
                left: -100, 
                top: 20,
                showURL: false 
            }); 
        {% endblock %}
    {% endembed %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#addCustomersBtn').click(function(e) {
                e.preventDefault();

                var idDistributionChannel = jQuery('#{{ form.idDistributionChannel.vars.id }}').val();
                if (idDistributionChannel == 0) {
                    alert("please select distribution channel first");
                    return false;
                }

                jQuery.colorbox({
                    iframe: true,
                    href:   "{{ customersPickerUrl | raw }}&idDistributionChannel=" + idDistributionChannel,
                    width:  "75%",
                    height: "75%",
                    onClosed: function() {
                        var customerTable = jQuery('#CustomerGridViewer');
                        var db = customerTable.dataTable();
                        db.fnDraw(false);
                    }
                });
            });

            jQuery('#removeCustomersBtn').click(function(e) {
                e.preventDefault();

                var checkboxes = jQuery('#{{ customerGridViewer['id'] }} .stdtableCheckBox');
                var selectedId = '';
                checkboxes.each(function(i, v) {
                    if (jQuery(this).is(':checked')) {
                        var id = jQuery(this).attr('id').substring(4);
                        selectedId += id + ',';
                    }
                });

                var targetUrl = '{{ removeCustomersUrl | raw }}';
                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    data: { selectedId: selectedId },
                    context: document.body
                }).done(function(data) {
                    var customerTable = jQuery('#CustomerGridViewer');
                    var db = customerTable.dataTable();
                    db.fnDraw(false);
                }).error(function(jqXHR, textStatus, errorThrown ) {
                    alert(textStatus + " " + errorThrown);
                });                 
            });

            var currentIdDistributionChannel = 0;
            jQuery('#{{ form.idDistributionChannel.vars.id }}')
            .focus(function() {
                currentIdDistributionChannel = jQuery(this).val();
            })
            .change(function() {
                var customerTable = jQuery('#CustomerGridViewer');
                var db = customerTable.dataTable();
                if (db.fnGetData().length > 0) {
                    if (!confirm("All current selected customers will be erased. Are you want to change distribution channel?")) {                        
                        jQuery(this).val(currentIdDistributionChannel);
                        return false;
                    }
                    
                    // Call AJAX
                    var targetUrl = '{{ removeCustomersUrl | raw }}';
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { isClearAll: true },
                        context: document.body
                    }).done(function(data) {
                        var customerTable = jQuery('#CustomerGridViewer');
                        var db = customerTable.dataTable();
                        db.fnDraw(false);
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        alert(textStatus + " " + errorThrown);
                    });
                }
            });
        });        
    </script>
{% endblock %}