{% block app_invoice_pdf_grid_row %}   
    <p>
        <label>Invoice files</label>
        <span class="field">            
            <button class="radius2" id="generateInvoiceBtn">Generate invoice</button>
            <text id="generateInvoiceGeneratingMsg" style="display: none">Generating..</text>
        </span>        
    </p>

    {% embed 'LeepAdminBundle:Invoice:customers_viewer_grid.html.twig' with {'grid': invoicePdfGrid} %}     
    {% endembed %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#generateInvoiceBtn').click(function(e) {
                e.preventDefault();

                var generateInvoiceBtn = jQuery('#generateInvoiceBtn');
                var generateInvoiceGeneratingMsg = jQuery('#generateInvoiceGeneratingMsg');

                generateInvoiceBtn.css('display', 'none');
                generateInvoiceGeneratingMsg.css('display', 'inline-block');

                var targetUrl = '{{ generateInvoiceUrl | raw }}';
                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    context: document.body
                }).done(function(data) {
                    generateInvoiceBtn.css('display', 'inline-block');
                    generateInvoiceGeneratingMsg.css('display', 'none');
                    
                    var invoicePdfGrid = jQuery('#InvoicePdfGrid');
                    var db = invoicePdfGrid.dataTable();
                    db.fnDraw(false);
                }).error(function(jqXHR, textStatus, errorThrown ) {
                    generateInvoiceBtn.css('display', 'inline-block');
                    generateInvoiceGeneratingMsg.css('display', 'none');
                });
            });
        });
    </script>
{% endblock %}
