<table id="{{ grid['id'] }}" cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <colgroup>
        <col class="con0" width="5%" />
        {% for item in grid['header'] %}
            <col class="{{ cycle(['con1', 'con0'], loop.index0) }}" {% if item['width'] is defined %}width="{{ item['width'] }}"{% endif %}/>
        {% endfor %}
    </colgroup>
    
    <thead>
        <tr>
            <th class="head1">
                <span class="checkbox">
                    <input type="checkbox" id="{{ grid['id'] }}_TopCheckBox" style="width: 100%"/>
                </span>
            </th>
            {% for item in grid['header'] %}
                <th class="{{ cycle(['head1', 'head1'], loop.index0) }}">
                    {{ item['title'] }}
                </th>                
            {% endfor %}                
        </tr>
    </thead>    
</table>

<script type="text/javascript">
    jQuery(document).ready(function() {
        function funcDynamicTableReload_{{ grid['id'] }}() {
            dynamicTables_{{ grid['id'] }}.fnDraw(false);
        }

        jQuery('#{{ grid['id'] }}_TopCheckBox').click(function(){        
            var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
            if (jQuery(this).is(':checked')) {
                jQuery(this).parents('span').addClass('checked');
                
                checkboxes.each(function(i, v) {
                    jQuery(this).attr('checked', true);
                    jQuery(this).parents('span').addClass('checked');
                    jQuery(this).parents('tr').addClass('selected');
                });
            }
            else {
                jQuery(this).parents('span').removeClass('checked');
                
                checkboxes.each(function(i, v) {
                    jQuery(this).attr('checked', false);
                    jQuery(this).parents('span').removeClass('checked');
                    jQuery(this).parents('tr').removeClass('selected');
                });
            }
        });
    
        var dynamicTables_{{ grid['id'] }} = jQuery('#{{ grid['id'] }}').dataTable({
            "sDom": 'tr',
            "aoColumns": [
                { "sWidth": "5%", "bSortable": false}
                {% for item in grid['header'] %}
                    ,{"sWidth": "{{ item['width'] }}", "bSortable": {{ item['sortable'] }}}
                {% endfor %}
            ],
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{ grid['ajaxSource'] | raw }}",
            "sScrollY":    "500px",
            "bPaginate": false,
            "bScrollCollapse": true,
            "fnDrawCallback": function( oSettings ) {  
                jQuery('#{{ grid['id'] }} .stdtableCheckBox').each(function(i, v){
                    jQuery(this).parents('td').addClass('center');
                });
                
                jQuery('#{{ grid['id'] }} .stdtableCheckBox').click(function(){
                    if(jQuery(this).is(':checked')) {
                        jQuery(this).parents('span').addClass('checked');
                        jQuery(this).parents('tr').addClass('selected');
                    } else {
                        jQuery(this).parents('span').removeClass('checked');
                        jQuery(this).parents('tr').removeClass('selected'); 
                    }
                });
                
                var topCheckBox = jQuery('#{{ grid['id'] }}_TopCheckBox');
                topCheckBox.parents('span').removeClass('checked');
                topCheckBox.attr('checked', false);
                              
                {% block gridDrawCallback %}

                {% endblock %}
            },
            "fnServerParams" : function ( aoData ) {                
            },
            "oLanguage": {
                "sInfo": "Showing all entries",
                "sInfoFiltered": ""
            }
        });
        {% block extraScriptOnReady %}
        {% endblock %}
    });
</script>