{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}        
        {% block filterForm %}    
            {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
                {% block buttons %}
                    {{ parent() }}       

                    <div style="float: right">
                        <button class="radius2" onclick="return selectCustomers()">Select customers</button>   
                    </div>

                    <script type="text/javascript">
                        function selectCustomers() {
                            var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                            var selectedId = '';
                            checkboxes.each(function(i, v) {
                                if (jQuery(this).is(':checked')) {
                                    var id = jQuery(this).attr('id').substring(4);
                                    selectedId += id + ',';
                                }
                            });

                            document.location = '{{ selectCustomersUrl | raw }}&selectedId=' + selectedId;
                            return false;
                        }             
                    </script>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
