{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <b style="color: green">Your response has been recorded. Thank for your time!</b>
    </div>
{% endblock %}