{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        {{ welcomeMessage | raw }}
        <br/><br/>

        All information is provided voluntarily. / Alle Angaben sind freiwillig.
        <br/><br/>
        <form id="MainForm" method="post" class="stdform stdform2" action="{{ actionUrl }}">
            {% if canEditUser %}
                <p>
                    <span class="field" style="margin-left: -1px">
                        Employee name: <select id='edit_user_id' name='selectedUserId'>
                        {% for id, name in userList %}
                            <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                        </select>
                    </span>
                </p>
            {% endif %}
            {% for question in questions %}
                <p>
                    <span class="field" style="margin-left: -1px">
                        {{ question['question'] }}<br/>
                        {% if question['type'] == 1 %} <!-- TEXT -->
                            <textarea name="q_{{ question['id'] }}" rows="3" cols="150"></textarea><br/>
                        {% elseif question['type'] == 2 %} <!-- SINGLE CHOICE -->
                            {% for id, choice in question['choices'] %}
                                &nbsp;&nbsp;<input type="radio" name="q_{{ question['id'] }}" value="{{ id }}">&nbsp;&nbsp;{{ choice }}<br>
                            {% endfor %}
                        {% elseif question['type'] == 3 %} <!-- MULTIPLE CHOICE -->
                            {% for id, choice in question['choices'] %}
                                &nbsp;&nbsp;<input type="checkbox" name="q_{{ question['id'] }}[]" value="{{ id }}">&nbsp;&nbsp;{{ choice }}<br>
                            {% endfor %}
                        {% endif %}
                    </span>
                </p>
            {% endfor %}

            <p class="stdformbutton">
                <button class="submit radius2">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
            </p>
        </form>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#edit_user_id option:first-child').attr("selected", "selected");
        });
    </script>

{% endblock %}