{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <b style="color: green">Statistics has been updated!</b>
    </div>
{% endblock %}