{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h2>Employee Feedback summary</h2>
        <br/><br/>
        {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
        {% endembed %}

        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head1" style="width: 25%"></th>
                    <th class="head1" style="width: 25%" colspan=2>Overall</th>
                    <th class="head1" style="width: 25%" colspan=2>Period 1</th>
                    <th class="head1" style="width: 25%" colspan=2>Period 2</th>
                </tr>
            </thead>
            <tbody>
                {% for d in summary %}
                    <tr>    
                        <td colspan="7" style="font-weight: bold">{{ d['question'] }}</td>
                    </tr>
                    {% for k, v in d['choices'] %}
                        <tr>
                            <td style="text-align: right">{{ v }}</td>
                            <td style="text-align: right; width: 20%">{{ d['overallStats'][k]['total'] }}</td>
                            <td style="text-align: right; width: 5%">{{ d['overallStats'][k]['percentage'] }}%</td>
                            <td style="text-align: right; width: 20%">{% if d['period1'] %}{{ d['period1Stats'][k]['total'] }}{% endif %}</td>
                            <td style="text-align: right; width: 5%">{% if d['period1'] %}{{ d['period1Stats'][k]['percentage'] }}%{% endif %}</td>
                            <td style="text-align: right; width: 20%">{% if d['period2'] %}{{ d['period2Stats'][k]['total'] }}{% endif %}</td>
                            <td style="text-align: right; width: 5%">{% if d['period2'] %}{{ d['period2Stats'][k]['percentage'] }}%{% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: right"><i>Average score</i></td>
                        <td style="text-align: right" colspan=2><i>{{ d['overallAverageValue'] }}</i></td>
                        <td style="text-align: right" colspan=2><i>{% if d['period1'] %}{{ d['period1AverageValue'] }}{% endif %}</i></td>
                        <td style="text-align: right" colspan=2><i>{% if d['period2'] %}{{ d['period2AverageValue'] }}{% endif %}</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}