{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Selected invoices</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 10%">Date</th>
                    <th class="head1" style="width: 20%">Type</th>
                    <th class="head1" style="width: 20%">Name</th>
                    <th class="head1" style="width: 20%">Number</th>                
                    <th class="head1" style="width: 10%">Amount</th>
                    <th class="head1" style="width: 20%">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice['date'] }}</td>
                        <td>{{ invoice['type'] }}</td>
                        <td>{{ invoice['name'] }}</td>
                        <td>{{ invoice['number'] }}</td>
                        <td>{{ invoice['amount'] }}</td>
                        <td>({{ invoice['age'] }}d) {{ invoice['status'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>

        <h2>Update status</h2>
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentHidden %}   
                {{ parent() }}
                <input type="hidden" name="selected" value="{{ selectedInvoices }}" />
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}