{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="tabbed"><span>Invoice statistic</span></h2></div>
        <div class="widgetcontent">               
            {% for statusId in statusList %} 
                <div class="analytics analytics2" style="width: 15%; display: inline-block">
                    <small>{{ statusId }}</small>
                    <h1>{{ statistic[statusId]['totalInvoice']}}</h1>
                    <small>&euro;{{ statistic[statusId]['totalAmount']}}</small>
                </div>
            {% endfor %}
        </div>
    </div>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );
        {% endblock %}
                
        {% block gridDrawCallback %}
            jQuery('#{{ grid['id'] }}').find('.button-activity').click(function() {
                setTimeout(function(){
                    dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );
                }, 4000);
            })
        {% endblock %}

        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return invoiceStatusBulkEdit()">&nbsp;&nbsp;Bulk-edit&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function invoiceStatusBulkEdit() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).parent().parent().parent().find('.hiddenId').val();
                                        selectedId += id + ',';
                                    }
                                });
                                var targetUrl = '{{ links['integratedInvoice']['bulkEditStatus'] }}?selected=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                        
                                return false;
                            }

                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
