{% block app_cms_order_product_row_widget %}
    Code {{ form_widget(form.productCode) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Price (without tax) {{ form_widget(form.priceWithoutTax) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Price (with tax) {{ form_widget(form.priceWithTax) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Extra Data {{ form_widget(form.extraData) }}
{% endblock %}