{% block app_cms_order_status_row_widget %}
    Status {{ form_widget(form.status) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Date {{ form_widget(form.statusDate) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Notes 
    {{ form_widget(form.notes) }}
{% endblock %}