<html>
<head>
</head>
<body style="font-family: Verdana">
    <style>body,td{font-size: 12px;padding: 5px;}</style>
    <div style="margin-left: auto; margin-right: auto; width: 700px">

        <table style="width: 100%">
            <tr>
                <td width="60%" style="color: #5d0047; padding: 5px"><b>From</b></th>
                <td width="40%" style="color: #5d0047; padding: 5px"><b>{{ cmsOrder.websiteName }}</b></td>
            </tr>
            <tr>
                <td width="60%" style="color: #5d0047; padding: 5px"><b>Order Number</b></th>
                <td width="40%" style="color: #5d0047; padding: 5px"><b>{{ cmsOrder.orderCode }}</b></td>
            </tr>
        </table>

        <!-- PRODUCT -->
        <table style="width: 100%">
            <tr>
                <td width="60%" style="background: #5d0047; color: white; padding: 5px"><b>Product</b></th>
                <td width="40%" style="background: #5d0047; color: white; padding: 5px; text-align: right"><b>Price ({{ cmsOrder.currencyCode }})</b></th>
            </tr>
            {% for p in products %}
                <tr>
                    <td>{% if p['name'] == '' %}{{ p['code'] }}{% else %}{{ p['name'] }}{% endif %}</td>
                    <td style="text-align: right">{{ p['priceWithoutTax'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: right; color: #999">SUBTOTAL (exclude Vat)</td>
                <td style="text-align: right; color: #999">{{ subtotalAmount }}</td>
            </tr>
            <tr>
                <td style="text-align: right; color: #999">DISCOUNT</td>
                <td style="text-align: right; color: #999">{{ discountAmount }}</td>
            </tr>
            <tr>
                <td style="text-align: right; color: #999">TOTAL (exclude VAT)</td>
                <td style="text-align: right; color: #999">{{ totalAmount }}</td>
            </tr>
            <tr>
                <td style="text-align: right; color: #999">+20% VAT</td>
                <td style="text-align: right; color: #999">{{ taxAmount }}</td>
            </tr>
            <tr>
                <td style="text-align: right; color: #5d0047"><b>TOTAL (include VAT)</b></td>
                <td style="text-align: right; color: #5d0047"><b>{{ grandTotalAmount }}</b></td>
            </tr>
        </table>
        <br/>


        <!-- COUPON -->
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="background: #5d0047; color: white; padding: 5px"><b>Discount</b></th>
            </tr>
            <tr>
                <td colspan="2">
                    {% if cmsOrder.couponCode != '' %}
                        Coupon code: <b style="color: #5d0047">{{ cmsOrder.couponCode }}</b>
                    {% else %}
                        <i>None</i>
                    {% endif %}
                </td>
            </tr>
            {% for p in discount %}
                <tr>
                    <td width="60%">{{ p['title'] }}</td>
                    <td style="text-align: right">{{ p['amount'] }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>

        <!-- ORDER DETAILS -->
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="background: #5d0047; color: white; padding: 5px"><b>Order details</b></th>
            </tr>
            <tr>
                <td width="50%">Full name<br/><text style="color: #5d0047">{{ cmsOrder.fullname }}</text></td>
                <td width="50%">Telephone Number<br/><text style="color: #5d0047">{{ cmsOrder.telephoneNumber }}</text></td>
            </tr>
            <tr>
                <td width="50%">Order number of previous analysis (if any)<br/><text style="color: #5d0047">{{ cmsOrder.previousOrderNumber }}</text></td>
                <td width="50%">Email Address<br/><text style="color: #5d0047">{{ cmsOrder.emailAddress }}</text></td>
            </tr>
            <tr>
                <td width="50%">Birthday<br/><text style="color: #5d0047">{{ cmsOrder.birthday }}</text></td>
                <td width="50%"><br/><text style="color: #5d0047"></text></td>
            </tr>
        </table>
        <br/>

        <div>
            <div style="width: 49%; float: left">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" style="background: #5d0047; color: white; padding: 5px"><b>Invoice Address</b></th>
                    </tr>
                    <tr style="height: 40px">
                        <td colspan="2"><b></b></th>
                    </tr>
                    <tr>
                        <td width="50%">First name<br/><text style="color: #5d0047">{{ cmsOrder.invoiceFirstName }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Sur name<br/><text style="color: #5d0047">{{ cmsOrder.invoiceSurName }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Street<br/><text style="color: #5d0047">{{ cmsOrder.invoiceStreet }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">City<br/><text style="color: #5d0047">{{ cmsOrder.invoiceCity }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Post code<br/><text style="color: #5d0047">{{ cmsOrder.invoicePostCode }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Country<br/><text style="color: #5d0047">{{ cmsOrder.invoiceCountryCode }}</text></td>
                    </tr>
                </table>
            </div>

            <div style="width: 49%; float: right">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" style="background: #5d0047; color: white; padding: 5px"><b>Shipping Address</b></th>
                    </tr>
                    <tr>
                        <td width="50%">Is same with invoice address?<br/><text style="color: #5d0047">{% if cmsOrder.shippingIsSameInvoice %}Yes{% else %}No{% endif %}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">First Name<br/><text style="color: #5d0047">{{ cmsOrder.shippingFirstName }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Sur Name<br/><text style="color: #5d0047">{{ cmsOrder.shippingSurName }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Street<br/><text style="color: #5d0047">{{ cmsOrder.shippingStreet }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">City<br/><text style="color: #5d0047">{{ cmsOrder.shippingCity }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Post code<br/><text style="color: #5d0047">{{ cmsOrder.shippingPostCode }}</text></td>
                    </tr>
                    <tr>
                        <td width="50%">Country<br/><text style="color: #5d0047">{{ cmsOrder.shippingCountryCode }}</text></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- ORDER DETAILS -->
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="background: #5d0047; color: white; padding: 5px"><b>Notes</b></th>
            </tr>
            <tr>
                <td width="50%">{{ cmsOrder.notes }}</text></td>
            </tr>
        </table>
        <br/>

        <!-- EXTRADATA RECOMMENDATIONS OUTPUT -->
        <table style="width: 100%">
            <tr>
                <td width="50%" style="background: #5d0047; color: white; padding: 5px"><b>Product</b></th>
                <td width="50%" style="background: #5d0047; color: white; padding: 5px; text-align: right"><b>Recommendations</b></th>
            </tr>
            {% set count = 1 %}
            {% for p in products %}
                {% if '' != p['recommendationTextBox'] %}
                    {% set count = count + 1 %}
                    {% if 0 == count%2 %}
                        <tr bgcolor="#f5f5f5">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td width="50%" valign="top"><text style="color: #5d0047"></text>{% if p['name'] == '' %}{{ p['code'] }}{% else %}{{ p['name'] }}{% endif %}</td>
                        <td width="50%" valign="top"><text style="color: #5d0047"></text>{{ p['recommendationTextBox'] | raw }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br/>


    </div>
</body>
</html>
