{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <style type="text/css">
        #main-sales-analysis-table {
            width: 100%;
            margin-top: 20px;
        }

        #main-sales-analysis-table th,
        #main-sales-analysis-table td {
            border: 1px solid black;
            padding: 5px;
        }

        tr.normal {
            background: #ced3de;
            color: black;
        }

        .header-row {
            background: #1d305d;
            color: #b3b3c3;
        }

        #main-sales-analysis-table .header-row th {
            border: 1px solid #986b6b;
        }

        .total-row {
            background: #efc362;
            color: #503a07;
        }

        .final-total-row {
            background: #d6ac4d;
            color: #503a07;
        }

        .legend {
            position: relative;
            top: 40px;
        }

        .section {
            font-weight: bold;
            font-size: 14px;
            padding-top: 20px;
        }

        #padding-box {
            width: 100%;
        }
    </style>
    {% if salesAnalysis is defined %}
        <table id="main-sales-analysis-table" cellspacing="0">
            <tr class='header-row'>
                <th>Products</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>This year</br>(By individual order)</th>
                <th>Last year</br>(By individual order)</th>
            </tr>
            {% for id, product in salesAnalysis['thisYear']['products'] %}
                <tr class='normal'>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['data'][0]['total'] }}</td>
                    <td>{{ product['data'][1]['total'] }}</td>
                    <td>{{ product['data'][2]['total'] }}</td>
                    <td>{{ product['data'][3]['total'] }}</td>
                    <td>{{ product['data'][4]['total'] }}</td>
                    <td>{{ product['data'][5]['total'] }}</td>
                    <td>{{ product['data'][6]['total'] }}</td>
                    <td>{{ product['data'][7]['total'] }}</td>
                    <td>{{ product['data'][8]['total'] }}</td>
                    <td>{{ product['data'][9]['total'] }}</td>
                    <td>{{ product['data'][10]['total'] }}</td>
                    <td>{{ product['data'][11]['total'] }}</td>
                    <td>{{ product['total'] }}({{ product['totalByOrder'] }})</td>
                    <td>{{ salesAnalysis['lastYear']['products'][id]['total'] }} ({{ salesAnalysis['lastYear']['products'][id]['totalByOrder'] }})</td>
                </tr>
            {% endfor %}
            <tr class='total-row'>
                <th>Total - All products (By individual order)</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][0]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][0]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][1]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][1]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][2]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][2]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][3]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][3]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][4]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][4]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][5]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][5]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][6]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][6]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][7]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][7]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][8]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][8]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][9]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][9]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][10]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][10]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['data'][11]['total'] }} ({{ salesAnalysis['thisYear']['total_products']['data'][11]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_products']['total'] }} ({{ salesAnalysis['thisYear']['total_products']['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['lastYear']['total_products']['total'] }} ({{ salesAnalysis['lastYear']['total_products']['totalByOrder'] }})</th>
            </tr>
            <tr class='header-row'>
                <th>Categories</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>This year</br>(By individual order)</th>
                <th>Last year</br>(By individual order)</th>
            </tr>
            {% for id, category in salesAnalysis['thisYear']['categories'] %}
                <tr class='normal'>
                    <td>{{ category['name'] }}</td>
                    <td>{{ category['data'][0]['total'] }}</td>
                    <td>{{ category['data'][1]['total'] }}</td>
                    <td>{{ category['data'][2]['total'] }}</td>
                    <td>{{ category['data'][3]['total'] }}</td>
                    <td>{{ category['data'][4]['total'] }}</td>
                    <td>{{ category['data'][5]['total'] }}</td>
                    <td>{{ category['data'][6]['total'] }}</td>
                    <td>{{ category['data'][7]['total'] }}</td>
                    <td>{{ category['data'][8]['total'] }}</td>
                    <td>{{ category['data'][9]['total'] }}</td>
                    <td>{{ category['data'][10]['total'] }}</td>
                    <td>{{ category['data'][11]['total'] }}</td>
                    <td>{{ category['total'] }}({{ category['totalByOrder'] }})</td>
                    <td>{{ salesAnalysis['lastYear']['categories'][id]['total'] }} ({{ salesAnalysis['lastYear']['categories'][id]['totalByOrder'] }})</td>
                </tr>
            {% endfor %}
            <tr class='total-row'>
                <th>Total - All product category (By individual order)</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][0]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][0]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][1]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][1]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][2]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][2]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][3]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][3]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][4]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][4]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][5]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][5]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][6]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][6]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][7]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][7]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][8]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][8]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][9]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][9]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][10]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][10]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['data'][11]['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['data'][11]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_categories']['total'] }} ({{ salesAnalysis['thisYear']['total_categories']['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['lastYear']['total_categories']['total'] }} ({{ salesAnalysis['lastYear']['total_categories']['totalByOrder'] }})</th>
            </tr>
            <tr class='final-total-row'>
                <th>Total (By individual order)</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][0]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][0]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][1]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][1]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][2]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][2]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][3]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][3]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][4]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][4]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][5]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][5]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][6]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][6]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][7]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][7]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][8]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][8]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][9]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][9]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][10]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][10]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['data'][11]['total'] }} ({{ salesAnalysis['thisYear']['total_all']['data'][11]['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['thisYear']['total_all']['total'] }} ({{ salesAnalysis['thisYear']['total_all']['totalByOrder'] }})</th>
                <th>{{ salesAnalysis['lastYear']['total_all']['total'] }} ({{ salesAnalysis['lastYear']['total_all']['totalByOrder'] }})</th>
            </tr>
        </table>

        <div class="section">CHARTS</div>
        <div id="chartTotalAmount" style="height:500px; margin-top: 20px"></div>
        <div class="section">DESCRIPTION</div>
        <div id="padding-box"></div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                var totalAmountPlot = jQuery.plot(
                    jQuery("#chartTotalAmount"), [
                    {% for name, chartData in salesAnalysis['chartData'] %}
                        { data: {{ chartData['charts'] }}, label: "{{ name }}", color: "{{ chartData['color'] }}"},
                    {% endfor %}
                    ], {
                        series: {
                            lines: { show: true, lineWidth: 3, fill: false },
                            points: { show: true }
                        },

                        xaxis: {
                            ticks: [[1, 'Jan'], [2, 'Feb'], [3, 'Mar'], [4, 'Apr'], [5, 'May'], [6, 'Jun'], [7, 'Jul'], [8, 'Aug'], [9, 'Dec'], [10, 'Oct'], [11, 'Nov'], [12, 'Dec']],
                            min: 1, max: 12
                        },

                        yaxis: {
                            ticks: 5,
                            min: 0,
                            tickDecimals: 2,
                            tickFormatter: function(val, axis) { return val.toFixed(2); },
                            labelWidth: 100
                        },

                        legend: { position: 'nw'},
                        grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },
                    }
                );

                jQuery('#padding-box').height(jQuery('.legend table').height());
            });
        </script>
    {% endif %}
{% endblock %}
