{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/jquery-ui-1.8.16.css') }}" type="text/css">    
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            <p id="field_row_{{ form['view'].code.vars.id}}">
                {{ form_label(form['view'].code) }}
                <span class="field">
                    {{ form_widget(form['view'].code) }}

                    <br/>
                    <br/>
                    <a href="javascript:generateScanFormCode()">Generate codes</a>
                </span>
            </p>

            <script type="text/javascript">
                function generateScanFormCode() {
                    jQuery('#{{ form['view'].code.vars.id }}').html('Generating..');
                    var targetUrl = '{{ links['scanForm']['generateCode'] }}';
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body
                    }).done(function(data) {
                        jQuery('#{{ form['view'].code.vars.id }}').html(data);
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#{{ form['view'].code.vars.id }}').html(textStatus + " " + errorThrown);
                    });
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
