{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/jquery-ui-1.8.16.css') }}" type="text/css">    
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            {{ form_row(form['view'].sectionCodeImport)}}
            {{ form_row(form['view'].code)}}
            {{ form_row(form['view'].status)}}

            {{ form_row(form['view'].sectionSamples )}}
            {{ form_row(form['view'].attachment )}}

        {% endblock %}
    {% endembed %}
{% endblock %}
