{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Batch usage history</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Date</th>
                    <th class="head1" style="width: 16%">By</th>
                    <th class="head1" style="width: 10%">Entry ID</th>
                    <th class="head1" style="width: 22%">What change</th>
                    <th class="head1" style="width: 16%">From</th>
                    <th class="head1" style="width: 16%">To</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log['date'] }}</td>
                        <td>{{ log['by'] }}</td>
                        <td>{{ log['id'] }}</td>
                        <td>{{ log['what'] }}</td>
                        <td>{{ log['from'] }}</td>
                        <td>{{ log['to'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}