{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <script type="text/javascript">
            function settingRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }

            var newIndex = 1;

            function settingRowAddNew() {
                var collectionHolder = jQuery('#webloginEmailSettingRows');
                var prototype = jQuery('#webloginEmailSettingRowDataPrototype').attr('data-prototype');

                newIndex++;
                var newForm = prototype.replace(/__name__/g, newIndex);

                var rowId = 'settingRecordRow_' + newIndex;

                var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                var spanWidget = newWidget.find('span');
                collectionHolder.append(newWidget);

                spanWidget.append(newForm);
                spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:settingRowDelete(\'' + rowId + '\')">Remove</a>');
            }
            </script>

            <div id="webloginEmailSettingRows">
                {{ form_row(form['view'].partners) }}
                {{ form_row(form['view'].dcList) }}
                {% for id, settingRow in form['view'].settingList %}
                    <p id="settingRecordRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            {{ form_widget(settingRow) }}
                            <span style="width: 50px; display: inline-block"></span><a href="javascript:settingRowDelete('settingRecordRow_{{ id }}')">Remove</a>
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}
            </div>

            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="settingRowAddNewLink" href="javascript:settingRowAddNew('')">Add new record</a>
                </span>
            </p>

            <div id="webloginEmailSettingRowDataPrototype" data-prototype="{{ form_widget(form['view'].settingList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
