{% extends 'LeepAdminBundle:CollectivePaymentForm:form_list.html.twig' %}

{% block MainContentInner %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery('#SaveInvoiceBtn').after('&nbsp;&nbsp;<button id="ViewInvoiceBtn" onclick="return viewPayment()" class="radius2">&nbsp;&nbsp;View pdf&nbsp;&nbsp;</button>');
        jQuery('#ViewInvoiceBtn').after('&nbsp;&nbsp;<button id="RegenerateInvoiceBtn" onclick="return regeneratePayment()" class="radius2">&nbsp;&nbsp;Re/generate payment&nbsp;&nbsp;</button>');

        function viewPayment() {
            window.open('{{ viewPaymentUrl | raw }}', '_blank');
            return false;
        }

        function regeneratePayment() {
            window.open('{{ viewPaymentUrl | raw }}&isRegenerate=1', '_blank');
            return false;
        }

    </script>
{% endblock %}