<html>
<head>
    <style>
        body {
            font-family: sanuk;
            font-style: Regular;
            font-size: 9pt;
        }

        .debug {
            /*border: 1px solid;*/
        }
        #page {
            width: 1000px;
            height: 1550px;
            margin: 0px auto 0px auto;
        }
        #banner {
            width: 100%;
            height: 160px;
        }
        #bannerImage {
            width: 300px;
            height: 160px;
            margin-left: 690px;
        }
        #header {
            margin-left: -40px;
        }
        #contact {
            width: 1000px;
            height: 270px;
            margin:0 auto;
        }
        #contact_table {
            border-collapse:collapse;
            width: 1000px;
        }
        #order_table {
            border-collapse: collapse;
            width: 1000px;
        }
        #contact_table td {

        }
        #bank_section {
            background-color: #F2F2F2;
        }
        .normal {
            padding: 0px 0px 0px 0px;
        }
        .green {
            color: #E2E41A;
        }
        .green2 {
            color: #D2C321;
        }
        .white {
            color: white;
        }
        .purple {
            color: #5D0046;
        }
        .background_gray {
            background-color: #F2F2F2;
        }
        .background_purple {
            background-color: #5D0046;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div id="page" class="debug">
        <div id="banner" class="debug">
            <div id="bannerImage">
                <img width="300" src="{{ logoImagePath }}" />
            </div>
        </div>

        <div id="header" class="debug">
            <b class="green">Gentests zur Gesundheitsvorsorge</b>
        </div>

        <div class="background_purple" style="height: 5px; width: 100%; margin-left: -40px">
        </div>

        <div id="contact" class="debug">
            <table class="debug" id="contact_table">
                <tr class="debug" style="height: 15px">
                    <td class="debug" style="width: 600px">&nbsp;</td>
                    <td class="debug green" style="width: 100px">&nbsp;</td>
                    <td class="debug background_purple white" style="width: 294px">&nbsp;&nbsp;{{ companyName }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug"><b class="purple">{{ clientName }}</b></td>
                    <td class="debug green"><b>Adresse</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyStreet }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientStreet }}</td>
                    <td class="debug green"></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyPostCode }}&nbsp;{{ companyCity }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientStreet2 }}</td>
                    <td class="debug green"><b>Email</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyEmail }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientPostCode}}&nbsp;{{ clientCity }} </td>
                    <td class="debug green"><b>Office</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyTelephone }}</td>
                </tr>
                <tr class="debug" style="height: 15px">
                    <td class="debug">{{ clientCountry }}</td>
                    <td class="debug green"><b>Web</b></td>
                    <td class="debug background_purple white">&nbsp;&nbsp;{{ companyWebSite }}</td>
                </tr>
            </table>
        </div>

        <div style="height: 25px">
            <table style="width: 100%; height: 15px">
                <tr style="height: 15px">
                    <td style="width: 700px">Ihre UID / your UID: {{ clientUidNumber }}</td>
                    <td>{{ companyCity }}, {{ paymentDate }}</td>
                </tr>
            </table>
        </div>
        <div style="margin-top:15px;margin-bottom: 10px"><b class="purple">&nbsp;Gutschrift / Credit note Nr. {{ paymentNumber }}</b></div>
        <div>Sie erhalten von uns wie vereinbart ein Honorar in der Höhe von:</div>
        <div style="height: 15px"></div>
        <table id="order_table">
            <tr>
                <td width="250px"><b class="purple">Bestellnummer/order#</b></td>
                <td width="150px"><b class="purple">Datum/date</b></td>
                <td width="200px"><b class="purple">Produkte/products</b></td>
                <td width="250px" style="text-align: center" colspan="2"><b class="purple">Name</b></td>
                <td width="150px" style="text-align: right" ><b class="purple">Honorar</b></td>
            </tr>
            <tr style="height: 5px">
                <td class="background_purple" colspan="6"></td>
            </tr>

            {% for r in order %}
                <tr>
                    <td>{{ r['orderNumber'] }}</td>
                    <td>{{ r['date'] }}</td>
                    <td>{{ r['product'] }}</td>
                    <td style="text-align: right">{{ r['firstName'] }}</td>
                    <td style="text-align: left">{{ r['lastName'] }}</td>
                    <td style="text-align: right">{{ r['sum'] }}</td>
                </tr>
            {% endfor %}
            <tr style="height: 5px">
                <td class="background_purple" colspan="6"></td>
            </tr>
            <tr>
                <td colspan="5">Zwischensumme / subtotal</td>
                <td style="text-align: right">{{ subtotal }}</td>
            </tr>
            <tr style="height: 5px">
                <td class="background_purple" colspan="6"></td>
            </tr>
            {% if collectivePayment.isWithTax %}
                <tr>
                    <td colspan="5" class="purple"><b>Summe (ohne Ust.)</b></td>
                    <td style="text-align: right">{{ total }}</td>
                </tr>
                <tr>
                    <td colspan="5" class="purple"><b>Summe (inkl. {{ collectivePayment.taxValue }}% Ust. In der Höhe von: {{ taxAmount }})</b></td>
                    <td style="text-align: right">{{ totalWithTax }}</td>
                </tr>
                <tr style="height: 5px">
                    <td class="background_purple" colspan="6"></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Summe</td>
                    <td style="text-align: right">{{ total }}</td>
                </tr>
                <tr style="height: 5px">
                    <td class="background_purple" colspan="6"></td>
                </tr>
                <tr>
                    <td colspan="5" class="purple"><b>Dieser Betrag enthält keine Umsatzsteuer (Reverse Charge System)</b></td>
                </tr>
                <tr>
                    <td colspan="5" class="purple"><b>This amount is exempt any tax (Reverse Charge System)</b></td>
                </tr>
            {% endif %}
        </table>

        <div style="height: 20px"></div>
        <table style="width: 800; margin-left: auto; margin-right: auto">
            <tr>
                <td colspan=2>Die Summe wird auf Ihr Konto überwiesen.</td>
            </tr>
            <tr>
                <td width="50px" class="purple">Kontodaten:</td>
                <td width="750px">&nbsp;</td>
            </tr>
            <tr>
                <td class="purple">Account name:</td>
                <td>{{ client.accountName }}</td>
            </tr>
            <tr>
                <td class="purple">Account number:</td>
                <td>{{ client.accountNumber }}</td>
            </tr>
            <tr>
                <td class="purple">BLZ:</td>
                <td>{{ client.bankCode }}</td>
            </tr>
            <tr>
                <td class="purple">BIC:</td>
                <td>{{ client.bic }}</td>
            </tr>
            <tr>
                <td class="purple">IBAN:</td>
                <td>{{ client.iban }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2>Mit freundlichen Grüßen,</td>
            </tr>
            <tr>
                <td colspan=2 class="purple">{{ company.manager }}</td>
            </tr>
        </table>

        <div style="width:1000px; height: 100px"></div>
        <table style="width:1000px; border: 1px solid" >
            <tr style="border: 1px solid">
                <td style="width: 100px;" class="green2">Bank</td>
                <td style="width: 150px" class="purple">{{ company.bank }}</td>
                <td style="width: 100px;" class="green2">Kontonummer</td>
                <td style="width: 150px" class="purple">{{ company.bankAccount }}</td>
                <td style="width: 100px;" class="green2">BLZ</td>
                <td style="width: 150px" class="purple">{{ company.bankCode }}</td>
            </tr>
            <tr>
                <td style="width: 100px;" class="green2">BIC</td>
                <td style="width: 150px" class="purple">{{ company.bic }}</td>
                <td style="width: 100px;" class="green2">IBAN</td>
                <td style="width: 150px" class="purple">{{ company.iban }}</td>
                <td style="width: 100px;" class="green2">Handelsregister</td>
                <td style="width: 150px" class="purple">{{ company.tradeRegister }}</td>
            </tr>
            <tr>
                <td style="width: 100px;" class="green2">Geschäftsführer</td>
                <td style="width: 150px" class="purple">{{ company.manager }}</td>
                <td style="width: 100px;" class="green2">Rechtsform</td>
                <td style="width: 150px" class="purple">{{ company.legalForm }}</td>
                <td style="width: 100px;" class="green2">Steuernummer</td>
                <td style="width: 150px" class="purple">{{ company.taxNumber }}</td>
            </tr>
            <tr>
                <td style="width: 100px;" class="green2">UID-Nummer</td>
                <td style="width: 150px" class="purple">{{ company.uidNumber }}</td>
                <td style="width: 100px;" class="green2">Gerichtsstand</td>
                <td style="width: 150px" class="purple">{{ company.jurisdiction }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
