{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="tabbed"><span>Summary</span></h2></div>
        <div class="widgetcontent">
            {% for changeOfMonth in amountChangesByMonths %}
                {% if changeOfMonth['view'] %}
                    <div class="analytics analytics2" style="width: 6.5%; display: inline-block">
                        <small>{{ changeOfMonth['name'] }}</small>
                        <h3>&euro;{{ changeOfMonth['change'] }}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="widgetcontent">
            <div class="analytics analytics2" style="width: 25%; display: inline-block">
                <small>In stock</small>
                <h1>&euro;{{ amountInStock }}</h1>
            </div>
            <div class="analytics analytics2" style="width: 25%; display: inline-block">
                <small>Waiting</small>
                <h1>&euro;{{ amountWaiting }}</h1>
            </div>
        </div>
    </div>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}

        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [2,'asc'] ] );
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">

                            <button class="radius2" onclick="return exportPellet()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function exportPellet() {

                                var targetUrl = '{{ links.pellet.exportPelletEntries}}';
                                window.location = targetUrl;


                                return false;
                            }

                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}

        {% block gridDrawCallback %}
            jQuery(".simpletip").tooltip({
                bodyHandler: function() {
                    return jQuery(this).find('.hide-content').html();
                },
                left: -100,
                top: 20,
                showURL: false
            });
        {% endblock %}
    {% endembed %}
{% endblock %}


