{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="stdform stdform2">
        <p>
            <label>Name</label>
            <span class="field">{{ name }}&nbsp;</span>
        </p>
        <p>
            <label>Letter</label>
            <span class="field">{{ letter }}&nbsp;</span>
        </p>
    </div>

    {% for status in statusList %}
        <br/><br/>
        <h2>{{ status['name'] }}</h2><br/>

        <div class="stdform stdform2">
            <a class="radius2 dataTablePopupButton" href="{{ createPelletEntryLink }}&idSection={{ status['id'] }}">Add new entry</a>
        </div>
        <br/>

        {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': status['grid']} %}     
            {% block gridDrawCallback %}    
                jQuery('.dataTablePopupButton').colorbox({
                    iframe: true,
                    width:  "90%",
                    height: "90%",
                    onClosed:function(){ 
                        {% for section in statusList %}
                            funcDynamicTableReload_Grid{{ section['status'] }}();
                        {% endfor %}
                    }
                });
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}