{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
    {% endembed %}

    <script type="text/javascript">
        function moveNextSection(idPelletEntry) {
            var spanNode = jQuery('#moveNextSection_' + idPelletEntry);
            spanNode.html('Moving..');
                                
            var targetUrl = '{{ links['pellet']['moveNextSection'] }}?idPelletEntry=' + idPelletEntry;

            var jqxhr = jQuery.ajax({
                url:  targetUrl,
                type: 'GET',
                data: { idPelletEntry: idPelletEntry },
            }).done(function( data ) {            
                funcDynamicTableReload_{{ grid['id'] }}();
            }).fail(function(jqXHR, textStatus) {
                alert("Failed: " + textStatus );
            });
        }
    </script>
{% endblock %}
