{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    
<div class="notification msgsuccess">
    <a class="close"></a>
    <p> 
        Caching is done! Now you can close this window.
    </p>
</div>
{% endblock %}
