{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}            
            <p>
                <label for="form_rating">Source Language</label>
                <span class="field">
                    {{ form_widget(form['view'].idSourceLanguage) }}
                    <a target="_blank" href="javascript:downloadBackup('#{{ form['view'].idSourceLanguage.vars.id }}')">Backup</a>
                </span>
            </p>
            <p>
                <label for="form_rating">Target Language</label>
                <span class="field">
                    {{ form_widget(form['view'].idTargetLanguage) }}
                    <a target="_blank" href="javascript:downloadBackup('#{{ form['view'].idTargetLanguage.vars.id }}')">Backup</a>
                </span>
            </p>
            <p>
                <label for="form_rating">Option</label>
                <span class="field">
                    {{ form_widget(form['view'].idOption) }}
                </span>
            </p>

            <script type="text/javascript">
                function downloadBackup(idElement) {
                    var idLanguage = jQuery(idElement).val();

                    var url = '{{ backupTextBlockLanguage }}?idLanguage=' + idLanguage;
                    window.open(url, '_blank');
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}