{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContent %}
            <p class="stdformbutton">
                <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
                <button class="submit radius2" onclick="return fillByGerman()">&nbsp;&nbsp;Fill by GERMAN&nbsp;&nbsp;</button>
            </p>
            <script type="text/javascript">
                function fillByGerman() {
                    var germanText = jQuery('#form_language_1').val();
                    jQuery('#{{ form['id'] }} textarea').each(function() {
                        jQuery(this).val(germanText);
                    })
                    return false;
                }
            </script>
            {{ parent() }}
        {% endblock %}
    {% endembed %}
{% endblock %}
