{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}        
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return syncServers()">&nbsp;&nbsp;Sync servers&nbsp;&nbsp;</button>     
                            <button class="radius2" onclick="return archiveTextBlock()">&nbsp;&nbsp;Archive&nbsp;&nbsp;</button>     
                            <button class="radius2" onclick="return synchronizeGroup()">&nbsp;&nbsp;Synchronize group&nbsp;&nbsp;</button>     
                            <button class="radius2" onclick="return copyLanguage()">&nbsp;&nbsp;Copy Language&nbsp;&nbsp;</button>     
                        </div>
                        <script type="text/javascript">
                        function synchronizeGroup() {
                            var targetUrl = '{{ links['textBlock']['synchronizeGroup'] }}';
                            jQuery.colorbox({
                                href: targetUrl,
                                iframe: true,
                                width:  "75%",
                                height: "75%",
                                onClosed:function(){ 
                                    funcDynamicTableReload_{{ grid['id'] }}();
                                }
                            });
                            
                            return false;
                        }
                        function syncServers() {
                            var targetUrl = '{{ links['textBlock']['syncServers'] }}';
                            jQuery.colorbox({
                                href: targetUrl,
                                iframe: true,
                                width:  "75%",
                                height: "75%",
                                onClosed:function(){ 

                                }
                            });
                            
                            return false;
                        }
                        function copyLanguage() {
                            var targetUrl = '{{ links['textBlock']['copyLanguage'] }}';
                            jQuery.colorbox({
                                href: targetUrl,
                                iframe: true,
                                width:  "75%",
                                height: "75%",
                                onClosed:function(){ 
                                    funcDynamicTableReload_{{ grid['id'] }}();
                                }
                            });
                            
                            return false;
                        }
                        function cache() {
                            var targetUrl = '{{ links['textBlock']['cache'] }}';
                            jQuery.colorbox({
                                href: targetUrl,
                                iframe: true,
                                width:  "75%",
                                height: "75%",
                                onClosed:function(){ 
                                }
                            });
                            
                            return false;
                        }
                        function archiveTextBlock() {
                            window.open('{{ links['textBlock']['downloadAll'] }}','_blank');

                            return false;
                        }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
