{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}   
    <div class="content">
        {% if idTextBlock is not defined %}
            No duplicates found
        {% else %}
            <form class="stdform stdform2" method="POST" action="">
                <h3>Block: {{ textBlockName }}</h3><br/><br/>
                <input type="hidden" name="idTextBlock" value="{{ idTextBlock }}" />
                <table class="stdtable">
                    <tbody>
                    {% for row in bodyData %}
                        {% if row['name'] != '' %}
                            <tr>
                                <td style="width: 20%">{{ row['name'] }}</td>
                                {% for t in row['data'] %}
                                    <td style="width: {{ 80 / numTextBlocks }}%">
                                        <input type="radio" name="language_{{ row['idLanguage'] }}" value="{{ t['idTextBlock'] }}" {% if loop.first %}checked{% endif %}/><br/>
                                        {{ t['body'] | raw }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <p class="stdformbutton">
                    <button class="submit radius2">&nbsp;&nbsp;Proceed&nbsp;&nbsp;</button>
                </p>
            </form>
        {% endif %}
    </div>
{% endblock %}