{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}   
    <div class="content">
        <form class="stdform stdform2" method="GET" target="_blank" action="{{ removeDuplicatesReportUrl | raw }}">
            <p>
                <label for="selection">Report</label>
                <span class="field">
                    <select name="idReport">
                        {% for idReport, name in reports %}
                            <option value="{{ idReport }}">{{ name | raw }}</option>
                        {% endfor %}
                    </select>
                </span>
            </p>  
            <p class="stdformbutton">
                <button class="submit radius2">&nbsp;&nbsp;Proceed&nbsp;&nbsp;</button>
            </p>
        </form>
    </div>
{% endblock %}