{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    <div class="content">
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    {% if syncRequest is defined %}
        <br/>
        <a class="submit radius2" href="{{ links['textBlock']['syncServers'] }}">Refresh</a>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head1" style="width: 15%">User</th>
                    <th class="head1" style="width: 15%">Timestamp</th>
                    <th class="head1" style="width: 25%">Sync text blocks?</th>
                    <th class="head1" style="width: 25%">Sync resources</th>
                    <th class="head1" style="width: 15%">Last update</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ syncRequest['user']}}</td>
                    <td>{{ syncRequest['timestamp']}}</td>
                    <td>
                        {% if syncRequest['isSyncTextBlock'] %}
                            {{ syncRequest['isSyncTextBlock']}} ({{ syncRequest['isSyncTextBlockStatus'] }})
                        {% endif %}
                    </td>
                    <td>
                        {% if syncRequest['isSyncResources'] %}
                            {{ syncRequest['isSyncResources']}} ({{ syncRequest['isSyncResourcesStatus'] }})
                        {% endif %}
                    </td>
                    <td>{{ syncRequest['lastUpdated']}}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}