{% block app_plate_type_box_row %}
    <p>
        <table id="{{ form.vars.id }}_wellTable" cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <colgroup>
                {% for i in 1..25 %}
                    <col class="con0" />
                {% endfor %}
            </colgroup>
            <thead>
                <tr>
                    <th class="head1" width="4%"></th>
                    {% for i in 1..24 %}
                        <th class="head1" width="5%">{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% set m = ['a','b','c','d','e','f','g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p'] %}
                {% for r in 0..15 %}
                    <tr>
                        <td class="head1" style="background-color: #ddd; text-align: center; font-weight: bold" width="4%">{{ m[r] }}</td>
                        {% for c in 0..23 %}
                            <td height="40px" style="text-align: center; font-size: 8px" width="5%">
                                <a href="#" id="{{ form.vars.id }}_popup_cell_{{ r }}_{{ c}}" data-type="plateTypeCellForm" data-value="" data-title="Edit well"></a>
                                {% set cellName = 'cell_' ~ r ~ '_' ~ c %}
                                {{ form_widget(form.getChild(cellName)) }}
                                <script type="text/javascript">
                                    jQuery(document).ready(function() {
                                        jQuery('#{{ form.vars.id }}_popup_cell_{{ r }}_{{ c}}').editable({
                                            saveField: '#{{ form.getChild(cellName).vars.id }}',
                                            showbuttons: false,
                                            placement: 'left'
                                        });
                                    });

                                    var val = jQuery('#{{ form.getChild(cellName).vars.id }}').val();
                                    jQuery("#{{ form.vars.id }}_popup_cell_{{r}}_{{c}}").attr('data-value', val);
                                </script>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <input type="hidden" id="geneList" value='{{ geneListJSON | raw }}'/>
        <input type="hidden" id="geneRef" value='{{ geneRefJSON | raw }}'/>
    </p>

    <script type="text/javascript">
        function setValToCell(row, col, plateWellIndex, geneId, geneName, color) {
            var id = "#{{ form.vars.id }}_popup_cell_" + row + "_" + col;
            var idHiddenInput = "#form_plateTypeBox_cell_" + row + "_" + col;

            var val = plateWellIndex + '!!' + geneId + '!!' + color;
            var valView = '<text style="color: ' + color + '">' + plateWellIndex + '<br/>' + geneName + "</text>";

            jQuery(idHiddenInput).val(val);
            jQuery(id).attr('data-value', val);
            jQuery(id).html(valView);
            jQuery(id).attr('class', 'editable editable-click');
        }

        jQuery(document).ready(function() {
            jQuery('#{{ form.vars.id }}_wellTable .editable').on('hidden', function(e, reason) {
                if(reason === 'save' || reason === 'nochange') {
                    var id = jQuery(this).attr('id');
                    var arr = id.split('_');

                    var r = parseInt(arr[arr.length-2]) + 1;
                    var c = parseInt(arr[arr.length-1]);
                    if (r >= 16) {
                        r = 0;
                        c++;
                    }

                    var next = jQuery('#{{ form.vars.id }}_popup_cell_' + r + '_' + c);
                    setTimeout(function() {
                        next.editable('show');
                    }, 100);

                }
            });
        });
    </script>
{% endblock %}