{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modified.css') }}" type="text/css">
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modal.css') }}">
    

    <!-- x-editable (bootstrap 3) -->
    <link href="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>

    <!-- form -->
    <script src="{{ asset('bundles/leepadmin/plate_type_cell_form.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}      
            {{ form_row(form['view'].name )}}        

            {{ form_row(form['view'].sectionPlateTypeBox )}}

            <p class="stdformbutton">
                <button type="button" id="btnMassAssignment" data-toggle="modal" data-target="#mdlMassAssignmentForm">&nbsp;&nbsp;Assign&nbsp;&nbsp;</button>
            </p>

            {{ form_row(form['view'].plateTypeBox )}}

            <div id="mdlMassAssignmentForm" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="position: absolute; right: 10px">&times;</button>
                            <h4 class="modal-title">Assign</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div>
                                    From Cell
                                </div>
                                <div>
                                    <input type="text"  id="fromCell" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    To Cell
                                </div>
                                <div>
                                    <input type="text" id="toCell" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    Gene
                                </div>
                                <div>
                                    <select id="idGene" style="width:300px">
                                        {% for id, name in geneList %}
                                            <option value="{{ id }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    Color
                                </div>
                                <div>
                                    <input type="text" id="color" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal">Close</button>
                            <button type="button" id="btnGo">Go</button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery('#btnMassAssingment').click(function() {
                        
                        return false;
                    });

                    jQuery('#btnGo').click(function() {
                        
                        var fromCell = jQuery('#mdlMassAssignmentForm').find('#fromCell').val().trim();
                        var toCell = jQuery('#mdlMassAssignmentForm').find('#toCell').val().trim();
                        var gene =  jQuery('#mdlMassAssignmentForm').find('#idGene').find(':selected');
                        var color = jQuery('#mdlMassAssignmentForm').find('#color').val().trim();
                        var geneId = gene.val();
                        var geneName = gene.text();

                        if (massAssign(fromCell, toCell, geneId, geneName, color)) {
                            jQuery('#mdlMassAssignmentForm').modal('hide');
                        } else {
                            alert('something wrong');
                        }

                        return false;
                    });
                });

                function massAssign(from, to, geneId, geneName, color) {
                    var fromRow = from.substr(0, 1);
                    var fromCol = from.substr(1);
                    var toRow = to.substr(0, 1);
                    var toCol = to.substr(1);

                    var rows = ['a','b','c','d','e','f','g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p'];
                    var urows = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];
                    var cols = 24;

                    if (rows.indexOf(fromRow) == -1 || rows.indexOf(toRow) == -1) {
                        return false;
                    }

                    if (fromCol <= 0 || toCol <= 0) {
                        return false;
                    }

                    if (fromCol > toCol || !geneId) {
                        return false;
                    }

                    fromCol--;
                    toCol--;    

                    var plateWellCol = 1;
                    var plateWellRow = 0;

                    for (var i = fromCol; i <= toCol; i++) {
                        var startRow = 0;
                        var endRow = rows.indexOf(toRow);
                             
                        if (i == fromCol) {
                            startRow = rows.indexOf(fromRow);
                        }

                        if (i < toCol) {
                            endRow = rows.length - 1;
                        }

                        for (var r = startRow; r <= endRow; r++) {
                            var plateWellIndex = urows[plateWellRow] + plateWellCol;
                            setValToCell(r, i, plateWellIndex, geneId, geneName, color);

                            plateWellRow++;
                            if (plateWellRow >= 8) {
                                plateWellRow  = 0;
                                plateWellCol++;
                            }
                        }
                    }

                    return true;
                }

            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
