{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <script type="text/javascript">

            function statusRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }

            var newIndex = 1;

            function statusRowAddNew(appendAfter) {
                var collectionHolder = jQuery('#statusRowCollection');
                var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                newIndex++;
                var newForm = prototype.replace(/__name__/g, newIndex);

                var rowId = 'statusRecordRow_' + newIndex;

                var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                var spanWidget = newWidget.find('span');
                if (appendAfter != '') {
                    var a = collectionHolder.find(appendAfter);
                    newWidget.insertAfter(a);
                }
                else {
                    collectionHolder.append(newWidget);
                }
                spanWidget.append(newForm);
                spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
            }

            </script>

            {{ form_row(form['view'].name )}}
            {{ form_row(form['view'].codename )}}
            {{ form_row(form['view'].materialCost )}}
            {{ form_row(form['view'].productionCost )}}
            {{ form_row(form['view'].productTypeDE )}}
            {{ form_row(form['view'].productTypeAT )}}
            {{ form_row(form['view'].genes )}}
            {{ form_row(form['view'].isNutriMe )}}
            {{ form_row(form['view'].sectionQuestion )}}

            <div id="statusRowCollection">
                {% for id, statusRow in form['view'].questionList %}
                    <p id="statusRecordRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            {{ form_widget(statusRow)}}
                            <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                            &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}
            </div>

            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                </span>
            </p>

            <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].questionList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
