{% block gridTitle %}
    {% if grid['title'] is defined %}
        <div class="contenttitle radiusbottom0">
            <h2 class="table"><span>{{ grid['title'] }}&nbsp;</span></h2>
        </div>
    {% endif %}
{% endblock %}

{% block buttons %}
<div class="tableoptions">
    <div class="leftBox">
        {% block leftButtons %}
        {% endblock %}
    </div>
    <div class="rightBox">
        {% block rightButtons %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block filterForm %}    
    {% if grid['filter'] is defined %}
        {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
        {% endembed %}
    {% endif %}
{% endblock %}

<table id="{{ grid['id'] }}" cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <colgroup>
        <col class="con0" width="5%" />
        {% for item in grid['header'] %}
            <col class="{{ cycle(['con1', 'con0'], loop.index0) }}" {% if item['width'] is defined %}width="{{ item['width'] }}"{% endif %}/>
        {% endfor %}
    </colgroup>
    
    <thead>
        <tr>
            <th class="head1">
                <span class="checkbox">
                    <input type="checkbox" id="{{ grid['id'] }}_TopCheckBox" style="width: 100%"/>
                </span>
            </th>
            {% for item in grid['header'] %}
                <th class="{{ cycle(['head1', 'head1'], loop.index0) }}">
                    {{ item['title'] }}
                </th>                
            {% endfor %}                
        </tr>
    </thead>    
</table>

<script type="text/javascript">
    var dynamicTables_{{ grid['id'] }};
    
    function funcDynamicTableReload_{{ grid['id'] }}() {
    	dynamicTables_{{ grid['id'] }}.fnDraw(false);
    }
    
    jQuery('#{{ grid['id'] }}_TopCheckBox').click(function(){        
        var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
        if (jQuery(this).is(':checked')) {
            jQuery(this).parents('span').addClass('checked');
            
            checkboxes.each(function(i, v) {
                jQuery(this).attr('checked', true);
                jQuery(this).parents('span').addClass('checked');
                jQuery(this).parents('tr').addClass('selected');
            });
        }
        else {
            jQuery(this).parents('span').removeClass('checked');
            
            checkboxes.each(function(i, v) {
                jQuery(this).attr('checked', false);
                jQuery(this).parents('span').removeClass('checked');
		        jQuery(this).parents('tr').removeClass('selected');
            });
        }
    });
			    
	//show/hide widget content when widget title is clicked
	function funcShowFilterForm_{{ grid['id'] }}() {
	    var filterForm = jQuery("#{{ grid['id'] }}_FilterForm");
		if(filterForm.is(':visible')) {
			filterForm.slideUp('fast');
		} else {
			filterForm.slideDown('fast');
		}
	};		    
			    
    jQuery(document).ready(function() {
        dynamicTables_{{ grid['id'] }} = jQuery('#{{ grid['id'] }}').dataTable({
            "sPaginationType": "full_numbers",
			"sDom": '{{ sDom | default('rtip') }}',
			"aoColumns": [
				{ "sWidth": "5%", "bSortable": false}
				{% for item in grid['header'] %}
					,{"sWidth": "{{ item['width'] }}", "bSortable": {{ item['sortable'] }}}
				{% endfor %}
			],
			"bAutoWidth": false,
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "{{ grid['ajaxSource'] | raw }}",
            "iDisplayLength": {{ paginationDisplayLength | default('50')}},
            "aLengthMenu": [[10, 25, 50, 100, 200, 500], [10, 25, 50, 100, 200, 500]],
			"fnDrawCallback": function( oSettings ) {
			    jQuery('#{{ grid['id'] }} .stdtableCheckBox').each(function(i, v){
			        jQuery(this).parents('td').addClass('center');
			    });
			    
			    jQuery('#{{ grid['id'] }} .stdtableCheckBox').click(function(){
					if(jQuery(this).is(':checked')) {
					    jQuery(this).parents('span').addClass('checked');
						jQuery(this).parents('tr').addClass('selected');
					} else {
					    jQuery(this).parents('span').removeClass('checked');
						jQuery(this).parents('tr').removeClass('selected');	
					}
				});
				
				var topCheckBox = jQuery('#{{ grid['id'] }}_TopCheckBox');
				topCheckBox.parents('span').removeClass('checked');
				topCheckBox.attr('checked', false);
				
				
				jQuery('#{{ grid['id'] }} .dataTablePopupButton').colorbox({
                    iframe: true,
                    width:  "90%",
                    height: "90%",
                    onClosed:function(){ 
                        funcDynamicTableReload_{{ grid['id'] }}();
                    }
                });

                {% block gridDrawCallback %}

                {% endblock %}
			},
			"fnServerParams" : function ( aoData ) {
                {% block fnServerParams %}
                {% endblock %}
				
			},
			"oLanguage": {
			    "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
			    "sInfoFiltered": ""
			}
		});
        {% block extraScriptOnReady %}
        {% endblock %}
	});
    
</script>