{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    	{% block formContentNormal %}
            {{ parent() }}

            <p id="field_row_scientist_assignment">
                <label>Scientist Assignment</label>
                <span class="field">
                    <select id="scientistAssignment">
                    </select
                </span>
            </p>

            <style>
                .content {
                    line-height: normal;
                }
            </style>

            <script type="text/javascript">
                var geneResultGroups = JSON.parse('{{ geneResultGroups | raw }}');
                var famVicMappingRules = JSON.parse('{{ famVicMappingRules | raw }}');

                jQuery(document).ready(function() {
                    // in case edition, set default values
                    var idGene = jQuery('#{{ form['view'].idGene.vars.id }}').val();
                    var scientistAssignment = jQuery('#{{ form['view'].idFamVicMappingRule.vars.id }}').val();
                    if (idGene || scientistAssignment) {
                        updateScientistAssignmentSelectList();
                        jQuery('#scientistAssignment').val(scientistAssignment);
                    }

                    jQuery('#{{ form['view'].idGene.vars.id }}').change(function() {
                        updateScientistAssignmentSelectList();
                    });

                    jQuery('#scientistAssignment').change(function() {
                        jQuery('#{{ form['view'].idFamVicMappingRule.vars.id }}').val(jQuery(this).val());
                    });
                });

                function updateScientistAssignmentSelectList() {
                    var selectedGene = jQuery('#{{ form['view'].idGene.vars.id }}').val();
                    var selectScientisAssignment = '#scientistAssignment';

                    jQuery(selectScientisAssignment).html('');

                    if (selectedGene && selectedGene in geneResultGroups) {
                        var idResultGroup = geneResultGroups[selectedGene];
                        if (idResultGroup && idResultGroup in famVicMappingRules) {
                            var isSetDefault = false;
                            jQuery.each(famVicMappingRules[idResultGroup], function(key, value) {
                                jQuery(selectScientisAssignment)
                                    .append(jQuery("<option></option>")
                                                .attr("value",key)
                                                .text(value)
                                            );

                                if (!isSetDefault) {
                                    jQuery('#{{ form['view'].idFamVicMappingRule.vars.id }}').val(key);
                                    isSetDefault = true;
                                }
                            });                            
                        }
                    }
                }
            </script>
    	{% endblock %}
    {% endembed %}
{% endblock %}
