{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    <div>
    	<strong>Gene</strong>
    	&nbsp;&nbsp;<select id="geneList">
    	</select>
    </div>
    <div id="chartTotalAmount" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
    	var geneList = JSON.parse('{{ geneList | raw }}');
    	var genePoints = JSON.parse('{{ genePoints | raw }}');

        jQuery(document).ready(function() {
            jQuery.each(geneList, function(key, value) {
                jQuery('#geneList')
                    .append(jQuery("<option></option>")
                                .attr("value",key)
                                .text(value)
                            );
            });

            jQuery('#geneList').change(function() {
            	drawChart();
            });

            drawChart();
        });

        function drawChart() {
        	var selectedGene = jQuery('#geneList').val();
        	if (selectedGene && selectedGene in genePoints) {
				jQuery.plot(
	                jQuery("#chartTotalAmount"),
	                [ { data: genePoints[selectedGene] }
	                ], 
	                {
	                    series: {
	                        points: { show: true }
	                    },
	                    legend: { position: 'nw'},
				        grid: {
				           borderWidth: 1,
				           aboveData: true,
				        }
	                   
	                }
	            );
        	}
        }
    </script>
{% endblock %}
