{% block app_billing_order_selector_row %}
    {{ form_row(form.idTarget) }}
    {{ form_row(form.haveInvoiceAddress) }}
    {{ form_row(form.invoiceAddressStreet) }}
    {{ form_row(form.invoiceAddressPostCode) }}
    {{ form_row(form.invoiceAddressCity) }}
    {{ form_row(form.invoiceAddressIdCountry) }}
    {{ form_row(form.invoiceAddressTelephone) }}
    {{ form_row(form.invoiceAddressFax) }}
    {{ form_row(form.invoiceAddressUid) }}
    {{ form_row(form.selectedEntries) }}

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block fnServerParams %}
            var idTarget = jQuery('#{{ form.idTarget.vars.id }}').val();
            aoData.push( { "name": "idTarget", "value": idTarget } );
        {% endblock %}

        {% block gridDrawCallback %}
            var selectedEntries = jQuery('#{{ form.selectedEntries.vars.id }}').val();
            var arr = selectedEntries.split(',')
            var i;
            for (i in arr) {
                if (!isNaN(arr[i])) {
                    jQuery('#row_' + arr[i]).parents('span').addClass('checked');
                    jQuery('#row_' + arr[i]).parents('tr').addClass('selected');
                    jQuery('#row_' + arr[i]).attr('checked', 'checked');
                }
            }

            jQuery('#SaveButton').css('display', 'inline-block');
        {% endblock %}

    {% endembed %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            //jQuery('#field_row_form_orderSelector_idTarget > span').append('<a href="javascript:loadBillingData()">Refresh</a>');
            jQuery('#{{ form.idTarget.vars.id }}').change(function() {
                jQuery('#SaveButton').css('display', 'none');
                loadBillingData();
            });
            onChangeCurrency('#form_currencyRate_idCurrency', true);
        });
        function loadBillingData() {
            // Load target billing data
            var targetUrl = '{{ getTargetBillingData }}?idType={{ idType }}&id=' + jQuery('#{{ form.idTarget.vars.id }}').val();
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                if (data == 'FAIL') {
                    alert("ERROR!");
                    return;
                }
                var billingData = JSON.parse(data);

                // Update isWithTax
                var isTaxField = jQuery('#form_tax_isWithTax');
                if (billingData.hasOwnProperty('isWithTax')) {
                    if (billingData['isWithTax']) {
                        if (!isTaxField.attr('checked')) {
                            isTaxField.attr('checked',true);
                            onChangeIsTax('#form_tax_isWithTax');
                        }
                    }
                    else {
                        if (isTaxField.attr('checked'))  {
                            isTaxField.attr('checked',false);
                            onChangeIsTax('#form_tax_isWithTax');
                        }
                    }
                }
                /// udpate invoide address
                if (billingData.length == 0) {
                    jQuery('#form_orderSelector_invoiceAddressStreet').val('');
                    jQuery('#form_orderSelector_invoiceAddressPostCode').val('');
                    jQuery('#form_orderSelector_invoiceAddressCity').val('');
                    jQuery('#form_orderSelector_invoiceAddressIdCountry').val('');
                    jQuery('#form_orderSelector_invoiceAddressTelephone').val('');
                    jQuery('#form_orderSelector_invoiceAddressFax').val(1);
                    jQuery('#form_orderSelector_invoiceAddressUid').val('');
                    jQuery('#form_orderSelector_textAddress').val('');
                }
                if (billingData.hasOwnProperty('isInvoiceAddress')) {
                    jQuery('#form_orderSelector_invoiceAddressStreet').val(billingData['addressStreet']);
                    jQuery('#form_orderSelector_invoiceAddressPostCode').val(billingData['addressPostCode']);
                    jQuery('#form_orderSelector_invoiceAddressCity').val(billingData['addressCity']);
                    jQuery('#form_orderSelector_invoiceAddressIdCountry').val(billingData['addressCountry']);
                    jQuery('#form_orderSelector_invoiceAddressTelephone').val(billingData['addressTelephone']);
                    jQuery('#form_orderSelector_invoiceAddressFax').val(billingData['addressFax']);
                    jQuery('#form_orderSelector_invoiceAddressUid').val(billingData['addressUid']);
                    jQuery('#form_orderSelector_haveInvoiceAddress').val(billingData['haveInvoiceAddress']);
                }
                else {
                    jQuery('#form_orderSelector_invoiceAddressStreet').val('');
                    jQuery('#form_orderSelector_invoiceAddressPostCode').val('');
                    jQuery('#form_orderSelector_invoiceAddressCity').val('');
                    jQuery('#form_orderSelector_invoiceAddressIdCountry').val(1);
                    jQuery('#form_orderSelector_invoiceAddressTelephone').val('');
                    jQuery('#form_orderSelector_invoiceAddressFax').val('');
                    jQuery('#form_orderSelector_invoiceAddressUid').val('');
                    jQuery('#form_orderSelector_haveInvoiceAddress').val(billingData['haveInvoiceAddress']);
                }
                // Update Commission Payment With tax
                var commissionPaymentWithTaxField = jQuery('#form_commissionPaymentWithTax');
                if (billingData.hasOwnProperty('commissionPaymentWithTax')) {
                    if (billingData['commissionPaymentWithTax'] != null) {
                        commissionPaymentWithTaxField.val(billingData['commissionPaymentWithTax']);
                    } else {
                        commissionPaymentWithTaxField.val(0);
                    }
                }

                // Update idNoTaxText
                var idNoTaxTextField = jQuery('#form_noTaxText');
                if (billingData.hasOwnProperty('noTaxText')) {
                    if (idNoTaxTextField) {
                        idNoTaxTextField.val(billingData['noTaxText']);
                    }
                } else {
                        if (idNoTaxTextField) {
                            idNoTaxTextField.val(0);
                    }
                }

                // update idCurrency
                var idCurrencyField = jQuery('#form_currencyRate_idCurrency');
                if (billingData.hasOwnProperty('idCurrency')) {
                    if (idCurrencyField) {
                        idCurrencyField.val(billingData['idCurrency']);
                        onChangeCurrency('#form_currencyRate_idCurrency', true);
                    } else {
                        if (idCurrencyField) {
                            idCurrencyField.val(0);
                            onChangeCurrency('#form_currencyRate_idCurrency', true);
                        }
                    }
                }

                // Update margin payment mode
                var idMarginPaymentMode = jQuery('#form_idMarginPaymentMode');
                if (billingData.hasOwnProperty('idMarginPaymentMode')) {
                    if (idMarginPaymentMode) {
                        idMarginPaymentMode.val(billingData['idMarginPaymentMode']);
                    }
                }
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert("ERROR!" + textStatus);
            });

            // Reload table
            var customerTable = jQuery('#{{ grid['id'] }}');
            var db = customerTable.dataTable();
            db.fnDraw(false);
        };
    </script>
{% endblock %}
