{% block app_billing_files_row %}
    <p>
        <label>PDF</label>
        <span class="field">
            <button class="radius2" id="generatePdfBtn">Generate pdf</button>
            <button class="radius2" id="editPdfReportBtn">Edit pdf report</button>
            <text id="generatePdfMsg" style="display: none">Generating..</text>
        </span>
    </p>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridDrawCallback %}
            jQuery('#{{ grid['id'] }} tr').each(function() {
                var colorCode = jQuery(this).find('.row_color').attr('color-code');
                if (colorCode != 'undefined') {
                    jQuery(this).css('background-color', colorCode);
                }
            });
        {% endblock %}
    {% endembed %}

    <script type="text/javascript">
        function setAsActivePdf(idBill, idBillFile) {
            var targetUrl = '{{ setAsActivePdfUrl | raw }}?idBill=' + idBill + '&idBillFile=' + idBillFile;
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                var grid = jQuery('#{{ grid['id'] }}');
                var db = grid.dataTable();
                db.fnDraw(false);

                if (data != 'SUCCESS') {
                    alert("ERROR! Failed to set file as active");
                }

            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert("ERROR! Failed to set file as active");
            });
        }

        jQuery(document).ready(function() {
            jQuery('#editPdfReportBtn').click(function(e) {
                e.preventDefault();
                window.open("{{ editPdfUrl | raw }}", '_blank');
            });

            jQuery('#BillingFilesGrid_info').attr('style', 'display:none');
            jQuery('#BillingFilesGrid_paginate').attr('style', 'display:none');
            jQuery('#generatePdfBtn').click(function(e) {
                e.preventDefault();

                var generatePdfBtn = jQuery('#generatePdfBtn');
                var generatePdfMsg = jQuery('#generatePdfMsg');

                generatePdfBtn.css('display', 'none');
                generatePdfMsg.css('display', 'inline-block');
                var targetUrl = '{{ generatePdfUrl | raw }}';
                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    context: document.body
                }).done(function(data) {
                    generatePdfBtn.css('display', 'inline-block');
                    generatePdfMsg.css('display', 'none');
                    var grid = jQuery('#{{ grid['id'] }}');
                    var db = grid.dataTable();
                    db.fnDraw(false);
                    if (JSON.parse(data) != 'SUCCESS') {
                        alert("ERROR! Failed to generate pdf");
                        console.log(data);
                    }
                }).error(function(jqXHR, textStatus, errorThrown ) {
                    generatePdfBtn.css('display', 'inline-block');
                    generatePdfMsg.css('display', 'none');

                    alert("ERROR! Failed to generate pdf");
                });
            });
        });
    </script>
{% endblock %}
