{% block app_billing_invoice_customer_row %}
    {{ form_row(form.idBillingInvoiceCustomer) }}
    {{ form_row(form.nameCustomer) }}
    {{ form_row(form.totalAmount) }}
    {{ form_row(form.overrideAmount) }}
    {{ form_row(form.haveInvoiceAddress) }}    
    {{ form_row(form.orderInformation) }}
    {{ form_row(form.invoiceAddressStreet) }}
    {{ form_row(form.invoiceAddressPostCode) }}
    {{ form_row(form.invoiceAddressCity) }}
    {{ form_row(form.invoiceAddressIdCountry) }}
    {{ form_row(form.invoiceAddressTelephone) }}
    {{ form_row(form.invoiceAddressFax) }}
    {{ form_row(form.invoiceAddressUid) }}

    <script type="text/javascript">
        function showOrderDetail() {
            var idBillingInvoiceCustomer = jQuery('#{{ form.idBillingInvoiceCustomer.vars.id }}').val();

            var url = '{{ viewOrderEntriesLink }}?idBillingInvoiceCustomer=' + idBillingInvoiceCustomer;
            jQuery.colorbox({
                iframe: true,
                width:  "90%",
                height: "90%",
                href:  url,
                onClosed:function(){
                    location.reload();
                }
            });
            return false;
        }

        jQuery(document).ready(function() {
            jQuery('#{{ form.idBillingInvoiceCustomer.vars.id }}').change(function() {
                jQuery('#field_row_form_customer_totalAmount').find('span').html('Loading..');
                jQuery('#{{ form.overrideAmount.vars.id }}').val('');

                var targetUrl = '{{ getBillingInvoiceCustomer }}?id=' + jQuery(this).val();

                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    context: document.body
                }).done(function(data) {
                    if (data == 'FAIL') {
                        alert("ERROR! CAN'T LOAD DATA");
                        return;
                    }
                    var invoiceCustomer = JSON.parse(data);
                    jQuery('#field_row_form_customer_totalAmount').find('span').html(invoiceCustomer['totalAmount'] + '&nbsp;');
                    jQuery('#{{ form.overrideAmount.vars.id }}').val(invoiceCustomer['overrideAmount']);
                    if (invoiceCustomer['invoiceAddressIsUsed'] == true) {
                        jQuery('#form_customer_invoiceAddressStreet').val(invoiceCustomer['invoiceAddressStreet']);
                        jQuery('#form_customer_invoiceAddressPostCode').val(invoiceCustomer['invoiceAddressPostCode']);
                        jQuery('#form_customer_invoiceAddressCity').val(invoiceCustomer['invoiceAddressCity']);
                        jQuery('#form_customer_invoiceAddressIdCountry').val(invoiceCustomer['invoiceAddressIdCountry']);
                        jQuery('#form_customer_invoiceAddressTelephone').val(invoiceCustomer['invoiceAddressTelephone']);
                        jQuery('#form_customer_invoiceAddressFax').val(invoiceCustomer['invoiceAddressFax']);
                        jQuery('#form_customer_invoiceAddressUid').val(invoiceCustomer['invoiceAddressUid']);
                        jQuery('#form_orderSelector_haveInvoiceAddress').val(invoiceCustomer['haveInvoiceAddress']);
                    }
                    else {
                        jQuery('#form_customer_invoiceAddressStreet').val('');
                        jQuery('#form_customer_invoiceAddressPostCode').val('');
                        jQuery('#form_customer_invoiceAddressCity').val('');
                        jQuery('#form_customer_invoiceAddressIdCountry').val('');
                        jQuery('#form_customer_invoiceAddressTelephone').val('');
                        jQuery('#form_customer_invoiceAddressFax').val('');
                        jQuery('#form_customer_invoiceAddressUid').val('');
                        jQuery('#form_orderSelector_haveInvoiceAddress').val(invoiceCustomer['haveInvoiceAddress']);
                    }
                }).error(function(jqXHR, textStatus, errorThrown ) {
                    alert("ERROR! CAN'T LOAD DATA");
                });
            });
        });
    </script>
{% endblock %}
