{% block app_billing_target_row %}
    {{ form_row(form.idType )}}
    {% for idBillType, tmp in billTypes %}
        {% set name = 'idTarget' ~ idBillType %}
        {{ form_row(form.getChild(name)) }}
    {% endfor %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#{{ form.idType.vars.id }}").change(function() {
                {% for idBillType, tmp in billTypes %}
                    jQuery('#field_row_form_billingTarget_idTarget{{ idBillType }}').removeClass('active').css('display', 'none');
                {% endfor %}
                
                var idBillType = jQuery(this).val();
                jQuery('#field_row_form_billingTarget_idTarget' + idBillType).addClass('active').css('display', 'block');
            });
            jQuery("#{{ form.idType.vars.id }}").change();
        });
    </script>
{% endblock %}
