{% block app_billing_delivery_info_row %}
    {{ form_row(form.deliveryNote) }}
    {{ form_row(form.deliveryEmail) }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#form_orderSelector_idTarget').change(function() {
                // Load delivery info

                var targetUrl = '{{ getDeliveryInfo }}?idType={{ idType }}&id=' + jQuery(this).val();

                jQuery.ajax({
                    url: targetUrl,
                    type: "POST",
                    context: document.body
                }).done(function(data) {

                    if (data == 'FAIL') {
                        alert("ERROR!");
                        return;
                    }

                    var deliveryInfo = JSON.parse(data);
                    
                    // Update deliveryNote
                    var deliveryNote = jQuery('#{{ form.deliveryNote.vars.id }}');
                    if (deliveryInfo.hasOwnProperty('deliveryNote')) {
                        deliveryNote.val(deliveryInfo['deliveryNote']);
                    }

                    // Update deliveryEmail
                    var deliveryEmail = jQuery('#{{ form.deliveryEmail.vars.id }}');
                    if (deliveryInfo.hasOwnProperty('deliveryEmail')) {
                        deliveryEmail.val(deliveryInfo['deliveryEmail']);
                    }

                }).error(function(jqXHR, textStatus, errorThrown ) {
                    alert("ERROR!" + textStatus);
                });   
            });
        });
    </script>
{% endblock %}