{% block app_billing_manual_system_row %}
<p>
    <label>Manual System</label>
    <span class="field">
        <button class="radius2" id="addNewOrder">Add new Order</button>
    </span>
</p>

{% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
    {% block gridDrawCallback %}
        jQuery('#{{ grid['id'] }} tr').each(function() {
            var colorCode = jQuery(this).find('.row_color').attr('color-code');
            if (colorCode != 'undefined') {
                jQuery(this).css('background-color', colorCode);
            }
        });
    {% endblock %}
{% endembed %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#manualOrderGrid_info').attr('style', 'display:none');
        jQuery('#manualOrderGrid_paginate').attr('style', 'display:none');
        jQuery('#addNewOrder').click(function(e) {
            e.preventDefault();

            var addNewOrder = jQuery('#generatePdfBtn');

            addNewOrder.css('display', 'none');
            addNewOrder.css('display', 'inline-block');
            var targetUrl = '{{ addNewOrderUrl | raw }}';
            jQuery.colorbox({
                iframe: true,
                width:  "90%",
                height: "90%",
                href:  targetUrl,
                onClosed:function(){
                    location.reload();
                }
            });
        });
    });
</script>
{% endblock %}
