{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            
            {{ form_row(form['view'].billingTarget)}}
            {{ form_row(form['view'].billDate)}}
            <p id="field_row_form_name">
                <label for="form_name" class="required">Name</label>
                <span class="field">
                    {{ form_widget(form['view'].name) }}
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(form['view'].name) }}
                    </label>
                </span>
            </p>
            <p id="field_row_form_number">
                <label for="form_name" class="required">Number</label>
                <span class="field">
                    {{ form_widget(form['view'].number) }}
                    <a href="javascript:generateInvoiceNumber()">Generate</a>
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(form['view'].number) }}
                    </label>
                </span>
            </p>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    generateInvoiceNumber();
                    jQuery('#{{ form['view'].name.vars.id }}').val(jQuery('#{{ form['view'].number.vars.id }}').val());

                });
                function changeTarget(ele) {
                    var nameTarget = jQuery('option:selected', jQuery(ele)).text().replace(/\s+\([0-9]+\s+opens\)/gi, '');
                    jQuery('#{{ form['view'].name.vars.id }}').val(jQuery('#{{ form['view'].number.vars.id }}').val()+ " "+ nameTarget);
                }
                function generateInvoiceNumber() {
                    var date = new Date();
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1; if (m < 10) { m = '0' + m; }
                    var d = date.getDate(); if (d < 10) { d = '0' + d; }
                    var h = date.getHours(); if (h < 10) { h = '0' + h; }
                    var i = date.getMinutes(); if (i < 10) { i = '0' + i; }
                    var s = date.getSeconds(); if (s < 10) { s = '0' + s; }
                    var str = 'R-' + d + '.' + m + '.' + y + '.' + h + '.' + i + '.' + s + '.001';
                    
                    jQuery('#{{ form['view'].number.vars.id }}').val(str);
                
                    target = jQuery('[id^="field_row_form_billingTarget_idTarget"].active select');
                    changeTarget(target);
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
