{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="widgetgrid">
        <!-- INVOICES -->
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>Invoices statistics</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">          
                    <thead>
                        <tr>
                            <th class="head0" style="width: 25%">Summary</th>
                            <th class="head0" style="width: 25%">Customers</th>
                            <th class="head0" style="width: 25%">Distribution Channel</th>
                            <th class="head0" style="width: 25%">Partner</th>
                        </tr>
                    </thead>   
                    <tbody>
                        <tr>
                            <td>Open for invoicing</td>
                            <td>&euro;{{ openForInvoicing['customer'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ openForInvoicing['distributionChannel'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ openForInvoicing['partner'] | number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Invoiced</td>
                            <td>&euro;{{ invoiced['customer'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ invoiced['distributionChannel'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ invoiced['partner'] | number_format(2, '.', ',') }}</td>
                        </tr>                        
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">          
                    <thead>
                        <tr>
                            <th class="head0" style="width: 25%">Status</th>
                            <th class="head0" style="width: 25%">Customers</th>
                            <th class="head0" style="width: 25%">Distribution Channel</th>
                            <th class="head0" style="width: 25%">Partner</th>
                        </tr>
                    </thead>   
                    <tbody>
                        {% for id, status in invoiceStatus %}
                            <tr>
                                <td>{{ status }}</td>
                                <td>
                                    {% if invoiceStatusStatistic['customer'][id] is defined %}
                                        &euro;{{ invoiceStatusStatistic['customer'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>
                                <td>
                                    {% if invoiceStatusStatistic['distributionChannel'][id] is defined %}
                                        &euro;{{ invoiceStatusStatistic['distributionChannel'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>
                                <td>
                                    {% if invoiceStatusStatistic['partner'][id] is defined %}
                                        &euro;{{ invoiceStatusStatistic['partner'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>      
                            </tr>        
                        {% endfor %}                
                    </tbody>
                </table>
            </div>
        </div>

        <!-- PAYMENT -->
        <div class="widgetbox" style="width: 100%">
            <div class="title"><h2 class="tabbed"><span>Payments statistics</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">          
                    <thead>
                        <tr>
                            <th class="head0" style="width: 25%">Summary</th>
                            <th class="head0" style="width: 25%">Distribution Channel</th>
                            <th class="head0" style="width: 25%">Partner</th>
                            <th class="head0" style="width: 25%">Acquisiteur</th>
                        </tr>
                    </thead>   
                    <tbody>
                        <tr>
                            <td>Open for payment</td>
                            <td>&euro;{{ openForPayment['distributionChannel'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ openForPayment['partner'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ openForPayment['acquisiteur'] | number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td>Payment billed</td>
                            <td>&euro;{{ payment['distributionChannel'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ payment['partner'] | number_format(2, '.', ',') }}</td>
                            <td>&euro;{{ payment['acquisiteur'] | number_format(2, '.', ',') }}</td>
                        </tr>                        
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">          
                    <thead>
                        <tr>
                            <th class="head0" style="width: 25%">Status</th>
                            <th class="head0" style="width: 25%">Distribution Channel</th>
                            <th class="head0" style="width: 25%">Partner</th>
                            <th class="head0" style="width: 25%">Acquisiteur</th>
                        </tr>
                    </thead>   
                    <tbody>
                        {% for id, status in paymentStatus %}
                            <tr>
                                <td>{{ status }}</td>
                                <td>
                                    {% if paymentStatusStatistic['distributionChannel'][id] is defined %}
                                        &euro;{{ paymentStatusStatistic['distributionChannel'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>
                                <td>
                                    {% if paymentStatusStatistic['partner'][id] is defined %}
                                        &euro;{{ paymentStatusStatistic['partner'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>      
                                <td>
                                    {% if paymentStatusStatistic['acquisiteur'][id] is defined %}
                                        &euro;{{ paymentStatusStatistic['acquisiteur'][id] | number_format(2, '.', ',') }}
                                    {% else %}  
                                        &euro;0.00
                                    {% endif %}
                                </td>
                            </tr>        
                        {% endfor %}                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}