{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContent %}
            {{ parent() }}
            <script type="text/javascript">
                jQuery(document).ready(function() {
                });
            </script>
        {% endblock %}

        {% block buttons %}
            <button class="submit radius2" id="SaveButton">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
        {% endblock %}
    {% endembed %}
{% endblock %}
