{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}
{% block MainContentInner %}
    <div class="content">
        <h2>Move back to phase 1</h2>
        <br/>
        {% if isSuccess %}
            <div class="notification msginfo">
                <p>Moved '{{ orderNumber }}' to phase 1: DONE!</p>
            </div>
        {% else %}
            <div class="notification msgerror">
                <p>{{ errorMsg | default('ERROR!') }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}