{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}
{% block MainContentInner %}
    <div class="content">
        <h2>Order detail</h2>
                <br/>
                <div class="stdform stdform2 one_half">
                    <p>
                        <label>Order number</label>
                        <span class="field">{{ customer.orderNumber }} <a target="_blank" href="{{ editCustomerUrl }}">View order</a></span>
                    </p>
                    <p>
                        <label>Order date</label>
                        <span class="field">{{ customerOrderDate }}&nbsp;</span>
                    </p>         
                    <p>
                        <label>Distribution channel</label>
                        <span class="field">{{ distributionChannel }}&nbsp;</span>
                    </p>     
                    <p>
                        <label>Partner</label>
                        <span class="field">{{ partner }}&nbsp;</span>
                    </p>                           
                </div>
                <div class="stdform stdform2 one_half last">
                    <p>
                        <label>Price category</label>
                        <span class="field">{{ customerPriceCategory }}&nbsp;</span>
                    </p> 
                    <p>
                        <label>Invoice goes to</label>
                        <span class="field">{{ customerInvoiceGoesTo }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Report delivery</label>
                        <span class="field">{{ reportDelivery }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Margin goes to</label>
                        <span class="field">{{ customerMarginGoesTo }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Acquisiteurs</label>
                        <span class="field">
                            {{ acquisiteurs | raw }}&nbsp;
                        </span>
                    </p>
                </div>
                <br clear="all"/>
                <br/>

        <h2>Price</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Product</th>
                    <th class="head1" style="width: 8%; color: green">
                        Invoice {{ billEntries['INVOICE']['invoiceTo'] }}
                        {% if billEntries['INVOICE']['idBill'] != 0 %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['INVOICE']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                    <th class="head1" style="width: 8%; color: red">
                        Pay DC
                        {% if (billEntries['PAY_DC']['idBill'] is defined) and (billEntries['PAY_DC']['idBill'] != 0) %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['PAY_DC']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                    <th class="head1" style="width: 8%; color: red">
                        Pay Partner
                        {% if (billEntries['PAY_PARTNER']['idBill'] is defined) and (billEntries['PAY_PARTNER']['idBill'] != 0) %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['PAY_PARTNER']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                    <th class="head1" style="width: 8%; color: red">
                        Pay A1
                        {% if (billEntries['PAY_A1']['idBill'] is defined) and (billEntries['PAY_A1']['idBill'] != 0) %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['PAY_A1']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                    <th class="head1" style="width: 8%; color: red">
                        Pay A2
                        {% if (billEntries['PAY_A2']['idBill'] is defined) and (billEntries['PAY_A2']['idBill'] != 0) %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['PAY_A2']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                    <th class="head1" style="width: 8%; color: red">
                        Pay A3
                        {% if (billEntries['PAY_A3']['idBill'] is defined) and (billEntries['PAY_A3']['idBill'] != 0) %}
                            (<a target="_blank" href="{{ editBillLink }}?id={{ billEntries['PAY_A3']['idBill'] }}">Billed</a>)
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key, entry in entryKeys %}
                    <tr style="height: 45px">
                        <td>{{ entry }}</td>
                        {% for code in columnCode %}
                            <td>
                                {% if billEntries[code]['entries'][key] is defined %}
                                    &euro;{{ billEntries[code]['entries'][key]['amount'] | number_format(2, '.', ',') }}
                                {% endif %}
                            </td>
                        {% endfor %}            
                    </tr>
                {% endfor %}
                
                <tr style="height: 45px">
                    <td><b>Total Amount</b></td>
                    {% for code in columnCode %}
                        <td>
                            {% if (billEntries[code]['totalAmount'] is defined) and (billEntries[code]['totalAmount'] != '') %}
                                &euro;{{ billEntries[code]['totalAmount'] | number_format(2, '.', ',') }}                    
                            {% endif %}
                        </td>       
                    {% endfor %}             
                </tr>
                <tr style="height: 45px">
                    <td><b>Override Amount</b></td>
                    {% for code in columnCode %}
                        <td>
                            {% if (billEntries[code]['overrideAmount'] is defined) and (billEntries[code]['overrideAmount'] != '') %}
                                &euro;{{ billEntries[code]['overrideAmount'] | number_format(2, '.', ',') }}                    
                            {% endif %}
                        </td>        
                    {% endfor %}               
                </tr>
            </tbody>
        </table>

        <br/>
        <br/>

        <h2>Action</h2>
        <br/>
        <p class="stdformbutton">
            {% if canRollbackPhase1 %}
                <a href="{{ moveBackPhase1Link }}" class="submit radius2" onclick="return confirm('Are you really want to move this back to phase 1?')">Move back to phase 1</a>
            {% else %}
                Can't roll back to phase 1, as some entry is billed
            {% endif %}
        </p>
    </div>
{% endblock %}