{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/jquery-ui-1.8.16.css') }}" type="text/css">    
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}                            
            {{ form_row(form['view'].sectionInfo )}}
            {{ form_row(form['view'].name )}}
            {{ form_row(form['view'].formImgFile )}}
            <p>
                <span class="field">                    
                    <a target="_blank" href="{{ links['scanForm']['downloadScanFormPdf'] }}?id={{ appRequestId }}">Download PDF for printing</a>
                </span>
            </p>

            {{ form_row(form['view'].sectionDesign )}}
            {{ form_row(form['view'].scanFormEditor )}}
        {% endblock %}
    {% endembed %}
{% endblock %}
