
/***** GENE GROUP */
.geneGroup {}
.geneGroup .geneRow { width: 100%; height: 45px; text-align: right; display: block; }
.geneGroup .geneRow label { float: left; width: 150px; text-align: right; padding: 0px 20px 0 0; }
.geneGroup .geneRow .geneField { width: 100%; margin-left: 180px; display: block; text-align: left; position: relative; }
.geneGroup .geneRow .geneField select{ min-width: 80px; }
.geneGroup .extraSpan { font-size: 11px;font-weight: bold; display: inline-block; width: 100px }

.text_block {
    margin-top: 5px; 
    display: none;
}
.text_block span {
    display: block;
    margin-top: 5px;
}

.text_block span text {
    display: inline-block;
    width: 104px;
    float: left;
}


/*=======================================
* Tooltips
* ======================================*/
.tooltip{
   position: absolute;
   padding: 10px 13px;
   z-index: 2;
   
   color: #303030;
   background-color: #f5f5b5;
   border: 1px solid #DECA7E;
   
   font-family: sans-serif;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
}

.tooltip h3{
    margin: 0 0 5px;
    text-align: left;
}

.hide-content {
	display: none;
}
