{% block app_meeting_entry_row_widget %}
    <span class="text_block" style="display: inline-block; width: 97%">
        <span><text>Name:</text>{{ form_widget(form.name) }} </span><br/>
        <span><text>Description:</text>{{ form_widget(form.description) }} </span><br/>
        <span><text>Actions:</text><a href="javascript:createTaskFromLog('{{ form.name.vars.id }}', '{{ form.description.vars.id }}')">Create task</a> </span><br/>
    </span>
{% endblock %}