{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        function onChangeGoalType() {
            var idGoalType = jQuery('#{{ form['view'].idType.vars.id }}').val();
            if (idGoalType == 1) { // Goal
                jQuery('#field_row_{{ form['view'].idGoal.vars.id }}').css('display', 'block');
                jQuery('#field_row_{{ form['view'].idContinualImprovement.vars.id }}').css('display', 'none');
            } 
            else { // Continual improvement
                jQuery('#field_row_{{ form['view'].idGoal.vars.id }}').css('display', 'none');
                jQuery('#field_row_{{ form['view'].idContinualImprovement.vars.id }}').css('display', 'block');
            }
        }

        jQuery(document).ready(function() {
            jQuery('#{{ form['view'].idType.vars.id }}').change(function() {
                onChangeGoalType();
            })
            onChangeGoalType();
        });
    </script>
{% endblock %}