{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        function createTaskFromLog(nameNodeId, descriptionNodeId) {
            var nameNode = jQuery('#' + nameNodeId);
            var descriptionNode = jQuery('#' + descriptionNodeId);
            var url = '{{ links['todo']['createTask'] | raw }}?idMeeting={{ appRequestId }}&name=' + encodeURIComponent(nameNode.val()) + "&description=" + encodeURIComponent(descriptionNode.val());
            jQuery.colorbox({
                href: url,
                iframe: true,
                width:  "90%",
                height: "90%",
                onClosed:function(){ 
                }
            });
        }
    </script>
{% endblock %}