{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}
    {% endembed %}
{% endblock %}