                var editor;
                function executeFormula() {
                    var targetUrl = "{{ links.formulaTemplate.execute }}";
                    jQuery('#testOutputValue').html('Processing...');

                    //var formulaData = jQuery('#{{ form['view'].formula.vars.id }}').val();
                    var formulaData = editor.getSession().getValue();
                    var testInputValueData = jQuery('#{{ form['view'].testInputValue.vars.id }}').val();

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { formula: formulaData, testInputValue: testInputValueData },
                        context: document.body
                    }).done(function(data) {
                        jQuery('#testOutputValue').html(data);
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#testOutputValue').html(textStatus + " " + errorThrown);
                    });
                    return false;
                }

                function importCustomerData() {
                    var targetUrl = "{{ links['customerReport']['loadCustomerData'] }}";
                    jQuery('#{{ form['view'].testInputValue.vars.id }}').val('Loading...');

                    var orderNumber = jQuery('#orderNumber').val();
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { orderNumber: orderNumber },
                        context: document.body
                    }).done(function(data) {
                        jQuery('#{{ form['view'].testInputValue.vars.id }}').val(data);
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#{{ form['view'].testInputValue.vars.id }}').val(textStatus + " " + errorThrown);
                    });
                    return false;
                }
                jQuery(document).ready(function() {
                    jQuery('#form_formula').each(function () {
                        var textarea = jQuery(this);

                        var editDiv = jQuery('<div>', {
                            position: 'absolute',
                            width: textarea.width(),
                            height: textarea.height()
                        }).insertBefore(textarea);
                        editDiv.css('border', '#DDDDDD 1px solid');

                        textarea.css('visibility', 'hidden');
                        textarea.css('height', '0px');

                        editor = ace.edit(editDiv[0]);
                        //editor.renderer.setShowGutter(false);
                        editor.getSession().setValue(textarea.val());
                        editor.getSession().setMode("ace/mode/twig");
                        editor.setTheme("ace/theme/chrome");

                        // copy back to textarea on form submit...
                        textarea.closest('form').submit(function () {
                            textarea.val(editor.getSession().getValue());
                        })

                    });
                });