{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h2>Diff tool: {{ formulaTemplate.name }}</h2>
        <br/><br/>

        
        <form id="MainForm" method="get" class="stdform stdform2" action="{{ computeDiffUrl }}" target="_blank">
            <p>
                <label>From version</label>
                <span class="field">
                <input type="text" name="fromVersion" />
                </span>
            </p>

            <p>
                <label>To version</label>
                <span class="field">
                <input type="text" name="toVersion" value="HEAD"/>
                </span>
            </p>

            <p class="stdformbutton">
                <button class="submit radius2">&nbsp;&nbsp;Compute diff&nbsp;&nbsp;</button>
            </p>
            <input type="hidden" name="idFormulaTemplate" value="{{ idFormulaTemplate }}" />
        </form>

        <br/>
        <br/>
        <i>HEAD = active version</i>
        <br/>
        <i>You can specify either number or alias</i>
        <br/>
        <br/>
    </div>

{% endblock %}