<br/>
<h2>ASSOCIATIVE ANALYST</h2>
<br/>
<p>
    <span style='font-size: bold'>
        <span style='color: red'>
            {{ result['percent'] }}%&nbsp
        </span>
        <span style='color: blue'>
            ({{ result['numB'] }} / {{ result['numA'] }})&nbsp
        </span>
    </span>
    Customer that order product A then order product B after</p>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
    <thead>
        <tr style="height: 45px">
            <th class="head1" style="width: 20%">Customer</th>
            <th class="head1" style="width: 15%">Birthday</th>
            <th class="head1" style="width: 15%">Last time order product A</th>
            <th class="head1" style="width: 15%">Last time order product B</th>
        </tr>
    </thead>
    <tbody>
        {% for key, customer in result['customers'] %}
            <tr>
                <td>{{ customer['name'] }}</td>
                <td>{{ customer['birthday'] }}</td>
                <td>{{ customer['AMaxDate'] }}</td>
                <td>{{ customer['BMaxDate'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br/>