<br/>
<h2>ORDER OVERVIEW</h2>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
    <thead>
        <tr style="height: 45px">
            <th class="head1" style="width: 20%">Product</th>
            <th class="head1" style="width: 15%">Number of order</th>
        </tr>
    </thead>
    <tbody>
        {% for key, overview in result %}
            {% if overview['visible'] %}
                <tr>
                    <td>{{ overview['name'] }}</td>
                    <td>{{ overview['numOrder'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<br/>