<style type="text/css">
    .stdtable tr.total-row td {
        font-weight: bold;
        color: red;
    }
</style>
<br/>
<h2>PRODUCT ANALYST</h2>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
    <thead>
        <tr style="height: 45px">
            <th class="head1" style="width: 20%">Product</th>
            <th class="head1" style="width: 15%">Number of order</th>
            <th class="head1" style="width: 15%">Number of customer</th>
            <th class="head1" style="width: 15%">Number of customer order twice or more (>= 2x)</th>
            <th class="head1" style="width: 15%">Number of customer order thrice or more (>= 3x)</th>
        </tr>
    </thead>
    <tbody>
        {% for key, product in result['products'] %}
            <tr>
                <td>{{ product['name'] }}</td>
                <td>{{ product['numOrder'] }}</td>
                <td>{{ product['numberCustomers'] }}</td>
                <td>{{ product['numberCustomerOrderMoreThanTwice'] }}</td>
                <td>{{ product['numberCustomerOrderMoreThanThrice'] }}</td>
            </tr>
        {% endfor %}
            <tr class='total-row'>
                <td>Total</td>
                <td>{{ result['total']['totalOrder'] }}</td>
                <td>{{ result['total']['totalCustomers'] }}</td>
                <td>{{ result['total']['totalCustomerOrderMoreThanTwice'] }}</td>
                <td>{{ result['total']['totalCustomerOrderMoreThanThrice'] }}</td>
            </tr>
    </tbody>
</table>

<br/>
<h2>CUSOTMER'S ORDERED IN DETAIL</h2>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
    <thead>
        <tr style="height: 45px">
            <th class="head1" style="width: 20%">Customer's name</th>
            <th class="head1" style="width: 20%">Date of birth</th>
            <th class="head1" style="width: 15%">Order Number</th>
            <th class="head1" style="width: 15%">Products</th>
            <th class="head1" style="width: 15%">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for key, customer in result['customers'] %}
            {% for orderKey, order in customer['orders'] %}
                <tr>
                {% if loop.index == 1 %}
                    <td rowspan="{{ customer['orders'] | length }}">
                        {{ customer['name'] }}
                    </td>
                    <td rowspan="{{ customer['orders'] | length }}">
                        {{ customer['birthday'] }}
                    </td>
                {% endif %}
                    <td>{{ order['orderNumber'] }}</td>
                    <td>{{ order['products'] }}</td>
                    <td>
                        {{ order['orderedDateInfo'] }}
                        </br>
                        {{ order['orderedDateDiff'] }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
<br/>