{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentNormal %}
                {{ form_row(form['view'].currentTab) }}

                <div id="main-order-tabs">
                    <ul>
                        {% for key, tab in tabs %}
                        <li>
                            <a id="tab-button-{{ key }}" href="#section-{{ key }}" onclick="tabClick('{{ key }}')">
                                {{ tab['title'] }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    {% for key, tab in tabInputs %}
                    <div id="section-{{ key }}">
                        {% for tabInput in tab %}
                            {{ form_row(form['view'][tabInput]) }}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            {% endblock %}

            {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Process&nbsp;&nbsp;</button>
            {% endblock %}
        {% endembed %}

        <script>
            jQuery(document).ready(function() {
                jQuery('#main-order-tabs').tabs();
                var currentTab = jQuery('#{{ form['view'].currentTab.vars.id }}').val();
                if (currentTab) {
                    jQuery('#tab-button-' + currentTab).click();
                }
            });

            function tabClick(key) {
                console.log(key);
                jQuery('#{{ form['view'].currentTab.vars.id }}').val(key);
            }
        </script>

        {% if resultType == 'overview-product' %}
            {% include 'LeepAdminBundle:OverviewOrder:overview-product.html.twig' with {'result': result} %}
        {% elseif resultType == 'associative-analyst' %}
            {% include 'LeepAdminBundle:OverviewOrder:associative-analyst.html.twig' with {'result': result} %}
        {% elseif resultType == 'product-analyst' %}
            {% include 'LeepAdminBundle:OverviewOrder:product-analyst.html.twig' with {'result': result} %}
        {% endif %}

    </div>
{% endblock %}