{% block app_customer_dashboard_status_row_widget %}
    {{ form_widget(form.id) }} 
    
    <span style="width: 40%; display: inline-block">
        <strong>{{ form.status.vars.label }}</strong> &nbsp;&nbsp;&nbsp;{{ form_widget(form.status) }}
    </span>
{% endblock %}