{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}            
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}   
            <script type="text/javascript">                        
                var newIndex = 1;

                function statusRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }                

                function statusRowAdd(appendAfter) {
                    var collectionHolder = jQuery('#statusRowCollection');
                    var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);        

                    var rowId = 'statusRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');                
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }                                        
                    spanWidget.append(newForm);
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span>');
                    spanWidget.append('<a href="javascript:statusRowDelete(\'' + rowId + '\')"><span class="button-delete" style="width: 25px"></span></a>');
                    spanWidget.append('<a href="javascript:statusRowAdd(\'' + '#' + rowId + '\')"><span class="button-add" style="width: 25px"></span></a>');                    
                }


                jQuery(document).ready(function() {
                    jQuery('#statusRowCollection').sortable();
                });
            </script>

            <div id="statusRowCollection">
                {% for id, statusRow in form['view'].statusList %}
                    <p id="statusRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">                            
                            {{ form_widget(statusRow)}}
                            <span style="width: 50px; display: inline-block"></span>
                            <a href="javascript:statusRowDelete('statusRow_{{ id }}')"><span class="button-delete" style="width: 25px"></span></a>                
                            <a href="javascript:statusRowAdd('#statusRow_{{ id }}')"><span class="button-add" style="width: 25px"></span></a>
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}                                
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="statusRowAddLink" href="javascript:statusRowAdd('')">Add new status</a>
                </span>
            </p>
            <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}

        {% block buttons %}
            <button class="radius2" onclick="return submitForm()">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>    

            <script type="text/javascript">
                function submitForm() {
                    jQuery('#statusRowCollection p').each(function(index) {
                        jQuery(this).find('input[type=hidden]').each(function(pos) {
                            if (pos == 0) {
                                jQuery(this).val(index + 1);
                            }
                        });
                    });

                    jQuery('form').submit();

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
