{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">                
                            <button class="radius2" onclick="return viewFeedbackLink()">&nbsp;&nbsp;View question page&nbsp;&nbsp;</button>                            
                            <button class="radius2" onclick="return viewSummary()">&nbsp;&nbsp;View summary&nbsp;&nbsp;</button>                                                        
                        </div>
                        <script type="text/javascript">
                            function viewFeedbackLink() {
                                var url = '{{ path('leep_admin_feedback_form') }}';
                                window.open(url,'_blank');
                                return false;
                            }
                            function viewSummary() {
                                var url = '{{ links['feedback']['viewSummary'] }}';
                                window.open(url,'_blank');
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}