{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% form_theme form['view'] 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}
    <form id="{{ form['id'] }}" class="stdform stdform2" method="post" action="{{ formTargetUrl }}" target="_blank" novalidate {{ form_enctype(form['view']) }} style="margin-top: -1px">
        {% block formContent %}
            {% block formContentNormal %}
                {% for element in form['view'] %}
                    {% if 'hidden' not in element.vars.block_prefixes %}
                        {{ form_row(element) }}
                    {% endif %}
                {% endfor %}
            {% endblock %}        

            {% block formContentHidden %}
                {% for element in form['view'] %}
                    {% if 'hidden' in element.vars.block_prefixes %}
                        {{ form_widget(element) }}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endblock %}
                            
        <p class="stdformbutton">
            {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Generate report&nbsp;&nbsp;</button>
            {% endblock %}
        </p>
    </form>
                                                    
{% endblock %}
