{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}
{% block MainContentInner %}
    <div class="content stdform stdform2">
        <h2>Analysis Time</h2>
        <br/>
        <p></p>
        <p>
            <label>Start Date</label>
            <span class="field">{{ startDate }}&nbsp;</span>
        </p>
        <p>
            <label>End Date</label>
            <span class="field">{{ endDate }}&nbsp;</span>
        </p>
        <p>
            <label>Distribution Channel</label>
            <span class="field">{{ idDistributionChannel }}&nbsp;</span>
        </p>
        <p>
            <label>Category</label>
            <span class="field">{{ categories }}&nbsp;</span>
        </p>        
        <p>
            <label>Product</label>
            <span class="field">{{ products }}&nbsp;</span>
        </p>
        <p>
            <label>From Status</label>
            <span class="field">{{ fromStatus }}&nbsp;</span>
        </p>
        <p>
            <label>To Status</label>
            <span class="field">{{ toStatus }}&nbsp;</span>
        </p>

        <br/>
        <br/>
        <h2>Result</h2>
        <br/>
        <p></p>
        <p>
            <label>Average time</label>
            <span class="field" id="averageTime">{{ averageTime }} on {{ countOrder }} order(s)&nbsp;</span>
        </p>
        <p>
            <label>The number of order</label>
            <span class="field" id="totalOrder">{{ totalOrder }}&nbsp;</span>
        </p>
        <p class="stdformbutton">        
            <button class="submit radius2" id="hideButton">&nbsp;&nbsp;Remove select orders&nbsp;&nbsp;</button>
        </p>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px" id="mainTable">
            <thead>
                <tr>
                    <th class="head1" style="width: 15%">Date Ordered</th>
                    <th class="head1" style="width: 15%">Order Number</th>
                    <th class="head1" style="width: 20%">DC</th>
                    <th class="head1" style="width: 30%">Name</th>
                    <th class="head1" style="width: 20%">Analysis Time</th>
                </tr>
            </thead>
            <tbody>
                {% for index, order in analysisTime %}
                    <tr id="row_{{ index }}" class="selectbox" index="{{ index }}" data="{{ order['analysisTime'] }}" v="0">
                        <td>{{ order['dateOrdered'] }}</td>
                        <td>{{ order['orderNumber'] }}</td>
                        <td>{{ order['dc'] }}</td>
                        <td>{{ order['name'] }}</td>
                        <td class="analysisTime">{{ order['analysisTime'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#mainTable .selectbox').click(function() {
                    var index = jQuery(this).attr('index');
                    var v = jQuery(this).attr("v");

                    if (v == 0) {
                        jQuery('#row_' + index).css('background-color', '#fffccc');
                        jQuery(this).attr("v", 1);
                    }
                    else {
                        jQuery('#row_' + index).css('background-color', '');
                        jQuery(this).attr("v", 0);
                    }
                });

                jQuery('#hideButton').click(function() {
                    jQuery('#mainTable .selectbox').each(function() { 
                        var index = jQuery(this).attr('index');
                        if (jQuery(this).attr("v") == 1) {
                            jQuery('#row_' + index).css('display', 'none');
                        }
                    });

                    // Update value
                    var count = 0;
                    var sum = 0;
                    var total = 0;
                    jQuery("#mainTable .selectbox").each(function() {
                        if (jQuery(this).attr("v") == 0) {
                            var data = jQuery(this).attr('data');
                            if (data != 'UNDEFINED') {
                                count++;
                                sum += parseInt(data);
                            }
                            total++;
                        }
                    });
                    var averageTime = 0;
                    if (count != 0) {
                        averageTime = sum / count;

                    }
                    jQuery("#totalOrder").html(total);
                    jQuery("#averageTime").html(averageTime.toFixed(2) + " on " + count + " order(s)")

                    return false;
                });
            });


        </script>
    </div>
{% endblock %}