{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ parent() }}
            <script type="text/javascript">
                function validateCryosaveSamples() {
                    var selectedSampleCodesValue = jQuery('#{{ form['view'].selectedSampleCodes.vars.id }}').val();
                    if (selectedSampleCodesValue != '') {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentSamples.vars.id }} .field');
                        resultSpan.html('Validating..');

                        var targetUrl = '{{ links['cryosaveSample']['bulkValidate'] }}';
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: { selectedId: selectedSampleCodesValue },
                            context: document.body
                        }).done(function(data) {
                            resultSpan.html(data);                            
                        }).error(function(jqXHR, textStatus, errorThrown ) {
                            resultSpan.html(textStatus + " " + errorThrown);
                        });                        
                    }
                    else {       
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentSamples.vars.id }} .field');
                        resultSpan.html('');             
                    }
                }

                jQuery('#{{ form['view'].selectedSampleCodes.vars.id }}').change(function() {
                    validateCryosaveSamples();
                });
                jQuery(document).ready(function() {
                    validateCryosaveSamples();
                });                
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}