<table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
        <tr>
            <th class="head0" style="width: 15%">Sample code</th>
            <th class="head0" style="width: 15%">Current Status</th>
            <th class="head0" style="width: 15%">Order</th>
            <th class="head0" style="width: 15%">Language</th>
            <th class="head0" style="width: 15%">Result</th>
            <th class="head0" style="width: 15%">Report</th>
            <th class="head0" style="width: 10%">Uploaded?</th>
        </tr>
    </thead>
    <tbody>
        {% for sampleCode, d in data %}
            <tr style="color: {{ d['color'] }}">
                <td>{{ d['sampleCode']}}</td>
                <td>{{ d['status']}}</td>
                <td>{{ d['order']}}</td>
                <td>{{ d['language']}}</td>
                <td>{{ d['result']}}</td>
                <td>{{ d['report']}}</td>
                <td>{{ d['uploaded']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>