{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}      
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return sampleExportToCSV()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>  
                            <button class="radius2" onclick="return sampleBulkSend()">&nbsp;&nbsp;Bulk-update&nbsp;&nbsp;</button>   
                        </div>
                        <script type="text/javascript">
                            function getSelectedId() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                return selectedId;
                            }
                            function sampleBulkSend() {
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['cryosaveSample']['bulkEdit'] }}?selectedId=' + selectedId;

                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                
                                return false;
                            }
                            function sampleExportToCSV() {
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['cryosaveSample']['export'] }}?selectedId=' + selectedId;

                                window.open(targetUrl, '_blank');
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
