{% block app_pellet_entry_widget %}
    <td>{{ form_widget(form.created) }}</td>
    <td>{{ form_widget(form.createdBy) }}</td>
    <td>{{ form_widget(form.receivedStatus) }}&nbsp;{{ form_widget(form.receivedBy) }}</td>
    <td>{{ form_widget(form.received) }}</td>
    <td>{{ form_widget(form.cups) }}</td>
    <td>
    	{{ form_widget(form.expiryDate) }}
    	<br/>
    	{{ form_widget(form.expiryDateWarningDisabled) }}
    	{{ form.expiryDateWarningDisabled.vars.label }}
    </td>
    <td>{{ form_widget(form.note) }}</td>
{% endblock %}
