{% block app_scan_form_verify_mark_row %}
    <p id="field_row_{{ form.vars.id}}">
        <span class="field" style="margin-left: -1px; ">
            <img src="{{ imageUrl }}" style="max-width: 650px"></img>
            <br/>
            <br/>
            Verdict: 
            {{ form_widget(form.idResult) }}
        </span>
    </p>
{% endblock %}