{% block app_material_purchase_widget %}
    <td>{{ form_widget(form.dateOrdered) }}</td>
    <td>{{ form_widget(form.orderedReceived) }}&nbsp;{{ form_widget(form.receivedBy) }}</td>
    <td>{{ form_widget(form.receivedDate) }}</td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td>{{ form_widget(form.orderBy) }}</td>
    <td>{{ form_widget(form.externalLot) }}</td>
    <td>{{ form_widget(form.lotNumber) }}</td>
    <td>
    	{{ form_widget(form.expiryDate) }}
    	<br/>
    	{{ form_widget(form.expiryDateWarningDisabled) }}
    	{{ form.expiryDateWarningDisabled.vars.label }}
    </td>
    <td>{{ form_widget(form.info) }}</td>
{% endblock %}
