{% block app_lead_category_status_cell_widget %}
	{{ form_widget(form.id) }}															
	Number&nbsp;&nbsp;{{ form_widget(form.number) }}									
	&nbsp;&nbsp;&nbsp;&nbsp;Status&nbsp;&nbsp;{{ form_widget(form.status) }}			
	&nbsp;&nbsp;&nbsp;&nbsp;Value&nbsp;&nbsp;&nbsp;{{ form_widget(form.value) }}		

	<script type="text/javascript">
		function tableCollectionAfterUpdateRow(collectionId) {
			var container = jQuery('#container_' + collectionId);
			var rows = container.children("p").children("span");
			for (var index = 0; index < rows.size(); index++){
				levelInput = jQuery(rows[index]).children('input')[1];
				jQuery(levelInput).val(index + 1);
			}
		}
	</script>

{% endblock %}
