{% block app_username_row_widget %}
	<script type='text/javascript'>
        function generateUsername() {
            var name = jQuery('#form_{{ nameSourceFieldId }}').val();
            var targetUrl = '{{ urlGenerateUsername }}?name=' + name;
            jQuery.ajax({
                url: targetUrl,
                type: "POST"
            }).done(function(data) {
                jQuery('#{{ form.username.vars.id}}').val(data);
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert("ERROR! CAN'T LOAD DATA");
            });
        }
	</script>

	{# Username #}
	{{ form_widget(form.username) }}
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:generateUsername()">Generate</a>
    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
    	 {{ form_errors(form.username) }}
    </label>
{% endblock %}
