{% block app_file_uploader_widget %}
    {{ form_widget(form.attachment) }}
    {{ form_widget(form.idFile) }}
    {% if info %}
    	<br/>{{ info }}
    {% endif %}
    
    {% if (form.file.vars.value is not empty) and (isShowViewFile) %}
        &nbsp;<a href="{{ filePath }}&name={{ form.file.vars.value }}&t={{ timestamp }}" target="_blank">{{ form.originalName.vars.value }}</a> | 
    {% endif %}
{% endblock %}