{% block app_text_tool_widget %}
    {{ form_widget(form.sortOrder) }}
    {{ form_widget(form.idTextToolType) }}
    <br/>

    <!-- IMAGE -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolImageAcrossPage" class="text_block" style="background-color: {{ bgColor['toolImageAcrossPage'] }}">
        <span><text>Image:</text>{{ form_widget(form.toolImageAcrossPage.image) }}</span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolImageHeading" class="text_block" style="background-color: {{ bgColor['toolImageHeading'] }}">
        <span><text>Image:</text>{{ form_widget(form.toolImageHeading.image) }} </span>
        <span><text>Overall height:</text>{{ form_widget(form.toolImageHeading.overallHeight) }} </span>
        <span><text>Text Block:</text>{{ form_widget(form.toolImageHeading.textBlock) }} </span>
        <span><text>Box color:</text>{{ form_widget(form.toolImageHeading.boxColor) }} </span>
        <span><text>Alignment:</text>{{ form_widget(form.toolImageHeading.alignment) }} </span>
        <span><text>Font color:</text>{{ form_widget(form.toolImageHeading.fontColor) }} </span>
        <span><text>Font size:</text>{{ form_widget(form.toolImageHeading.fontSize) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Top:</text>{{ form_widget(form.toolImageHeading.marginTop) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Left:</text>{{ form_widget(form.toolImageHeading.marginLeft) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Right:</text>{{ form_widget(form.toolImageHeading.marginRight) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolImageTitlePageLogo" class="text_block" style="background-color: {{ bgColor['toolImageTitlePageLogo'] }}">
        <span><text>Image:</text>{{ form_widget(form.toolImageTitlePageLogo.image) }} </span>
        <span><text>Box color:</text>{{ form_widget(form.toolImageTitlePageLogo.boxColor) }} </span>
        <span><text>Logo:</text>{{ form_widget(form.toolImageTitlePageLogo.logo) }} </span>
        <span><text>Override logo path:</text>{{ form_widget(form.toolImageTitlePageLogo.overrideLogo) }} </span><br/>
        <span><text>Alignment:</text>{{ form_widget(form.toolImageTitlePageLogo.alignment) }} </span>
    </span>

    <!-- TEXT -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextBarcode" class="text_block" style="background-color: {{ bgColor['toolTextBarcode'] }}">
        <span><text>Text Block:</text>{{ form_widget(form.toolTextBarcode.textBlock) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolTextBarcode.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolTextBarcode.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Alignment:</text>{{ form_widget(form.toolTextBarcode.alignment) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font:</text>{{ form_widget(form.toolTextBarcode.effects) }} </span>
        <span style="width: 240px; display: inline-block"><text>Code type:</text>{{ form_widget(form.toolTextBarcode.idCodeType) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextPlain" class="text_block" style="background-color: {{ bgColor['toolTextPlain'] }}">
        <span><text>Text Block:</text>{{ form_widget(form.toolTextPlain.textBlock) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolTextPlain.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolTextPlain.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Alignment:</text>{{ form_widget(form.toolTextPlain.alignment) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font:</text>{{ form_widget(form.toolTextPlain.effects) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolTextPlain.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextHtml" class="text_block" style="background-color: {{ bgColor['toolTextHtml'] }}">
        <span><text>HTML:</text>{{ form_widget(form.toolTextHtml.textBlock) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextList" class="text_block" style="background-color: {{ bgColor['toolTextList'] }}">
        <span><text>Text Block:</text>{{ form_widget(form.toolTextList.textBlock) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolTextList.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolTextList.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font:</text>{{ form_widget(form.toolTextList.effects) }} </span>
        <span style="width: 240px; display: inline-block"><text>Bullet color:</text>{{ form_widget(form.toolTextList.bulletColor) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolTextList.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextColorTextbox" class="text_block" style="background-color: {{ bgColor['toolTextColorTextbox'] }}">
        <span><text>Text Block:</text>{{ form_widget(form.toolTextColorTextbox.textBlock) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolTextColorTextbox.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolTextColorTextbox.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Alignment:</text>{{ form_widget(form.toolTextColorTextbox.alignment) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font:</text>{{ form_widget(form.toolTextColorTextbox.effects) }} </span>
        <span style="width: 240px; display: inline-block"><text>Box size:</text>{{ form_widget(form.toolTextColorTextbox.boxSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Box color:</text>{{ form_widget(form.toolTextColorTextbox.boxColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Box background color:</text>{{ form_widget(form.toolTextColorTextbox.boxBackgroundColor) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolTextColorTextbox.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolTextFloatingPlain" class="text_block" style="background-color: {{ bgColor['toolTextFloatingPlain'] }}">
        <span><text>Text Block:</text>{{ form_widget(form.toolTextFloatingPlain.textBlock) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolTextFloatingPlain.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolTextFloatingPlain.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Alignment:</text>{{ form_widget(form.toolTextFloatingPlain.alignment) }} </span>
        <span style="width: 240px; display: inline-block">{{ form_widget(form.toolTextFloatingPlain.alignmentVertical) }}</span>
        <span style="width: 240px; display: inline-block"><text>Font:</text>{{ form_widget(form.toolTextFloatingPlain.effects) }} </span> <br/>
        <span style="width: 240px; display: inline-block"><text>Pos X:</text>{{ form_widget(form.toolTextFloatingPlain.posX) }} </span>
        <span style="width: 240px; display: inline-block"><text>Pos Y:</text>{{ form_widget(form.toolTextFloatingPlain.posY) }} </span>
        <span style="width: 240px; display: inline-block"><text>Width:</text>{{ form_widget(form.toolTextFloatingPlain.textWidth) }} </span>
        <span style="width: 240px; display: inline-block"><text>Height:</text>{{ form_widget(form.toolTextFloatingPlain.textHeight) }} </span>
        <span style="width: 240px; display: inline-block"><text>Background color:</text>{{ form_widget(form.toolTextFloatingPlain.backgroundColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Border color:</text>{{ form_widget(form.toolTextFloatingPlain.borderColor) }} </span><br/>
        <span style="width: 240px; display: inline-block"><text>Type:</text>{{ form_widget(form.toolTextFloatingPlain.idType) }} </span>
        <span style="width: 240px; display: inline-block"><text>Visibility:</text>{{ form_widget(form.toolTextFloatingPlain.visibility) }} </span>
        <span style="width: 240px; display: inline-block"><text>Rotation:</text>{{ form_widget(form.toolTextFloatingPlain.rotation) }} </span>
    </span>

    <!-- STRUCTURE -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureSpacer" class="text_block" style="background-color: {{ bgColor['toolStructureSpacer'] }}">
        <span><text>Height:</text>{{ form_widget(form.toolStructureSpacer.height) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolStructureSpacer.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureHorizontalLine" class="text_block" style="background-color: {{ bgColor['toolStructureHorizontalLine'] }}">
        <span style="width: 220px; display: inline-block"><text>Font Color:</text>{{ form_widget(form.toolStructureHorizontalLine.fontColor) }} </span>
        <span style="width: 220px; display: inline-block"><text>Line Height:</text>{{ form_widget(form.toolStructureHorizontalLine.lineHeight) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Top:</text>{{ form_widget(form.toolStructureHorizontalLine.marginTop) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Bottom:</text>{{ form_widget(form.toolStructureHorizontalLine.marginBottom) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolStructureHorizontalLine.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureChangeLayout" class="text_block" style="background-color: {{ bgColor['toolStructureChangeLayout'] }}">
        <span style="width: 400px; display: inline-block"><text>Layout:</text>{{ form_widget(form.toolStructureChangeLayout.idLayout) }} </span>
        <span style="width: 400px; display: inline-block"><text>Custom layout:</text>{{ form_widget(form.toolStructureChangeLayout.customLayout) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureBreak" class="text_block" style="background-color: {{ bgColor['toolStructureBreak'] }}">
        <span style="width: 400px; display: inline-block"><text>Break:</text>{{ form_widget(form.toolStructureBreak.idBreak) }} </span>
        <span style="width: 400px; display: inline-block"><text>Conditional:</text>{{ form_widget(form.toolStructureBreak.conditional) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolStructureBreak.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructurePageLayout" class="text_block" style="background-color: {{ bgColor['toolStructurePageLayout'] }}">
        <span style="width: 220px; display: inline-block"><text>Margin Top:</text>{{ form_widget(form.toolStructurePageLayout.marginTop) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Bottom:</text>{{ form_widget(form.toolStructurePageLayout.marginBottom) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Left:</text>{{ form_widget(form.toolStructurePageLayout.marginLeft) }} </span>
        <span style="width: 220px; display: inline-block"><text>Margin Right:</text>{{ form_widget(form.toolStructurePageLayout.marginRight) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructurePageFooter" class="text_block" style="background-color: {{ bgColor['toolStructurePageFooter'] }}">
        <span style="width: 220px; display: inline-block"><text>Line color:</text>{{ form_widget(form.toolStructurePageFooter.lineColor) }} </span>
        <span style="width: 220px; display: inline-block"><text>Text "Page":</text>{{ form_widget(form.toolStructurePageFooter.textPage) }} </span>
        <span style="width: 220px; display: inline-block"><text>Text "Of:</text>{{ form_widget(form.toolStructurePageFooter.textOf) }} </span><br/>
        <span style="display: inline-block"><text>Logo:</text>{{ form_widget(form.toolStructurePageFooter.logo) }} </span> <br/>
        <span><text>Override logo path:</text>{{ form_widget(form.toolStructurePageFooter.overrideLogo) }} </span><br/>
        <span style="display: inline-block"><text>Order number:</text>{{ form_widget(form.toolStructurePageFooter.orderNumber) }} </span>
        <span style="display: inline-block"><text>Is hide footer?:</text>{{ form_widget(form.toolStructurePageFooter.isBreak) }} </span>
        <span style="display: inline-block"><text>Correct page group number?:</text>{{ form_widget(form.toolStructurePageFooter.isCorrectPageGroup) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructurePageFooterSimplified" class="text_block" style="background-color: {{ bgColor['toolStructurePageFooterSimplified'] }}">
        <span><text>Config:</text>{{ form_widget(form.toolStructurePageFooterSimplified.config) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureChangeFormat" class="text_block" style="background-color: {{ bgColor['toolStructureChangeFormat'] }}">
        <span style="width: 400px; display: inline-block"><text>Format:</text>{{ form_widget(form.toolStructureChangeFormat.idFormat) }} </span><br/>
        <span style="width: 400px; display: inline-block"><text>Orientation:</text>{{ form_widget(form.toolStructureChangeFormat.idOrientation) }} </span><br/>
        <span style="width: 400px; display: inline-block"><text>Width:</text>{{ form_widget(form.toolStructureChangeFormat.width) }} </span><br/>
        <span style="width: 400px; display: inline-block"><text>Height:</text>{{ form_widget(form.toolStructureChangeFormat.height) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureCover" class="text_block" style="background-color: {{ bgColor['toolStructureCover'] }}">
        <span style="width: 700px; display: inline-block"><text>Cover image:</text>{{ form_widget(form.toolStructureCover.coverImage) }} </span>
        <span style="width: 700px; display: inline-block"><text>Num pages:</text>{{ form_widget(form.toolStructureCover.numPage) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureBodBarcode" class="text_block" style="background-color: {{ bgColor['toolStructureBodBarcode'] }}">
        <span style="width: 400px; display: inline-block"><text>Pos X:</text>{{ form_widget(form.toolStructureBodBarcode.posX) }} </span>
        <span style="width: 400px; display: inline-block"><text>Pos Y:</text>{{ form_widget(form.toolStructureBodBarcode.posY) }} </span><br/>
        <span style="width: 700px; display: inline-block"><text>Style:</text>{{ form_widget(form.toolStructureBodBarcode.style) }} </span><br/>
        <span style="width: 400px; display: inline-block"><text>Type:</text>{{ form_widget(form.toolStructureBodBarcode.idBarcodeType) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureWebCover" class="text_block" style="background-color: {{ bgColor['toolStructureWebCover'] }}">
        <span style="width: 700px; display: inline-block"><text>Cover image:</text>{{ form_widget(form.toolStructureWebCover.coverImage) }} </span>
    </span>

    <!-- WIDGET -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetScaleTool" class="text_block" style="background-color: {{ bgColor['toolWidgetScaleTool'] }}">
        <span style="width: 300px; display: inline-block"><text>Left label:</text>{{ form_widget(form.toolWidgetScaleTool.leftLabel) }} </span>
        <span style="width: 300px; display: inline-block"><text>Middle label:</text>{{ form_widget(form.toolWidgetScaleTool.middleLabel) }} </span>
        <span style="width: 300px; display: inline-block"><text>Right label:</text>{{ form_widget(form.toolWidgetScaleTool.rightLabel) }} </span>
        <br/>
        <span style="width: 240px; display: inline-block"><text>Font color:</text>{{ form_widget(form.toolWidgetScaleTool.fontColor) }} </span>
        <span style="width: 240px; display: inline-block"><text>Font size:</text>{{ form_widget(form.toolWidgetScaleTool.fontSize) }} </span>
        <span style="width: 240px; display: inline-block"><text>Arrow size:</text>{{ form_widget(form.toolWidgetScaleTool.arrowSize) }} </span> <br/>
        <span><text>Scale definition:</text>{{ form_widget(form.toolWidgetScaleTool.scaleDefinition) }} </span>
        <span><text>Selected Value:</text>{{ form_widget(form.toolWidgetScaleTool.selectedValue) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetScaleTool.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetSportTable" class="text_block" style="background-color: {{ bgColor['toolWidgetSportTable'] }}">
        <span><text>Daily Sport Kcal:</text>{{ form_widget(form.toolWidgetSportTable.dailySportKcal) }} </span>
        <span><text>Table definition:</text>{{ form_widget(form.toolWidgetSportTable.tableDefinition) }} </span>
        <span><text>Activity definition:</text>{{ form_widget(form.toolWidgetSportTable.activityDefinition) }} </span>
        <span><text>Session definition:</text>{{ form_widget(form.toolWidgetSportTable.sessionDefinition) }} </span>
        <span><text>Style:</text>{{ form_widget(form.toolWidgetSportTable.style) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetSportTable.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetTable" class="text_block" style="background-color: {{ bgColor['toolWidgetTable'] }}">
        <span><text>Header:</text>{{ form_widget(form.toolWidgetTable.header) }} </span>
        <span><text>Content:</text>{{ form_widget(form.toolWidgetTable.content) }} </span>
        <span><text>Risks (Additional):</text>{{ form_widget(form.toolWidgetTable.risks) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetTable.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetDrugList" class="text_block" style="background-color: {{ bgColor['toolWidgetDrugList'] }}">
        <span><text>Drug information:</text>{{ form_widget(form.toolWidgetDrugList.drugsInformation) }} </span>
        <span><text>Parameters:</text>{{ form_widget(form.toolWidgetDrugList.parameters) }} </span>
    </span>
    <!-- Widget table -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetDailySportTable" class="text_block" style="background-color: {{ bgColor['toolWidgetDailySportTable'] }}">
        <span style="width: 300px; display: inline-block"><text>From week:</text>{{ form_widget(form.toolWidgetDailySportTable.fromWeek) }} </span>
        <span style="width: 300px; display: inline-block"><text>To week:</text>{{ form_widget(form.toolWidgetDailySportTable.toWeek) }} </span>
        <span><text>Definition:</text>{{ form_widget(form.toolWidgetDailySportTable.definition) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetDailySportTable.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetImageWithLabel" class="text_block" style="background-color: {{ bgColor['toolWidgetImageWithLabel'] }}">
        <span style="width: 700px; display: inline-block"><text>Image:</text>{{ form_widget(form.toolWidgetImageWithLabel.image) }} </span> <br/>
        <span style="width: 700px; display: inline-block"><text>Override image:</text>{{ form_widget(form.toolWidgetImageWithLabel.overrideImage) }} </span> <br/>
        <span style="width: 300px; display: inline-block"><text>Height:</text>{{ form_widget(form.toolWidgetImageWithLabel.height) }} </span>
        <span style="width: 300px; display: inline-block"><text>Rotation:</text>{{ form_widget(form.toolWidgetImageWithLabel.rotation) }} </span>
        <span><text>Labels:</text>{{ form_widget(form.toolWidgetImageWithLabel.labels) }} </span>
        <span><text>Link:</text>{{ form_widget(form.toolWidgetImageWithLabel.link) }} </span>
        <span style="width: 300px; display: inline-block"><text>Pos X:</text>{{ form_widget(form.toolWidgetImageWithLabel.posX) }} </span>
        <span style="width: 300px; display: inline-block"><text>Pos Y:</text>{{ form_widget(form.toolWidgetImageWithLabel.posY) }} </span>
        <span><text>Alignment:</text>{{ form_widget(form.toolWidgetImageWithLabel.alignment) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetImageWithLabel.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetFoodTable" class="text_block" style="background-color: {{ bgColor['toolWidgetFoodTable'] }}">
        <span style="width: 500px; display: inline-block"><text>Food definition:</text>{{ form_widget(form.toolWidgetFoodTable.foodDefinition) }} </span>
        <span style="width: 500px; display: inline-block"><text>Ingredients display:</text>{{ form_widget(form.toolWidgetFoodTable.ingredientDisplay) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Risks:</text>{{ form_widget(form.toolWidgetFoodTable.risks) }} </span>
        <span style="width: 500px; display: inline-block"><text>Other variables:</text>{{ form_widget(form.toolWidgetFoodTable.otherVariables) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Labels:</text>{{ form_widget(form.toolWidgetFoodTable.label) }} </span>
        <span style="width: 500px; display: inline-block"><text>Styles:</text>{{ form_widget(form.toolWidgetFoodTable.style) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Overshoot factor:</text>{{ form_widget(form.toolWidgetFoodTable.overshootFactor) }} </span>
        <span style="width: 500px; display: inline-block"><text>Debug:</text>{{ form_widget(form.toolWidgetFoodTable.isDebug) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Warning:</text>{{ form_widget(form.toolWidgetFoodTable.warning) }} </span>
        <span style="width: 500px; display: inline-block"><text>Scales:</text>{{ form_widget(form.toolWidgetFoodTable.scales) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Bar calculation:</text>{{ form_widget(form.toolWidgetFoodTable.idBarCalculation) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetFoodTable2" class="text_block" style="background-color: {{ bgColor['toolWidgetFoodTable2'] }}">
        <span style="width: 500px; display: inline-block"><text>Food definition:</text>{{ form_widget(form.toolWidgetFoodTable2.foodDefinition) }} </span>
        <span style="width: 500px; display: inline-block"><text>Parameters:</text>{{ form_widget(form.toolWidgetFoodTable2.parameters) }} </span><br/>
        <span style="width: 500px; display: inline-block"><text>Ingredients display:</text>{{ form_widget(form.toolWidgetFoodTable2.ingredientDisplay) }}</span>
        <span style="width: 500px; display: inline-block"><text>Warning:</text>{{ form_widget(form.toolWidgetFoodTable2.warning) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetBarChart" class="text_block" style="background-color: {{ bgColor['toolWidgetBarChart'] }}">
        <span style="width: 300px; display: inline-block"><text>Selected value:</text>{{ form_widget(form.toolWidgetBarChart.selectedValue) }} </span>
        <span style="width: 300px; display: inline-block"><text>Chart height:</text>{{ form_widget(form.toolWidgetBarChart.chartHeight) }} </span>
        <span style="width: 500px; display: inline-block"><text>Title:</text>{{ form_widget(form.toolWidgetBarChart.chartTitle) }} </span>
        <span><text>Chart definition:</text>{{ form_widget(form.toolWidgetBarChart.chartDefinition) }} </span>
        <span><text>Bar definition:</text>{{ form_widget(form.toolWidgetBarChart.barDefinition) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetRecipe" class="text_block" style="background-color: {{ bgColor['toolWidgetRecipe'] }}">
        <span style="width: 400px; display: inline-block"><text>Calory amount:</text>{{ form_widget(form.toolWidgetRecipe.caloryAmount) }} </span>
        <span style="width: 400px; display: inline-block"><text>Calory amount 2:</text>{{ form_widget(form.toolWidgetRecipe.caloryAmount2) }} </span> <br/>
        <span><text>Recipe ID:</text>{{ form_widget(form.toolWidgetRecipe.recipeId) }} </span>
        <span><text>Risks:</text>{{ form_widget(form.toolWidgetRecipe.risks) }} </span>
        <span><text>Style:</text>{{ form_widget(form.toolWidgetRecipe.style)}}</span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetTableNew" class="text_block" style="background-color: {{ bgColor['toolWidgetTableNew'] }}">
        <span><text>Content:</text>{{ form_widget(form.toolWidgetTableNew.content) }} </span>
        <span><text>Visibility:</text>{{ form_widget(form.toolWidgetTableNew.visibility) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolWidgetRecipeSimplified" class="text_block" style="background-color: {{ bgColor['toolWidgetRecipeSimplified'] }}">
        <span style="width: 400px; display: inline-block"><text>Calory amount:</text>{{ form_widget(form.toolWidgetRecipeSimplified.caloryAmount) }} </span>
        <span><text>Recipe ID:</text>{{ form_widget(form.toolWidgetRecipeSimplified.recipeId) }} </span>
        <span><text>Risks:</text>{{ form_widget(form.toolWidgetRecipeSimplified.risks) }} </span>
        <span><text>Style:</text>{{ form_widget(form.toolWidgetRecipeSimplified.style)}}</span>
    </span>

    <!-- UTILS -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilGrabTextBlock" class="text_block" style="background-color: {{ bgColor['toolUtilGrabTextBlock'] }}">
        <span style="width: 300px; display: inline-block"><text>Text blocks:</text>{{ form_widget(form.toolUtilGrabTextBlock.textBlocks) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilExternalPdf" class="text_block" style="background-color: {{ bgColor['toolUtilExternalPdf'] }}">
        <span style="width: 600px; display: inline-block"><text>PDF:</text>{{ form_widget(form.toolUtilExternalPdf.pdf) }} </span>
        <span ><text>Override Pdf:</text>{{ form_widget(form.toolUtilExternalPdf.overridePdf) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilThirdPartyExternalPdf" class="text_block" style="background-color: {{ bgColor['toolUtilThirdPartyExternalPdf'] }}">
        <span ><text>Pdf:</text>{{ form_widget(form.toolUtilThirdPartyExternalPdf.pdf) }} </span>
        <span ><text>Party:</text>{{ form_widget(form.toolUtilThirdPartyExternalPdf.idParty) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilBackgroundImage" class="text_block" style="background-color: {{ bgColor['toolUtilBackgroundImage'] }}">
        <span><text>Image:</text>{{ form_widget(form.toolUtilBackgroundImage.image) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilMoveCursor" class="text_block" style="background-color: {{ bgColor['toolUtilMoveCursor'] }}">
        <span style="width: 300px; display: inline-block"><text>X:</text>{{ form_widget(form.toolUtilMoveCursor.x) }} </span>
        <span style="width: 300px; display: inline-block"><text>Y:</text>{{ form_widget(form.toolUtilMoveCursor.y) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilTOC" class="text_block" style="background-color: {{ bgColor['toolUtilTOC'] }}">
        <span><text>Style:</text>{{ form_widget(form.toolUtilTOC.style) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilTOCEntry" class="text_block" style="background-color: {{ bgColor['toolUtilTOCEntry'] }}">
        <span><text>Code:</text>{{ form_widget(form.toolUtilTOCEntry.code) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolUtilAnnotator" class="text_block" style="background-color: {{ bgColor['toolUtilAnnotator'] }}">
        <span><text>Annotator:</text>{{ form_widget(form.toolUtilAnnotator.annotator) }} </span>
    </span>


    <!-- PAGE -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolPageIntroPage" class="text_block" style="background-color: {{ bgColor['toolPageIntroPage'] }}">
        <span><text>Config:</text>{{ form_widget(form.toolPageIntroPage.style) }} </span>
    </span>

    <!-- CHAPTER -->
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolChapterToc" class="text_block" style="background-color: {{ bgColor['toolChapterToc'] }}">
        <span><text>Chapters:</text>{{ form_widget(form.toolChapterToc.chapters) }} </span>
        <span><text>Options:</text>{{ form_widget(form.toolChapterToc.options) }} </span>
    </span>
    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolChapterPage" class="text_block" style="background-color: {{ bgColor['toolChapterPage'] }}">
        <span><text>Chapter ID:</text>{{ form_widget(form.toolChapterPage.chapterId) }} </span>
        <span><text>Chapter color:</text>{{ form_widget(form.toolChapterPage.chapterColor) }} </span>
        <span><text>Options:</text>{{ form_widget(form.toolChapterPage.options) }} </span>
    </span>

    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureNewCoverNovogenia" class="text_block" style="background-color: {{ bgColor['toolStructureNewCoverNovogenia'] }}">
        <span><text>Background:</text>{{ form_widget(form.toolStructureNewCoverNovogenia.background) }}</span>
        <span><text>Rings (Step by step):</text>{{ form_widget(form.toolStructureNewCoverNovogenia.rings) }}</span>
        <span><text>Number of pages:</text>{{ form_widget(form.toolStructureNewCoverNovogenia.numPage) }}&nbsp;&nbsp;<a target="_blank" href="{{ form.toolStructureNewCoverNovogenia.vars.imageHelperPath }}">Pick image</a></span>
        <span style="display: inline-block"><text>Is BOD Cover?:</text>{{ form_widget(form.toolStructureNewCoverNovogenia.isBodCover) }} </span>
    </span>

    <span id="{{ form.idTextToolType.vars.id }}_textTool_toolStructureStandardCover" class="text_block" style="background-color: {{ bgColor['toolStructureStandardCover'] }}">
        <span><text>Background:</text>{{ form_widget(form.toolStructureStandardCover.bgColor) }} </span>
        <span><text>Line:</text>{{ form_widget(form.toolStructureStandardCover.lineBox) }} </span>
        <span><text>Logo boxs:</text>{{ form_widget(form.toolStructureStandardCover.logoBox) }} </span>
        <span><text>Icon:</text>{{ form_widget(form.toolStructureStandardCover.iconBox) }} </span>
        <span><text>Image content:</text>{{ form_widget(form.toolStructureStandardCover.imageContent) }} </span>
        <span><text>Number of pages:</text>{{ form_widget(form.toolStructureStandardCover.numPage) }} </span>
    </span>

    <script type="text/javascript">
        jQuery('#{{ form.idTextToolType.vars.id }}').change(function() {
            var toolId = jQuery(this).val();
            onChangeTextTool('#{{ form.idTextToolType.vars.id }}', toolId);
        });
    </script>
{% endblock %}
