{% block app_status_row_widget %}
    {{ form_widget(form.id) }}
    Date {{ form_widget(form.statusDate) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Status {{ form_widget(form.status) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Not filterable? {{ form_widget(form.isNotFilterable) }}
{% endblock %}
