
{% block app_gene_select_row %}
    <p id="field_row_form_orderInfo_categories">
        <label for="form_orderInfo_categories">Categories</label>
        <span class="field">
            <span>
                {{ form_widget(form.categories) }}
            </span>
            <span style="vertical-align: top; margin-left: 20px; display: inline-block" id="orderInfoSelectedCategories">
            </span>
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">  
                {{ form_errors(form.categories)}}                              
            </label>
        </span>
    </p>
    <p id="field_row_form_orderInfo_products">
        <label for="form_orderInfo_products">
            Products
        </label>
        <span class="field">
            <span>
                {{ form_widget(form.products) }}
            </span>
            <span style="vertical-align: top; margin-left: 20px; display: inline-block" id="orderInfoSelectedProducts">
            </span>
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">       
                {{ form_errors(form.products)}}                                                       
            </label>
        </span>
    </p>
    <p>
        <label>&nbsp;</label>
        <span class="field">
            <span>
                <a href='#' class="showAll">SHOW ALL</a> / <a href='#' class="showLess">SHOW LESS</a>
            </span>
        </span> 
    </p>

    <p>
        <label>&nbsp;</label>
        <span class="field">
            <span>
                <a href="javascript:viewProductGenes()">View product genes</a>{% if id > 0 %} / <a class="popupButton" href="{{ viewAllGeneUrl }}">View all genes captured</a>{% endif %}
            </span>
        </span>
    </p>

    {{ form_row(form.specialProducts) }}

    <br/>
    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="tabbed"><span>Questions (OLD)</span></h2></div>
        <div class="widgetcontent" style="display: none">        
            {% for productId, questions in productQuestions %}
                <div id="product_div_{{ productId }}" style="display: none">
                    {% set ctrlId = 'section_product_' ~ productId %}
                    {{ form_row(form.getChild(ctrlId))}}
                    {% for question in questions %}
                        {% set ctrlId = 'product_question_' ~ productId ~ '_' ~ question.id %}
                        {{ form_row(form.getChild(ctrlId)) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <br/>

    <script type="text/javascript">    


    var categoryProductLink = JSON.parse('{{ categoryProductLinkJson | raw }}');
    var specialProductLink = JSON.parse('{{ specialProductLinkJson | raw }}');
    var specialProductCategoryLink = JSON.parse('{{ specialProductCategoryLinkJson | raw }}');
    var visibleGroupProductCategoryLink = JSON.parse('{{ visibleGroupProductCategoryLinkJson | raw }}');
    var visibleGroupProductProductLink = JSON.parse('{{ visibleGroupProductProductLinkJson | raw }}');
    var productVisibility = false;

    function viewProductGenes() {
        var targetUrl = "{{ viewProductGeneUrl }}&products=";
        jQuery('#{{ form.products.vars.id }} :selected').each(function(index, value) {
            var idProduct = jQuery(this).val();
            targetUrl += "," + idProduct;
        });

        jQuery.colorbox({
            href: targetUrl,
            iframe: true,
            width:  "90%",
            height: "90%"
        });
                                
        return false;
    }

    function onChangeCategories() {
        updateCategoryProduct();
    }

    function onChangeProducts() {
        updateCategoryProduct();
    }

    jQuery(document).ready(function(){
        // when click on 'show all'
        jQuery('.showAll').each(function(index, value) {
            jQuery(this).click(function(){
                productVisibility = true;
                updateCategoryProductVisibility();
                return false;
            });
        });
        jQuery('.showLess').each(function(index, value) {
            jQuery(this).click(function(){
                productVisibility = false;
                updateCategoryProductVisibility();
                return false;
            });
        });

        // Save original list
        var selectedSpecialProducts = {};
        jQuery('#{{ form.specialProducts.vars.id }} :selected').each(function(index, value) {
            var specialProductId = jQuery(this).val();
            selectedSpecialProducts[specialProductId] = 1;
        });

        updateCategoryProduct();
        updateCategoryProductVisibility();

        jQuery('#{{ form.specialProducts.vars.id }} option').each(function(index, value) {
            var specialProductId = jQuery(this).val();
            if (selectedSpecialProducts[specialProductId] == 1) {                
                jQuery(this).attr('selected', 'selected');
            }
        });
        window.scrollTo(0,0);
    });

    function updateCategoryProductVisibility() {
        jQuery('#{{ form.categories.vars.id }} option').each(function(index, value) {
            jQuery(this).css('display', '');
        });

        jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
            jQuery(this).css('display', '');
        });

        var idVisibleGroupProduct = jQuery('#form_idVisibleGroupProduct').val();
        if (idVisibleGroupProduct && (productVisibility == false)) {
            var dcVisibleCategories = visibleGroupProductCategoryLink[idVisibleGroupProduct];
            var dcVisibleProducts = visibleGroupProductProductLink[idVisibleGroupProduct];
            
            jQuery('#{{ form.categories.vars.id }} option').each(function(index, value) {
                var idCategory = jQuery(this).val();
                if ((!dcVisibleCategories || (typeof dcVisibleCategories[idCategory] == 'undefined')) && 
                    (jQuery(this).is(':selected') == false)) {
                    jQuery(this).css('display', 'none');
                }
            });

            jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
                var idProduct = jQuery(this).val();
                if ((!dcVisibleProducts || (typeof dcVisibleProducts[idProduct] == 'undefined')) &&
                    (jQuery(this).is(':selected') == false)) {
                    jQuery(this).css('display', 'none');
                }
            });
        }
    }

    function updateCategoryProduct() {
        var productSelected = {};

        // Compute product selected
        jQuery('#{{ form.categories.vars.id }} :selected').each(function(index, value) { 
            var categoryId = jQuery(this).val();
            var products = categoryProductLink[categoryId];
            for (id in products) {
                var productId = products[id];
                productSelected[productId] = 1;
            }
        });                    

        // Update product box
        jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
            var productId = jQuery(this).val();
            if (productSelected[productId] == 1) {                
                jQuery(this).attr('selected', 'selected');

                var html = jQuery(this).html();
                if (!endsWith(html, ' (*)')) {
                    jQuery(this).html(html + ' (*)');
                }
            }
            else {
                var html = jQuery(this).html();
                if (endsWith(html, ' (*)')) {
                    jQuery(this).removeAttr('selected');
                    html = html.substr(0, html.length - 4);
                    jQuery(this).html(html);
                }
            }
        });        

        // Update special products
        jQuery('#{{ form.specialProducts.vars.id }} option').each(function(index, value) {
            jQuery(this).remove();
        });

        var idDistributionChannel = jQuery('#form_distributionChannelId').val();
        jQuery('#{{ form.products.vars.id }} :selected').each(function(index, value) { 
            var productId = jQuery(this).val();
            if (idDistributionChannel != 0) {
                var specialProducts = specialProductLink[idDistributionChannel];
                if (typeof specialProducts != 'undefined') {
                    var specialProductBox = jQuery('#{{ form.specialProducts.vars.id }}');
                    if (typeof specialProducts[productId] != 'undefined') {
                        var specialProduct = specialProducts[productId];
                        specialProductBox.append('<option value='+ specialProduct['id'] + '>' + specialProduct['name'] + '</option>');
                    }
                }
            }
        });

        jQuery('#{{ form.categories.vars.id }} :selected').each(function(index, value) {
            var categoryId = jQuery(this).val();
            if (idDistributionChannel != 0) {
                var specialProducts = specialProductCategoryLink[idDistributionChannel];
                if (typeof specialProducts != 'undefined') {
                    var specialProductBox = jQuery('#{{ form.specialProducts.vars.id }}');
                    if (typeof specialProducts[categoryId] != 'undefined') {
                        var specialProduct = specialProducts[categoryId];
                        specialProductBox.append('<option value='+ specialProduct['id'] + '>' + specialProduct['name'] + '</option>');
                    }
                }
            }
        });

        // Update question
        jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
            var productId = jQuery(this).val();
            if (jQuery(this).attr('selected')) {
                jQuery('#product_div_' + productId).css('display', '');
            }
            else {
                jQuery('#product_div_' + productId).css('display', 'none');
            }
        });

        // Update categories selected        
        var orderInfoSelectedCategories = jQuery('#orderInfoSelectedCategories');
        orderInfoSelectedCategories.html('');
        var content = '';
        jQuery('#{{ form.categories.vars.id }} :selected').each(function(index, value) { 
            content += jQuery(this).html() + "<br/>";
        });
        orderInfoSelectedCategories.html(content);

        // Update products selected        
        var orderInfoSelectedProducts = jQuery('#orderInfoSelectedProducts');
        orderInfoSelectedProducts.html('');
        content = '';
        jQuery('#{{ form.products.vars.id }} :selected').each(function(index, value) { 
            content += jQuery(this).html() + "<br/>";
        });
        orderInfoSelectedProducts.html(content);

    }
    </script>
{% endblock %}
