{% block app_gene_result_options_row_widget %}
        <span class="geneGroup">
            {% for geneId, gene in genes %}
                {% set ctrlId = 'geneOption_' ~ geneId %}
                <span class="geneRow" id="geneRow_{{ geneId }}">
                    {{ form_label(form.getChild(ctrlId)) }}
                    <span class="geneField">
                        {{ form_widget(form.getChild(ctrlId)) }}
                        <span style="color: #ff6600; font-size: 11px;font-weight: bold; ">
                            {{ form_errors(form.getChild(ctrlId)) }}
                        </span>
                        <span class="extraSpan">
                            {% if gene.massarray is empty %}
                                -------
                            {% else %}                                
                                {{ gene.massarray }}
                            {% endif %}
                        </span>
                        <span class="extraSpan" style="width: 250px">
                            {% if gene.scientificName is empty %}
                                -------
                            {% else %}                                
                                {{ gene.scientificName }}
                            {% endif %}
                        </span>
                        <span class="extraSpan">
                            {% if gene.rsNumber is empty %}
                                -------
                            {% else %}                                
                                {{ gene.rsNumber }}
                            {% endif %}
                        </span>
                        <span class="extraSpan">
                            {% if gene.rsOption is empty %}
                                -------
                            {% else %}                                
                                {{ gene.rsOption }}
                            {% endif %}
                        </span>
                    </span>
                </span>
            {% endfor %}

            {% if isHasExtraGenes %}
                <span style="margin-top: 20px; margin-left: 150px">
                    <span class="geneField">    
                        <a class="popupButton" href="{{ viewAllGeneUrl }}">View all genes captured</a>
                    </span>
                </span>              
            {% endif %}
        <span>
{% endblock %}
