{% block app_feedback_row_widget %}
    <span class="text_block" style="display: inline-block; width: 97%">
        <span style="font-family: 'BebasNeueRegular'; font-size: 22px; color: #283038; margin-bottom: 5px">Feedback</span><br/>
        <span><text>Date time:</text>{{ form_widget(form.fbTimestamp) }} </span><br/>
        <span><text>User:</text>{{ form_widget(form.idWebUser) }} </span><br/>
        <span><text>Feedbacker:</text>{{ form_widget(form.feedbacker) }} </span><br/>
        <span><text>Description:</text>{{ form_widget(form.description) }} </span><br/>
    </span>
{% endblock %}