{% block app_ftp_server_widget %}
    Server:&nbsp;{{ form_widget(form.server )}}&nbsp;&nbsp;
    Username:&nbsp;{{ form_widget(form.username )}}&nbsp;&nbsp;
    Password:&nbsp;{{ form_widget(form.password )}}
{% endblock %}