{% block app_material_used_widget %}
    <td>{{ form_widget(form.isSelected) }}</td>
    <td>{{ form_widget(form.quantity) }}</td>
    <td>{{ form_widget(form.usedFor) }}</td>
    <td>{{ form_widget(form.dateTaken) }}</td>
    <td>{{ form_widget(form.takenBy) }}</td>
{% endblock %}
