{% block app_scan_form_editor_row %}
    <p id="field_row_{{ form.vars.id}}">
        <span class="field" style="margin-left: -1px; ">
            <img id="formImg" src="{{ form.formImage.vars.value }}"></img><br/>
            <button class="button" id="btnAddNewField">Add new field</button>
            {{ form_widget(form.zones) }}
        </span>
    </p>

    <p>
        <span class="field" style="margin-left: -1px; ">
            Name: <input id="zoneName" class="zoneField" style="min-width: 150px; max-width: 150px"/>
            Type: <select id="zoneType" class="zoneField"  style="min-width: 90px; max-width: 90px">
                <option value="TB">Text box</option>
                <option value="CB">Checkbox</option>
                <option value="TA">Text area</option>
            </select>

            <a href="#" id="zoneDelete">Delete</a>
        </span>
    </p>

    <script type="text/javascript">
        var zones = [];
        var selectedZone = null;

        function zoneChange() {
            if (selectedZone != null) {
                var zoneName = jQuery('#zoneName').val();
                var zoneType = jQuery('#zoneType').val();
                selectedZone.attr('data-zone-title', zoneName);
                selectedZone.attr('data-zone-type', zoneType);

                var title = "<b style='color: red'>" + zoneName + ":" + zoneType + "</b>";
                selectedZone.find('a').html(title);
            }
        }

        function zoneDelete() {
            if (selectedZone != null) {
                selectedZone.css('display', 'none');                
                jQuery('#zoneName').val('');
                jQuery('#zoneType').val('');
            }
        }

        function selectZone(zoneId) {
            var zone = jQuery("#" + zoneId);
            for (var i = 0; i < zones.length; i++) {  
                zones[i].css('border', '2px solid gray');
            }

            zone.css('border', '2px solid red');
            selectedZone = zone;

            jQuery('#zoneName').val(zone.attr('data-zone-title'));
            jQuery('#zoneType').val(zone.attr('data-zone-type'));
        }

        function createZone(parentId, zoneId, zoneTitle, zoneType, x, y, width, height) {
            var parentElement = jQuery(parentId);

            var absX = parentElement.offset().left + x;
            var absY = parentElement.offset().top + y;

            var title = "<b style='color: red'>" + zoneTitle + ":" + zoneType + "</b>";
            var zoneButton = jQuery('<a>').html(title);
            zoneButton.attr('href', '#');
            zoneButton.click(function(event) {
                event.preventDefault();
                if (zoneType != 'FORM_ID') {
                    selectZone('zone_' + zoneId);
                }
            });


            var zone = jQuery('<div>');
            zone.attr('id', 'zone_' + zoneId);
            zone.attr('class', 'ui-widget-content');
            zone.append(zoneButton);
            zone.css('display', 'block');
            zone.css('background', 'none');
            zone.css('position', 'absolute');
            zone.css('width', width);
            zone.css('height', height);
            zone.css('border', '2px solid gray');
            zone.offset({ left: absX, top: absY });

            zone.attr('data-zone-id', zoneId);
            zone.attr('data-zone-title', zoneTitle);
            zone.attr('data-zone-type', zoneType);

            zone.draggable();
            zone.resizable();

            jQuery('body').append(zone);

            zones.push(zone);
            return zone;
        }

        var totalField = {{ zones | length }};
        jQuery(document).ready(function() {
            {% for i, zone in zones %}
                createZone('#formImg', '{{ i }}', '{{ zone['title'] }}', '{{ zone['idFieldType'] }}', {{ zone['x'] }}, {{ zone['y'] }}, {{ zone['width'] }}, {{ zone['height'] }});
            {% endfor %}
            

            jQuery('.zoneField').change(function() {
                zoneChange();
            });

            jQuery('#btnAddNewField').click(function(event) {
                event.preventDefault();
                var zone = createZone('#formImg', totalField, '[Edit me]', 'TB', 50, 50, 150, 50);                
                selectZone('zone_' + totalField);
                totalField++;
            });

            jQuery('#zoneDelete').click(function(event) {
                event.preventDefault();

                zoneDelete();
            });

            jQuery('.submit').click(function(event) {
                var imgElement = jQuery('#formImg');                

                var zoneValues = [];
                for (var i = 0; i < zones.length; i++) {
                    if (zones[i].css('display') == 'block') {
                        zoneValues.push({
                            x: zones[i].offset().left - imgElement.offset().left,
                            y: zones[i].offset().top - imgElement.offset().top,
                            width: zones[i].width(),
                            height: zones[i].height(),
                            title: zones[i].attr('data-zone-title'), 
                            type: zones[i].attr('data-zone-type')
                        });
                    }
                }
                jQuery('#{{ form.zones.vars.id }}').val(JSON.stringify(zoneValues));
            });
        });
    </script>
{% endblock %}