{% block app_text_editor_widget %}
    {{ block('textarea_widget') }}
    <script type="text/javascript">
    	jQuery(document).ready(function(){
            jQuery('#{{ form.vars.id }}').redactor({
	            focus: true,
	            buttons: ['html', 'formatting', 'bold', 'italic', 'deleted', 'unorderedlist', 'orderedlist', 'outdent', 'indent', 'image', 'file', 'link', 'alignment', 'horizontalrule'],
                minHeight: '{{ height }}',
                imageUpload: '/email_mass_sender/feature/uploadImage',
                plugins: ['table', 'fontcolor', 'fontfamily', 'fontsize', 'fullscreen', 'imagemanager', 'textdirection'],
                deniedTags: ['script'],
                verifiedTags: ['a', 'b', 'strong', 'sub', 'sup', 'i', 'em', 'u', 'small', 'strike', 'del', 'cite', 'ul', 'ol', 'li'], // and for span tag special rule
            });
    	});
    </script>
{% endblock %}
