{% block app_bill_note_system_row_widget %}
    Date {{ form_widget(form.date) }} &nbsp;
    Text {{ form_widget(form.text)}} &nbsp;
    Cost {{ form_widget(form.cost)}} &nbsp;
    Notes
    {{ form_widget(form.notes) }}
{% endblock %}
