{% block app_storage_cell_widget %}
    {{ form_widget(form.id) }}
    Level&nbsp;&nbsp;{{ form_widget(form.level) }}
    &nbsp;&nbsp;&nbsp;&nbsp;Loading&nbsp;&nbsp;{{ form_widget(form.loading) }}
    &nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;{{ form_widget(form.name) }}
    &nbsp;&nbsp;&nbsp;&nbsp;Warning threshold&nbsp;&nbsp;{{ form_widget(form.warningThreshold) }}
    {% if warning is defined %}
        <span style="float:right; color:red; font-weight: bold;">
            {{ warning }}
        </span>
    {% endif %}

    <script type="text/javascript">
        function tableCollectionAfterUpdateRow(collectionId) {
            var container = jQuery('#container_' + collectionId);
            var rows = container.children("p").children("span");
            for (var index = 0; index < rows.size(); index++) {
                levelInput = jQuery(rows[index]).children('input')[1];
                jQuery(levelInput).val(index + 1);
            }
        }
    </script>
{% endblock %}