{% block app_password_row_widget %}
	<script type='text/javascript'>
		function generatePassword() {
            var targetUrl = '{{ urlGeneratePassword }}';
            console.log(targetUrl);
            jQuery.ajax({
                url: targetUrl,
                type: "POST"
            }).done(function(data) {
                jQuery('#{{ form.password.vars.id}}').val(data);
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert("ERROR! CAN'T LOAD DATA");
            });
		}
	</script>

	{# Password #}
	{{ form_widget(form.password) }}
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:generatePassword()">Generate</a>
    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
    	 {{ form_errors(form.password) }} 
    </label>
{% endblock %}
