{% block app_report_section_widget %}
    {{ form_widget(form.id) }} 
    {{ form_widget(form.sortOrder) }} 
    
    {{ form_widget(form.idType) }} 
    <span id="{{ form.idType.vars.id }}_name_box" style="width: 65%; display: inline-block">
        {{ form_widget(form.name) }}
    </span>
    <span id="{{ form.idType.vars.id }}_report_section_link_box" style="width: 65%; display: none">
        {{ form_widget(form.idReportSectionLink) }}
    </span>
    <span id="{{ form.idType.vars.id }}_id_report_link" style="width: 65%; display: none">
        {{ form_widget(form.idReportLink)}}
    </span>

    <span>
    &nbsp;&nbsp;{{ form_widget(form.isHide)}}
    &nbsp;&nbsp;{{ form_widget(form.alias)}}
    </span>
    {% if form.id.vars.value != 0 %}
        {% if isReportLink is defined %}

        {% else %}
            &nbsp;&nbsp;&nbsp;<a href="{{ editUrl }}?id={{ sectionId }}">Edit</a>
        {% endif %}
    {% endif %}
    <script type="text/javascript">            
        jQuery('#{{ form.idType.vars.id }}').change(function() {
            var idTypeSelected = jQuery(this).val();
            onChangeReportType('#{{ form.idType.vars.id }}', idTypeSelected);
        });
    </script>
{% endblock %}
