{% block app_attachment_widget %}
    {{ form_widget(form.attachment) }}
    {% if form.attachmentName.vars.value is not empty %}
        <br/><a target="_blank" href="{{ attachmentPath }}?dir={{ attachmentSubDir }}&name={{ form.attachmentName.vars.value }}">Download</a>
    {% endif %}
{% endblock %}