{% block app_push_result_widget %}
        <tr>
            <td width="10%" style="border: none;">Status</td>
            <td width="23%" style="border: none;">{{ form_widget(form.status) }}</td>
            <td width="10%" style="border: none;">Date</td>
            <td width="23%" style="border: none;">{{ form_widget(form.date) }}</td>
            <td width="10%" style="border: none;">Timestamp</td>
            <td width="23%" style="border: none;">{{ form_widget(form.timestamp) }}</td>
        </tr>
        <tr>
            <td width="10%" style="border: none;">PUSH</td>
            <td width="23%" style="border: none;">{{ form_widget(form.sentOn) }}</td>
            <td width="10%" style="border: none;">Server response</td>
            <td width="56%" colspan="3" style="border: none;">{{ form_widget(form.responseCode) }}</td>
        </tr>
        <tr>
            <td width="10%" style="border: none;">Raw response</td>
            <td width="90%" colspan="5" style="border: none;">{{ form_widget(form.responseRaw)}}</td>
        </tr>
{% endblock %}
