{% block app_bill_manual_product_row_widget %}
    Date {{ form_widget(form.date) }} &nbsp;
    Order Number {{ form_widget(form.orderNumber)}} &nbsp;
    Product {{ form_widget(form.text)}} &nbsp;
    Price {{ form_widget(form.price)}} &nbsp;
    Name {{ form_widget(form.customer)}} &nbsp;
    {% if has_tax_percentage %}
        </br>
        </br>
        Tax percentage(%) (Used when invoice is with tax) {{ form_widget(form.taxPercentage)}} &nbsp;
    {% endif %}
    Description {{ form_widget(form.description) }}
{% endblock %}
