{% block app_multi_material_used_widget %}
    <script type="text/javascript">
    // STOCK USED UP
    function widgetStockUsedRowDelete(rowId) {
        jQuery('#' + rowId).remove();
    }
    var newIndexStockUsed = 1;
    function widgetStockUsedRowAddNew(appendAfter, id) {
        var collectionHolder = jQuery('#widgetStockUsedRowCollection_'+ id);
        var prototype = jQuery('#widgetStockUsedRowDataPrototype_'+ id).attr('data-prototype');

        newIndexStockUsed++;
        var newForm = prototype.replace(/__name__/g, newIndexStockUsed);

        var rowId = 'widgetStockUsedRow_' + newIndexStockUsed+ "_"+ id;

        var newWidget = jQuery('<tr id="' + rowId + '"></tr>');
        var spanWidget = newWidget;

        if (appendAfter != '') {
            if (appendAfter == 'TOP') {
                collectionHolder.prepend(newWidget);
            }
            else {
                var a = collectionHolder.find(appendAfter);
                newWidget.insertAfter(a);
            }
        }
        else {
            collectionHolder.append(newWidget);
        }
        spanWidget.append(newForm);
        spanWidget.append('<td><a href="javascript:widgetStockUsedRowDelete(\'' + rowId + '\')">Remove</a>&nbsp;&nbsp;<a href="javascript:widgetStockUsedRowAddNew(\'' + '#' + rowId + '\', \'' + id + '\')">Insert</a></td>');
    }
    </script>
    <!-- MULTI PURCHASE -->
    {{ form_widget(form.id) }}
    <br/>
    <h3 style="margin-top: 10px"> {{ form_widget(form.section )}} </h3>
    <br/>
    <table id="widgetStockUsedRowCollection_{{ form.id.vars.value }}" class="stdtable" cellpadding="0" cellspacing="0" border="0" >
        <colgroup>
            <col class="con0" width="10%" />
            <col class="con0" width="20%" />
            <col class="con1" width="20%" />
            <col class="con0" width="15%" />
            <col class="con1" width="20%" />
            <col class="con0" width="15%" />
        </colgroup>
        <thead>
            <tr>
                <td class="head0">In Use</td>
                <td class="head0">Quantity in units</td>
                <td class="head0">Used for</td>
                <td class="head0">Date taken</td>
                <td class="head0">Taken by</td>
                <td class="head0"></td>
            </tr>
            <tr>
                <td colspan="6" style="padding: 20px; font-weight: normal">
                    <a id="widgetStockUsedRowPrependNewLink" href="javascript:widgetStockUsedRowAddNew('TOP', {{ form.id.vars.value }})">Add new record</a>
                </td>
            </tr>
        </thead>
        <tbody>
        {% for id, widgetStockUsedRow in form.usedList %}
            <tr id="widgetStockUsedRow_{{ id }}_{{ form.id.vars.value }}">
                {{ form_widget(widgetStockUsedRow)}}
                <td>
                    <a href="javascript:widgetStockUsedRowDelete('widgetStockUsedRow_{{ id }}_{{ form.id.vars.value }}')">Remove</a>&nbsp;
                    <a href="javascript:widgetStockUsedRowAddNew('#widgetStockUsedRow_{{ id }}_{{ form.id.vars.value }}', {{ form.id.vars.value }})">Insert</a>
                </td>
                <script type="text/javascript">
                    newIndexStockUsed = newIndexStockUsed > {{ id }} ? newIndexStockUsed : {{ id }};
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <span class="field" style="margin-left: -1px">
            <a id="widgetStockUsedRowAddNewLink" href="javascript:widgetStockUsedRowAddNew('', {{ form.id.vars.value }})">Add new record</a>
        </span>
    </p>

    <div style="display: none">
        <input type="radio" name="inUseMaterial" value="0">
    </div>

    <div id="widgetStockUsedRowDataPrototype_{{ form.id.vars.value }}" data-prototype="{{ form_widget(form.usedList.vars.prototype)|e }}" style="display: none">
    </div>
{% endblock %}
