{% block app_logo_widget %}
    {{ form_widget(form.attachment) }}
    {% if form.logo.vars.value is not empty %}
        <br/><br/><img src="{{ imgPath }}/{{ form.logo.vars.value }}?t={{ timestamp }}" ></img>
    {% endif %}
{% endblock %}