{% block app_comparator_type_select_row %}
    <p id="field_row_{{ form.comparatorType.vars.id }}">
        <label for="{{ form.comparatorType.vars.id }}">{{ form.comparatorType.vars.label }}</label>
        <span class="field">
            <span>
                {{ form_widget(form.comparatorType) }}
                {% for operand in availableOperands %}
                    &nbsp;&nbsp; {{ form_widget(form[operand]) }}
                {% endfor %}
            </span>
            <span style="vertical-align: top; margin-left: 20px; display: inline-block">
            </span>
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">  
                {{ form_errors(form.comparatorType)}}                              
            </label>
        </span>
    </p>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var comparatorTypeOperands = JSON.parse('{{ comparatorTypeOperands | raw }}');

            hideAllOperands();

            jQuery('#{{ form.comparatorType.vars.id }}').change(onChangeComparatorType);

            function onChangeComparatorType() {
                jQuery('#{{ form.comparatorType.vars.id }} :selected').each(function(index, value) { 
                    var compartorType = jQuery(this).val();

                    if (compartorType) {
                        var operands = comparatorTypeOperands[compartorType];
                        
                        {% for operand in availableOperands %}
                            if (operands.indexOf("{{ operand }}") != -1) {
                                jQuery('#{{ form[operand].vars.id }}').show();
                            } else {
                                jQuery('#{{ form[operand].vars.id }}').hide();
                            }
                        {% endfor %}
                    } else {
                        hideAllOperands();
                    }
                });
            }

            function hideAllOperands() {
                // hide all operands as default
                {% for operand in availableOperands %}
                    jQuery('#{{ form[operand].vars.id }}').hide();
                {% endfor %}
            }
        });
    </script>
{% endblock %}