{% block app_currency_rate_widget %}
    {{ form_widget(form.idCurrency) }} &nbsp; 
    <span id="{{ form.idCurrency.vars.id }}_exchange_rate">
        {{ form_widget(form.exchangeRate) }}
        <a href="javascript:reloadCurrencyRate()">Reload</a>
    </span>

    <script type="text/javascript">
        function reloadCurrencyRate() {
            var idCurrency = jQuery('#{{ form.idCurrency.vars.id }}').val();
            if (idCurrency != 0) {            
                jQuery('#{{ form.exchangeRate.vars.id }}').val('');
                loadCurrencyRate(idCurrency, '#{{ form.exchangeRate.vars.id }}');
            }
        }

        function loadCurrencyRate(idCurrency, exchangeRateElement) {
            var targetUrl = '{{ getCurrencyRateUrl }}?idCurrency=' + idCurrency;
            
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                jQuery(exchangeRateElement).val(data);
            }).error(function(jqXHR, textStatus, errorThrown ) {
                jQuery(exchangeRateElement).val('Error!');    
            });               
        }
        
        function onChangeCurrency(currencyElement, isReloadExchangeRate) {
            var idCurrency = jQuery(currencyElement).val();
            if (idCurrency == 0) {
                jQuery(currencyElement + "_exchange_rate").css('display', 'none');
            }
            else {
                jQuery(currencyElement + "_exchange_rate").css('display', 'inline-block');

                if (isReloadExchangeRate) {
                    jQuery('#{{ form.exchangeRate.vars.id }}').val('');
                    loadCurrencyRate(idCurrency, '#{{ form.exchangeRate.vars.id }}');
                }
            }
        }
        jQuery('#{{ form.idCurrency.vars.id }}').change(function() {
            onChangeCurrency('#{{ form.idCurrency.vars.id }}', true);
        });

        jQuery(document).ready(function() {
           onChangeCurrency('#{{ form.idCurrency.vars.id }}', false); 
        });
        
    </script>
{% endblock %}