{% block app_product_question_row_widget %}
    {{ form_widget(form.id)}}
    Question {{ form_widget(form.question) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Type {{ form_widget(form.controlTypeId) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Report key {{ form_widget(form.reportKey)}}
    <br/><br/>
    Config {{ form_widget(form.controlConfig) }}
{% endblock %}
