{% block app_activity_row_widget %}
    Date {{ form_widget(form.activityDate) }} &nbsp; {{ form_widget(form.activityTimeId) }} &nbsp;&nbsp;&nbsp;
    Type {{ form_widget(form.activityTypeId) }} &nbsp;&nbsp;&nbsp;&nbsp;
    <br/><br/>
    Notes {{ form_widget(form.notes) }}
    
{% endblock %}
