{% block app_geno_pellet_entry_weight_widget %}
    {% if isNewType %}
        {% if hasTargetWeight %}
            <span style="width: 100%"><span class="form_style">{{ form_widget(form.activeIngredients) }}</span>&nbsp;&nbsp;<span class="form_style">{{ form_widget(form.weightActivesIngredients) }}</span>
            &nbsp;&nbsp;<span class="form_style">{{ form_widget(form.actives) }}</span>&nbsp;&nbsp;<span class="form_style">{{ form_widget(form.weightActives) }}</span></span>
        {% else %}
            &nbsp;&nbsp;{{ form_widget(form.additives) }}&nbsp;&nbsp;{{ form_widget(form.weightAdditives) }}
        {% endif %}
    {% else %}
        {{ form_widget(form.txt) }}&nbsp;&nbsp;{{ form_widget(form.weight) }}
        {% if hasTargetWeight %}
            &nbsp;&nbsp;{{ form_widget(form.targetWeight) }}
        {% endif %}
    {% endif %}
    <style type="text/css">
        .form_style > div {
            width: 25% !important;
        }
    </style>
{% endblock %}
