{% block app_pellet_used_up_entry_widget %}
    <td>{{ form_widget(form.isSelected) }}</td>
    <td>{{ form_widget(form.cups) }}</td>
    <td>{{ form_widget(form.usedFor) }}</td>
    <td>{{ form_widget(form.dateTaken) }}</td>
    <td>{{ form_widget(form.takenBy) }}</td>
{% endblock %}
