{% block app_category_product_row %}
    <p id="field_row_{{ form.categories.vars.id }}">
        <label for="{{ form.categories.vars.id }}">{{ form.categories.vars.label }}</label>
        <span class="field">
            <span>
                {{ form_widget(form.categories) }}
            </span>
            <span style="vertical-align: top; margin-left: 20px; display: inline-block" id="orderInfoSelectedCategories">
            </span>
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">  
                {{ form_errors(form.categories)}}                              
            </label>
        </span>
    </p>
    <p id="field_row_{{ form.products.vars.id }}">
        <label for="{{ form.products.vars.id }}">{{ form.products.vars.label }}</label>
        <span class="field">
            <span>
                {{ form_widget(form.products) }}
            </span>
            <span style="vertical-align: top; margin-left: 20px; display: inline-block" id="orderInfoSelectedProducts">
            </span>
            <label for="selection" class="error" style="margin-top: 5px; width: 50%">       
                {{ form_errors(form.products)}}                                                       
            </label>
        </span>
    </p>

    <script type="text/javascript">    

    var categoryProductLink = JSON.parse('{{ categoryProductLinkJson | raw }}');

    function onChangeCategories() {
        updateCategoryProduct();
    }

    function onChangeProducts() {
        updateCategoryProduct();
    }

    jQuery(document).ready(function(){
        updateCategoryProduct();
        window.scrollTo(0,0);
    });

    function updateCategoryProduct() {
        var productSelected = {};

        // Compute product selected
        jQuery('#{{ form.categories.vars.id }} :selected').each(function(index, value) { 
            var categoryId = jQuery(this).val();
            var products = categoryProductLink[categoryId];
            for (id in products) {
                var productId = products[id];
                productSelected[productId] = 1;
            }
        });                    

        // Update product box
        jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
            var productId = jQuery(this).val();
            if (productSelected[productId] == 1) {                
                jQuery(this).attr('selected', 'selected');

                var html = jQuery(this).html();
                if (!endsWith(html, ' (*)')) {
                    jQuery(this).html(html + ' (*)');
                }
            }
            else {
                var html = jQuery(this).html();
                if (endsWith(html, ' (*)')) {
                    jQuery(this).removeAttr('selected');
                    html = html.substr(0, html.length - 4);
                    jQuery(this).html(html);
                }
            }
        });        

        // Update question
        /*
        jQuery('#{{ form.products.vars.id }} option').each(function(index, value) {
            var productId = jQuery(this).val();
            if (jQuery(this).attr('selected')) {
                jQuery('#product_div_' + productId).css('display', '');
            }
            else {
                jQuery('#product_div_' + productId).css('display', 'none');
            }
        });
        */

        // Update categories selected        
        var orderInfoSelectedCategories = jQuery('#orderInfoSelectedCategories');
        orderInfoSelectedCategories.html('');

        var content = '';
        jQuery('#{{ form.categories.vars.id }} :selected').each(function(index, value) { 
            content += jQuery(this).html() + "<br/>";
        });
        orderInfoSelectedCategories.html(content);

        // Update products selected        
        var orderInfoSelectedProducts = jQuery('#orderInfoSelectedProducts');
        orderInfoSelectedProducts.html('');
        content = '';
        jQuery('#{{ form.products.vars.id }} :selected').each(function(index, value) { 
            content += jQuery(this).html() + "<br/>";
        });
        orderInfoSelectedProducts.html(content);

    }
    </script>
{% endblock %}