{% block app_complaint_row_widget %}

    <span class="text_block" style="display: inline-block; width: 49%">

        <span style="font-family: 'BebasNeueRegular'; font-size: 22px; color: #283038; margin-bottom: 5px">Problem</span><br/>
        <span><text>Topic:</text>{{ form_widget(form.idTopic) }} </span><br/>
        <span><text>Date/time:</text>{{ form_widget(form.problemTimestamp) }} </span><br/>
        <span><text>User:</text>{{ form_widget(form.problemIdWebUser) }} </span><br/>
        <span><text>Complainant:</text>{{ form_widget(form.problemComplaintant) }} </span><br/>
        <span><text>Description:</text>{{ form_widget(form.problemDescription) }} </span><br/>
    </span>
    <span class="text_block" style="display: inline-block; width: 49%; vertical-align: top">
        <span style="font-family: 'BebasNeueRegular'; font-size: 22px; color: #283038; margin-bottom: 5px">Solution</span><br/>
        <span><text>Date/time:</text>{{ form_widget(form.solutionTimestamp) }} </span><br/>
        <span><text>User:</text>{{ form_widget(form.solutionIdWebUser) }} </span><br/>
        <span><text>Description:</text>{{ form_widget(form.solutionDescription) }} </span><br/>
    </span>    
    <br/><br/>
{% endblock %}