{% block app_multi_material_purchase_widget %}
    <script type="text/javascript">

    // PURCHASE
    function widgetPurchaseRowDelete(rowId) {
        jQuery('#' + rowId).remove();
    }
    var newIndex = 1;
    function widgetPurchaseRowAddNew(appendAfter, id) {
        var collectionHolder = jQuery('#widgetPurchaseRowCollection_'+ id);
        var prototype = jQuery('#widgetRowDataPrototype_'+ id).attr('data-prototype');

        newIndex++;
        var newForm = prototype.replace(/__name__/g, newIndex);

        var rowId = 'widgetPurchaseRow_' + newIndex+ "_"+ id;

        var newWidget = jQuery('<tr id="' + rowId + '"></tr>');
        var spanWidget = newWidget;
        if (appendAfter != '') {
            if (appendAfter == 'TOP') {
                collectionHolder.prepend(newWidget);
            }
            else {
                var a = collectionHolder.find(appendAfter);
                newWidget.insertAfter(a);
            }
        }
        else {
            collectionHolder.append(newWidget);
        }
        spanWidget.append(newForm);
        spanWidget.append('<td><a href="javascript:widgetPurchaseRowDelete(\'' + rowId + '\')">Remove</a>&nbsp;&nbsp;<a href="javascript:widgetPurchaseRowAddNew(\'' + '#' + rowId + '\', \''+ id+ '\')">Insert</a></td>');
    }
    </script>
    <!-- MULTI PURCHASE -->
    {{ form_widget(form.id) }}
    <br/>
    <h3 style="margin-top: 10px"> {{ form_widget(form.section )}} </h3>
    <br/>
    <table id="widgetPurchaseRowCollection_{{ form.id.vars.value }}" class="stdtable" cellpadding="0" cellspacing="0" border="0" >
        <colgroup>
            <col class="con0" width="10%" />
            <col class="con1" width="10%" />
            <col class="con1" width="10%" />
            <col class="con0" width="5%" />
            <col class="con1" width="10%" />
            <col class="con0" width="10%" />
            <col class="con1" width="10%" />
            <col class="con1" width="10%" />
            <col class="con1" width="15%" />
            <col class="con1" width="10%" />
        </colgroup>
        <thead>
            <tr>
                <td class="head0" width="10%">Date Ordered</td>
                <td class="head0" width="10%">Received / By</td>
                <td class="head0" width="10%">Date received</td>
                <td class="head0" width="5%">Quantity in units</td>
                <td class="head0" width="10%">Order By</td>
                <td class="head0" width="10%">External Lot</td>
                <td class="head0" width="10%">Novogenia Lot Number</td>
                <td class="head0" width="10%">Expiry date</td>
                <td class="head0" width="15%">Info</td>
                <td class="head0" width="10%"></td>
            </tr>
            <tr>
                <td colspan="10" style="padding: 20px; font-weight: normal">
                    <a id="widgetRowPrependNewLink" href="javascript:widgetPurchaseRowAddNew('TOP', {{ form.id.vars.value }})">Add new record</a>
                </td>
            </tr>
        </thead>
        <tbody>
        {% for id, widgetRow in form.purchaseList %}
            <tr id="widgetPurchaseRow_{{ id }}_{{ form.id.vars.value }}">
                {{ form_widget(widgetRow)}}
                <td>
                    <a href="javascript:widgetPurchaseRowDelete('widgetPurchaseRow_{{ id }}_{{ form.id.vars.value }}')">Remove</a>&nbsp;
                    <a href="javascript:widgetPurchaseRowAddNew('#widgetPurchaseRow_{{ id }}_{{ form.id.vars.value }}', {{ form.id.vars.value }})">Insert</a>
                </td>
                <script type="text/javascript">
                    newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <span class="field" style="margin-left: -1px">
            <a id="widgetPurchaseRowAddNewLink" href="javascript:widgetPurchaseRowAddNew('', {{ form.id.vars.value }})">Add new record</a>
        </span>
    </p>
    <div id="widgetRowDataPrototype_{{ form.id.vars.value }}" data-prototype="{{ form_widget(form.purchaseList.vars.prototype)|e }}" style="display: none">
    </div>
{% endblock %}
