{% block app_sample_gew_result_widget %}
    GEW1 {{ form_widget(form.gew1) }} &nbsp;&nbsp;&nbsp;
    GEW2 {{ form_widget(form.gew2) }} &nbsp;&nbsp;&nbsp;
    GEW3 {{ form_widget(form.gew3) }} &nbsp;&nbsp;&nbsp;
    GEW4 {{ form_widget(form.gew4) }} &nbsp;&nbsp;&nbsp;
    GEW5 {{ form_widget(form.gew5) }} &nbsp;&nbsp;&nbsp;
{% endblock %}