{% block app_payment_status_row_widget %}
    Date {{ form_widget(form.statusDate) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Status {{ form_widget(form.status) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Notes 
    {{ form_widget(form.notes) }}
    
{% endblock %}
