{% block app_email_templates_row %}
    {% for statusKey, statusLabel in statusList %}
        {% set ctrlId = 'status_' ~ statusKey %}
        {{ form_row(form.getChild(ctrlId))}}
    {% endfor %}
{% endblock %}
