{% block app_internal_lot_number_widget %}
    {{ form_widget(form.id) }}
    Value&nbsp;&nbsp;{{ form_widget(form.value) }}
    {% if msg is defined %}
        <span style="float: right">
            {{ msg }}
        </span>
    {% endif %}

    <script type="text/javascript">
    jQuery(document).ready(function() {
        var tmp = jQuery("input[name='{{ form.value.vars['full_name'] }}']");
        tmp.focusin(function() {
            var save_this = jQuery(this);
            if (!this.selectTextTimeOut) {
                this.selectTextTimeOut = window.setTimeout (function(){
                    save_this.select();
                }, 100);
            }

            jQuery(document).keypress(function(e) {
                if(e.which == 13) {
                    tableCollectionAddRow('form_internalLotNumbers');
                    e.preventDefault();
                }
            });
        });

        tmp.focusout(function() {
            jQuery(document).unbind('keypress');
        });

        tmp.focus();
    });
    </script>
{% endblock %}