{% block container_collection_row %}
    <div id="container_{{ form.vars.id }}" index="0">
        {% set index = 0 %}
        {% set add = 1 %}
        {% for row in form %}
            <p id="container_row_{{ form.vars.id }}_{{ index }}">
                <span class="" style="margin-left:-1px">
                    {{ form_widget(row)}}
                    {% if row.vars['disable-add'] is defined %}
                        {% set add = 0 %}
                    {% endif %}
                    {% if row.vars['disable-insert'] is not defined %}
                        <a href="javascript:tableCollectionInsertRow('{{ form.vars.id }}', '{{ index }}')" style="margin-left: 20px">Insert</a>
                    {% endif %}
                    {% if row.vars['disable-delete'] is not defined %}
                        <a href="javascript:tableCollectionRemoveRow('{{ form.vars.id }}', '{{ index }}')" style="margin-left: 20px">Remove</a>
                    {% endif %}
                </span>
            </p>
            {% set index = index + 1 %}
        {% endfor %}

        <script type="text/javascript">
            jQuery(document).ready(function() {
                var container = jQuery('#container_{{ form.vars.id }}');
                container.attr('index', {{ index }});
            });
        </script>
    </div>
    {% if add == 1 %}
        <p>
            <span class="field" style="margin-left:-1px">
                <a href="javascript:tableCollectionAddRow('{{ form.vars.id }}')">Add</a>
            </span>
        </p>
    {% endif %}
    <div id="prototype_{{ form.vars.id }}" data-prototype="{% spaceless %}{% filter escape %}
        <p id="container_row_{{ form.vars.id }}___name__">
            <span class="field" style="margin-left: -1px">
                {{ form_widget(form.vars.prototype) }}
                <a href="javascript:tableCollectionInsertRow('{{ form.vars.id }}', '__name__')" style="margin-left: 20px">Insert</a>
                <a href="javascript:tableCollectionRemoveRow('{{ form.vars.id }}', '__name__')" style="margin-left: 20px">Remove</a>
            </span>
        </p>
        {% endfilter %}
        {% endspaceless %}">
    </div>
{% endblock %}
