{% block file_attachment_widget %}
    <span style="width: 680px; height: 400px; display: inline-block">
        <iframe src='{{ attachmentUrl }}' width='650' height='380' align='left' scrolling = 'none' frameborder = '0'></iframe>
    </span>
    {% if snapshot %}
    <button class="radius2" onclick="return showCapturePage();">&nbsp;&nbsp;Take snapshots&nbsp;&nbsp;</button>
    <button class="radius2" onclick="return showAllImages();">&nbsp;&nbsp;Show all&nbsp;&nbsp;</button>
    {% endif %}

    <script type="text/javascript">
    function showCapturePage() {
        window.open('{{ capturePageUrl }}', 'capturePage', 'width=700;heigh=550');
        return false;
    }
    function showAllImages() {
        window.open('{{ showAllImageUrl }}', '_blank');
        return false;
    }
    </script>
{% endblock %}