{% block img_template_generator_widget %}
    <input class="img_template_generator_input_result" type="text" name="img_template_generator_input_result" style="width: 500px">
    </br>
    </br>
    Width:&nbsp;&nbsp;<input class="img_template_generator_input_width" type="text" name="img_template_generator_input_width" style="width: 80px">
    &nbsp;&nbsp;Height:&nbsp;&nbsp;<input class="img_template_generator_input_height" type="text" name="img_template_generator_input_height" style="width: 80px">
    </br>
    </br>
    <input class="img_template_generator_input_img" type="file" name="img_template_generator_input_img" style="display: none">
    <input class="img_template_generator_input_img_url" type="text" name="img_template_generator_input_img_url" style="display: none">
    <button class="radius2" onclick="onImgTemplateGeneratorUpload(); return false;">Upload</button>

    <script type="text/javascript">
    function onImgTemplateGeneratorUpload() {
        jQuery(".img_template_generator_input_img").click();
    }

    function generateImgTemplate() {
        var url = jQuery('.img_template_generator_input_img_url').first().val().trim();
        if (url) {
            var width = jQuery('.img_template_generator_input_width').first().val().trim();
            var height = jQuery('.img_template_generator_input_height').first().val().trim();

            var src = "src='" + url + "'";
            var style = "style='";
            if (width) {
                if (parseFloat(width) + "" == width) {
                    width = width + "px";
                }

                style += "width:" + width + ";";
                width = "width='" + width + "'";
            }

            if (height) {
                if (parseFloat(height) + "" == height) {
                    height = height + "px";
                }

                style += " height:" + height + ";";
                height = "height='" + height + "'";
            }

            style += "'";

            jQuery('.img_template_generator_input_result').first().val("<img " + src + " " + width + " " + height + " " + style + ">");
        }
    }

    jQuery(document).ready(function() {
        jQuery('.img_template_generator_input_img').change(function(event) {
            jQuery('.img_template_generator_input_result').first().val("Loading... please wait");
            files = event.target.files;
            var data = new FormData();
            data.append('file', files[0]);

            jQuery.ajax({
                url: '{{ uploadUrl }}',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function(data, textStatus, jqXHR) {
                    if(typeof data.error === 'undefined') {
                        jQuery(".img_template_generator_input_img_url").first().val(data.filelink);
                        generateImgTemplate();
                    }
                    else {
                        // Handle errors here
                        console.log('ERRORS: ' + data.error);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors here
                    console.log('ERRORS: ' + textStatus);
                    // STOP LOADING SPINNER
                }
            });
        });

        jQuery('.img_template_generator_input_img_url').change(generateImgTemplate);
        jQuery('.img_template_generator_input_width').change(generateImgTemplate);
        jQuery('.img_template_generator_input_height').change(generateImgTemplate);
    });
    </script>
{% endblock %}