{% block weblogin_email_setting_row_widget %}
    Status {{ form_widget(form.idStatus) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Email Template {{ form_widget(form.idEmailTemplate) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Email Method {{ form_widget(form.idEmailMethod) }} &nbsp;&nbsp;&nbsp;&nbsp;
    </br></br>
    Send immediately? {{ form_widget(form.isSendNow) }} &nbsp;&nbsp;&nbsp;&nbsp;
    Auto retry when fail? {{ form_widget(form.isAutoRetry) }} &nbsp;&nbsp;&nbsp;&nbsp;
{% endblock %}
