{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    <script type="text/javascript">
        function callTaskAjax(targetUrl) {
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                funcDynamicTableReload_CrudGrid();             
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert(textStatus + " " + errorThrown);
            });
        }
    </script>
{% endblock %}
