{% block app_address_type_row %}
    {{ form_row(form.addressType) }}
       {% for addresss,tmp in addressTypes %}
        {% set name = 'DC_partner' ~ addresss %}
        {{ form_row(form.getChild(name)) }}
    {% endfor %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
        	
            jQuery("#{{ form.addressType.vars.id }}").change(function() {
                {% for addresss,tmp in addressTypes %}
                    jQuery('#field_row_form_addressType_DC_partner{{ addresss }}').removeClass('active').css('display', 'none');
                {% endfor %}
                
                var addresss = jQuery(this).val();
                jQuery('#field_row_form_addressType_DC_partner' + addresss).addClass('active').css('display', 'block');
                changeTarget('#form_addressType_DC_partner' + addresss);
            });
            jQuery("#{{ form.addressType.vars.id }}").change();
        });

        function changeTarget(ele){
        	if(jQuery(ele).val()==''){
                    return;
        	}
        	var url='/shipment_manager/feature/getAddress?type=' +jQuery("#{{ form.addressType.vars.id }}").val() +'&Dc_partner=' +jQuery(ele).val()
        	 jQuery.ajax({
                url: url,
                type: "POST",
                context: document.body
            }).done(function(data) {
                if (data == 'FAIL') {
                    alert("ERROR!");
                    return;
                }
              	var addresss=JSON.parse(data);
              	if(addresss['street']==null){
              		jQuery('#form_address').val('');
              		return;
              	}
                jQuery('#form_address').val(addresss['street']);
            })
        }
    </script>
{% endblock %}