{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Shipment history</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Date</th>
                    <th class="head1" style="width: 16%">Address</th>
                    <th class="head1" style="width: 10%">Create By</th>
                    <th class="head1" style="width: 22%">Status</th>
                    <th class="head1" style="width: 16%">Comment</th>
                    <th class="head1" style="width: 16%">Change By</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log['date'] }}</td>
                        <td>{{ log['address'] }}</td>
                        <td>{{ log['createBy'] }}</td>
                        <td>{{ log['status'] }}</td>
                        <td>{{ log['comment'] }}</td>
                        <td>{{ log['changeBy'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}