{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridDrawCallback %}
            jQuery(".simpletip").tooltip({
                bodyHandler: function() {

                    return jQuery(this).find('.hide-content').html();
                },

                left: -100,
                showURL: false,
                display: "always-top"
            });

            jQuery('.dataTablePopupButton').colorbox({
                iframe: true,
                width:  "90%",
                height: "90%",
                onClosed:function(){
                    funcDynamicTableReload_{{ grid['id'] }}();
                }
            });
        {% endblock %}

    {% endembed %}
{% endblock %}