{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Batch usage history</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 25%">Date</th>
                    <th class="head1" style="width: 25%">By</th>
                    <th class="head1" style="width: 25%">Amount</th>
                    <th class="head1" style="width: 25%">In</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log['date'] }}</td>
                        <td>{{ log['by'] }}</td>
                        {% if log['amount'] < 0 %}
                            <td style='color: red;'>{{ log['amount'] }}</td>
                        {% else %}
                            <td style='color: green;'>+{{ log['amount'] }}</td>
                        {% endif %}
                        <td>{{ log['in'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}