<div>
        <img src="{{ form['imageUrl'] }}" style="width: {{ form['width'] }}px" />
        
        {% for field in form['fields'] %}
            <div style="position: absolute; top: {{ field['y'] }}px; left: {{ field['x'] }}px">
                {% if field['type'] == 'TB' %}
                    <input name="record_{{ form['recordId'] }}_{{ field['name'] }}" type="text" style="width: {{ field['width'] }}px; height: {{ field['height'] }}px; padding: 0px 0px" />
                {% elseif field['type'] == 'CB' %}
                    <input name="record_{{ form['recordId'] }}_{{ field['name'] }}" type="checkbox" />
                {% elseif field['type'] == 'TA' %}
                    <textarea name="record_{{ form['recordId'] }}_{{ field['name'] }}" style="width: {{ field['width'] }}px; height: {{ field['height'] }}px; padding: 0px 0px"></textarea>
                {% endif %}                
            </div>
        {% endfor %}
</div>