{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Verify: Form</h1>
    <br/>

    <form class="stdform stdform2" method="post">
        <input type="hidden" name="recordsId" value="{{ recordsId }}" />
        {% for record in records %}
            <div style="height: auto; border: 1px #ddd solid; margin-bottom: 10px">
                <div class="one_half" style="width: 50%; margin: 10px">
                    <img src="{{ record['imageUrl'] }}" style="max-height: 640px; max-width: 95%" />                    
                </div>
                <div class="one_half last" style="width: 45%; margin: 10px; height: auto">
                    {% include 'LeepAdminBundle:ScanFormBatch:scan_form_view.html.twig' with {'form': record['formImage']} %}
                </div>
                <br clear="all">
            </div>
        {% endfor %}

        <br clear="all">
        <p>
        </p>
        <p class="stdformbutton">
            <button class="submit radius2" onclick="return confirm('Are you sure?')">Next</button>        
        </p>        
    </form>
{% endblock %}