{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Verify checkbox</h1>
    <form class="stdform stdform2" method="post">
        <input type="hidden" name="recordsId" value="{{ recordsId }}" />
        <div class="one_half" style="width: 48%; height: auto; border: 1px #ddd solid; margin-top: 10px">
            <div style="margin: 10px" id="checkedDiv">
                <h3>CHECKED</h3><br/>
                {% spaceless %}
                    {% for record in records %}
                        <img id="{{ record['id'] }}_{{ record['name'] }}" class="markedImage" src="{{ record['imageUrl'] }}" style="height: 60px; margin: 4px" />
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
        <div class="one_half last" style="width: 48%; height: auto; border: 1px #ddd solid; margin-top: 10px">
            <div style="margin: 10px" id="nonCheckedDiv">
                <h3>NON-CHECKED</h3><br/>                
            </div>
        </div>
        <br clear="all">

        {% for record in records %}
            <input type="hidden" id="record_{{ record['id'] }}_{{ record['name'] }}" name="record_{{ record['id'] }}_{{ record['name'] }}" value="1" />
        {% endfor %}

        <p style="margin-top: 10px">
        </p>
        <p class="stdformbutton">
            <button class="submit radius2" onclick="return confirm('Are you sure?')">Next</button>        
        </p>        
    </form>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.markedImage').click(function() {
                var thisNode = jQuery(this);
                var parentNode = thisNode.parent();                
                
                thisNode.detach();
                var nodeId = thisNode.attr('id');

                if (parentNode.attr('id') == 'checkedDiv') {
                    jQuery('#nonCheckedDiv').append(thisNode);
                    jQuery('#record_' + nodeId).val(0);
                }   
                else {
                    jQuery('#checkedDiv').append(thisNode);
                    jQuery('#record_' + nodeId).val(1);
                }                
            });
        });
    </script>
{% endblock %}