{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Verify: Textarea</h1>
    <br/>
    <form class="stdform stdform2" method="post">
        <input type="hidden" name="recordsId" value="{{ recordsId }}" />

        {% for record in records %}
            <div class="one_half {% if loop.index % 2 == 0 %}last{% endif %}" style="width: 48%; height: 280px; border: 1px #ddd solid; margin-bottom: 10px">
                <div style="margin: 10px; height: auto">
                    <img src="{{ record['imageUrl'] }}" style="max-height: 140px; max-width: 90%" /><br/>
                    
                    <div style="margin-top: 10px">Text:<br/>
                        <textarea name="record_{{ record['id'] }}_{{ record['name'] }}" style="max-width: 70%" cols="100" rows="5"></textarea>
                    </div>              
                </div>
            </div>
            {% if loop.index % 2 == 0 %}<br clear="all">{% endif %}
        {% endfor %}

        <br clear="all">
        <p>
        </p>
        <p class="stdformbutton">
            <button class="submit radius2" onclick="return confirm('Are you sure?')">Next</button>        
        </p>        
    </form>
{% endblock %}