{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Verify: Code recognition / Zone extraction</h1>
    <br/>
    <form class="stdform stdform2" method="post">
        <input type="hidden" name="recordsId" value="{{ recordsId }}" />
        {% for recordId, record in records %}
            <div class="one_half {% if loop.index % 2 == 0 %}last{% endif %}" style="width: 48%; height: 610px; border: 1px #ddd solid; margin-bottom: 10px">
                <div style="margin: 10px; height: auto">
                    <img src="{{ record['imageUrl'] }}" style="max-height: 500px; max-width: 95%" />
                    
                    <div style="margin-top: 10px">
                        Correct form:</br>
                        <select name="record_{{ recordId }}">
                            <option value="0" select></option>
                            {% for formId, form in forms %}                                
                                <option value="{{ formId }}">{{ form }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% if loop.index % 2 == 0 %}<br clear="all">{% endif %}
        {% endfor %}

        <br clear="all">
        <p>
        </p>
        <p class="stdformbutton">
            <button class="submit radius2" onclick="return confirm('Are you sure?')">Next</button>        
        </p>        
    </form>
{% endblock %}