{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <h1>Verify: Textbox</h1>
    <form class="stdform stdform2" method="post">
        <input type="hidden" name="recordsId" value="{{ recordsId }}" />

        {% for record in records %}
            <div class="one_third {% if loop.index % 3 == 0 %}last{% endif %}" style="height: 160px; border: 1px #ddd solid; margin-top: 10px">
                <div style="margin: 10px; height: auto">
                    <h4>{{ record['name']}}</h4>
                    <img src="{{ record['imageUrl'] }}" style="max-height: 80px; max-width: 90%" /><br/>
                    
                    <div style="margin-top: 10px">Text: <input name="record_{{ record['id'] }}_{{ record['name'] }}" type="text" style="max-width: 85%" /></div>              
                </div>
            </div>
            {% if loop.index % 3 == 0 %}<br clear="all">{% endif %}
        {% endfor %}

        <br clear="all">
        <p style="margin-top: 10px">
        </p>
        <p class="stdformbutton">
            <button class="submit radius2" onclick="return confirm('Are you sure?')">Next</button>        
        </p>        
    </form>
{% endblock %}