{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                    <style type="text/css">
                        button.disabled {
                        opacity: 0.5;
                        }
                    </style>

                        {{ parent() }}
                        <div style="float: right">
                            <button type="button" class="radius2 disabled" id="btn-geno-storage-visualize" onclick="return visualizeProcess()" disabled>&nbsp;&nbsp;Visualize&nbsp;&nbsp;</button>
                        </div>

                         <script type="text/javascript">
                            function visualizeProcess() {
                                var selectedId = getSelectedId();

                                if (selectedId != []) {
                                    var targetUrl = '{{ visualizedLoadPage }}?selected=' + selectedId;
                                    jQuery.colorbox({
                                        href: targetUrl,
                                        iframe: true,
                                        width:  "90%",
                                        height: "90%",
                                        onClosed:function(){
                                            funcDynamicTableReload_{{ grid['id'] }}();
                                            setTimeout(function() { onCheckBoxChange(); }, 500);
                                        }
                                    });
                                }
                                return false;
                            }

                            function getSelectedId() {
                                var selectedId = '';
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });

                                return selectedId;
                            }

                            function onCheckBoxChange()
                            {
                                if (getSelectedId().length <= 0) {
                                    jQuery("#btn-geno-storage-visualize").addClass('disabled').prop("disabled", true);
                                } else {
                                    jQuery("#btn-geno-storage-visualize").removeClass('disabled').prop("disabled", false);
                                }
                            }
                            jQuery(document).on("change", "input[type='checkbox']", function (){
                                onCheckBoxChange();
                            });
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
