{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Storage history</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 20%">Cell</th>
                    <th class="head1" style="width: 20%">Date</th>
                    <th class="head1" style="width: 20%">By</th>
                    <th class="head1" style="width: 20%">Amount</th>
                    <th class="head1" style="width: 20%">Helper</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log['cell'] }}</td>
                        <td>{{ log['date'] }}</td>
                        <td>{{ log['by'] }}</td>
                        {% if log['amount'] < 0 %}
                            <td style='color: red;'>{{ log['amount'] }}</td>
                        {% else %}
                            <td style='color: green;'>+{{ log['amount'] }}</td>
                        {% endif %}
                        <td>{{ log['helper'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}