{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% if (fixedReportMessage is defined) and (fixedReportMessage is not empty) %}
        <div class="notification msgerror">
            <a class="close"></a>
            <p> 
                {{ fixedReportMessage }}
            </p>
        </div>
    {% endif %}

    <div class="stdform stdform2">
        <br/><h2>ACCESS KEY</h2><br/>
        <p></p>
        <p>
            <span class="field" style="margin-left:-1px">
                {% if accessKey is empty %}
                    Access key: <a href="{{ generateAccessKeyLink | raw }}">Generate access key</a> 
                {% else %}
                    Access key: {{ accessKey }} / {{ accessCode }}   <a href="{{ disableAccessKeyLink | raw }}">Disable access key</a>
                {% endif %}
            </span>
        </p>
    </div>

    <div class="stdform stdform2">
        <br/><h2>Email sending activities</h2><br/>
        <p></p>
        {% for activity in activities %}
            <p>
                <span class="field" style="margin-left:-1px">
                    {{ activity.time }}&nbsp;:&nbsp; {{ activity.notes }}
                </span>
            </p>
        {% endfor %}
    </div>
    <br/>
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    <script type="text/javascript">
        function onChangeEmailTemplateId() {
            var id = jQuery('#{{ form['view'].emailTemplateId.vars.id }}').val();                    
            var idCustomer = jQuery('#{{ form['view'].customerId.vars.id }}').val();
            var targetUrl = "{{ links.emailTemplate.ajaxRead }}?id=" + id + "&idCustomer=" + idCustomer;
            jQuery.ajax({
                url: targetUrl,
                context: document.body
            }).done(function(data) {
                if (data == "FAIL") {
                    return;
                }
                var emailTemplate = JSON.parse(data);

                jQuery('#{{ form['view'].subject.vars.id }}').val(emailTemplate['subject']);
                jQuery('#{{ form['view'].content.vars.id }}').val(emailTemplate['content']);

                {% if reportToCustomer is defined %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_0').attr('checked', 'checked');
                {% else %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_0').removeAttr('checked');
                {% endif %}

                {% if reportToDC is defined %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_1').attr('checked', 'checked');
                {% else %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_1').removeAttr('checked');
                {% endif %}

                {% if reportToPartner is defined %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_2').attr('checked', 'checked');
                {% else %}
                    jQuery('#{{ form['view'].emailList.vars.id }}_2').removeAttr('checked');
                {% endif %}

                onChangeEmailList();

                jQuery('#{{ form['view'].cc.vars.id }}').val(emailTemplate['toOthers']);                
            });
        }

        function onChangeEmailList() {
            var addedEmails = '';
            jQuery('#{{ form['view'].emailList.vars.id }} input').each(function() {
                if (jQuery(this).is(':checked')) {
                    addedEmails += jQuery(this).val() + ';';
                }
            });

            jQuery('#{{ form['view'].sendTo.vars.id }}').val(addedEmails);
        }

        jQuery(document).ready(function() {
            jQuery('#{{ form['view'].emailList.vars.id }} input').each(function() {
                jQuery(this).change(onChangeEmailList);
            });

            {% if preSelectTemplateId is defined %}
                jQuery('#{{ form['view'].emailTemplateId.vars.id }}').val({{ preSelectTemplateId}});
                onChangeEmailTemplateId();  
            {% endif %}
        });
    </script>
{% endblock %}
