{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% if (fixedReportMessage is defined) and (fixedReportMessage is not empty) %}
        <div class="notification msgerror">
            <a class="close"></a>
            <p> 
                {{ fixedReportMessage }}
            </p>
        </div>
    {% endif %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    
    {% endembed %}
{% endblock %}
