{% extends 'LeepAdminBundle:CustomerReport:customer_popup.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}   
    
    {% endembed %}

    <br/>
    <h3>Tracking numbers</h3>
    {% if hasTrackingInfo is defined and hasTrackingInfo %}
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <thead>
                <tr>
                    <th class="head0" width="12%">Timestamp</th>
                    <th class="head0" width="12%">Order Number</th>
                    <th class="head0" width="12%">Customer Order Number</th>
                    <th class="head0" width="12%">Shipment Datetime</th>
                    <th class="head0" width="12%">Tracking Number</th>
                    <th class="head0" width="40%">Tracking Link</th>
                </tr>
            </thead>

            <tbody>
                {% for t in trackingNumbers %}
                    <tr>
                        <td>{{ t['timestamp'] }}</td>
                        <td>{{ t['orderNumber'] }}</td>
                        <td>{{ t['customerNumber'] }}</td>
                        <td>{{ t['shipmentDatetime'] }}</td>
                        <td>{{ t['trackingNumber'] }}</td>
                        <td><a target="_blank" href="{{ t['trackingLink'] }}">{{ t['trackingLink'] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <i>No tracking information available</i>
    {% endif %}
{% endblock %}
