{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentHidden %}
            {{ parent() }}
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery('#{{ form.view.section.vars.id }}').change(function() {
                        var section = jQuery('#{{ form.view.section.vars.id }}').val();
                        if (section == 30 ||    // Received but not tested
                            section == 40 ||    // Tested and in stock
                            section == 50) {    // Tested and in used
                            jQuery('#{{ form.view.received.vars.id }}').attr('checked', true);
                        }

                        if (section == 40 || // Tested and in stock
                            section == 50) { // Tested and in used
                            jQuery('#{{ form.view.received.vars.id }}').attr('checked', true);
                        }
                        // 
                        // if (section == 50) {
                        // }
                    });

                    jQuery('#{{ form.view.section.vars.id }}').change();
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
