{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/css/bootstrap-modified.css') }}" type="text/css">
    <script src="{{ asset('bundles/framework/lib/bootstrap3/3.1.1/js/bootstrap.js') }}"></script>

    <!-- x-editable (bootstrap 3) -->
    <link href="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/framework/lib/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>

{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery("#section2").attr("style", "display: none");
                    jQuery("#section3").attr("style", "display: none");

                    jQuery("#container_{{form['view'].purchase.vars.id}}").attr("style", "display: none");
                    jQuery("#container_{{form['view'].used.vars.id}}").attr("style", "display: none");
                });
                function changeCheckBox() {
                    if (jQuery("#{{form['view'].isPurchase.vars.id}}").attr("checked") == "checked") {
                        jQuery("#section2").attr("style", "");
                        jQuery("#container_{{form['view'].purchase.vars.id}}").attr("style", "");
                    }
                    else {
                        jQuery("#section2").attr("style", "display: none");
                        jQuery("#container_{{form['view'].purchase.vars.id}}").attr("style", "display: none");
                    }

                    if (jQuery("#{{form['view'].isStock.vars.id}}").attr("checked") == "checked") {
                        jQuery("#section3").attr("style", "");
                        jQuery("#container_{{form['view'].used.vars.id}}").attr("style", "");
                    }
                    else {
                        jQuery("#section3").attr("style", "display: none");
                        jQuery("#container_{{form['view'].used.vars.id}}").attr("style", "display: none");
                    }
                }
            </script>
            <p></p>
            <p class="stdformbutton" style>
                <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
            </p>

            {{ form_row(form['view'].isPurchase )}}
            {{ form_row(form['view'].isStock )}}
            {{ form_row(form['view'].materialList )}}

            <!-- PURCHASE -->
            <br/>
            <h2 id="section2"> Purchase </h2>
            {{ form_row(form['view'].purchase)}}

            <!-- STOCK USED -->
            <br/>
            <h2 id="section3"> Stock used </h2>
            {{ form_row(form['view'].used )}}

        {% endblock %}
    {% endembed %}
{% endblock %}
