{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
    {% endembed %}

    <!-- TABLE -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 16%">Material type</th>
                {% for m in months %}
                    <th class="head1" style="width: 7%">{{ m }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dc in statistic %}
                <tr>
                    <td>{{ dc['name'] }}</td>
                    {% for month, stat in dc['data'] %}
                        {% if isSameYear and month > currentMonth %}
                            <td></td>
                        {% else %}
                            <td>
                                <div style="color: #5B9BD5">&euro;{{ stat['ordered'] | number_format(2) }}</div>
                                <div style="color: #F3991D">&euro;{{ stat['usedUp'] | number_format(2) }}</div>
                                <div style="color: #008000">&euro;{{ stat['current'] | number_format(2) }}</div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">TOTAL</th>
                {% for month, d in total %}
                    {% if isSameYear and month > currentMonth %}
                        <th class="head0"></th>
                    {% else %}
                        <th class="head0" style="text-align: left">
                            <div style="color: #5B9BD5">&euro;{{ d['ordered'] | number_format(2) }}</div>
                            <div style="color: #F3991D">&euro;{{ d['usedUp'] | number_format(2) }}</div>
                            <div style="color: #008000">&euro;{{ d['current'] | number_format(2) }}</div>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </tfoot>
    </table>

    <!-- CHART -->
    <div id="chart" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var totalOrdered = {{ totalOrderedJson }};
            var totalUsedUp = {{ totalUsedUpJson }};
            var totalCurrent = {{ totalCurrentJson }};
            var chart = jQuery.plot(
                jQuery("#chart"),
                [ 
                    { data: totalOrdered, label: "Ordered", color: "#5B9BD5"},
                    { data: totalUsedUp, label: "Used up", color: "#F3991D"},
                    { data: totalCurrent, label: "Current value", color: "#008000"}
                ], 
                {
                    series: {
                        lines: { show: true, lineWidth: 3, fill: false },
                        points: { show: true }
                    },
                    xaxis: {
                        ticks: [[0, ""] {% for i, m in months %}, [{{ i }}, "{{ m }}"] {% endfor %}],
                        min: 1, max: 12
                    },
                    yaxis: {
                        ticks: 5,
                        tickDecimals: 2,
                        tickFormatter: function(val, axis) { return '&euro;' + val.toFixed(2); },
                        labelWidth: 100
                    },                 
                    legend: { position: 'nw'},
                    grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },
                   
                }
            );
        });
    </script>
{% endblock %}
