{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            <script type="text/javascript">            
            
            // PURCHASE
            function widgetRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }
            var newIndex = 1;
            function widgetRowAddNew(appendAfter) {
                var collectionHolder = jQuery('#widgetRowCollection');
                var prototype = jQuery('#widgetRowDataPrototype').attr('data-prototype');

                newIndex++;
                var newForm = prototype.replace(/__name__/g, newIndex);        

                var rowId = 'widgetRow_' + newIndex;

                var newWidget = jQuery('<tr id="' + rowId + '"></tr>');
                var spanWidget = newWidget;
                if (appendAfter != '') {
                    if (appendAfter == 'TOP') {
                        collectionHolder.prepend(newWidget);
                    }
                    else {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                }
                else {
                    collectionHolder.append(newWidget);
                }
                spanWidget.append(newForm);
                spanWidget.append('<td><a href="javascript:widgetRowDelete(\'' + rowId + '\')">Remove</a>&nbsp;&nbsp;<a href="javascript:widgetRowAddNew(\'' + '#' + rowId + '\')">Insert</a></td>');
            }

            // STOCK USED UP
            function widgetStockUsedRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }
            var newIndexStockUsed = 1;
            function widgetStockUsedRowAddNew(appendAfter) {
                var collectionHolder = jQuery('#widgetStockUsedRowCollection');
                var prototype = jQuery('#widgetStockUsedRowDataPrototype').attr('data-prototype');

                newIndexStockUsed++;
                var newForm = prototype.replace(/__name__/g, newIndexStockUsed);        

                var rowId = 'widgetStockUsedRow_' + newIndexStockUsed;

                var newWidget = jQuery('<tr id="' + rowId + '"></tr>');
                var spanWidget = newWidget;

                if (appendAfter != '') {
                    if (appendAfter == 'TOP') {
                        collectionHolder.prepend(newWidget);
                    }
                    else {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                }
                else {
                    collectionHolder.append(newWidget);
                }
                spanWidget.append(newForm);
                spanWidget.append('<td><a href="javascript:widgetStockUsedRowDelete(\'' + rowId + '\')">Remove</a>&nbsp;&nbsp;<a href="javascript:widgetStockUsedRowAddNew(\'' + '#' + rowId + '\')">Insert</a></td>');
            }    

            // when click on radio button of Stock Used Up and CHANGE event occurs
            var justChangedStockUsedUp = null;
            function changeOnInUseMaterial(inUseMaterialId) {
                justChangedStockUsedUp = inUseMaterialId;
            }

            </script>
            <p></p>
            <p class="stdformbutton" style>
                <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
            </p>
            {{ form_row(form['view'].sectionAttachment )}}
            {{ form_row(form['view'].attachment )}}

            {{ form_row(form['view'].section1 )}}
            {{ form_row(form['view'].description )}}
            {{ form_row(form['view'].unitDescription )}}


            <!-- PURCHASE -->
            {{ form_row(form['view'].section2 )}}
            <table id="widgetRowCollection" class="stdtable" cellpadding="0" cellspacing="0" border="0" >
                <colgroup>
                    <col class="con0" width="10%" />
                    <col class="con1" width="10%" />
                    <col class="con1" width="10%" />
                    <col class="con0" width="5%" />
                    <col class="con1" width="10%" />
                    <col class="con0" width="10%" />
                    <col class="con1" width="10%" />
                    <col class="con1" width="10%" />
                    <col class="con1" width="15%" />
                    <col class="con1" width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <td class="head0" width="10%">Date Ordered</td>
                        <td class="head0" width="10%">Received / By</td> 
                        <td class="head0" width="10%">Date received</td>                        
                        <td class="head0" width="5%">Quantity in units</td>
                        <td class="head0" width="10%">Order By</td>
                        <td class="head0" width="10%">External Lot</td>
                        <td class="head0" width="10%">Novogenia Lot Number</td>
                        <td class="head0" width="10%">Expiry date</td>
                        <td class="head0" width="15%">Info</td>
                        <td class="head0" width="10%"></td>
                    </tr>
                    <tr>
                        <td colspan="10" style="padding: 20px; font-weight: normal">
                            <a id="widgetRowPrependNewLink" href="javascript:widgetRowAddNew('TOP')">Add new record</a>
                        </td>
                    </tr>
                </thead>
                {% for id, widgetRow in form['view'].purchaseList %}
                    <tr id="widgetRow_{{ id }}">
                        {{ form_widget(widgetRow)}}
                        <td>
                            <a href="javascript:widgetRowDelete('widgetRow_{{ id }}')">Remove</a>&nbsp;
                            <a href="javascript:widgetRowAddNew('#widgetRow_{{ id }}')">Insert</a>
                        </td>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="widgetRowAddNewLink" href="javascript:widgetRowAddNew('')">Add new record</a>
                </span>
            </p>
            <p class="stdformbutton" style>
                <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
            </p>
            <!-- STOCK USED -->
            {{ form_row(form['view'].section3 )}}

            <table id="widgetStockUsedRowCollection" class="stdtable" cellpadding="0" cellspacing="0" border="0" >
                <colgroup>
                    <col class="con0" width="10%" />
                    <col class="con0" width="20%" />
                    <col class="con1" width="20%" />
                    <col class="con0" width="15%" />
                    <col class="con1" width="20%" />
                    <col class="con0" width="15%" />
                </colgroup>
                <thead>
                    <tr>
                        <td class="head0">In Use</td>
                        <td class="head0">Quantity in units</td>
                        <td class="head0">Used for</td>
                        <td class="head0">Date taken</td>
                        <td class="head0">Taken by</td>
                        <td class="head0"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="padding: 20px; font-weight: normal">
                            <a id="widgetStockUsedRowPrependNewLink" href="javascript:widgetStockUsedRowAddNew('TOP')">Add new record</a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for id, widgetStockUsedRow in form['view'].usedList %}
                    <tr id="widgetStockUsedRow_{{ id }}">
                        {{ form_widget(widgetStockUsedRow)}}
                        <td>
                            <a href="javascript:widgetStockUsedRowDelete('widgetStockUsedRow_{{ id }}')">Remove</a>&nbsp;
                            <a href="javascript:widgetStockUsedRowAddNew('#widgetStockUsedRow_{{ id }}')">Insert</a>
                        </td>
                        <script type="text/javascript">
                            newIndexStockUsed = newIndexStockUsed > {{ id }} ? newIndexStockUsed : {{ id }};
                        </script>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="widgetStockUsedRowAddNewLink" href="javascript:widgetStockUsedRowAddNew('')">Add new record</a>
                </span>
            </p>

            <div style="display: none">
                <input type="radio" name="inUseMaterial" value="0">
            </div>
            <div id="widgetRowDataPrototype" data-prototype="{{ form_widget(form['view'].purchaseList.vars.prototype)|e }}" style="display: none">
            </div>
            <div id="widgetStockUsedRowDataPrototype" data-prototype="{{ form_widget(form['view'].usedList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}        
    {% endembed %}
{% endblock %}
