{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="tabbed"><span>Summary</span></h2></div>
        <div class="widgetcontent">
            {% for changeOfMonth in amountChangesByMonths %}
                {% if changeOfMonth['view'] %}
                    <div class="analytics analytics2" style="width: 6.5%; display: inline-block">
                        <small>{{ changeOfMonth['name'] }}</small>
                        <h3>&euro;{{ changeOfMonth['change'] }}</h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="widgetcontent">
            <div class="analytics analytics2" style="width: 25%; display: inline-block">
                <small>In stock</small>
                <table style='margin: 0px auto; text-align: left; border-spacing: 0px;'>
                    <tr>
                        <td><h1>Material</h1></td>
                        <td><h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountMaterialInStock }}</h1></td>
                    </tr>
                    <tr>
                        <td><h1>Pellet</h1></td>
                        <td><h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountPelletInStock }}</h1></td>
                    </tr>
                    <tr>
                        <td style='border-top: 2px solid #333'><h1>Total</h1></td>
                        <td style='border-top: 2px solid #333'>
                            <h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountInStock }}</h1>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="analytics analytics2" style="width: 25%; display: inline-block">
                <small>Waiting</small>
                <table style='margin: 0px auto; text-align: left; border-spacing: 0px;'>
                    <tr>
                        <td><h1>Material</h1></td>
                        <td><h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountMaterialWaiting }}</h1></td>
                    </tr>
                    <tr>
                        <td><h1>Pellet</h1></td>
                        <td><h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountPelletWaiting }}</h1></td>
                    </tr>
                    <tr>
                        <td style='border-top: 2px solid #333'><h1>Total</h1></td>
                        <td style='border-top: 2px solid #333'>
                            <h1 style='text-align: right;'>&nbsp;&nbsp;&euro;{{ amountWaiting }}</h1>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return materialBulkEdit()">&nbsp;&nbsp;Bulk-Edit&nbsp;&nbsp;</button>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    <script type="text/javascript">
        function disableExpiryDateWarning(targetUrl) {
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                context: document.body
            }).done(function(data) {
                if (data != 'SUCCESS') {
                    alert("ERROR! Failed to disable Expiry Date Warning");
                } else {
                    location.reload();
                }
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert("ERROR! Failed to disable Expiry Date Warning");
            });
        }

        function materialBulkEdit() {
            var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
            var selectedId = '';
            checkboxes.each(function(i, v) {
                if (jQuery(this).is(':checked')) {
                    var id = jQuery(this).attr('id').substring(4);
                    selectedId += id + ',';
                }
            });
            var targetUrl = '{{ links.material.bulkEdit }}?selectedId=' + selectedId;
            jQuery.colorbox({
                href: targetUrl,
                iframe: true,
                width:  "90%",
                height: "90%",
                onClosed:function(){
                    // funcDynamicTableReload_{{ grid['id'] }}();
                }
            });

            return false;
        }
    </script>
{% endblock %}
