{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="stdform stdform2">
                <p>
                    <label>Question</label>
                    <span class="field">
                        {{ feedbackQuestion.question }}
                    </span>
                </p>
            </div>

            <div class="content">
                {% block MainContentInner %}
                {% endblock %}
            </div>
        </div>
    </div>    
{% endblock %}
