{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}
{% block CustomHeaderScript %}
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>


    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/redactor/redactor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/table/table.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontcolor/fontcolor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontfamily/fontfamily.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontsize/fontsize.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fullscreen/fullscreen.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/imagemanager/imagemanager.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/textdirection/textdirection.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/plugin/redactor/redactor.css') }}" type="text/css">
{% endblock %}
{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ parent() }}
        {% endblock %}
    {% endembed %}
    <script>
        jQuery(document).ready(function($) {
            jQuery('#form_content').focusout(function() {
                jQuery('#form_contentWithParagraph').redactor('code.set', jQuery('#form_content').val());
            });
        });
    </script>
{% endblock %}
