Dear,<br/>
<br/>
The following materials has been expired today ({{ today}})<br/>
<br/>

<table>
    <tr>
        <th width="25%">Novo description</th>
        <th width="25%">Name</th>
        <th width="25%">Type</th>
        <th width="25%">Supplier</th>
    </tr>
    {% for material in expiredMaterials %}
        <tr>
            <td>{{ material['description'] }}</td>
            <td>{{ material['name'] }}</td>
            <td>{{ material['type'] }}</td>
            <td>{{ material['supplier'] }}</td>
        </tr>        
    {% endfor %}
</table>
<br/>