{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}

    <a id="save" class="stdform button button-success">Start update</a>
    <div style="background-color:#43A047; width:100%; height:20px" class="form-control">
        <div id="progress-template" style="background-color:#0277BD; width:0%; height:20px" class="form-control">
            <p class="form-control" style="width:100%; text-align: center">
                <span id="numOf" style="color:#FFFFFF">0</span>
                <span id="total" style="color:#FFFFFF">/ {{ total }}</span>
            </p>
        </div>
    </div>
    </br>
    <p class="form-control" style="color: #1565C0" id="success">0</p>
    <p class="form-control" style="color: red" id="fail">0</p>
    <textarea type="textarea" id="content" class="form-control" style="width:100%"> </textarea>

    <script>
        jQuery(document).ready(function($) {
            jQuery('#content').redactor({
	            focus: true,
	            buttons: ['html', 'formatting', 'bold', 'italic', 'deleted', 'unorderedlist', 'orderedlist', 'outdent', 'indent', 'image', 'file', 'link', 'alignment', 'horizontalrule'],
                minHeight: '350px',
                imageUpload: '/email_mass_sender/feature/uploadImage',
                plugins: ['table', 'fontcolor', 'fontfamily', 'fontsize', 'fullscreen', 'imagemanager', 'textdirection'],
                verifiedTags: ['a', 'b', 'strong', 'sub', 'sup', 'i', 'em', 'u', 'small', 'strike', 'del', 'cite', 'ul', 'ol', 'li'], // and for span tag special rule
            });
            var data = {{ content | raw }};
            var countData = {{ total }};
            console.log(countData);
            function update(index) {
                setTimeout(function() {
                    jQuery('#content').redactor('code.set', data[index].content);
                    setTimeout(function() {
                        jQuery('#numOf').html(index+1);
                        var percent = (index/countData)*100;
                        jQuery('#progress-template').attr('style', 'background-color:#0277BD; height:20px;width:'+ percent+ '%');
                        var formData = new FormData();
                        formData.append('content', jQuery('#content').val());
                        formData.append('id', data[index].id);
                        jQuery.ajax({
                            type: "post",
                            dataType: 'json',
                            url: '/email_template/email_template/ajaxUpdateTemplate',
                            data: formData,
                            cache: false,
                            processData: false,
                            contentType: false,
                            async: false,
                            success: function (result) {
                                if (result.responseText == 'TRUE') {
                                    var success = parseInt(jQuery('#success').text());
                                    jQuery('#success').text(success+1);
                                }
                                else {
                                    var fail = parseInt(jQuery('#fail').text());
                                    jQuery('#fail').text(fail+1);
                                }
                            },
                            error: function (result) {
                                if (result.responseText == 'TRUE') {
                                    var success = parseInt(jQuery('#success').text());
                                    jQuery('#success').text(success+1);
                                }
                                else {
                                    var fail = parseInt(jQuery('#fail').text());
                                    jQuery('#fail').text(fail+1);
                                }
                            }
                        });
                    }, 1500);
                }, index * 1500);
            }

            jQuery('#save').click(function() {
                for(var i=0; i<= (countData -1); i++) {
                    update(i);
                };

            });
        });
    </script>
{% endblock %}
