{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block buttons %}
            <button id="btnGetMatchedOrders" class="submit radius2">&nbsp;&nbsp;Preview Matched Orders&nbsp;&nbsp;</button>
            &nbsp;&nbsp;
            <button id="btnCreate" class="submit radius2">&nbsp;&nbsp;Create&nbsp;&nbsp;</button>
        {% endblock %}
    	{% block formContentNormal %}
    		{{ form_row(form['view'].name) }}
    		{{ form_row(form['view'].startDate) }}
    		{{ form_row(form['view'].endDate) }}
    		{{ form_row(form['view'].description) }}

            <script>
                jQuery(document).ready(function() {
                    jQuery('#btnGetMatchedOrders').click(function() {
                        var params = '';

                        var startDate = jQuery('#{{ form['view'].startDate.vars.id }}').val();
                        var endDate = jQuery('#{{ form['view'].endDate.vars.id }}').val();

                        var targetUrl = '{{ links['orderBackup']['getMatchedOrders'] }}?startDate=' + encodeURIComponent(startDate) + '&endDate=' + encodeURIComponent(endDate);

                        jQuery.colorbox({
                            href: targetUrl,
                            iframe: true,
                            width:  "80%",
                            height: "100%"
                        });
                                
                        return false;
                    });
                });
            </script>

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>
    	{% endblock %}
    {% endembed %}
{% endblock %}
