{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}
{% block MainContentInner %}
    <h2>MATCHED ORDERS</h2>
    <br/>

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
        <thead>
            <tr style="height: 45px">
                <th class="head1" width="40%">Order Number</th>
                <th class="head1" width="20%">Distribution Channel</th>
                <th class="head1" width="20%">Customer Name</th>
                <th class="head1" width="20%">Date Ordered</th>
            </tr>
        </thead>
        <tbody>
            {% for row in matchedOrders %}
                <tr>
                    <td>{{ row['orderNumber'] }}</td>
                    <td>{{ row['distributionChannel']}}</td>
                    <td>{{ row['customerName'] }}</td>
                    <td>{{ row['dateOrdered'] }}</td>                            
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
