{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/js-spark-md5-master/spark-md5.min.js') }}"></script>
{% endblock %}
{% block MainContentInner %}
    <h2>VERIFY YOUR BACKUP FILE</h2>
    <br/>

    <form action='{{ action }}' id='verify-form' method='post' class='stdform stdform2' onsubmit='return calculateMD5Hash()'>
        {{ result }}
        <span id="helper-msg"></span>
        </br>
        <input type='file' id='verify-file-input'>
        <input type='text' value='{{ id }}' style='display: none'>
        <input type='text' name='md5' id='md5' style='display: none'>
        <input type='submit'>
    </form>

    <script type="text/javascript">
    function calculateMD5Hash() {
        var blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
            file = document.getElementById('verify-file-input').files[0],
            chunkSize = 2097152,                             // Read in chunks of 2MB
            chunks = Math.ceil(file.size / chunkSize),
            currentChunk = 0,
            spark = new SparkMD5.ArrayBuffer(),
            fileReader = new FileReader();


        fileReader.onload = function (e) {
            var progress = (currentChunk + 1) / chunks * 100;
            progress = progress.toPrecision(4);
            jQuery("#helper-msg").text('Processing: ' + progress + '%');
            spark.append(e.target.result); // Append array buffer
            currentChunk++;

            if (currentChunk < chunks) {
                loadNext();
            } else {
                jQuery("#helper-msg").text('Vertifing');

                // Compute hash
                var hash = spark.end();
                console.info('computed hash', spark.end());

                document.getElementById('md5').value = hash;
                document.getElementById('verify-form').submit();
            }
        };

        fileReader.onerror = function () {
            jQuery("#helper-msg").text('Oops, something went wrong.');
        };

        function loadNext() {
            var start = currentChunk * chunkSize,
                end = ((start + chunkSize) >= file.size) ? file.size : start + chunkSize;

            fileReader.readAsArrayBuffer(blobSlice.call(file, start, end));
        }

        loadNext();
        return false;
    }
    </script>
{% endblock %}
