{% block app_copy_history_row %}
    <p>
        <label>Original order</label>
        <span class="field">{{ originalCustomerOrder | default('') }}</span>
    </p>
    {% for cp in copyHistory %}
        <p>
            <label>Copied from</label>
            <span class="field">
                {{ cp['from'] | default('') }} to {{ cp['to'] | default('') }} <br/>
                Products: {{ cp['products'] | default('') }} <br/>
                At {{ cp['datetime'] | default('') }}
            </span>
        </p>
    {% endfor %}
{% endblock %}