<html>
<head>
    <link rel="stylesheet" href="{{ asset("bundles/designstarlight/js/ui-themes/base/ui.all.css") }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ asset("bundles/designstarlight/css/plugins/elfinder.css") }}" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="{{ asset("bundles/designstarlight/js/elfinder/jquery-1.4.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/designstarlight/js/elfinder/jquery-ui-1.7.2.custom.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/designstarlight/js/elfinder/elfinder.full.js") }}"></script>
</head>
<body>
    <div id="finder"></div>

    <script type="text/javascript" charset="utf-8">
        jQuery('#finder').elfinder({
            {% if allowCloneDir %}
                getdirurl: '{{ processGetAttachmentUrl }}',
                clonedirurl: '{{ cloneDirUrl }}',
            {% endif %}
            url: '{{ processAttachmentUrl }}',
            lang: 'en',
            width: 580,
            height:260,
            toolbar: [
                ['reload', 'select'],[{% if mode == 'full' %}'mkdir', {% endif %}'mkfile', 'upload', 'extract'],['icons', 'list'],{% if allowCloneDir %} ['clonedir', 'getdirurl'] {% endif %}
            ],
            contextmenu : {
               cwd : ['reload', 'delim', 'mkfile', 'upload', 'delim', 'paste', 'delim', 'info', 'list'],
               file : ['select', 'open', 'delim', 'copy', 'cut', 'rm', 'delim', 'duplicate', 'rename'],
               group : ['copy', 'cut', 'rm', 'delim', 'archive', 'extract', 'delim', 'info']
            },
            places: ""
        });
    </script>
</body>

</html>
