<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="tableValidateOrders">
    <thead>
        <tr>
            <th class="head0" style="width: 10%">Customer Number</th>
            <th class="head0" style="width: 10%">Order Number</th>
            <th class="head0" style="width: 10%">Age</th>
            <th class="head0" style="width: 10%">First name</th>
            <th class="head0" style="width: 10%">Sur name</th>
            <th class="head0" style="width: 10%">Birthday</th>
            <th class="head0" style="width: 10%">Gender</th>
            <th class="head0" style="width: 30%">Address</th>
        </tr>
    </thead>
    <tbody>
        {% for orderNumber, d in data %}
            <tr style="background-color: {{ d['color'] }}">
                <td>
                    <a target="_blank" href="{{ links['customerInfoEditLink'] }}?id={{ d['idCustomerInfo'] }}">{{ d['customerNumber']}}</a></td>
                <td>
                    <a target="_blank" href="{{ links['customerEditLink'] }}?id={{ d['id'] }}">{{ d['orderNumber']}}</a></td>
                <td>{{ d['age']}}d</td>
                <td>{{ d['firstName']}}</td>
                <td>{{ d['surName']}}</td>
                <td>{{ d['birthday']}}</td>
                <td>{{ d['gender']}}</td>
                <td>{{ d['address']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if hasConflict %}
<h3 style='color: red; margin: 15px 0px;'>CONFLICT</h3>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="tableValidateOrders">
    <thead>
        <tr>
            <th class="head0" style="width: 10%">Gene</th>
            <th class="head0" style="width: 10%">Customer number</th>
            <th class="head0" style="width: 10%">Result</th>
        </tr>
    </thead>
    <tbody>
        {% for key, gene in geneDatas %}
            {% if gene['conflict'] %}
                {% for index, customer in gene['customers'] %}
                    <tr>
                        {% if loop.index == 1 %}
                            <td rowspan="{{ gene['customers'] | length }}">
                                {{ gene['name'] }} ({{ gene['scientificName'] }})</td>
                        {% endif %}
                        <td>{{ customer['number']}}</td>
                        <td>{{ customer['result']}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if hasSoftConflict %}
<h3 style='color: #c3be23; margin: 15px 0px;'>SOFT CONFLICT</h3>
<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="tableValidateOrders">
    <thead>
        <tr>
            <th class="head0" style="width: 10%">Gene</th>
            <th class="head0" style="width: 10%">Customer number</th>
            <th class="head0" style="width: 10%">Result</th>
        </tr>
    </thead>
    <tbody>
        {% for key, gene in geneDatas %}
            {% if not gene['conflict'] and gene['softConflict'] %}
                {% for index, customer in gene['customers'] %}
                    <tr>
                        {% if loop.index == 1 %}
                            <td rowspan="{{ gene['customers'] | length }}">
                                {{ gene['name'] }} ({{ gene['scientificName'] }})</td>
                        {% endif %}
                        <td>{{ customer['number']}}</td>
                        <td>{{ customer['result']}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
