<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="tableValidateOrders">
    <thead>
        <tr>
            <th class="head0" style="width: 15%">Order Number</th>
            <th class="head0" style="width: 15%">Age</th>
            <th class="head0" style="width: 20%">Products ordered</th>
            <th class="head0" style="width: 15%">Current status</th>
            <th class="head0" style="width: 25%">Lab details</th>
            <th class="head0" style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for orderNumber, d in data %}
            <tr style="background-color: {{ d['color'] }}">
                <td>{{ d['orderNumber']}}</td>
                <td>{{ d['age']}}</td>
                <td>
                    {% for product in d['products'] %}
                        {{ product}}<br/>
                    {% endfor %}
                </td>
                <td>
                    {{ d['status']}}</td>
                <td>
                    {% if d['id'] != 0 %}
                        <a href="#" class="labDetails" data-pk="{{ d['id'] }}" data-type="textarea" data-title="Lab details">{{ d['labDetails']  }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if d['id'] != 0 %}
                        <a target="_blank" href="{{ links['customerEditLink'] }}?id={{ d['id'] }}"><div class="button-edit" alt="Edit" title="Edit"></div></a>
                        <a target="_blank" href="{{ links['customerCopyLink'] }}?id={{ d['id'] }}"><div class="button-copy" alt="Copy" title="Copy"></div></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
