{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <style>
        .stdform2 span.field {
            min-height: 30px;
        }
    </style>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <script type="text/javascript">

            function statusRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }

            var newIndex = 1;

            function statusRowAddNew(appendAfter) {
                var collectionHolder = jQuery('#statusRowCollection');
                var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                newIndex++;
                var newForm = prototype.replace(/__name__/g, newIndex);

                var rowId = 'statusRecordRow_' + newIndex;

                var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                var spanWidget = newWidget.find('span');
                if (appendAfter != '') {
                    var a = collectionHolder.find(appendAfter);
                    newWidget.insertAfter(a);
                }
                else {
                    collectionHolder.append(newWidget);
                }
                spanWidget.append(newForm);
                spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
            }

            </script>

            {{ form_row(form['view'].sectionAttachment)}}
            {{ form_row(form['view'].attachment)}}

            {% if form['view'].oldBarcode is defined %}
                <br/><h2>Copy history</h2><br/>
                <p></p>
                {{ form_row(form['view'].copyHistory) }}
                <br/>
            {% endif %}

            {{ form_row(form['view'].sectionCustomerInfo )}}
            <div style="margin-top: -1px">
                <div class="one_half">
                    {{ form_row(form['view'].customerNumber )}}
                    {{ form_row(form['view'].externalBarcode )}}
                    {{ form_row(form['view'].idDistributionChannel )}}
                    {{ form_row(form['view'].isCustomerBeContacted )}}
                    {{ form_row(form['view'].isNutrimeOffered )}}
                    {{ form_row(form['view'].isNotContacted )}}
                    {{ form_row(form['view'].isDestroySample )}}
                    {{ form_row(form['view'].sampleCanBeUsedForScience )}}
                    {{ form_row(form['view'].isFutureResearchParticipant )}}
                    {{ form_row(form['view'].detailInformation )}}
                </div>
                <div class="one_half last">
                    {{ form_row(form['view'].firstName )}}
                    {{ form_row(form['view'].surName )}}
                    {{ form_row(form['view'].previousOrderNumber) }}
                    {{ form_row(form['view'].dateOfBirth )}}
                    {{ form_row(form['view'].postCode )}}
                    {{ form_row(form['view'].genderId )}}
                    {{ form_row(form['view'].title )}}
                    {{ form_row(form['view'].webLoginGoesTo )}}
                    {{ form_row(form['view'].otherOrders )}}

                </div>
                <br clear="all" />
            </div>

            <br/>
            <div id="main-order-tabs">
                <ul id="main-order-menu-tabs">
                    <li><a href="#section-order">Order</a></li>
                    <li><a href="#section-address">Address</a></li>
                    <li><a href="#section-invoice-address">Invoice Address</a></li>
                    <li><a href="#section-settings">Setting</a></li>
                    <li><a href="#section-invoice-settings">Invoice Setting</a></li>
                    <li><a href="#section-status">Status</a></li>
                    <li><a href="#section-product">Product</a></li>
                    <li><a href="#section-questions">Questions</a></li>

                    {% if subOrderInfo is defined %}
                        <li><a href="#section-sub-order">Sub Order</a></li>
                    {% endif %}
                </ul>

                <div id="section-order">
                    {{ form_row(form['view'].sectionOrder )}}
                    {{ form_row(form['view'].orderNumber )}}
                    {{ form_row(form['view'].trackingCode )}}
                    {{ form_row(form['view'].dnaSampleOrderNumberVario) }}
                    {{ form_row(form['view'].orderInfoText )}}
                    {{ form_row(form['view'].domain )}}
                    {{ form_row(form['view'].dateOrdered )}}
                    {{ form_row(form['view'].orderAge )}}
                    {{ form_row(form['view'].laboratoryDetails )}}
                    {{ form_row(form['view'].canCustomersDownloadReports )}}
                    {{ form_row(form['view'].isDelayDownloadReport )}}
                    {{ form_row(form['view'].numberDateDelayDownloadReport )}}
                </div>

                <div id="section-address">
                    {{ form_row(form['view'].sectionAddress )}}
                    {{ form_row(form['view'].street )}}
                    {{ form_row(form['view'].street2 )}}
                    {{ form_row(form['view'].city )}}
                    {{ form_row(form['view'].countryId )}}
                    {{ form_row(form['view'].email )}}
                    {{ form_row(form['view'].telephone )}}
                    {{ form_row(form['view'].fax )}}
                    {{ form_row(form['view'].notes )}}
                </div>

                <div  id="section-invoice-address">
                    {{ form_row(form['view'].sectionInvoice )}}
                    {{ form_row(form['view'].invoiceAddressIsUsed ) }}
                    {{ form_row(form['view'].invoiceAddressCompanyName ) }}
                    {{ form_row(form['view'].invoiceAddressClientName ) }}
                    {{ form_row(form['view'].invoiceAddressStreet ) }}
                    {{ form_row(form['view'].invoiceAddressPostCode ) }}
                    {{ form_row(form['view'].invoiceAddressCity ) }}
                    {{ form_row(form['view'].invoiceAddressIdCountry ) }}
                    {{ form_row(form['view'].invoiceAddressTelephone ) }}
                    {{ form_row(form['view'].invoiceAddressFax ) }}
                    {{ form_row(form['view'].invoiceAddressUid ) }}
                </div>

                <div id="section-settings">
                    {{ form_row(form['view'].sectionSetting ) }}
                    {{ form_row(form['view'].languageId) }}

                    {{ form_row(form['view'].sectionReportDetails) }}
                    {{ form_row(form['view'].companyInfo) }}
                    {{ form_row(form['view'].laboratoryInfo) }}
                    {{ form_row(form['view'].contactInfo) }}
                    {{ form_row(form['view'].letterExtraText) }}
                    {{ form_row(form['view'].clinicianInfoText) }}
                    {{ form_row(form['view'].text7) }}
                    {{ form_row(form['view'].text8) }}
                    {{ form_row(form['view'].text9) }}
                    {{ form_row(form['view'].text10) }}
                    {{ form_row(form['view'].text11) }}

                    {{ form_row(form['view'].sectionGsSetting) }}
                    {{ form_row(form['view'].doctorsReporting) }}
                    {{ form_row(form['view'].automaticReporting) }}
                    {{ form_row(form['view'].noReporting) }}
                    {{ form_row(form['view'].invoicingAndPaymentInfo) }}
                    {{ form_row(form['view'].idDncReportType) }}

                </div>

                <div id="section-invoice-settings">
                    {{ form_row(form['view'].sectionDelivery) }}
                    {{ form_row(form['view'].priceCategoryId) }}
                    {{ form_row(form['view'].reportDeliveryEmail) }}
                    {{ form_row(form['view'].invoiceDeliveryEmail) }}
                    {{ form_row(form['view'].invoiceGoesToId) }}
                    {{ form_row(form['view'].reportGoesToId) }}
                    {{ form_row(form['view'].reportDeliveryId) }}
                    {{ form_row(form['view'].ftpServer) }}
                    {{ form_row(form['view'].idPreferredPayment) }}
                    {{ form_row(form['view'].idNutrimeGoesTo) }}

                    {{ form_row(form['view'].sectionReportDeliveryOptions) }}
                    {{ form_row(form['view'].isReportDeliveryDownloadAccess) }}
                    {{ form_row(form['view'].isReportDeliveryFtpServer) }}
                    {{ form_row(form['view'].isReportDeliveryPrintedBooklet) }}
                    {{ form_row(form['view'].isReportDeliveryDontChargeBooklet) }}

                    {{ form_row(form['view'].sectionReportSetting) }}
                    {{ form_row(form['view'].idRecallGoesTo) }}

                    {{ form_row(form['view'].sectionPricing) }}
                    {{ form_row(form['view'].idMarginGoesTo) }}
                    {{ form_row(form['view'].marginOverrideDc) }}
                    {{ form_row(form['view'].marginOverridePartner) }}
                    {{ form_row(form['view'].priceOverride )}}
                    {{ form_row(form['view'].idAcquisiteur1 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate1 )}}
                    {{ form_row(form['view'].idAcquisiteur2 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate2 )}}
                    {{ form_row(form['view'].idAcquisiteur3 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate3 )}}
                </div>

                <div id="section-status">
                    {{ form_row(form['view'].sectionStatus )}}
                    <div id="statusRowCollection">
                        {% for id, statusRow in form['view'].statusList %}
                            <p id="statusRecordRow_{{ id }}">
                                <span class="field" style="margin-left:-1px">
                                    {{ form_widget(statusRow)}}
                                    <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                                    &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                                    &nbsp;<a href="javascript:statusRowEmail('#statusRecordRow_{{ id }}')">Email</a>
                                </span>
                                <script type="text/javascript">
                                    newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                                </script>
                            </p>
                        {% endfor %}
                    </div>
                    <p>
                        <span class="field" style="margin-left: -1px">
                            <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                        </span>
                    </p>

                    <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
                    </div>
                </div>

                <div id="section-product">
                    {{ form_row(form['view'].sectionOrderInformation )}}
                    {{ form_row(form['view'].orderInfo )}}
                </div>

                <div id="section-questions">
                    {{ form_row(form['view'].questions )}}
                </div>

                {% if subOrderInfo is defined %}
                <div id="section-sub-order">
                    {% for productGroup in subOrderInfo %}
                        {{ productGroup['groupName'] }}
                        {% if productGroup['barcode'] %}
                            [{{ productGroup['barcode'] }}]
                        {% endif %}
                         <br/>
                        {% for productName in productGroup['products'] %}
                            - {{ productName }} <br/>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


            <script type="text/javascript">
                function onChangeReportDeliveryId() {
                    var reportDeliveryId = jQuery('#{{ form['view'].reportDeliveryId.vars.id }}').val();
                    var ftpServerRow = jQuery('#field_row_{{ form['view'].ftpServer.vars.id }}');

                    if (reportDeliveryId == {{ constant('Leep\\AdminBundle\\Business\\DistributionChannel\\Constant::REPORT_DELIVERY_FTP_SERVER') }}) {
                        ftpServerRow.css('display', '');
                    }
                    else {
                        ftpServerRow.css('display', 'none');
                    }
                }


                function onChangeDistributionChannel() {
                    var id = jQuery('#{{ form['view'].idDistributionChannel.vars.id }}').val();
                    var targetUrl = "{{ links.distributionChannel.ajaxRead }}?id=" + id;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data) {
                        if (data == "FAIL") {
                            return;
                        }
                        var dc = JSON.parse(data);

                        jQuery('#{{ form['view'].webLoginGoesTo.vars.id }}').val(dc['webLoginGoesTo']);
                        jQuery('#{{ form['view'].companyInfo.vars.id }}').val(dc['companyinfo']);
                        jQuery('#{{ form['view'].laboratoryInfo.vars.id }}').val(dc['laboratoryinfo']);
                        jQuery('#{{ form['view'].contactInfo.vars.id }}').val(dc['contactinfo']);
                        jQuery('#{{ form['view'].letterExtraText.vars.id }}').val(dc['letterextratext']);
                        jQuery('#{{ form['view'].clinicianInfoText.vars.id }}').val(dc['clinicianinfotext']);
                        jQuery('#{{ form['view'].text7.vars.id }}').val(dc['text7']);
                        jQuery('#{{ form['view'].text8.vars.id }}').val(dc['text8']);
                        jQuery('#{{ form['view'].text9.vars.id }}').val(dc['text9']);
                        jQuery('#{{ form['view'].text10.vars.id }}').val(dc['text10']);
                        jQuery('#{{ form['view'].text11.vars.id }}').val(dc['text11']);

                        jQuery('#{{ form['view'].doctorsReporting.vars.id }}').val(dc['doctorsreporting']);
                        jQuery('#{{ form['view'].automaticReporting.vars.id }}').val(dc['automaticreporting']);
                        jQuery('#{{ form['view'].noReporting.vars.id }}').val(dc['noreporting']);
                        jQuery('#{{ form['view'].invoicingAndPaymentInfo.vars.id }}').val(dc['invoicingandpaymentinfo']);
                        jQuery('#{{ form['view'].idDncReportType.vars.id }}').val(dc['idDncReportType']);

                        jQuery('#{{ form['view'].priceCategoryId.vars.id }}').val(dc['pricecategoryid']);
                        jQuery('#{{ form['view'].reportDeliveryEmail.vars.id }}').val(dc['reportdeliveryemail']);
                        jQuery('#{{ form['view'].invoiceDeliveryEmail.vars.id }}').val(dc['invoicedeliveryemail']);
                        jQuery('#{{ form['view'].invoiceGoesToId.vars.id }}').val(dc['invoicegoestoid']);
                        jQuery('#{{ form['view'].reportGoesToId.vars.id }}').val(dc['reportgoestoid']);
                        jQuery('#{{ form['view'].reportDeliveryId.vars.id }}').val(dc['reportdeliveryid']);
                        jQuery('#{{ form['view'].ftpServer.server.vars.id }}').val(dc['ftpservername']);
                        jQuery('#{{ form['view'].ftpServer.username.vars.id }}').val(dc['ftpusername']);
                        jQuery('#{{ form['view'].ftpServer.password.vars.id }}').val(dc['ftppassword']);
                        jQuery('#{{ form['view'].idPreferredPayment.vars.id }}').val(dc['idPreferredPayment']);
                        jQuery('#{{ form['view'].idMarginGoesTo.vars.id }}').val(dc['idMarginGoesTo']);
                        jQuery('#{{ form['view'].idNutrimeGoesTo.vars.id }}').val(dc['idNutrimeGoesTo']);

                        jQuery('#{{ form['view'].isReportDeliveryDownloadAccess.vars.id }}').prop('checked', dc['isReportDeliveryDownloadAccess']);
                        jQuery('#{{ form['view'].isReportDeliveryFtpServer.vars.id }}').prop('checked', dc['isReportDeliveryFtpServer']);
                        jQuery('#{{ form['view'].isReportDeliveryPrintedBooklet.vars.id }}').prop('checked', dc['isReportDeliveryPrintedBooklet']);
                        jQuery('#{{ form['view'].isReportDeliveryDontChargeBooklet.vars.id }}').prop('checked', dc['isReportDeliveryDontChargeBooklet']);

                        jQuery('#{{ form['view'].idAcquisiteur1.vars.id }}').val(dc['acquisiteurid1']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate1.vars.id }}').val(dc['commission1']);
                        jQuery('#{{ form['view'].idAcquisiteur2.vars.id }}').val(dc['acquisiteurid2']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate2.vars.id }}').val(dc['commission2']);
                        jQuery('#{{ form['view'].idAcquisiteur3.vars.id }}').val(dc['acquisiteurid3']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate3.vars.id }}').val(dc['commission3']);

                        jQuery('#{{ form['view'].isCustomerBeContacted.vars.id }}').prop('checked', dc['isCustomerBeContacted']);
                        jQuery('#{{ form['view'].isNutrimeOffered.vars.id }}').prop('checked', dc['isNutrimeOffered']);
                        jQuery('#{{ form['view'].isNotContacted.vars.id }}').prop('checked', dc['isNotContacted']);
                        jQuery('#{{ form['view'].isDestroySample.vars.id }}').prop('checked', dc['isDestroySample']);
                        jQuery('#{{ form['view'].sampleCanBeUsedForScience.vars.id }}').prop('checked', dc['sampleCanBeUsedForScience']);
                        jQuery('#{{ form['view'].isFutureResearchParticipant.vars.id }}').prop('checked', dc['isFutureResearchParticipant']);

                        jQuery('#{{ form['view'].idVisibleGroupProduct.vars.id }}').val(dc['idVisibleGroupProduct']);


                        jQuery('#{{ form['view'].idRecallGoesTo.vars.id }}').val(dc['idRecallGoesTo']);

                        jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').prop('checked', dc['isDelayDownloadReport']);
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').val(dc['numberDateDelayDownloadReport']);

                        var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                        if (delayDownload.is(':checked')) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }



                        // update Product section
                        updateCategoryProductVisibility();


                        onChangeReportDeliveryId();

                        if (dc['isFixedReportGoesTo']) {
                            var labelNode = jQuery('#{{ form['view'].reportGoesToId.vars.id }}').parent().find('label');
                            labelNode.append(jQuery("<br/><b style='color: red'>WARNING! For the select DC, report must always go to " + dc['reportGoesToName'] + "</b>"));
                        }
                        else {
                            var labelNode = jQuery('#{{ form['view'].reportGoesToId.vars.id }}').parent().find('label');
                            labelNode.html('');
                        }
                    });
                }

                function populateErrorToTab() {
                    jQuery('#main-order-menu-tabs a').each(function() {
                        var key = jQuery(this).attr('href') + "";
                        var isError = false;

                        jQuery(key).find('.error').each(function() {
                            var text = jQuery(this).text() + '';
                            if (text.trim() != '') {
                                isError = true;
                            }
                        });

                        if (isError) {
                            jQuery(this).css('color', '#ff6600');
                        }
                    });
                }

                jQuery(document).ready(function() {
                    onChangeReportDeliveryId();
                    {% if (form['view'].act.vars.value == '')  %}
                        onChangeDistributionChannel();
                    {% endif %}
                    populateErrorToTab();
                    jQuery('#main-order-tabs').tabs();

                    var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                    if (delayDownload.is(':checked')) {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                    }
                    else {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                    }

                    jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').change(function(){
                        if (this.checked) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }
                    });
                });
            </script>
        {% endblock %}

        {% block buttons %}
            <script type="text/javascript">
                function submitFormDoubleCheck(action) {
                    // Submit
                    var actField = jQuery('#{{ form['view'].act.vars.id }}');

                    actField.val('check');
                    if (action == 'override') {
                        if (!confirm('Do you want to override the information of this customer?')) {
                            return false;
                        }
                        actField.val('override');
                    }
                    else if (action == 'markonly') {
                        if (!confirm('Do you want to mark this customer as double-checked?')) {
                            return false;
                        }
                        actField.val('markonly');
                    }

                    jQuery('#{{ form['id'] }}').submit();
                    return false;
                }
            </script>

            <button class="radius2" onclick="return submitFormDoubleCheck('')">&nbsp;&nbsp;Check&nbsp;&nbsp;</button>
            <button class="radius2" onclick="return submitFormDoubleCheck('override')">&nbsp;&nbsp;Override & mark as double-checked&nbsp;&nbsp;</button>

        {% endblock %}
    {% endembed %}
{% endblock %}
