{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% if isAddedInvoiced is defined and isAddedInvoiced %}
        <div class="notification msgalert">
            <p>Already invoiced! Changes won't be updated anymore</p>
        </div>
        <br/>
    {% endif %}

    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <style type="text/css">
                .hidden {
                    display: none;
                }
            </style>
            <div>
                <p id="quick-access-links" style="border: 0px; visibility: hidden;">
                    <span id="span-go-acquisiteur1"><a id="go-acquisiteur1" href="javascript: goAcquisiteur(posAcquisiteur = 1)">Go to Acquisiteur1</a></span>
                    <span id="span-go-acquisiteur2" style="padding-left: 30px;"><a id="go-acquisiteur2" href="javascript: goAcquisiteur(posAcquisiteur = 2)">Go to Acquisiteur2</a></span>
                    <span id="span-go-acquisiteur3" style="padding-left: 30px;"><a id="go-acquisiteur3" href="javascript: goAcquisiteur(posAcquisiteur = 3)">Go to Acquisiteur3</a></span>
                    <span id="span-go-partner" style="padding-left: 30px;"><a id="go-partner" href="javascript: goPartner()">Go to Partner</a></span><span style="padding-left: 30px;"><a id="go-distribution-channel" href="javascript: goDistributionChannel()">Go to Distribution Channel</a></span>
                </p>
                <br>
                <output id="err-mess" class="error-message"></output>
            </div>
            <script type="text/javascript">
                var customerId;
                var distributionChannelId;
                var partnerId;
                var getPartnerSuccess;
                var acquisiteurId1, acquisiteurId2, acquisiteurId3;
                jQuery(document).ready(function(){

                    if ("{{ isCreateHandler }}" == '0') {
                        jQuery("#quick-access-links").css({
                            "visibility":"visible"
                        });
                        customerId = "{{ appRequestId }}";
                        distributionChannelId = String(jQuery("#{{ form['view'].idDistributionChannel.vars.id }}").val());
                        var quickInfo_js = "{{ customerQuickAccesskInformation }}";
                        var quickInfo = JSON.parse(quickInfo_js);
                        acquisiteurId1 = quickInfo[0];
                        acquisiteurId2 = quickInfo[1];
                        acquisiteurId3 = quickInfo[2];
                        partnerId = String(quickInfo[3]);
                        var countHidden = 0;
                        if (!acquisiteurId1) {
                            jQuery("#span-go-acquisiteur1").remove();
                            countHidden += 1;
                        }
                        if (!acquisiteurId2) {
                            jQuery("#span-go-acquisiteur2").remove();
                            countHidden += 1;
                        }
                        else{
                            if (countHidden == 1) {
                                jQuery("#go-acquisiteur2").css({
                                    "margin-left":"-30px",
                                });
                            }
                        }
                        if (!acquisiteurId3) {
                            jQuery("#span-go-acquisiteur3").remove();
                            countHidden += 1;
                        }
                        else{
                            if (countHidden == 2) {
                                jQuery("#go-acquisiteur3").css({
                                    "margin-left":"-30px",
                                });
                            }
                        }
                        if (!partnerId) {
                            jQuery("#span-go-partner").remove();
                            countHidden += 1;
                        }
                        else{
                            if (countHidden == 3) {
                                jQuery("#go-partner").css({
                                    "margin-left":"-30px",
                                });
                            }
                        }
                        if(!distributionChannelId){
                            jQuery("#go-distribution-channel").remove();
                        }
                        else{
                            if (countHidden == 4) {
                                jQuery("#go-distribution-channel").css({
                                    "margin-left":"-30px"
                                });
                            }
                        }
                    }
                    var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                    if (delayDownload.is(':checked')) {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                    }
                    else {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                    }

                    jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').change(function(){
                        if (this.checked) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }
                    });
                });

                // check if similar customer info available, get the existing one
                function checkCustomerInfo() {
                    var checkExistingCustomerSpan = jQuery('#checkExistingCustomerSpan');
                    checkExistingCustomerSpan.html('Checking..');

                    // collect data
                    var customerInfo = {};

                    customerInfo.customerNumber = jQuery('#{{ form.view.customerNumber.vars.id }}').val();
                    customerInfo.idCustomer = '{{ appRequestId }}';
                    customerInfo.externalBarcode = jQuery('#{{ form.view.externalBarcode.vars.id }}').val();
                    customerInfo.idDistributionChannel = jQuery('#{{ form.view.idDistributionChannel.vars.id }}').val();
                    customerInfo.firstName = jQuery('#{{ form.view.firstName.vars.id }}').val();
                    customerInfo.surName = jQuery('#{{ form.view.surName.vars.id }}').val();
                    customerInfo.dateOfBirth = jQuery('#{{ form.view.dateOfBirth.vars.id }}').val();
                    customerInfo.postCode = jQuery('#{{ form.view.postCode.vars.id }}').val();
                    customerInfo.detailInformation = jQuery('#{{ form.view.detailInformation.vars.id }}').val();

                    customerInfo.isCustomerBeContacted = jQuery('#{{ form.view.isCustomerBeContacted.vars.id }}').is(':checked') ? 1 : 0;
                    customerInfo.isNutrimeOffered = jQuery('#{{ form.view.isNutrimeOffered.vars.id }}').is(':checked') ? 1 : 0;
                    customerInfo.isNotContacted = jQuery('#{{ form.view.isNotContacted.vars.id }}').is(':checked') ? 1 : 0;
                    customerInfo.isDestroySample = jQuery('#{{ form.view.isDestroySample.vars.id }}').is(':checked') ? 1 : 0;
                    customerInfo.sampleCanBeUsedForScience = jQuery('#{{ form.view.sampleCanBeUsedForScience.vars.id }}').is(':checked') ? 1 : 0;
                    customerInfo.isFutureResearchParticipant = jQuery('#{{ form.view.isFutureResearchParticipant.vars.id }}').is(':checked') ? 1 : 0;


                    // send to server
                    var targetUrl = '{{ urlCheckCustomerInfo }}';

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body,
                        data: customerInfo
                    }).done(function(data) {
                        data = JSON.parse(data);
                        checkExistingCustomerSpan.html(data.msg + "<br/>");

                        var key;
                        for (key in data.customerInfos) {
                            var url = "{{ urlViewCustomerInfo }}?id=" + key;
                            var link = jQuery('<a style="margin-right: 5px" target="_blank" href="' + url + '">' + data.customerInfos[key] + '</a>');
                            checkExistingCustomerSpan.append(link);
                        }
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        checkExistingCustomerSpan.html("ERROR! CAN'T LOAD DATA");
                    });
                }


                function openEmail(url) {
                    jQuery.colorbox({
                        href: url,
                        iframe: true,
                        width:  "80%",
                        height: "80%"
                    });
                }

                function statusRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }

                var newIndex = 1;

                function statusRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#statusRowCollection');
                    var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);

                    var rowId = 'statusRecordRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }
                    spanWidget.append(newForm);
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                    spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
                    spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowEmail(\'' + '#' + rowId + '\')">Email</a>');
                }

                function statusRowEmail(id) {
                    var status = jQuery(id).find('select').val();
                    jQuery.colorbox({
                        href: '{{ emailSendingUrl | raw }}&status=' + status,
                        iframe: true,
                        width:  "75%",
                        height: "75%"
                    });
                }

                function showError(errorMessage){
                    var delay = 500;
                    setTimeout(function(){
                        document.getElementById("err-mess").value = errorMessage;
                        document.getElementById("err-mess").style.visibility = "visible";
                    }, delay);
                }

                function goPartner(){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    // submit to server to get acquisiteur id correspond acquisiteur in form
                    if (partnerId) {
                        var partnerEditUrl = "{{ links['partner']['edit'] }}" + "?id=" + String(partnerId);
                        window.open(partnerEditUrl, '_blank');
                    }
                    else{
                        var errorMessage = "Error! Partner is empty";
                        showError(errorMessage);
                    }
                }

                function goDistributionChannel(){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    if (distributionChannelId) {
                        var url = "{{ links['distributionChannel']['editLink'] }}" + "?id=" + distributionChannelId;
                        window.open(url, '_blank');
                    }
                    else{
                        var errorMessage = "Error! Distribution Channel is empty";
                        showError(errorMessage);
                    }
                }

                function jumpAcquisiteur(customerId, position) {
                    var acquisiteurInfo_json = JSON.stringify([customerId, position]);
                    // call to php function and get cosrrepond acquisiteurId
                    var targetUrl = "{{ links['customer']['getAcquisiteurIdUrl'] }}" + "?param=" + acquisiteurInfo_json;
                    jQuery.ajax({
                        url: targetUrl,
                        type: 'POST'
                    }).done(function(acquisiteurId){
                        var acquisiteurId_str = String(acquisiteurId);
                        if (acquisiteurId_str) {
                            var acquisiteurEditUrl = "{{ links['acquisiteur']['edit'] }}" + "?id=" + acquisiteurId_str;
                            window.open(acquisiteurEditUrl, '_blank');
                        }
                        else{
                            var errorMessage = "Error! Acquisiteur" + String(posAcquisiteur) + " is empty";
                            showError(errorMessage);
                        }
                    }).error(function(){
                        var errorMessage = "Error! Can't not open Acquisiteur";
                        showError(errorMessage);
                    });
                }

                function showAcquisiteurError(posAcquisiteur){
                    var errorMessage = "Error! Acquisiteur" + String(posAcquisiteur) + " is empty";
                    showError(errorMessage);
                }

                function goAcquisiteur(posAcquisiteur){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    switch (posAcquisiteur){
                        case 1:
                            {
                                if (acquisiteurid1) {
                                var acquisiteurEditUrl = "{{ links['acquisiteur']['edit'] }}" + "?id=" + acquisiteurId1;
                                window.open(acquisiteurEditUrl, '_blank');
                                }
                                else{
                                    showAcquisiteurError(posAcquisiteur);
                                }
                            }
                            break;
                        case 2:
                            {
                                if (acquisiteurid2) {
                                    var acquisiteurEditUrl = "{{ links['acquisiteur']['edit'] }}" + "?id=" + acquisiteurId2;
                                    window.open(acquisiteurEditUrl, '_blank');
                                }
                                else{
                                    showAcquisiteurError(posAcquisiteur);
                                }
                            }
                            break;
                        case 3:
                            {
                                if (acquisiteurid1) {
                                    var acquisiteurEditUrl = "{{ links['acquisiteur']['edit'] }}" + "?id=" + acquisiteurId2;
                                    window.open(acquisiteurEditUrl, '_blank');
                                }
                                else{
                                    showAcquisiteurError(posAcquisiteur);
                                }
                            }
                            break;
                        default:
                            {
                                errorMessage = "Error! Can't not open acquisiteur"
                                show(errorMessage);
                            }
                    }
                }

            </script>

            {{ form_row(form['view'].sectionAttachment)}}
            {{ form_row(form['view'].attachment)}}

            {% if form['view'].oldBarcode is defined %}
                <br/><h2>Copy history</h2><br/>
                <p></p>
                {{ form_row(form['view'].copyHistory) }}
                <br/>
            {% endif %}

            {{ form_row(form['view'].sectionCustomerInfo )}}
            <div style="margin-top: -1px">
                <div class="one_half">
                    {{ form_row(form['view'].customerNumber )}}
                    {{ form_row(form['view'].externalBarcode )}}
                    {{ form_row(form['view'].idDistributionChannel )}}
                    {{ form_row(form['view'].isCustomerBeContacted )}}
                    {{ form_row(form['view'].isNutrimeOffered )}}
                    {{ form_row(form['view'].isNotContacted )}}
                    {{ form_row(form['view'].isDestroySample )}}
                    {{ form_row(form['view'].sampleCanBeUsedForScience )}}
                    {{ form_row(form['view'].isFutureResearchParticipant )}}
                    {{ form_row(form['view'].detailInformation )}}
                </div>
                <div class="one_half last">
                    {{ form_row(form['view'].firstName )}}
                    {{ form_row(form['view'].surName )}}
                    {{ form_row(form['view'].previousOrderNumber) }}
                    {{ form_row(form['view'].dateOfBirth )}}
                    {{ form_row(form['view'].postCode )}}
                    {{ form_row(form['view'].genderId )}}
                    {{ form_row(form['view'].title )}}
                    {{ form_row(form['view'].webLoginGoesTo )}}

                    {% if (form['view'].id is not defined) or (form['view'].id is null) %}
                    {% else %}
                        <p>
                            <span class="field" style="margin-left: -1px">
                                <button class="radius2" type="button" onclick="checkCustomerInfo();">&nbsp;&nbsp;Check Existing Customer&nbsp;&nbsp;</button>
                                <br/><br/>
                                <span id="checkExistingCustomerSpan">

                                </span>
                            </span>
                        </p>
                        {{ form_row(form['view'].otherOrders )}}
                    {% endif %}

                </div>
                <br clear="all" />
            </div>

            <br/>
            <div id="main-order-tabs">
                <ul>
                    <li><a href="#section-order">Order</a></li>
                    <li><a href="#section-address">Address</a></li>
                    <li><a href="#section-invoice-address">Invoice Address</a></li>
                    <li><a href="#section-settings">Setting</a></li>
                    <li><a href="#section-invoice-settings">Invoice Setting</a></li>
                    <li><a href="#section-status">Status</a></li>
                    <li><a href="#section-product">Product</a></li>
                    <li><a href="#section-questions">Questions</a></li>

                    {% if subOrderInfo is defined %}
                        <li><a href="#section-sub-order">Sub Order</a></li>
                    {% endif %}
                </ul>

                <div id="section-order">
                    {{ form_row(form['view'].sectionOrder )}}
                    {{ form_row(form['view'].orderNumber )}}
                    {{ form_row(form['view'].trackingCode )}}
                    {{ form_row(form['view'].dnaSampleOrderNumberVario) }}
                    {{ form_row(form['view'].orderInfoText )}}
                    {{ form_row(form['view'].domain )}}
                    {{ form_row(form['view'].dateOrdered )}}
                    {{ form_row(form['view'].orderAge )}}
                    {{ form_row(form['view'].laboratoryDetails )}}
                    {{ form_row(form['view'].canCustomersDownloadReports )}}
                    {{ form_row(form['view'].isDisplayInCustomerDashboard )}}
                    {{ form_row(form['view'].isDelayDownloadReport) }}
                    {{ form_row(form['view'].numberDateDelayDownloadReport) }}
                </div>

                <div id="section-address">
                    {{ form_row(form['view'].sectionAddress )}}
                    {{ form_row(form['view'].street )}}
                    {{ form_row(form['view'].street2 )}}
                    {{ form_row(form['view'].city )}}
                    {{ form_row(form['view'].countryId )}}
                    {{ form_row(form['view'].email )}}
                    {{ form_row(form['view'].telephone )}}
                    {{ form_row(form['view'].fax )}}
                    {{ form_row(form['view'].notes )}}
                </div>

                <div  id="section-invoice-address">
                    {{ form_row(form['view'].sectionInvoice )}}
                    {{ form_row(form['view'].invoiceAddressIsUsed ) }}
                    {{ form_row(form['view'].invoiceAddressCompanyName ) }}
                    {{ form_row(form['view'].invoiceAddressClientName ) }}
                    {{ form_row(form['view'].invoiceAddressStreet ) }}
                    {{ form_row(form['view'].invoiceAddressPostCode ) }}
                    {{ form_row(form['view'].invoiceAddressCity ) }}
                    {{ form_row(form['view'].invoiceAddressIdCountry ) }}
                    {{ form_row(form['view'].invoiceAddressTelephone ) }}
                    {{ form_row(form['view'].invoiceAddressFax ) }}
                    {{ form_row(form['view'].invoiceAddressUid ) }}
                </div>

                <div id="section-settings">
                    {{ form_row(form['view'].sectionSetting ) }}
                    {{ form_row(form['view'].languageId) }}

                    {{ form_row(form['view'].sectionReportDetails) }}
                    {{ form_row(form['view'].companyInfo) }}
                    {{ form_row(form['view'].laboratoryInfo) }}
                    {{ form_row(form['view'].contactInfo) }}
                    {{ form_row(form['view'].contactUs) }}
                    {{ form_row(form['view'].letterExtraText) }}
                    {{ form_row(form['view'].clinicianInfoText) }}
                    {{ form_row(form['view'].text7) }}
                    {{ form_row(form['view'].text8) }}
                    {{ form_row(form['view'].text9) }}
                    {{ form_row(form['view'].text10) }}
                    {{ form_row(form['view'].text11) }}

                    {{ form_row(form['view'].sectionGsSetting) }}
                    {{ form_row(form['view'].doctorsReporting) }}
                    {{ form_row(form['view'].automaticReporting) }}
                    {{ form_row(form['view'].noReporting) }}
                    {{ form_row(form['view'].invoicingAndPaymentInfo) }}
                    {{ form_row(form['view'].idDncReportType) }}

                    {{ form_row(form['view'].sectionRebrander) }}
                    {{ form_row(form['view'].rebrandingNick) }}
                    {{ form_row(form['view'].headerFileName) }}
                    {{ form_row(form['view'].footerFileName) }}
                    {{ form_row(form['view'].titleLogoFileName) }}
                    {{ form_row(form['view'].boxLogoFileName) }}
                </div>

                <div id="section-invoice-settings">
                    {{ form_row(form['view'].sectionDelivery) }}
                    {{ form_row(form['view'].priceCategoryId) }}
                    {{ form_row(form['view'].reportDeliveryEmail) }}
                    {{ form_row(form['view'].invoiceDeliveryEmail) }}
                    {{ form_row(form['view'].invoiceGoesToId) }}
                    {{ form_row(form['view'].reportGoesToId) }}
                    {{ form_row(form['view'].reportDeliveryId) }}
                    {{ form_row(form['view'].ftpServer) }}
                    {{ form_row(form['view'].idPreferredPayment) }}
                    {{ form_row(form['view'].idNutrimeGoesTo) }}

                    {{ form_row(form['view'].sectionReportDeliveryOptions) }}
                    {{ form_row(form['view'].isReportDeliveryDownloadAccess) }}
                    {{ form_row(form['view'].isReportDeliveryFtpServer) }}
                    {{ form_row(form['view'].isReportDeliveryPrintedBooklet) }}
                    {{ form_row(form['view'].isReportDeliveryDontChargeBooklet) }}

                    {{ form_row(form['view'].sectionReportSetting) }}
                    {{ form_row(form['view'].idRecallGoesTo) }}

                    {{ form_row(form['view'].sectionPricing) }}
                    {{ form_row(form['view'].idMarginGoesTo) }}
                    {{ form_row(form['view'].marginOverrideDc) }}
                    {{ form_row(form['view'].marginOverridePartner) }}
                    {{ form_row(form['view'].priceOverride )}}
                    {{ form_row(form['view'].idAcquisiteur1 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate1 )}}
                    {{ form_row(form['view'].idAcquisiteur2 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate2 )}}
                    {{ form_row(form['view'].idAcquisiteur3 )}}
                    {{ form_row(form['view'].acquisiteurCommissionRate3 )}}
                </div>

                <div id="section-status">
                    {{ form_row(form['view'].sectionStatus )}}
                    <div id="statusRowCollection">
                        {% for id, statusRow in form['view'].statusList %}
                            <p id="statusRecordRow_{{ id }}">
                                <span class="field" style="margin-left:-1px">
                                    {{ form_widget(statusRow)}}
                                    <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                                    &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                                    &nbsp;<a href="javascript:statusRowEmail('#statusRecordRow_{{ id }}')">Email</a>
                                </span>
                                <script type="text/javascript">
                                    var newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                                </script>
                            </p>
                        {% endfor %}
                    </div>
                    <p>
                        <span class="field" style="margin-left: -1px">
                            <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                        </span>
                    </p>

                    <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
                    </div>
                </div>

                <div id="section-product">
                    {{ form_row(form['view'].sectionOrderInformation )}}
                    {{ form_row(form['view'].orderInfo )}}
                </div>

                <div id="section-questions">
                    {{ form_row(form['view'].questions )}}
                </div>

                {% if subOrderInfo is defined %}
                <div id="section-sub-order">
                    {% for productGroup in subOrderInfo %}
                        {{ productGroup['groupName'] }}
                        {% if productGroup['barcode'] %}
                            [{{ productGroup['barcode'] }}]
                        {% endif %}
                        <br/>
                        {% for productName in productGroup['products'] %}
                            - {{ productName }} <br/>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <script type="text/javascript">
                function onChangeReportDeliveryId() {
                    var reportDeliveryId = jQuery('#{{ form['view'].reportDeliveryId.vars.id }}').val();
                    var ftpServerRow = jQuery('#field_row_{{ form['view'].ftpServer.vars.id }}');

                    if (reportDeliveryId == {{ constant('Leep\\AdminBundle\\Business\\DistributionChannel\\Constant::REPORT_DELIVERY_FTP_SERVER') }}) {
                        ftpServerRow.css('display', '');
                    }
                    else {
                        ftpServerRow.css('display', 'none');
                    }
                }


                function onChangeDistributionChannel() {
                    var id = jQuery('#{{ form['view'].idDistributionChannel.vars.id }}').val();
                    var targetUrl = "{{ links.distributionChannel.ajaxRead }}?id=" + id;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data) {
                        if (data == "FAIL") {
                            return;
                        }
                        var dc = JSON.parse(data);

                        jQuery('#{{ form['view'].webLoginGoesTo.vars.id }}').val(dc['webLoginGoesTo']);
                        jQuery('#{{ form['view'].companyInfo.vars.id }}').val(dc['companyinfo']);
                        jQuery('#{{ form['view'].laboratoryInfo.vars.id }}').val(dc['laboratoryinfo']);
                        jQuery('#{{ form['view'].contactInfo.vars.id }}').val(dc['contactinfo']);
                        jQuery('#{{ form['view'].contactUs.vars.id }}').val(dc['contactus']);
                        jQuery('#{{ form['view'].letterExtraText.vars.id }}').val(dc['letterextratext']);
                        jQuery('#{{ form['view'].clinicianInfoText.vars.id }}').val(dc['clinicianinfotext']);
                        jQuery('#{{ form['view'].text7.vars.id }}').val(dc['text7']);
                        jQuery('#{{ form['view'].text8.vars.id }}').val(dc['text8']);
                        jQuery('#{{ form['view'].text9.vars.id }}').val(dc['text9']);
                        jQuery('#{{ form['view'].text10.vars.id }}').val(dc['text10']);
                        jQuery('#{{ form['view'].text11.vars.id }}').val(dc['text11']);

                        jQuery('#{{ form['view'].doctorsReporting.vars.id }}').val(dc['doctorsreporting']);
                        jQuery('#{{ form['view'].automaticReporting.vars.id }}').val(dc['automaticreporting']);
                        jQuery('#{{ form['view'].noReporting.vars.id }}').val(dc['noreporting']);
                        jQuery('#{{ form['view'].invoicingAndPaymentInfo.vars.id }}').val(dc['invoicingandpaymentinfo']);
                        jQuery('#{{ form['view'].idDncReportType.vars.id }}').val(dc['idDncReportType']); // exist

                        jQuery('#{{ form['view'].priceCategoryId.vars.id }}').val(dc['pricecategoryid']);
                        jQuery('#{{ form['view'].reportDeliveryEmail.vars.id }}').val(dc['reportdeliveryemail']);
                        jQuery('#{{ form['view'].invoiceDeliveryEmail.vars.id }}').val(dc['invoicedeliveryemail']);
                        jQuery('#{{ form['view'].invoiceGoesToId.vars.id }}').val(dc['invoicegoestoid']);
                        jQuery('#{{ form['view'].reportGoesToId.vars.id }}').val(dc['reportgoestoid']);
                        jQuery('#{{ form['view'].reportDeliveryId.vars.id }}').val(dc['reportdeliveryid']);
                        jQuery('#{{ form['view'].ftpServer.server.vars.id }}').val(dc['ftpservername']);
                        jQuery('#{{ form['view'].ftpServer.username.vars.id }}').val(dc['ftpusername']);
                        jQuery('#{{ form['view'].ftpServer.password.vars.id }}').val(dc['ftppassword']);
                        jQuery('#{{ form['view'].idPreferredPayment.vars.id }}').val(dc['idPreferredPayment']);
                        jQuery('#{{ form['view'].idMarginGoesTo.vars.id }}').val(dc['idMarginGoesTo']);
                        jQuery('#{{ form['view'].idNutrimeGoesTo.vars.id }}').val(dc['idNutrimeGoesTo']);

                        jQuery('#{{ form['view'].isReportDeliveryDownloadAccess.vars.id }}').prop('checked', dc['isReportDeliveryDownloadAccess']);
                        jQuery('#{{ form['view'].isReportDeliveryFtpServer.vars.id }}').prop('checked', dc['isReportDeliveryFtpServer']);
                        jQuery('#{{ form['view'].isReportDeliveryPrintedBooklet.vars.id }}').prop('checked', dc['isReportDeliveryPrintedBooklet']);
                        jQuery('#{{ form['view'].isReportDeliveryDontChargeBooklet.vars.id }}').prop('checked', dc['isReportDeliveryDontChargeBooklet']);
                        jQuery('#{{ form['view'].canCustomersDownloadReports.vars.id }}').prop('checked', dc['canCustomersDownloadReports']);

                        jQuery('#{{ form['view'].idAcquisiteur1.vars.id }}').val(dc['acquisiteurid1']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate1.vars.id }}').val(dc['commission1']);
                        jQuery('#{{ form['view'].idAcquisiteur2.vars.id }}').val(dc['acquisiteurid2']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate2.vars.id }}').val(dc['commission2']);
                        jQuery('#{{ form['view'].idAcquisiteur3.vars.id }}').val(dc['acquisiteurid3']);
                        jQuery('#{{ form['view'].acquisiteurCommissionRate3.vars.id }}').val(dc['commission3']);

                        jQuery('#{{ form['view'].rebrandingNick.vars.id }}').val(dc['rebrandingnick']);
                        jQuery('#{{ form['view'].headerFileName.vars.id }}').val(dc['headerfilename']);
                        jQuery('#{{ form['view'].footerFileName.vars.id }}').val(dc['footerfilename']);
                        jQuery('#{{ form['view'].titleLogoFileName.vars.id }}').val(dc['titlelogofilename']);
                        jQuery('#{{ form['view'].boxLogoFileName.vars.id }}').val(dc['boxlogofilename']);

                        jQuery('#{{ form['view'].isCustomerBeContacted.vars.id }}').prop('checked', dc['isCustomerBeContacted']);
                        jQuery('#{{ form['view'].isNutrimeOffered.vars.id }}').prop('checked', dc['isNutrimeOffered']);
                        jQuery('#{{ form['view'].isNotContacted.vars.id }}').prop('checked', dc['isNotContacted']);
                        jQuery('#{{ form['view'].isDestroySample.vars.id }}').prop('checked', dc['isDestroySample']);
                        jQuery('#{{ form['view'].sampleCanBeUsedForScience.vars.id }}').prop('checked', dc['sampleCanBeUsedForScience']);
                        jQuery('#{{ form['view'].isFutureResearchParticipant.vars.id }}').prop('checked', dc['isFutureResearchParticipant']);

                        jQuery('#{{ form['view'].idVisibleGroupProduct.vars.id }}').val(dc['idVisibleGroupProduct']);


                        jQuery('#{{ form['view'].idRecallGoesTo.vars.id }}').val(dc['idRecallGoesTo']);

                        jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').prop('checked', dc['isDelayDownloadReport']);
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').val(dc['numberDateDelayDownloadReport']);

                        var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                        if (delayDownload.is(':checked')) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }

                        // update Product section
                        updateCategoryProductVisibility();

                        onChangeReportDeliveryId();

                        if (dc['isFixedReportGoesTo']) {
                            var labelNode = jQuery('#{{ form['view'].reportGoesToId.vars.id }}').parent().find('label');
                            labelNode.append(jQuery("<br/><b style='color: red'>WARNING! For the select DC, report must always go to " + dc['reportGoesToName'] + "</b>"));
                        }
                        else {
                            var labelNode = jQuery('#{{ form['view'].reportGoesToId.vars.id }}').parent().find('label');
                            labelNode.html('');
                        }
                    });
                }

                jQuery(document).ready(function() {
                    onChangeReportDeliveryId();
                    jQuery('#main-order-tabs').tabs();
                });
            </script>

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>
        {% endblock %}
    {% endembed %}
{% endblock %}
