{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% if messages is defined %}
        {% for message in messages %}
            {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'info'} %}
        {% endfor %}
    {% endif %}

    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="general"><span>Drop import files here</span></h2></div>
        <div class="widgetcontent" style="height: 360px">
            <iframe src='{{ attachmentUrl }}' width='100%' height='350' align='left' scrolling = 'auto' frameborder = '0'></iframe>
        </div><!--widgetcontent-->
    </div><!--widgetbox-->

    <br/>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block buttons %}
            <div class="tableoptions">
                <a href="{{ refreshUrl }}" class="btn btn_refresh"><span>Refresh</span></a>
                <a href="{{ importUrl }}" class="btn btn_archive"><span>Import</span></a>
                <a href="{{ configUrl }}" class="dataTablePopupButton btn btn_flag"><span>Config</span></a>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}