{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            <script type="text/javascript">            
            
            function statusRowDelete(rowId) {
                jQuery('#' + rowId).remove();
            }

            var newIndex = 1;

            function statusRowAddNew(appendAfter) {
                var collectionHolder = jQuery('#statusRowCollection');
                var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                newIndex++;
                var newForm = prototype.replace(/__name__/g, newIndex);        

                var rowId = 'statusRecordRow_' + newIndex;

                var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                var spanWidget = newWidget.find('span');                
                if (appendAfter != '') {
                    var a = collectionHolder.find(appendAfter);
                    newWidget.insertAfter(a);
                }
                else {
                    collectionHolder.append(newWidget);
                }
                spanWidget.append(newForm);
                spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
            }

            </script>
            
            {{ form_row(form['view'].sectionAttachment)}}
            {{ form_row(form['view'].attachment)}}

            {{ form_row(form['view'].sectionCustomerOrder)}}
            {{ form_row(form['view'].orderNumber)}}
            {{ form_row(form['view'].orderInfoText)}}
            {{ form_row(form['view'].preferredPayment)}}
            {{ form_row(form['view'].reportDelivery)}}

            {{ form_row(form['view'].sectionInvoice )}}
            {{ form_row(form['view'].invoiceNumber )}}
            {{ form_row(form['view'].invoiceDate )}}
            {{ form_row(form['view'].invoiceFromCompanyId )}}
            <p id="field_row_{{ form['view'].isWithTax.vars.id}}">
                {{ form_label(form['view'].isWithTax) }}
                <span class="field">
                    {{ form_widget(form['view'].isWithTax) }}                 
                    <span id="taxValueBox">
                        {{ form_widget(form['view'].taxValue) }}
                    </span>    
                    <script type="text/javascript">
                        function onChangeIsWithTax() {
                            if (jQuery('#{{ form['view'].isWithTax.vars.id }}').is(':checked')) {
                                jQuery('#taxValueBox').show();
                            }
                            else {
                                jQuery('#taxValueBox').hide();
                            }
                        }

                        jQuery('#{{ form['view'].isWithTax.vars.id }}').bind('change', function() {
                            onChangeIsWithTax();
                        });

                        jQuery(document).ready(function() {
                            onChangeIsWithTax();
                        });
                    </script>
                </span>
            </p>
            {{ form_row(form['view'].postage )}}
            {{ form_row(form['view'].originalPrice )}}
            {{ form_row(form['view'].priceOverride )}}      
            {{ form_row(form['view'].marginOverrideDc )}}      
            {{ form_row(form['view'].marginOverridePartner )}}            
            {{ form_row(form['view'].invoiceInfo )}}
            {{ form_row(form['view'].currencyRate )}}
            
            {{ form_row(form['view'].sectionExtraText )}}
            {{ form_row(form['view'].textAfterDescription )}}
            {{ form_row(form['view'].textFooter )}}

            {{ form_row(form['view'].sectionInvoiceAddress )}}
            {{ form_row(form['view'].invoiceAddressIsUsed ) }}
            {{ form_row(form['view'].invoiceAddressCompanyName ) }}
            {{ form_row(form['view'].invoiceAddressClientName ) }}
            {{ form_row(form['view'].invoiceAddressStreet ) }}
            {{ form_row(form['view'].invoiceAddressPostCode ) }}
            {{ form_row(form['view'].invoiceAddressCity ) }}
            {{ form_row(form['view'].invoiceAddressIdCountry ) }}
            {{ form_row(form['view'].invoiceAddressTelephone ) }}
            {{ form_row(form['view'].invoiceAddressFax) }}

            {{ form_row(form['view'].sectionStatus )}}
            <div id="statusRowCollection">
                {% for id, statusRow in form['view'].statusList %}
                    <p id="statusRecordRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            {{ form_widget(statusRow)}}
                            <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                            &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}        
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                </span>
            </p>

            <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}     


        {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>            

            {% if viewInvoicePdfUrl is defined %}
                <button id="ViewInvoiceBtn" class="radius2" onclick="return viewInvoice()">&nbsp;&nbsp;View pdf&nbsp;&nbsp;</button>
                <button id="EmailInvoiceBtn" class="radius2" onclick="return emailInvoice()">&nbsp;&nbsp;Email&nbsp;&nbsp;</button>
                <button id="RegenerateInvoiceBtn" class="radius2" onclick="return regenerateInvoice()">&nbsp;&nbsp;Re/generate invoice&nbsp;&nbsp;</button>
                <script type="text/javascript">
                    function viewInvoice() {
                        window.open('{{ viewInvoicePdfUrl | raw }}', '_blank');
                        return false;
                    }
                    function regenerateInvoice() {
                        window.open('{{ viewInvoicePdfUrl | raw }}&isRegenerate=1', '_blank');
                        return false;
                    }
                    function emailInvoice() {
                        jQuery.colorbox({
                            href: '{{ emailInvoiceUrl | raw }}',
                            iframe: true,
                            width:  "75%",
                            height: "75%"
                        });
                        return false;   
                    }
                </script>
            {% endif %}

            <button class="submit radius2" onclick="return deleteInvoice()">&nbsp;&nbsp;Delete&nbsp;&nbsp;</button>
            <script type="text/javascript">
                function deleteInvoice() {
                    if (confirm('Are you really want to delete this invoice?')) {
                        var hiddenField = jQuery('<input>');
                        hiddenField.attr('type', 'hidden');
                        hiddenField.attr('name', 'isDelete');
                        hiddenField.attr('value', 1);

                        jQuery('#AppForm').append(hiddenField);
                        jQuery('#AppForm').submit();
                        return true;
                    }
                    return false;
                }
            </script>
        {% endblock %}   
    {% endembed %}
{% endblock %}
