{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}

        {% block gridDrawCallback %}
            jQuery('#{{ grid['id'] }} tr').each(function() {
                var colorCode = jQuery(this).find('.customer_color').attr('color-code');
                if (colorCode != 'undefined') {
                    jQuery(this).css('background-color', colorCode);
                }
            });

            jQuery(".simpletip").tooltip({
            
                bodyHandler: function() {
                    return jQuery(this).find('.hide-content').html();
                },
                left: -100,
                top: 20,
                showURL: false
            });
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            {% if customerModifyPermission %}
                                <button class="radius2" onclick="return exportCustomerList()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return customerStatusBulkEdit()">&nbsp;&nbsp;Bulk-edit&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return customerSettingBulkEdit()">&nbsp;&nbsp;Bulk-edit-setting&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return customerCheckDuplication()">&nbsp;&nbsp;Check duplication&nbsp;&nbsp;</button>
                            {% endif %}
                        </div>
                        <script type="text/javascript">
                            function customerCheckDuplication() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                var targetUrl = '{{ links['customer']['checkDuplication'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function customerSettingBulkEdit() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                var targetUrl = '{{ links['customer']['bulkEditSetting'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function customerStatusBulkEdit() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                var targetUrl = '{{ links['customer']['bulkEditStatus'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function exportCustomerList() {
                                var url = '{{ links['customer']['exportCustomers'] }}';
                                window.open(url, '_blank');
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}
