{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/snapshot/webcam.js') }}"></script>
{% endblock %}

{% block MainContentInner %}    
    <div id="webcam">
    </div>
    <div class="stdform stdformfilter" style="margin-top: 10px">        
        <button class="radius2" onclick="return takeSnapshot();">&nbsp;&nbsp;Take snapshot&nbsp;&nbsp;</button>
        <b id="report" style="display: inline-block"></b>
    </div>

    <script language="JavaScript">
        webcam.set_api_url('saveImage?key={{ key }}');
        webcam.set_quality( 100 ); // JPEG quality (1 - 100)
        webcam.set_shutter_sound(false); // play shutter click sound
        webcam.set_swf_url('{{ asset('bundles/snapshot/webcam.swf') }}');
        webcam.set_hook( 'onComplete', 'onWebcamComplete' );

        jQuery("#webcam").append(webcam.get_html(640, 480));    
        
        function takeSnapshot() {
            jQuery('#report').html("Processing..");
            webcam.snap();
            return false;
        }
        
        function onWebcamComplete(msg) {            
            webcam.reset();
            if (msg == 'ok') {
                jQuery('#report').html("Image captured & saved!");
            }
            else {
                jQuery('#report').html("Failed!");
            }
        }
    </script>
    </script>
{% endblock %}
