{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 840px">
        <div class="title"><h2 class="general"><span>Attachment for order no: {{ orderNumber }}</span></h2></div>
        <div class="widgetcontent" style="height: 360px">
            <iframe src='{{ attachmentUrl }}' width='840' height='350' align='left' scrolling = 'auto' frameborder = '0'></iframe>                
        </div><!--widgetcontent-->
    </div><!--widgetbox-->
{% endblock %}
