{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h3>Duplications</h3>

        {% for records in duplicated %}
            <table class="stdtable" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="head0" style="width: 10%"></th>
                        <th class="head0" style="width: 10%">Customer Number</th>
                        <th class="head0" style="width: 10%">Order Number</th>
                        <th class="head0" style="width: 10%">First name</th>
                        <th class="head0" style="width: 10%">Sur name</th>
                        <th class="head0" style="width: 10%">Birthday</th>
                        <th class="head0" style="width: 10%">Gender</th>
                        <th class="head0" style="width: 30%">Address</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in records %}
                    <tr>
                        {% if loop.index == 1 %}
                            <td rowspan="{{ records | length }}">
                                {% for r in records %}
                                    {{ r['customerNumber']}} <br/>
                                {% endfor %}
                            </td>
                        {% endif %}
                        <td>
                            <a target="_blank" href="{{ links['customerInfoEditLink'] }}?id={{ d['idCustomerInfo'] }}">{{ d['customerNumber']}}</a></td>
                        <td>
                            <a target="_blank" href="{{ links['customerEditLink'] }}?id={{ d['id'] }}">{{ d['ordernumber']}}</a></td>
                        <td>{{ d['firstname']}}</td>
                        <td>{{ d['surname']}}</td>
                        <td>{{ d['birthday']}}</td>
                        <td>{{ d['gender']}}</td>
                        <td>{{ d['street']}}, {{ d['city'] }} {{ d['postcode'] }}, {{ d['country'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        {% endfor %}
    </div>
{% endblock %}