{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="content">

            {% for p in productGenes %}
                <h3>{{ p['product'] }}</h3>

                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head0" width="15%">Name</th>
                            <th class="head0" width="15%">Scientific Name</th>
                            <th class="head0" width="20%">Result</th>
                            <th class="head0" width="20%">RSNumber</th>
                            <th class="head0" width="15%">Result Option</th>
                            <th class="head0" width="15%">Massarray</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for g in p['genes'] %}
                            <tr>
                                <td>{{ g['name'] }}</td>
                                <td>{{ g['scientificName'] }}</td>
                                <td>{{ g['result'] }}</td>
                                <td>{{ g['rsnumber'] }}</td>
                                <td>{{ g['resultOption'] }}</td>
                                <td>{{ g['massarray'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br/>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}