{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                    <tr>
                        <th class="head1" width="40%">Country</th>
                        <th class="head1" width="30%">Report Delivery Price</th>
                        <th class="head1" width="30%">NutriME Delivery Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for id, country in countries %}
                        <tr>
                            <td>{{ country }}</td>
                            <td>{{ form_widget(form['view'].getChild('price_' ~ id)) }}</td>
                            <td>{{ form_widget(form['view'].getChild('nutri_me_price_' ~ id)) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
