{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button id="btn-bulk-delete" class="radius2" onclick="return bulkDelete()">&nbsp;&nbsp;Bulk Delete&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function bulkDelete() {
                                var selectedId = getSelectedId();
                                console.log(selectedId);

                                if (selectedId != []) {
                                    var targetUrl = "{{ linkBulkDelete }}?id=" + selectedId;
                                    window.location = targetUrl;

                                }
                                return false;
                            }

                            function getSelectedId() {
                                var selectedId = '';
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });

                                return selectedId;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}