{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="contenttitle radiusbottom0">
        <h2 class="table"><span>Filter&nbsp;</span></h2>
    </div>
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}

    {% endembed %}
    {% for search in searchList %}
        <br/><br/>
        <h2>{{ search['name'] }}</h2><br/>
        {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': search['grid']} %}

        {% endembed %}
    {% endfor %}
    <script>
        jQuery(document).ready(function() {
            var contentDiv = jQuery('#Form_Filter_ContentDiv');
            contentDiv.slideDown('fast');

            var toggeBtn = jQuery('#Form_Filter_toggerButtonDiv');
            var btnDiv = jQuery('#Form_Filter_submitButtonDiv');
            var clearDiv = jQuery('#Form_Filter_clearButtonDiv');
            btnDiv.css('display', '');
            clearDiv.css('display', '');
        });
    </script>
{% endblock %}
