{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContent %}

    <div class="mainwrapper">
        <div class="mainwrapperinner">
            <ul class="maintabmenu">
                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
            </ul>

            <div class="content">
                {% block MainContentInner %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
