{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="content">
                <h2>Changes logs</h2>
                <br/>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head0" style="width: 20%">Datetime</th>
                            <th class="head0" style="width: 20%">User</th>
                            <th class="head0" style="width: 30%">Name</th>
                            <th class="head0" style="width: 15%">Letter</th>
                            <th class="head0" style="width: 15%">Lot in use</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in supplementTypes %}
                            <tr>
                                <td>{{ r['timestamp'] }}</td>
                                <td>{{ r['user'] }}</td>
                                <td>{{ r['name'] }}</td>
                                <td>{{ r['letter'] }}</td>
                                <td>{{ r['lotInUse'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}