{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/jquery-ui-1.8.16.css') }}" type="text/css">    
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            {{ form_row(form['view'].sectionScanForm)}}
            <p id="field_row_{{ form['view'].scanImage.vars.id}}">
                {{ form_label(form['view'].scanImage) }}
                <span class="field">
                    <img src="{{ form['view'].scanImage.vars.data }}" style="max-height: 600px; max-width: 95%" />
                </span>
            </p>
            {{ form_row(form['view'].scanData)}}
        {% endblock %}
    {% endembed %}
{% endblock %}
