ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999966;
}

ul.topnav li{
    border-top: 1px solid #eee;
    float margin-right:
}

ul.topnav li a{
    display: inline-block;;
    color: #ffffff;
    text-align: center;
    padding: 14px, 14px, 20px, 20px;
    text-decoration: none;;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: #555;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.shortcutarea{
    background-color: #5c5c3d;
    width: 90%;
    height: 40px;
}

.shortcutarea .shortcut{
    background-color: #7a7a52;
    border-right: 1px solid #fff;
    width: 33%;
    height: 30px;
    float: left;
}

.shortcut a{
    width: 100%;
    padding: 14px 20% 16px 35%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
