.stdsection{
    border-top : 1px solid #000;
    border-bottom : 1px solid #000;
    border-left : 2px solid #000;
    border-right: 2px solid #000;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
}

.stdrowinfo{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
}

.stdnameitem{
    border: 1px solid #7a7a52;
    text-align: center;
    display: block;
    font-size: 120%;
}

.stdfieldinfo{
    /*border: 1px solid #ddd;*/
    text-align: center;
    display: block;
}
