.marginPage{
    width: 100%;
    margin-top: 1%;
    margin-left: 1%;
    overflow: hidden;
}

.marginSubPage{
    width: calc(96.5% - 30px);
    margin-left: 0%;
    margin-right: 10px;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.seconLineGenoForm{
    column-span: "1.5" !important;
}

.contentLayout{
    margin-top: 2%;
}

.divGenoButton{
    height: 85%;
}

.tbGenoButton{
    /*border: 1px solid #DDDDDD;*/
    display: inline-block;
    border: None;
    height: 100%;
    width: 100%;
    background-color: green;
    table-layout: fixed;
    display: inline-block;
}

.genoOptionBtn{
    width: 100% !important;
    height: 100%  !important;
    font-size: 50%;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.titleGenoFormGeneral{
    width: 98%;
    height: auto;
}

.titleGenoForm{
    margin-right: 2%;
    width: 90%%;
    height: auto;
}

.iframeGenoForm{
    width: 100%;
    height: 100%;
    display: block;
}

ul.left-main-navbar {
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

ul.left-main-navbar li {
    border-top: 1px solid #eee;
    background-color: #3b4650;
}

ul.left-main-navbar li a{
    display: block;
    text-decoration: none;
    text-align: center;
    /*background-color: #3b4650;*/
    color: #ffffff;
    font-size: 200% !important;
    padding-top: 12%;
    padding-bottom: 12%;
}

ul.left-main-navbar li a:hover{
    background-color: #555;
    color: white;
}

ul.left-main-navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.divIframe{
    border: 5px solid yellow;
}

/* Function form area */

.stdTable{
    width: auto;
    height: auto;
    border: 1px solid #eee;
}

.stdtablePB{
    width: 90%;
    height: 65%;
    margin-left: 1%;
}

.stdTableMS{
    width: 90%;
    height: 25%;
    margin-left: 1%;
}

.stdTableRS{
    width: 90%;
    height: 25%;
}

.tbinputbarcodestyle{
    width: 90%;
    height: 8%;
}

.tbinputmovestock{
    width: 95%;
    height: 19%;
}

.tbinputremovestock{
    width: 90%;
    height: 14%;
}

.textInputBarcodeCol{
    width: 80%;
    vertical-align: middle;
    background-color: #999999;
    text-align: center;
    vertical-align: middle !important;
}

.textRowInput{
    height: 100% !important;
}

.textRow{
    border: 1px solid #eee !important;
}

.textInfo{
    width: 90% !important;
    height: 90% !important;
}

.textInputBarcode{
    width: 90% !important;
    height: 90% !important;
    font-size: 120% !important;
}

.textColumn{
    border: 1px solid #eee;
}

.titleColumn{
    width: 50%;
    font-size: 100% !important;
    text-align: center;
    border: 1px solid #eee;
}

.buttonSubmit{
    font-size: 100%;
}

.errorText{
    visibility: hidden;
    color: #ff0000;
}

.resultchange{
    visibility: hidden;
    font-size: 35px;
    border: None;
}
