div{
    width: 70%;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
}

.tbinputstyle{
}

.colButtonInput{
    width: 50%;
    vertical-align: top;
    background-color: #999999;
    text-align: center;
    margin-left: 5px;
}

.textInput{
    vertical-align: middle;;
    resize: both;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: white;
}

.textColumn{
    width: 50%;
    border: 1px solid #eee;
    text-align: center;
}

.titleColumn{
    width: 50%;
    text-align: center;
}

.buttonSubmit{
    display: inline-block;
    margin-left: 20px;
}

.errorText{
    visibility: hidden;
    color: #ff0000;
}
