.drawTable{
    border: 2px solid black;
    overflow: scroll;
    height: auto;
}

.thStorageTable{
    border: 3px solid #999;
    text-transform: uppercase;
    font-weight: bold;
    width: 300px;
    height: auto;
    font-weight: bolder;
    color: black;
    font-size: 170%;
}

div.scroll{
    overflow: scroll;
}

.emptyGenoStorage{
    width: 300px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

button.disabled {
    opacity: 0.5;
}

.rawList{
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    vertical-align: top;
}

.rawName{
    list-style-type: none;
    width: 300px;
    border: 3px solid #000000;
    font-weight: bold;
    font-weight: 400;
    font-size: 140%;
    color: black;
}

.fillEmpty{
    width: 300px;
    height: 50px;
    background-color: #99e699;
    border: 3px solid black;
}

.fillHardDefault{
    width: 300px;
    height: 50px;
    background-color: #ff6666;
    color: black;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 120%;
}

.fillMediumDefault{
    width: 300px;
    height: 50px;
    background-color: #ffff66;
    color: black;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 120%;
}

.fillHardFit{
    width: 300px;
    height: auto;
    background-color: #ff6666;
    color: black;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 120%;
}

.fillMediumFit{
    width: 300px;
    height: auto;
    background-color: #ffff66;
    color: black;
    border: 3px solid black;
    font-weight: bolder;
    font-size: 120%;
}
