{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
    {% endembed %}

    <!-- TABLE -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 16%">Summary</th>
                {% for m in months %}
                    <th class="head1" style="width: 7%">{{ m }}</th>
                {% endfor %}
                <th class="head1" style="width: 16%">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for eachFactor in statistic['perFactor'] %}
                <tr>
                    <td>{{ eachFactor['name'] }}</td>
                    {% for dataPerMonth in eachFactor['monthly'] %}
                        <td>{{ dataPerMonth }}</td>
                    {% endfor %}
                    <td>{{ eachFactor['wholeYear'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">TOTAL</th>
                {% for dataPerMonth in statistic['total']['monthly'] %}
                    <th class="head0" style="text-align: left">{{ dataPerMonth }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left" id="totalCell">{{ statistic['total']['wholeYear'] }}</th>
            </tr>
        </tfoot>
    </table>

    <!-- CHART TOTAL-->
    <div id="chartTotal" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            {% if totalDistributionChannelJson is defined %}
                var totalDC = {{ totalDistributionChannelJson }};
            {% endif %}
            
            {% if totalPartnerJson is defined %}
                var totalPartner = {{ totalPartnerJson }};
            {% endif %}

            {% if totalLeadJson is defined %}
                var totalLead = {{ totalLeadJson }};
            {% endif %}

            {% if totalCustomerJson is defined %}
                var totalCustomer = {{ totalCustomerJson }};
            {% endif %}

            var chartTotal = jQuery.plot(
                jQuery("#chartTotal"),
                [ 
                    {% if totalDistributionChannelJson is defined %}
                        { data: totalDC, label: "Distribution Channels created per month", color: "#5B9BD5"},
                    {% endif %}
                    
                    {% if totalPartnerJson is defined %}
                        { data: totalPartner, label: "Partners created per month", color: "#FF0000"},
                    {% endif %}

                    {% if totalLeadJson is defined %}
                        { data: totalLead, label: "Leads created per month", color: "#008000"},
                    {% endif %}

                    {% if totalCustomerJson is defined %}
                        { data: totalCustomer, label: "Customer created per month", color: "#FFA500"}
                    {% endif %}
                ], 
                {
                    series: {
                        lines: { show: true, lineWidth: 3, fill: false },
                        points: { show: true }
                    },
                    xaxis: {
                        ticks: [[0, ""] {% for i, m in months %}, [{{ i }}, "{{ m }}"] {% endfor %}],
                        min: 1, max: 12
                    },
                    yaxis: {
                        ticks: 5,
                        min: 0,
                        tickDecimals: 0,
                        tickFormatter: function(val, axis) { return val; },
                        labelWidth: 100
                    },                 
                    legend: { position: 'nw'},
                    grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },
                   
                }
            );
        });
    </script>
{% endblock %}
