{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Component:WidgetBox.html.twig' with {'width': '100%', 'title': 'Order Statistic'} %}
        {% block content %}
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <thead>
                <tr>
                    <th class="head1">Store</th>
                    <th class="head1">Pending</th>
                    <th class="head1">In-progress</th>
                    <th class="head1">Finished</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Store A</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Store B</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        {% endblock %}
    {% endembed %}

    {% embed 'DesignStarlightBundle:Component:WidgetBox.html.twig' with {'width': '100%', 'title': 'More widget..'} %}
        {% block content %}
        Please specify more widget here likes chart / ...
        {% endblock %}
    {% endembed %}
{% endblock %}