{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <script type='text/javascript' src='{{ starlightUrl }}/js/plugins/fullcalendar.min.js'></script>
{% endblock %}

{% block MainContentInner %}    
    <div id="calendar"></div>
    <script type="text/javascript">
    jQuery('#calendar').fullCalendar({
            header: {
                left: '',
                center: '',
                right: ''
            },
            defaultView: 'agendaWeek',
            columnFormat: {
                week: 'ddd'
            },
            selectable: 'true',
            selectHelper: true
        });
    </script>
{% endblock %}