{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    {% form_theme form 'DesignStarlightBundle:Form:BasicTheme.html.twig' %}
    <div class="content">
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head0" width="15%">Field</th>
                    <th class="head0" width="55%">Image</th>
                    <th class="head0" width="30%"></th>
                </tr>
            </thead>

            <tbody>
            {% for zone in zones %}
                <tr>
                    <td><b style="color: blue; font-size: 20px">{{ zone['key']}}</b></td>
                    <td>
                        <img style="max-height: 140px; max-width: 100%" src="{{ fileViewUrl }}/{{ zone['key']}}.jpg" />
                        {% if zone['notes'] != '' %}
                            <br/><i style="color: red">{{ zone['notes'] }}</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if zone['zone'] != 'templatedetectionzone' %}                  
                            {{ form_widget(form.getChild(zone['key'])) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}