{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}


{% block MainContentInner %}            
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}   
            {{ parent() }}

            <p class="stdformbutton">            
                <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
                <button class="radius2" id="btnCheck">&nbsp;&nbsp;Check template&nbsp;&nbsp;</button>
            </p>

            <br/><h2 style="display: inline-block; width: 100px">Preview</h2>
            <iframe id="previewPanel" width="100%" height="800px" style="margin-top: 10px" src="{{ viewScanFormTemplatePdfUrl }}">
            </iframe>
            <p></p>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery("#btnCheck").click(function() {
                        var url = "{{ checkFormTemplateUrl }}";
                        window.open(url,'_blank');
                        return false;
                    });
                });
            </script>   
        {% endblock %}
    {% endembed %}
{% endblock %}