{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:Basic.html.twig' with {'grid': grid} %}
    {% endembed %}
{% endblock %}
