{% block app_geno_nutri_me_parsed_row %}
<br/>
<h2>Code parsed</h2>
<br/>

{% if error is defined %}
    Error in code: {{ error }} <br/>
{% else %}
    <style type="text/css">
        .startstep{
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: center;
            font-size: 100%;
            padding: 5px 0px 5px 0px;
            font-weight: bold;
        }
    </style>
    <div class="one_half">
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                {% for r in info %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ r['label'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ r['value'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>

        {% if isMade is not defined %}
        <br/>
        <button id="startProductionBtn" class="submit radius2">Start production</button>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#startProductionBtn').click(function() {
                    window.location = '{{ startProductionLink | raw }}';
                    return false;
                });
            });
        </script>
        {% endif %}
    </div>

    <div class="one_half last">
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head0" style="width: 35%; text-align: right">Type</th>
                    <th style="width: 65%; text-align: left; font-weight: normal">Amount</th>
                </tr>
                {% for d in drugs %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ d['type'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ d['amount'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>

    <br clear="all" /><br />
{% endif %}

{% set flag = '0' %}
{% if isMade is defined %}
    {% set flag = '1' %}
    <h2>History</h2>
    <br/>
    <div class="one_half">
        <div class="contenttitle radiusbottom0">
            <h2 class="form">
                <span>Summary</span>
            </h2>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                {% for r in history %}
                    <tr>
                        <th class="head0" style="width: 35%; text-align: right">{{ r['label'] | raw }}</th>
                        <th style="width: 65%; text-align: left; font-weight: normal">{{ r['value'] }}</th>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
{% endif %}

{% if currentLots is not empty or stocksInUse is not empty %}
    <div class="one_half last">
        {% if currentLots is not empty %}
            <div class="contenttitle radiusbottom0">
                <h2 class="form">
                    <span>SUPPLEMENT TYPE</span>
                </h2>
            </div>
            <div>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    <thead>
                        <tr>
                            <th class="head0" style="width: 40%">Supplement Type</th>
                            <th class="head0" style="width: 30%">Letter</th>
                            <th class="head0" style="width: 30%">Lot in use</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in currentLots['supplementType'] %}
                            <tr>
                                <td>{{ r['name'] }}</td>
                                <td>{{ r['letter'] }}</td>
                                <td>{{ r['lotInUse'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <br/>
        {% if stocksInUse is not empty %}
            <div class="contenttitle radiusbottom0">
                <h2 class="form">
                    <span>STOCK IN-USE</span>
                </h2>
            </div>
            <div>
                <div class="startstep">
                    {{ stocksInUse['1']['order'] }}
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                    {% for index, stocks in stocksInUse %}
                        {% if index > 1 %}
                            <tr style="text-align: center; font-weight: bold">
                                <td colspan="5">
                                    {{ stocks['order'] }}
                                </td>
                            </tr>
                        {% endif %}
                        <thead>
                            <tr>
                                <th class="head0" style="width: 25%">Name</th>
                                <th class="head0" style="width: 15%">Letter</th>
                                <th class="head0" style="width: 15%">Amount</th>
                                <th class="head0" style="width: 15%">Shipment</th>
                                <th class="head0" style="width: 30%">w/w (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks['stocks'] %}
                                <tr>
                                    <td>{{ stock['pelletName'] | default('') }}</td>
                                    <td>{{ stock['pelletType'] | default('') }}</td>
                                    <td>{{ stock['pelletAmount'] | default('') }}</td>
                                    <td>{{ stock['pelletShipment'] | default('') }}</td>
                                    <td>{{ stock['pelletActiveIngredientName'] | default('') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    <br clear="all" /><br />
{% endif %}

{% endblock %}