<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="tableValidateOrders">
    <thead>
        <tr>
            <th class="head0" style="width: 30%">Order Number</th>
            <th class="head0" style="width: 30%">Customer Name</th>
            <th class="head0" style="width: 40%">Current status</th>
        </tr>
    </thead>
    <tbody>
        {% for  d in data %}
            <tr style="background-color: {{ d['color'] }}">
                <td>{{ d['orderNumber']}}</td>
                <td>{{ d['customerName']}}</td>
                <td>{{ d['status']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
