{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    <div class="mainwrapper">
        <div class="mainwrapperinner">
            <div class="content">
                <br/>
                <h2 style="font-size: 30px">NutriMe Production</h2>
                <br/>
                <div class="one_half">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; border-top: 1px solid #ddd">Order Number</th>
                                <th style="width: 50%; text-align: left; border-top: 1px solid #ddd;">{{ orderNumber }}</th>
                            </tr>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Supplement days</th>
                                <th style="width: 50%; text-align: left;  ">{{ supplementDaysOrder }}d</th>
                            </tr>
                            <tr  style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Product</th>
                                <th style="width: 50%; text-align: left;  ">{{ product }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="one_half last">
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; border-top: 1px solid #ddd">Total Amount</th>
                                <th style="width: 50%; text-align: left; border-top: 1px solid #ddd">{{ totalAmount }}</th>
                            </tr>
                            <tr style="height: 50px">
                                <th class="head0" style="width: 50%; text-align: right; ">Total packs</th>
                                <th style="width: 50%; text-align: left; ">{{ totalPack }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <br clear="all" /><br />

                <br/>
                <h2 style="font-size: 30px">Next steps</h2>
                <br/>

                <form id="mainForm" action="{{ actionUrl }}">
                    <input type="hidden" name="step" value="{{ step }}"/>
                    <input type="hidden" name="id" value="{{ id }}"/>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                        <thead>
                            <tr style="height: 50px" id="inputRow">
                                <th style="width: 10%; text-align: right; border-top: 1px solid #ddd; {% if isFinalStep == true %}padding: 8px 0px 0px 8px; height: 80px;line-height: 30px{% endif %}">{{ msg1 }}</th>
                                <th id="drug" style="width: 25%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 30px">{{ msg2 }}</th>
                                {% if not isFinalStep %}
                                    <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">{{ msg3 }}</th>
                                    <th id="drugAmount" style="width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 30px">{{ msg4 }}g</th>
                                {% endif %}
                                <th style="width: 15%; text-align: right; border-top: 1px solid #ddd">unit(s)</th>
                                <th style="width: 15%; text-align: left; border-top: 1px solid #ddd">
                                    <input type="text" id="inputText" name="inputText" style="height: 40px; width: 100%; font-size: 24px; font-weight: bold;text-transform:uppercase"/>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>

                <br/>
                <h2 style="font-size: 30px">Done steps</h2>
                <br/>

                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px; font-size: 24px; color: #283038">
                    <thead id="doneSteps">
                    {% for step in doneSteps %}
                        <tr style='height: 50px; {% if loop.index == loop.first %}background-color: #90EE90{% endif %}'>
                            <th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>Scan</th>
                            <th style='width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 30px'>{{ step['type'] }}</th>
                            <th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>and use</th>
                            <th style='width: 20%; text-align: right; border-top: 1px solid #ddd; color: red; font-size: 30px'>{{ step['amount'] }}g</th>
                            <th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>unit(s)</th>
                            <th style='width: 15%; text-align: right; border-top: 1px solid #ddd'>COMPLETED!</th>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
                <br/>
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    {% if error != "" %}
                    alert("{{ error }}");
                    {% endif %}

                    {% if isFinalStep %}
                    jQuery("#mainForm").submit(function() {
                        alert("NutriMe Production Finished");
                        return true;
                    })
                    {% endif %}

                    jQuery('#inputText').focus();
                });
            </script>
        </div>
    </div>
{% endblock %}
