{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
					    <div style="float: right">
					        <div>
					            <button class="radius2" onclick="confirmForBulkDelete(); return false;">
                                    &nbsp;&nbsp;Bulk Delete&nbsp;&nbsp;
                                </button>
					        </div>
					    </div>
                        <script type="text/javascript">
                            function updateIsFor(forWhat, idSector) {
                                var newValue = jQuery('#' + forWhat + 'Chk_' + idSector).is(':checked');
                                var targetUrl = '{{ updateIsForUrl }}?idSector=' + idSector + '&forWhat=' + forWhat + '&value=' + (newValue ? 1 : 0);
                                jQuery.ajax({
                                    url: targetUrl,
                                    type: "POST",
                                    context: {}
                                }).done(function(data) {
                                    if (data == 'FAIL') {
                                        alert("ERROR! CAN'T UPDATE DATA");
                                        return;
                                    } else {
                                    
                                    }
                                }).error(function(jqXHR, textStatus, errorThrown ) {
                                    alert("ERROR! CAN'T UPDATE DATA");
                                });

                                return false;
                            }

                            function confirmForBulkDelete() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });

                                if (selectedId) {
                                    swal(
                                            {
                                                title: 'Attention!',
                                                text: 'Do you really want to delete this item?\nThis process can not be undone!',
                                                type: 'warning',
                                                showCancelButton: true,
                                                confirmButtonColor: '#DD6B55',
                                                confirmButtonText: 'Yes, delete it!',
                                                cancelButtonText: 'No, cancel plx!',
                                                closeOnConfirm: true,
                                                closeOnCancel: true
                                            },
                                            function(isConfirm){
                                                if (isConfirm) {
                                                    bulkDelete(selectedId);
                                                }
                                            }
                                        );
                                } else {
                                    swal("Missing Something!", "Plz select at least 1 Cost Tracker Sector to delete!", "error");
                                }
                            }
                            
                            function bulkDelete(selectedId) {
                                var targetUrl = '{{ bulkDeleteUrl }}?selectedId=' + selectedId;

                                jQuery.ajax({
                                    url: targetUrl,
                                    type: "POST",
                                    context: document.body
                                }).done(function(data) {
                                    if (data == 'FAIL') {
                                        alert("ERROR! CAN'T DELETE DATA");
                                        return;
                                    } else {
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                }).error(function(jqXHR, textStatus, errorThrown ) {
                                    alert("ERROR! CAN'T DELETE DATA");
                                });

                                return false;
                            }
                        </script>
					{% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
