<script type="text/javascript">
    function onChangeTextTool(id, toolId) {
        {% for ctrlId, mapId in textToolMapping %}
            jQuery(id + '_textTool_{{ mapId }}').css('display', 'none');
            if (toolId == {{ ctrlId }}) {
                jQuery(id + '_textTool_{{ mapId }}').css('display', 'block');
                var bgColor = jQuery(id + '_textTool_{{ mapId }}').css('background-color');
                jQuery(id + '_textTool_{{ mapId }}').parent().css('background-color', bgColor);
            }
        {% endfor %}
    }
</script>