{% block ContentHeader %}
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/edit_report_section.css') }}" type="text/css">
    <!--[if IE 9]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie9.css') }}"/>
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie8.css') }}"/>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie7.css') }}"/>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/excanvas.min.js') }}"></script><![endif]-->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/redactor/redactor.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/table/table.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontcolor/fontcolor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontfamily/fontfamily.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontsize/fontsize.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fullscreen/fullscreen.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/imagemanager/imagemanager.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/textdirection/textdirection.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/plugin/redactor/redactor.css') }}" type="text/css">
{% endblock %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div style="padding: 10px 10px 5px 10px">
        <div class="content" style="padding: 30px">
            <h1>Update report section (column mode)</h1>
            <br>
            <a style="float: right" href="/report/edit_section/edit?id={{ idReport }}">Back Edit Report</a>
            <br>
            <div id="tb-section" style="padding-top: 20px">
                {% for index, sectionGroup in sections %}
                    <div id="sections-{{ index }}" class="one_fourth {% if loop.last %}last{% endif %}">
                        {% for section in sectionGroup %}
                            <div id="{{ section.id }}" style="border: 1px solid #CCC; margin-top: -1px; padding: 1px 1px 1px 10px" class="handletext">
                                <span>
                                    {{ section.name }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br clear="all">
            </div>

            <br>
            <form id="mainForm" method="POST">
                <input type="hidden" id="idList" name="idList" value="" />
                <button type="button" id="btn-save" class="stdform radius2" onclick="saveOrder()">Save</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        const NUM_COL = 4;

        jQuery(document).ready(function(){
            jQuery("tb-section").sortable();
            jQuery(".one_fourth").sortable({
                connectWith : jQuery(".one_fourth")
            });
            jQuery("tb-section").disableSelection();
            jQuery(".one_fourth").disableSelection();
        });

        function getSectionId(indexSection){
            var idTbSection = "sections-".concat(indexSection.toString());
            var tbSection = document.getElementById(idTbSection);
            var lenTbSection = tbSection.childNodes.length;
            var idSections = [];
            for (var i = 0; i < lenTbSection; i++) {
                var sectionId = tbSection.childNodes[i].id;
                if (typeof(sectionId) != 'undefined') {
                    idSections.push(sectionId);
                }
            }
            return idSections;
        }

        function saveOrder(){
            var orderedIds = [];
            for (var i = 0; i < NUM_COL; i++) {
                var tmp = getSectionId(i);
                orderedIds = orderedIds.concat(tmp);
            }
            console.log(JSON.stringify(orderedIds));
            var actionLink = "/report/edit_section/setOrderReportSection?id=" + {{ idReport|json_encode()|raw }};
            // console.log(actionLink);
            document.getElementById("mainForm").action = actionLink;
            jQuery('#idList').val(JSON.stringify(orderedIds));
            jQuery('#mainForm').submit();
        }
    </script>
{% endblock %}
