{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}   
            {{ form_row(form['view'].name)}}  
                         
            <p id="field_row_form_sections">
                <label for="form_sections" class="required">
                    Section to copy
                </label>
                <span class="field">
                    Search: <input type="text" id="searchBox" name="searchBox" /><br/><br/>
                    {{ form_widget(form['view'].sections)}}      
                </span>
            </p>        
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="reportSectionRowAddNewLink" href="{{ links['report']['edit_section'] }}?id={{ requestId }}">Back to edit section</a>
                </span>
            </p>

            <script type="text/javascript">
                var reportSections = jQuery('#{{ form['view'].sections.vars.id }} option').clone();

                jQuery(document).ready(function() {
                    jQuery('#searchBox').change(function() {
                        var val = jQuery(this).val();  
                        jQuery('#{{ form['view'].sections.vars.id }}').empty();
                        reportSections.filter(function(idx, el) {
                            return jQuery(el).text().indexOf(val) >= 0;
                        }).appendTo('#{{ form['view'].sections.vars.id }}');
                    })
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
