{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <style type="text/css">
                #field_row_{{form['view'].isVisibleByDefault.vars.id}} label,
                #field_row_{{form['view'].isReleased.vars.id}} label {
                    padding-top: 10px;
                }
            </style>
            {{ form_row(form['view'].name)}}
            {{ form_row(form['view'].shortName)}}
            {{ form_row(form['view'].reportCode)}}
            {{ form_row(form['view'].idFormulaTemplate)}}
            {{ form_row(form['view'].sortOrder)}}
            {{ form_row(form['view'].products)}}
            {{ form_row(form['view'].specialProducts)}}
            {{ form_row(form['view'].isVisibleByDefault)}}
            {{ form_row(form['view'].isReleased)}}

            <br/>
            <div>
                <span>
                    <h2 style="display: inline-block; width: 150px;">Report Design</h2>
                </span>
                <span style="float: right">
                    <a href="/report/edit_section/editDesignReport?id={{ requestId }}">Column mode</a>
                </span>
            </div>
            <br/>

            <!-- EXTRA SCRIPT -->
            <script type="text/javascript">
                function onChangeReportType(id, typeId) {
                    if (typeId == 2) {
                        jQuery(id + '_name_box').css('display', 'none');
                        jQuery(id + '_report_section_link_box').css('display', 'inline-block');
                        jQuery(id + '_id_report_link').css('display', 'none');
                    }
                    else if (typeId == 3) {
                        jQuery(id + '_name_box').css('display', 'none');
                        jQuery(id + '_report_section_link_box').css('display', 'none');
                        jQuery(id + '_id_report_link').css('display', 'inline-block');
                    }
                    else {
                        jQuery(id + '_name_box').css('display', 'inline-block');
                        jQuery(id + '_report_section_link_box').css('display', 'none');
                        jQuery(id + '_id_report_link').css('display', 'none');
                    }
                }
            </script>

            <!-- REPORT SECTION BEGIN -->
            <script type="text/javascript">
                var newIndex = 1;

                function reportSectionRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }

                function reportSectionRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#reportSectionRowCollection');
                    var prototype = jQuery('#reportSectionRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);

                    var rowId = 'reportSectionRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }
                    spanWidget.append('<a href="javascript:reportSectionRowDelete(\'' + rowId + '\')"><span class="button-delete" style="width: 25px"></span></a>');
                    spanWidget.append('<a href="javascript:reportSectionRowAddNew(\'' + '#' + rowId + '\')"><span class="button-add" style="width: 25px"></span></a>');
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span>');
                    spanWidget.append(newForm);
                }

                jQuery(document).ready(function() {
                    jQuery('#reportSectionRowCollection').sortable();
                });
            </script>

            <div id="reportSectionRowCollection">
                {% for id, reportSectionRow in form['view'].sectionList %}
                    <p id="reportSectionRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            {% if hasDeletePermission %}
                                <a href="javascript:reportSectionRowDelete('reportSectionRow_{{ id }}')"><span class="button-delete" style="width: 25px"></span></a>
                            {% else %}
                                <span style="width: 25px; display: inline-block"></span>
                            {% endif %}

                            <a href="javascript:reportSectionRowAddNew('#reportSectionRow_{{ id }}')"><span class="button-add" style="width: 25px"></span></a>
                            <span style="width: 41px; display: inline-block"></span>
                            {{ form_widget(reportSectionRow)}}
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                            onChangeReportType('#{{ reportSectionRow.idType.vars.id }}', '{{ reportSectionRow.idType.vars.value }}');
                        </script>
                    </p>
                {% endfor %}
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="reportSectionRowAddNewLink" href="javascript:reportSectionRowAddNew('')">Add new section</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="reportSectionRowCopyLink" href="{{ links['report']['editCopy'] }}?id={{ requestId }}">Copy sections</a>
                </span>
            </p>
            <div id="reportSectionRowDataPrototype" data-prototype="{{ form_widget(form['view'].sectionList.vars.prototype)|e }}" style="display: none">
            </div>

            <!-- TEXT TOOLS END -->
            <br/><h2 style="display: inline-block; width: 100px">Download</h2>
            {{ form_widget(form['view'].idLanguage) }}
        {% endblock %}

        {% block buttons %}
            <button class="radius2" onclick="return submitReportForm()">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
            <button class="radius2" id="addToReportQueueButton" onclick="return addToReportQueue(0)">&nbsp;&nbsp;Add to report queue&nbsp;&nbsp;</button>
            <button class="radius2" id="addToReportQueueCmykButton" onclick="return addToReportQueue(1)">&nbsp;&nbsp;Add to report queue (CMYK)&nbsp;&nbsp;</button>
            <button class="radius2" id="downloadFullReportButton" onclick="return downloadFullReport()">&nbsp;&nbsp;Add to offline job (old)&nbsp;&nbsp;</button>

            <img id="loaderImage" style="display: none" src="{{ asset('bundles/designstarlight/images/loaders/loader5.gif') }}" />
            <script type="text/javascript">
                function submitReportForm() {
                    jQuery('#reportSectionRowCollection p').each(function(index) {
                        jQuery(this).find('input[type=hidden]').each(function(pos) {
                            if (pos == 1) {
                                jQuery(this).val(index + 1);
                            }

                        });
                    });

                    jQuery('form').submit();

                    return false;
                }

                function downloadFullReport() {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var targetUrl = "{{ downloadFullReport }}?idReport={{ requestId }}&idLanguage=" + idLanguage;

                    jQuery('#downloadFullReportButton').css('display', 'none');
                    jQuery('#loaderImage').css('display', 'inline-block');

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body
                    }).done(function(data) {
                        jQuery.jGrowl(data, { position: 'bottom-right'});
                        jQuery('#downloadFullReportButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery.jGrowl(textStatus + " " + errorThrown, { position: 'bottom-right'});
                        jQuery('#downloadFullReportButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    });

                    return false;
                }

                function addToReportQueue(isCmyk) {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var targetUrl = "{{ addToReportQueue }}?idReport={{ requestId }}&idLanguage=" + idLanguage + "&isCmyk=" + isCmyk;

                    jQuery('#addToReportQueueButton').css('display', 'none');
                    jQuery('#loaderImage').css('display', 'inline-block');

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body
                    }).done(function(data) {
                        jQuery.jGrowl(data, { position: 'bottom-right'});
                        jQuery('#addToReportQueueButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery.jGrowl(textStatus + " " + errorThrown, { position: 'bottom-right'});
                        jQuery('#addToReportQueueButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    });

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
