{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}            
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}   
            {{ form_row(form['view'].name)}}       
            {{ form_row(form['view'].shortName)}}   
            {{ form_row(form['view'].reportCode)}}       
            {{ form_row(form['view'].testData)}}       
            
            <!-- REPORT SECTION -->
            <p id="field_row_{{ form['view'].idReportSection.vars.id}}">
                {{ form_label(form['view'].idReportSection) }}
                <span class="field">
                    {{ form_widget(form['view'].idReportSection) }}
                    <a href="{{ links['report']['edit_section'] }}?id={{ idReport | default('0') }}">Edit</a>                
                </span>
                <script type="text/javascript">
                    jQuery('#{{ form['view'].idReportSection.vars.id }}').change(function() {
                        var idReportSection = jQuery(this).val();
                        document.location = '{{ links['report']['edit'] }}?id=' + idReportSection;
                    });
                </script>
            </p>

            <br/><h2>Report Design</h2>
            <br/>            
            <p></p>   
            
            <!-- TEXT TOOLS BEGIN -->
            <script type="text/javascript">                        
                var newIndex = 1;

                function textToolRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }                

                function textToolRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#textToolRowCollection');
                    var prototype = jQuery('#textToolRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);        

                    var rowId = 'textToolRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');                
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }                                        
                    spanWidget.append('<a href="javascript:textToolRowDelete(\'' + rowId + '\')"><span class="button-delete" style="width: 25px"></span></a>');
                    spanWidget.append('<a href="javascript:textToolRowAddNew(\'' + '#' + rowId + '\')"><span class="button-add" style="width: 25px"></span></a>');
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span>');
                    spanWidget.append(newForm);
                }


                jQuery(document).ready(function() {
                    jQuery('#textToolRowCollection').sortable();
                });
            </script>

            {% include 'LeepAdminBundle:Report:app_text_tool.js.twig' %}
            <div id="textToolRowCollection">
                {% for id, textToolRow in form['view'].textToolList %}
                    <p id="textToolRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">                            
                            <a href="javascript:textToolRowDelete('textToolRow_{{ id }}')"><span class="button-delete" style="width: 25px"></span></a>
                            <a href="javascript:textToolRowAddNew('#textToolRow_{{ id }}')"><span class="button-add" style="width: 25px"></span></a>
                            <span style="width: 41px; display: inline-block"></span>
                            {{ form_widget(textToolRow)}}                            
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                            onChangeTextTool('#{{ textToolRow.idTextToolType.vars.id }}', {{ textToolRow.idTextToolType.vars.value }});
                        </script>
                    </p>
                {% endfor %}                                
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="textToolRowAddNewLink" href="javascript:textToolRowAddNew('')">Add new text tool</a>
                </span>
            </p>                
            <div id="textToolRowDataPrototype" data-prototype="{{ form_widget(form['view'].textToolList.vars.prototype)|e }}" style="display: none"></div>
                
            <!-- TEXT TOOLS END --> 
            <br/><h2 style="display: inline-block; width: 100px">Preview</h2>
            {{ form_widget(form['view'].idLanguage) }}
            <a style="display: inline-block" href="javascript:refreshReview()">View</a>

            &nbsp;&nbsp;&nbsp;&nbsp;<a style="display: inline-block" href="javascript:downloadSection()">Download</a>
            <br/>
            <script type="text/javascript">
                var mainSource = '{{ viewReportPdfUrl }}';
                function refreshReview() {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var f = document.getElementById('previewPanel');
                    f.src = mainSource + "&idLanguage=" + idLanguage;
                }
                function downloadSection() {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var f = document.getElementById('previewPanel');
                    var url = mainSource + "&idLanguage=" + idLanguage + "&isDownload=1";
                    window.open(url, '_blank');
                    return false;
                }
            </script>
            <iframe id="previewPanel" width="100%" height="800px" style="margin-top: 10px" src="{{ viewReportPdfUrl }}">
            </iframe>
            <p></p>
        {% endblock %}

        {% block buttons %}
            <button class="radius2" onclick="return submitReportForm()">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
            <button class="radius2" id="addToReportQueueButton" onclick="return addToReportQueue(0)">&nbsp;&nbsp;Add to report queue&nbsp;&nbsp;</button>
            <button class="radius2" id="addToReportQueueCmykButton" onclick="return addToReportQueue(1)">&nbsp;&nbsp;Add to report queue (CMYK)&nbsp;&nbsp;</button>
            <button class="radius2" id="downloadFullReportButton" onclick="return downloadFullReport()">&nbsp;&nbsp;Add to offline job (old)&nbsp;&nbsp;</button>

            <img id="loaderImage" style="display: none" src="{{ asset('bundles/designstarlight/images/loaders/loader5.gif') }}" />

            <script type="text/javascript">
                function submitReportForm() {
                    jQuery('#textToolRowCollection p').each(function(index) {
                        jQuery(this).find('input[type=hidden]').val(index + 1);
                    });

                    jQuery('form').submit();

                    return false;
                }

                function downloadFullReport() {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var targetUrl = "{{ downloadFullReport }}?idReport={{ idReport }}&idLanguage=" + idLanguage;

                    jQuery('#downloadFullReportButton').css('display', 'none');
                    jQuery('#loaderImage').css('display', 'inline-block');

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body
                    }).done(function(data) {
                        jQuery.jGrowl(data, { position: 'bottom-right'});
                        jQuery('#downloadFullReportButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery.jGrowl(textStatus + " " + errorThrown, { position: 'bottom-right'});
                        jQuery('#downloadFullReportButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    });

                    return false;
                }

                function addToReportQueue(isCmyk) {
                    var idLanguage = jQuery('#{{ form['view'].idLanguage.vars.id }}').val();
                    var targetUrl = "{{ addToReportQueue }}?idReport={{ idReport }}&idLanguage=" + idLanguage + "&isCmyk=" + isCmyk;

                    jQuery('#addToReportQueueButton').css('display', 'none');
                    jQuery('#loaderImage').css('display', 'inline-block');

                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        context: document.body
                    }).done(function(data) {
                        jQuery.jGrowl(data, { position: 'bottom-right'});
                        jQuery('#addToReportQueueButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery.jGrowl(textStatus + " " + errorThrown, { position: 'bottom-right'});
                        jQuery('#addToReportQueueButton').css('display', 'inline-block');
                        jQuery('#loaderImage').css('display', 'none');
                    });

                    return false;
                }

                function viewPdf() {   
                    window.open('{{ viewReportPdfUrl }}', '_blank');
                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
