{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <style type="text/css">
        #field_row_{{form['view'].isVisibleByDefault.vars.id}} label,
        #field_row_{{form['view'].isReleased.vars.id}} label {
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}
{% endblock %}