{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <br/>
        <h2>Images</h2>
        <br/>
        <form class="stdform stdform2">
            <p>
                <label>Image</label>
                <span class="field">
                    <select id="imageSelect">
                        <option value=""></option>
                        {% for image in images %}
                            <option value="{{ image }}">{{ image }}</option>
                        {% endfor %}
                    </select>
                </span>
            </p>

            <p>
                <label>Image text</label>
                <span class="field">
                    <input type="text" style="width: 70%" id="inputText" /> <br/>
                    <image id = 'img' src = '' style="padding-top: 10px" class="form-control img-responsive"/>
                </span>

            </p>
        </form>

        <br/>
        <br/>
        <h2>PDF</h2>
        <br/>
        <form class="stdform stdform2">
            <p>
                <label>Pdf</label>
                <span class="field">
                    <select id="pdfSelect">
                        <option value=""></option>
                        {% for pdf in pdfs %}
                            <option value="{{ pdf }}">{{ pdf }}</option>
                        {% endfor %}
                    </select>
                </span>
            </p>

            <p>
                <label>Pdf text</label>
                <span class="field">
                    <input type="text" style="width: 70%" id="inputPdf" />
                </span>
            </p>
        </form>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#imageSelect").change(function() {
                var selectedImage = jQuery(this).val();
                jQuery('#inputText').val(selectedImage);
                jQuery('#img').attr('src', '/attachments/report_resource/'+ selectedImage);
                jQuery('#img').attr('style', 'padding-top: 10px; max-height: 200px');
            });

            jQuery('#imageSelect').select2({
                width: '100%'
            });

            // PDF
            jQuery("#pdfSelect").change(function() {
                var selectedPdf = jQuery(this).val();
                jQuery('#inputPdf').val(selectedPdf);
            });

            jQuery('#pdfSelect').select2({
                width: '100%'
            });
        });
    </script>
{% endblock %}
