{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                    <style type="text/css">
                        button.disabled {
                        opacity: 0.5;
                        }
                    </style>
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return checkTextBlocks()">&nbsp;&nbsp;Scan text blocks&nbsp;&nbsp;</button>
                            <button type="button" class="radius2 disabled" id="view_translate" onclick="return checkTranslate()" disabled>&nbsp;&nbsp;View Translate Status&nbsp;&nbsp;</button>
                        </div>

                        <script type="text/javascript">
                            function checkTextBlocks() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['report']['scanTextBlock'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%"
                                });

                                return false;
                            }

                            function checkTranslate(){
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['report']['checkTranslateUrl'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                        setTimeout(function() { onCheckBoxChange(); }, 500);
                                    }
                                });

                                return false;
                            }

                            function getSelectedId() {
                                var selectedId = '';
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });

                                return selectedId;
                            }

                            function onCheckBoxChange()
                            {
                                if (getSelectedId().length <= 0) {
                                    jQuery("#view_translate").addClass('disabled').prop("disabled", true);
                                } else {
                                    jQuery("#view_translate").removeClass('disabled').prop("disabled", false);
                                }
                            }
                            jQuery(document).on("change", "input[type='checkbox']", function (){
                                onCheckBoxChange();
                            });
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
