{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}      
    <div class="content">   
        <div class="notification msgsuccess">
            <a class="close"></a>
            <p> 
                Text block scanning is done! Now you can close this window.
            </p>
        </div>
            
        <h3>Scan report</h3>
        {% for report in scanReports %}
            <text>{{ report }}</text><br/>
        {% endfor %}

        <br/><br/>
        {% if errorReports is not empty %}
            <div class="notification msgerror">
                <a class="close"></a>
                <p> 
                    There's some undefined text blocks used in the reports.<br/>
                    Please define these text blocks and run "Scan text blocks" again
                </p>
            </div>

            <h3>Error reports</h3>
                {% for report in errorReports %}
                <text>{{ report['name'] }}</text><br/>
                <textarea rows="10" cols="80">{{ report['errorTextBlocks'] }}</textarea>
                <br/><br/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
