{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}


{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <style type="text/css">
        .textblock-cell{
            margin-top: 5px;
            border: 1px solid #a3a375;
            vertical-align: middle;
            width: 90%;
            display: inline-flex;
            height: auto;
        }

        .order-cell{
            background-color: #a6a6a6;
            color: #fff;
            font-weight: bold;
            padding: 8px 5px 5px 5px;
            float:left;
            width: 5%;
            vertical-align: middle;
        }

        .content-cell{
            padding: 8px 0px 5px 8px;
            width: 95%;
            height: 100%;
            vertical-align: middle;
        }
    </style>

    <div class="mainwrapper">
        <div class="mainwrapperinner">
            {% block header %}
                <head>
                    <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                        <h2 class="table"><span>Report Translated Information</span></h2>
                    </div>
                <head>
            {% endblock %}

            <br>
            {% block content %}
                <div style="padding-top: 30px">
                    <h2>{{ reportTextBlockLanguage['reportName'] }}</h2>
                    <div class="widgetbox" style="width: 100%">
                        <div class="title"><h2 class="tabbed"><span>Report text block information not translate to {{ reportTextBlockLanguage['languageName'] }}</span></h2></div>
                        <div class="widgetcontent padding0">
                            {% set id = 1 %}
                            {% for index, textBlocks in reportTextBlockLanguage['textBlockNames'] %}
                                <div id="section-{{ index }}" class="one_fourth {% if index == 3 %}last{% endif %}">
                                    {% for textBlock in textBlocks  %}
                                        <div class="textblock-cell row">
                                            <div class="order-cell">
                                                <p id=""> {{ id }} </p>
                                            </div>
                                            <div id="area-texblock-{{ textBlock['id'] }}" class="content-cell" onclick="editTextBlock({{ textBlock['id'] }})">
                                                <p id="textblock-name-{{ textBlock['id'] }}">{{ textBlock['name'] }}</p>
                                            </div>
                                        </div>
                                        {% set id = id + 1 %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        function editTextBlock(idTextBlock) {
            var targetUrl = '{{ editTextBlockUrl }}?id=' + idTextBlock;
            window.open(targetUrl, '_blank');
        }
    </script>
{% endblock %}