{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}


{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="mainwrapper">
        <div class="mainwrapperinner">
            {% block header %}
                <head>
                    <div class="titleGenoFormGeneral contenttitle radiusbottom0">
                        <h2 class="table"><span>Report Translated Information</span></h2>
                    </div>
                <head>
            {% endblock %}

            <br>
            {% block content %}
                <div style="padding-top: 30px">
                    {% for report in reportsTextBlock %}
                        <h2>{{ report['reportName'] }}</h2>
                        <div class="widgetbox" style="width: 100%">
                            <div class="title"><h2 class="tabbed"><span>Language Translate Completely</span></h2></div>
                            <div class="widgetcontent padding0">
                                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                                    <thead>
                                        <tr>
                                            {% if report['languagesComplete'] is not empty %}
                                                <th class="head0" style="width: 20%">IDs</th>
                                            {% endif %}
                                            <th class="head0" style="width: 20%">Language</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if report['languagesComplete'] is empty %}
                                            <tr style="text-align: center;"><td>No language translated completely</td></tr>
                                        {% else %}
                                            {% for index, completeLanguage in report['languagesComplete'] %}
                                                <tr style="text-align: center;">
                                                    <td>{{ index }}</td>
                                                    <td>{{ completeLanguage }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="widgetbox" style="width: 100%">
                            <div class="title"><h2 class="tabbed"><span>Language Translate Incompletely</span></h2></div>
                            <div class="widgetcontent padding0">
                                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                                    <thead>
                                        <tr>
                                            {% if report['languages'] is not empty %}
                                                <th class="head0" style="width: 20%">IDs</th>
                                                <th class="head0" style="width: 40%">Language</th>
                                                <th class="head0" style="width: 40%">Number Text blocks not finish translate</th>
                                            {% else %}
                                                <th class="head0" style="width: 100%">Language</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if report['languages'] is empty %}
                                            <tr style="text-align: center;"><td>No language translated incompletely</td></tr>
                                        {% else %}
                                            {% for index, language in  report['languages'] %}
                                                <tr style="text-align: center;">
                                                    <td>{{ index }}</td>
                                                    <td>
                                                        <a href="#" onclick="getDetailLanguage({{ language['languageId'] }}, {{ report['id'] }})">{{ language['languageName'] }}</a>
                                                    </td>
                                                    <td>{{ language['count_text_block'] }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <br>
                    {% endfor %}
                </div>
                <form id="language-form" method="post">
                    <input type="hidden" id="id-detail-report-language" name="inputLanguageDetail">
                </form>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        function getDetailLanguage(languageId, reportId){
            console.log(languageId, reportId);
            var languageDetail = JSON.stringify([languageId, reportId]);
            jQuery("#id-detail-report-language").val(languageDetail);
            console.log("{{ getLanguageDetailUrl }}");
            window.open("{{ getLanguageDetailUrl }}?inputLanguageDetail="+ languageDetail, '_blank');
        }
    </script>
{% endblock %}