{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContent %}
            {{ parent() }}

            <script type="text/javascript">
            
            </script>
        {% endblock %}

        {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;Check&nbsp;&nbsp;</button>
        {% endblock %}
    {% endembed %}
{% endblock %}
