{% extends 'DesignStarlightBundle::Base.html.twig' %}

{% block content %}
    <div class="maincontent noright">
        <div class="maincontentinner">
            {% block MainContentTop %}
            {% endblock %}
            <ul class="maintabmenu">
                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
            </ul>
            <div class="content">
                {% block MainContentInner %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <p></p>
        </div><!--footer-->
    </div>
{% endblock %}
