{% extends 'DesignStarlightBundle::Base.html.twig' %}

{% block ContentHeader %}
{% endblock %}

{% block MainContent %}
<div class="mainwrapper">
    <div class="mainwrapperinner"> 
        <div style="margin: 20px 20px 20px 20px">
            {% block MainContentInner %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
