{% extends 'DesignStarlightBundle::Base.html.twig' %}

{% block MainContent %}
    <div class="maincontent noright" style="margin: 0 10px 0 10px;">
        <div class="maincontentinner">
            {% block MainContentTop %}
            {% endblock %}
            <ul class="maintabmenu">
                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
            </ul>
            <div class="content">
                {% block MainPageContent %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <p></p>
        </div>
    </div>
{% endblock %}
