{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}
{% endblock %}
