{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h3>Novogenia Laboratory Status</h3>
        <br/>
        Email <b>{{ email | default('..') }}</b> has been unsubscribed.
    </div>
{% endblock %}