{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block MainContentInner %}
    <div class="content">
        <h2>RECEIVER VIEW, ID = {{ idEmailPool}} </h2>
        <br/>

        <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
            <thead>
                <tr>
                    <th class="head0" style="width: 25%">Time</th>
                    <th class="head0" style="width: 75%">Receiver</th>
                </tr>
            </thead>
            <tbody>
                {% for view in views %}
                    <tr>
                        <td>{{ view['time'] }}</td>
                        <td>{{ view['receiver'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}