{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block HeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/designstarlight/css/style.darkblue.css') }}" type="text/css">
    <!--[if IE 9]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie9.css') }}"/>
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie8.css') }}"/>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/designstarlight/css/ie7.css') }}"/>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-ui-1.11.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom/general.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/custom.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/excanvas.min.js') }}"></script><![endif]-->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/framework/source/select2-3.4.8/select2.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/source/select2-3.4.8/select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/framework/js/searchable_cache_box.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/redactor/redactor.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/table/table.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontcolor/fontcolor.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontfamily/fontfamily.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fontsize/fontsize.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/fullscreen/fullscreen.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/imagemanager/imagemanager.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/plugin/redactor1025/plugins/textdirection/textdirection.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/plugin/redactor/redactor.css') }}" type="text/css">
{% endblock %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <style>
        #cboxLoadedContent {
            padding: 20px;
        }
    </style>
{% endblock %}



{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ form_row(form['view'].sectionLimitation )}}
            {{ form_row(form['view'].includeOptedOutParties )}}
            {{ form_row(form['view'].includeMustNotContactedParties )}}
            {{ form_row(form['view'].filterByCountries )}}
            {{ form_row(form['view'].filterByLanguages )}}

            <br/>
            <div id="main-order-tabs">
                <ul>
                    {% for key, tab in whoToTabs %}
                    <li>
                        <a href="#section-{{ key }}">
                            {{ tab['title'] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                {% for key, tab in whoToTabs %}
                <div id="section-{{ key }}">
                    {% for tabInput in tab['input'] %}
                        {{ form_row(form['view'][tabInput] )}}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <p class="stdformbutton">
                <button id="btnReceivers" class="submit radius2">&nbsp;&nbsp;Preview recipients&nbsp;&nbsp;</button>
            </p>

            {{ form_row(form['view'].sectionEmailContent )}}
            {{ form_row(form['view'].subject )}}
            {{ form_row(form['view'].content )}}
            {{ form_row(form['view'].contentHtml )}}
            {{ form_row(form['view'].uploadFiles )}}
        {% endblock %}

        {% block buttons %}
            <button id="btnPreview" class="submit radius2">&nbsp;&nbsp;Preview Email&nbsp;&nbsp;</button>
            &nbsp;&nbsp;
            <button id="btnSend" class="submit radius2">&nbsp;&nbsp;Send&nbsp;&nbsp;</button>
        {% endblock %}
    {% endembed %}

    <style>
        .redactor-editor p:first-child {
            border-top: none;
        }
    </style>
    <script>
        jQuery(document).ready(function() {
            jQuery('#main-order-tabs').tabs();
            jQuery('#btnPreview').click(function() {
                var params = '';

                var content = jQuery('#{{ form['view'].content.vars.id }}').redactor('code.get');
                var contentHtml = jQuery('#{{ form['view'].contentHtml.vars.id }}').val();
                var targetUrl = '{{ links['mailSender']['preview_email'] }}';

                var previewContent = content;
                if (contentHtml != '') {
                    previewContent = contentHtml;
                }
                jQuery.colorbox({
                    html: previewContent,
                    width:  "80%",
                    height: "100%"
                });

                return false;
            });

            jQuery('#btnReceivers').click(function() {
                var btnReceiver = jQuery(this);
                btnReceiver.html("Searching..");

                var targetUrl = '{{ countReceiversURL }}';

                jQuery.post(targetUrl, jQuery('#{{ form['id'] }}').serialize())
                    .done(function(data) {
                        btnReceiver.html('Preview recipients');

                        swal(
                                {
                                    title: 'Preview Receivers!',
                                    text: data,
                                    html: true,
                                    type: 'success'
                                }
                            );
                    });

                return false;
            });
        });
    </script>
{% endblock %}

