{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
	<div>
		<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 10%">Type</th>
                    <th class="head1" style="width: 10%">Number</th>
                    <th class="head1" style="width: 10%">Percentage</th>        
                </tr>
            </thead>
		    <tbody>
		    	{% for eachType in summary  %}
			        <tr>
			            <td>
			                <label for="form_year">
			                	{{ eachType['title'] }}
			                </label>
			            </td>
			            <td>
			            	{{ eachType['num'] }}
			            </td>
			            <td>
			            	{{ eachType['percent'] | number_format(2, '.', ',') }}%
			            </td>
			        </tr>
		    	{% endfor %}
		    </tbody>
		</table>
	</div>

	<br/>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
    {% endembed %}
{% endblock %}