{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block ContentHeader %}
{% endblock %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContent %}
<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
    <div class="mainwrapperinner">
        {% block Menu %}
        {% endblock %}

        {% block content %}
		    <div class="noright">
		        <div class="maincontentinner">
		            {% block MainContentTop %}
		            {% endblock %}
		            <ul class="maintabmenu">
		                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
		            </ul>
		            <div class="content">
		                {% block MainContentInner %}
		                	{{ emailList | raw }}
		                {% endblock %}
		            </div>
		        </div>
		        <div class="footer">
		            <p></p>
		        </div><!--footer-->
		    </div>
        {% endblock %}
   </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
{% endblock %}
