{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    	{% block formContentNormal %}
            {{ parent() }}

            <style>
                .content {
                    line-height: normal;
                }
            </style>
    	{% endblock %}
    {% endembed %}
{% endblock %}
