{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="stdform stdform2">
        <br/><h2>Email sending activities</h2><br/>
        <p></p>
        {% for activity in activities %}
            <p>
                <span class="field" style="margin-left:-1px">
                    {{ activity.time }}&nbsp;:&nbsp; {{ activity.notes }}
                </span>
            </p>
        {% endfor %}
    </div>
    <br/>
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}
{% endblock %}
