{% extends 'LeepAdminBundle:CollectiveInvoiceForm:form_list.html.twig' %}

{% block MainContentInner %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery('#SaveInvoiceBtn').after('&nbsp;&nbsp;<button id="ViewInvoiceBtn" onclick="return viewInvoice()" class="radius2">&nbsp;&nbsp;View pdf&nbsp;&nbsp;</button>');
        jQuery('#ViewInvoiceBtn').after('&nbsp;&nbsp;<button id="EmailInvoiceBtn" onclick="return emailInvoice()" class="radius2">&nbsp;&nbsp;Email&nbsp;&nbsp;</button>');
        jQuery('#ViewInvoiceBtn').after('&nbsp;&nbsp;<button id="RegenerateInvoiceBtn" onclick="return regenerateInvoice()" class="radius2">&nbsp;&nbsp;Re/generate invoice&nbsp;&nbsp;</button>');

        function viewInvoice() {
            window.open('{{ viewInvoiceUrl | raw }}', '_blank');
            return false;
        }

        function regenerateInvoice() {
            window.open('{{ viewInvoiceUrl | raw }}&isRegenerate=1', '_blank');
            return false;
        }

        function emailInvoice() {
            jQuery.colorbox({
                href: '{{ emailInvoiceUrl | raw }}',
                iframe: true,
                width:  "75%",
                height: "75%"
            });
            return false;   
        }
    </script>
{% endblock %}