{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridTitle %}{% endblock %}

        {% block gridDrawCallback %}
            var selectedItems = jQuery('#{{ grid['filter']['view'].selectedItems.vars.id }}').val();
            var arr = selectedItems.split(',')
            var i;
            for (i in arr) {
                if (!isNaN(arr[i])) {
                    jQuery('#row_' + arr[i]).parents('span').addClass('checked');
                    jQuery('#row_' + arr[i]).parents('tr').addClass('selected');
                    jQuery('#row_' + arr[i]).attr('checked', 'checked');
                }
            }


            var priceOverride = jQuery('#{{ grid['filter']['view'].priceOverride.vars.id }}').val();
            arr = priceOverride.split('|');
            for (i in arr) {
                var t = arr[i].split('=');
                jQuery('#override_price_' + t[0]).val(t[1]);
            }

            jQuery('#SaveInvoiceBtn').css('display', 'inline-block');
        {% endblock %}

        {% block filterForm %}    
            {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                {% block messagesBox %}                    
                    {% for message in form['messages'] %}
                        {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'info'} %}
                    {% endfor %}
                    {% for message in form['errors'] %}
                        {% include 'DesignStarlightBundle:Component:Message.html.twig' with {'message': message, 'type': 'error'} %}
                    {% endfor %}
                {% endblock %}

                {% block content %}
                    <table class="display_two_column stdform stdformfilter">        
                        <tr>
                            <td>{{ form_label(form['view'].name) }}</td>
                            <td>{{ form_widget(form['view'].name) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].name) }}</label>
                            </td>
                            <td>{{ form_label(form['view'].destinationId) }}</td>
                            <td>{{ form_widget(form['view'].destinationId) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].destinationId) }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form['view'].invoiceNumber) }}</td>
                            <td>{{ form_widget(form['view'].invoiceNumber) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].invoiceNumber) }}</label>
                            </td>
                            <td id="destination_empty_1"></td>
                            <td id="destination_empty_2"></td>
                            <td id="destination_partner_1" style="display: none">{{ form_label(form['view'].partnerId) }}</td>
                            <td id="destination_partner_2" style="display: none">{{ form_widget(form['view'].partnerId) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].partnerId) }}</label>
                            </td>
                            <td id="destination_distribution_channel_1" style="display: none">{{ form_label(form['view'].distributionChannelId) }}</td>
                            <td id="destination_distribution_channel_2" style="display: none">{{ form_widget(form['view'].distributionChannelId) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].distributionChannelId) }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form['view'].invoiceDate) }}</td>
                            <td>{{ form_widget(form['view'].invoiceDate) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].invoiceDate) }}</label>
                            </td>
                            <td>{{ form_label(form['view'].postage) }}</td>
                            <td>{{ form_widget(form['view'].postage) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].postage) }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form['view'].invoiceFromCompanyId) }}</td>
                            <td>{{ form_widget(form['view'].invoiceFromCompanyId) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].invoiceFromCompanyId) }}</label>
                            </td>
                            <td>{{ form_label(form['view'].isWithTax) }}</td>
                            <td>{{ form_widget(form['view'].isWithTax) }}
                                <span id="taxValueBox">
                                    {{ form_widget(form['view'].taxValue) }}
                                </span>                                

                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].isWithTax) }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form['view'].showId) }}</td>
                            <td>{{ form_widget(form['view'].showId) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].showId) }}</label>
                            </td>
                            <td>{{ form_label(form['view'].currencyRate) }}</td>
                            <td>{{ form_widget(form['view'].currencyRate)}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form['view'].idPreferredPayment) }}</td>
                            <td>{{ form_widget(form['view'].idPreferredPayment) }}
                                <label for="selection" class="error" style="margin-top: 5px; width: 50%">{{ form_errors(form['view'].idPreferredPayment) }}</label>
                            </td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                    </table>

                    <script type="text/javascript">
                        function onChangeDestination() {
                            var destinationId = jQuery('#{{ form['view'].destinationId.vars.id }}').val();
                            jQuery('#destination_empty_1').css('display', 'none');
                            jQuery('#destination_empty_2').css('display', 'none');
                            jQuery('#destination_partner_1').css('display', 'none');
                            jQuery('#destination_partner_2').css('display', 'none');
                            jQuery('#destination_distribution_channel_1').css('display', 'none');
                            jQuery('#destination_distribution_channel_2').css('display', 'none');

                            if (destinationId == 0) {
                                jQuery('#destination_empty_1').css('display', '');
                                jQuery('#destination_empty_2').css('display', '');
                            }
                            else if (destinationId == 1) { // PARTNER
                                jQuery('#destination_partner_1').css('display', '');
                                jQuery('#destination_partner_2').css('display', '');
                            }
                            else if (destinationId == 2) { // DISTRIBUTION CHANNEL
                                jQuery('#destination_distribution_channel_1').css('display', '');
                                jQuery('#destination_distribution_channel_2').css('display', '');
                            }
                        }

                        jQuery('#{{ form['view'].destinationId.vars.id }}').bind('change', function() {      
                            onChangeDestination();                 
                            jQuery('#{{ form['view'].partnerId.vars.id }}').val(0);
                            jQuery('#{{ form['view'].distributionChannelId.vars.id }}').val(0);
                        });
                        jQuery('#{{ form['view'].partnerId.vars.id }}').bind('change', function() {
                            formSubmit('{{ form['id'] }}');
                        });
                        jQuery('#{{ form['view'].distributionChannelId.vars.id }}').bind('change', function() {
                            formSubmit('{{ form['id'] }}');
                        });
                        jQuery('#{{ form['view'].showId.vars.id }}').bind('change', function() {
                            formSubmit('{{ form['id'] }}');
                        });
                        jQuery('#{{ form['view'].idPreferredPayment.vars.id }}').bind('change', function() {
                            formSubmit('{{ form['id'] }}');
                        });
                        
                        function onChangeIsWithTax() {
                            if (jQuery('#{{ form['view'].isWithTax.vars.id }}').is(':checked')) {
                                jQuery('#taxValueBox').show();
                            }
                            else {
                                jQuery('#taxValueBox').hide();
                            }
                        }

                        jQuery('#{{ form['view'].isWithTax.vars.id }}').bind('change', function() {
                            onChangeIsWithTax();
                        });

                        jQuery(document).ready(function() {
                            onChangeDestination();
                            onChangeIsWithTax();
                        });
                    </script>

                    <!-- STATUS LIST -->
                    <script type="text/javascript">            
                        function statusRowDelete(rowId) {
                            jQuery('#' + rowId).remove();
                        }

                        var newIndex = 1;

                        function statusRowAddNew(appendAfter) {
                            var collectionHolder = jQuery('#statusRowCollection');
                            var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                            newIndex++;
                            var newForm = prototype.replace(/__name__/g, newIndex);        

                            var rowId = 'statusRecordRow_' + newIndex;

                            var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                            var spanWidget = newWidget.find('span');                
                            if (appendAfter != '') {
                                var a = collectionHolder.find(appendAfter);
                                newWidget.insertAfter(a);
                            }
                            else {
                                collectionHolder.append(newWidget);
                            }
                            spanWidget.append(newForm);
                            spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                            spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
                        }
                    </script>                    

                    <div class="stdform stdform2">
                        {{ form_row(form['view'].sectionExtraText) }}
                    </div>
                    <table class="display_two_column stdform stdformfilter">        
                        <tr>
                            <td>{{ form_label(form['view'].textAfterDescription) }}</td>
                            <td>{{ form_widget(form['view'].textAfterDescription) }}</td>
                            <td>{{ form_label(form['view'].textFooter) }}</td>
                            <td>{{ form_widget(form['view'].textFooter) }}</td>
                        </tr>
                    </table>

                    <div class="stdform stdform2">                        
                        {{ form_row(form['view'].sectionStatus )}}
                        <div id="statusRowCollection">
                            {% for id, statusRow in form['view'].statusList %}
                                <p id="statusRecordRow_{{ id }}">
                                    <span class="field" style="margin-left:-1px">
                                        {{ form_widget(statusRow)}}
                                        <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                                        &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                                    </span>
                                    <script type="text/javascript">
                                        newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                                    </script>
                                </p>
                            {% endfor %}        
                        </div>
                        <p>
                            <span class="field" style="margin-left: -1px">
                                <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                            </span>
                        </p>
                    </div>

                    <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
                {% endblock %}


                {% block extraJavaScript %}
                {% endblock %}

                {% block buttons %}
                    <button id="SaveInvoiceBtn" onclick="saveInvoice()" style="display: none" class="radius2">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>    
                    <script type="text/javascript">
                        var isGridLoaded = false;

                        function saveInvoice() {
                            var selected = '';
                            jQuery('#{{ grid['id']}} input[type=checkbox]').each(function(){
                                if (jQuery(this).is(':checked')) {
                                    selected += jQuery(this).attr('id').substring(4) + ",";
                                }                   
                            });
                            jQuery('#{{ form['view'].selectedItems.vars.id }}').val(selected);
                            jQuery('#{{ form['view'].actionMode.vars.id }}').val('save');

                            var priceOverride = '';
                            jQuery('#{{ grid['id']}} input[type=textbox]').each(function() {
                                var id = jQuery(this).attr('id').substring(15);
                                var val = jQuery(this).val();
                                priceOverride += id + '=' + val + '|';
                            });

                            jQuery('#{{ form['view'].priceOverride.vars.id }}').val(priceOverride);

                            formSubmit('{{ form['id']}}');
                        }               
                    </script>                    
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
