{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" id="btnCreateCashIn">&nbsp;&nbsp;Create Cash In&nbsp;&nbsp;</button>
                            <button class="radius2" onclick="return submitCashData()">&nbsp;&nbsp;Submit Cash Data&nbsp;&nbsp;</button>
                        </div>
                    {% endblock %}
                {% endembed %}

                 <script type="text/javascript">
                    document.getElementById("btnCreateCashIn").onclick = function () {
                        location.href = window.location.protocol + "//" + window.location.host + '{{ createCashInUrl }}';
                        return false;
                    };

                    function submitCashData() {
                        var targetUrl = '{{ submitCashDataUrl }}';
                        jQuery.colorbox({
                            href: targetUrl,
                            iframe: true,
                            width:  "90%",
                            height: "90%",
                            onClosed:function(){ 
                                location.reload();            
                            }
                        });
                        
                        return false;
                    }
                </script>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}