{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot-0.8.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot-0.8.1.dashes.js') }}"></script>

{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
        {% block buttons %}
            {{ parent() }}
            <div style="float: right">
                <button class="radius2" onclick="return viewCostTrackerHistory()">&nbsp;&nbsp;View History&nbsp;&nbsp;</button>
                <button class="radius2" onclick="return submitCostTracker()">&nbsp;&nbsp;Submit Data&nbsp;&nbsp;</button>
                <button class="radius2" onclick="return updateCostTrackerDataPerMonth()">&nbsp;&nbsp;Update Data&nbsp;&nbsp;</button>
            </div>
            <script type="text/javascript">
                function updateCostTrackerDataPerMonth() {
                    var targetUrl = '{{ editCostTrackerDataUrl }}';
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "75%",
                        height: "75%",
                        onClosed:function(){
                            location.reload();
                        }
                    });

                    return false;
                }

                function submitCostTracker() {
                    var targetUrl = '{{ submitCostTrackerDataUrl }}';
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "90%",
                        height: "90%",
                        onClosed:function(){
                            location.reload();
                        }
                    });

                    return false;
                }

                function viewCostTrackerHistory() {
                    var targetUrl = '{{ viewCostTrackerHistoryUrl }}';
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "90%",
                        height: "90%",
                        onClosed:function(){
                            location.reload();
                        }
                    });

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}

    <!-- TABLE -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 16%">Summary</th>
                {% for m in months %}
                    <th class="head1" style="width: 7%">{{ m }}</th>
                {% endfor %}
                <th class="head1" style="width: 16%">This Year</th>
                <th class="head1" style="width: 16%">Average</th>
            </tr>
        </thead>
        <tbody>
            {% for sector in statistic %}
                <tr>
                    <td>{{ sector['name'] }}</td>
                    {% for i, cost in sector['data'] %}
                        <td>
                            &euro;{{ cost | number_format(2) }}<br/>
                            <i style="color: blue">&euro;{{ sector['dataPrognosis'][i] | number_format(2) }}</i>
                        </td>
                    {% endfor %}
                    <td>
                        &euro;{{ sector['wholeYear'] | number_format(2) }}<br/>
                        <i style="color: blue">&euro;{{ sector['wholeYearPrognosis'] | number_format(2) }}</i>
                    </td>
                    <td>
                        &euro;{{ sector['wholeYearAverage'] | number_format(2) }}<br/>
                        <i style="color: blue">&euro;{{ sector['wholeYearPrognosisAverage'] | number_format(2) }}</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">TOTAL</th>
                {% for cost in total %}
                    <th class="head0" style="text-align: left">&euro;{{ cost | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left" id="totalCell">&euro;{{ wholeYearTotalCost | number_format(2) }}</th>
                <th class="head0" style="text-align: left" id="totalCell">&euro;{{ wholeYearAverageCost | number_format(2) }}</th>
            </tr>
        </tfoot>
    </table>


    <br/>
    <div>
        <div><h4>Show Total Line For</h4></div>
        <div>
            <input type="checkbox" id="chkTotalLineForCostTracker" checked/>
            <label style="font-weight:bold;color:{{totalChartData['color']}}">
                Cost Tracker
            </label>
        </div>
        <div>
            <input type="checkbox" id="chkTotalLineForCashManager" checked/>
            <label style="font-weight:bold;color:{{totalChartData['color']}}">
                Cash Manager
            </label>
        </div>
        <div>
            <input type="checkbox" id="chkTotalLineForBookKeeper" checked/>
            <label style="font-weight:bold;color:{{totalChartData['color']}}">
                Book Keeper
            </label>
        </div>
    </div>

    <div style="height:20px">&nbsp;</div>

    <!-- CHART COST TRACKER -->
    <div><h4>CHART: COST TRACKER</h4></div>
    <div id="chartCostTracker" style="height:1000px; margin-top: 20px"></div>

    <div style="height:20px">&nbsp;</div>

    <!-- CHART CASH MANAGER -->
    <div><h4>CHART: CASH MANAGER</h4></div>
    <div id="chartCashManager" style="height:1000px; margin-top: 20px"></div>

    <div style="height:20px">&nbsp;</div>

    <!-- CHART BOOK KEEPER -->
    <div><h4>CHART: BOOK KEEPER</h4></div>
    <div id="chartBookKeeper" style="height:1000px; margin-top: 20px"></div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            // input: total data
            var totalPlotData = {
                'chartCostTracker'  : [],
                'chartCashManager'  : [],
                'chartBookKeeper'   : []
            };

            {% for chartType, totalData in totalChartData.chartData %}
                var tmpTotalPlotData =
                [
                    {
                        data: {{ totalData['data'] }},
                        label: "TOTAL",
                        color: "{{ totalChartData['color'] }}"
                    },
                    {
                        data: {{ totalData['dataPrognosis'] }},
                        color: "{{ totalChartData['color'] }}",
                        lines: { show: false },
                        dashes: { show: true }
                    }
                ];

                {% if chartType == 'costTracker' %}
                    totalPlotData.chartCostTracker = tmpTotalPlotData;
                {% elseif chartType == 'cashManager' %}
                    totalPlotData.chartCashManager = tmpTotalPlotData;
                {% elseif chartType == 'bookKeeper' %}
                    totalPlotData.chartBookKeeper = tmpTotalPlotData;
                {% endif %}
            {% endfor %}

            // input data
            var sectorInputData = {
                'chartCostTracker'  : [],
                'chartCashManager'  : [],
                'chartBookKeeper'   : [],
            };

            {% for sector in statistic %}
                var sectorData = [
                    {
                        data: {{ sector['chartData'] }},
                        label: "{{ sector['name'] }}",
                        color: "{{ sector['chartColor'] }}"
                    },
                    {
                        data: {{ sector['chartDataPrognosis'] }},
                        color: "{{ sector['chartColor'] }}",
                        lines: { show: false },
                        dashes: { show: true }
                    }
                ];

                {% if sector['isForCostTracker'] %}
                    sectorInputData.chartCostTracker = sectorInputData.chartCostTracker.concat(sectorData);
                {% endif %}

                {% if sector['isForCashManager'] %}
                    sectorInputData.chartCashManager = sectorInputData.chartCashManager.concat(sectorData);
                {% endif %}

                {% if sector['isForBookKeeper'] %}
                    sectorInputData.chartBookKeeper = sectorInputData.chartBookKeeper.concat(sectorData);
                {% endif %}
            {% endfor %}

            function drawChart(whatChart, inputData) {
                jQuery.plot(
                    jQuery("#" + whatChart),
                    inputData,
                    {
                        series: {
                            lines: { show: true, lineWidth: 3, fill: false },
                            points: { show: true }
                        },
                        xaxis: {
                            ticks: [[0, ""] {% for i, m in months %}, [{{ i }}, "{{ m }}"] {% endfor %}],
                            min: 1, max: 12
                        },
                        yaxis: {
                            ticks: 5,
                            min: 0,
                            tickDecimals: 2,
                            tickFormatter: function(val, axis) { return '&euro;' + val.toFixed(2); },
                            labelWidth: 100
                        },
                        legend: { position: 'nw'},
                        grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },

                    }
                );
            }

            // draw chart
            drawChart('chartCostTracker', totalPlotData.chartCostTracker.concat(sectorInputData.chartCostTracker));
            drawChart('chartCashManager', totalPlotData.chartCashManager.concat(sectorInputData.chartCashManager));
            drawChart('chartBookKeeper', totalPlotData.chartBookKeeper.concat(sectorInputData.chartBookKeeper));

            // TOTAL LINE
            // hide/unhide Total line for Cost Tracker
            jQuery('#chkTotalLineForCostTracker').click(function() {
                if (this.checked) {
                    drawChart('chartCostTracker', totalPlotData.chartCostTracker.concat(sectorInputData.chartCostTracker));
                } else {
                    drawChart('chartCostTracker', sectorInputData.chartCostTracker);
                }
            });

            // hide/unhide Total line for Cash Manager
            jQuery('#chkTotalLineForCashManager').click(function() {
                if (this.checked) {
                    drawChart('chartCashManager', totalPlotData.chartCashManager.concat(sectorInputData.chartCashManager));
                } else {
                    drawChart('chartCashManager', sectorInputData.chartCashManager);
                }
            });

            // hide/unhide Total line for Book Keeper
            jQuery('#chkTotalLineForBookKeeper').click(function() {
                if (this.checked) {
                    drawChart('chartBookKeeper', totalPlotData.chartBookKeeper.concat(sectorInputData.chartBookKeeper));
                } else {
                    drawChart('chartBookKeeper', sectorInputData.chartBookKeeper);
                }
            });
        });
    </script>
{% endblock %}
