{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
    {% endembed %}

    <!-- TABLE -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 16%">Distribution Channel</th>
                {% for m in months %}
                    <th class="head1" style="width: 7%">{{ m }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dc in statistic %}
                <tr>
                    <td>{{ dc['name'] }}</td>
                    {% for stat in dc['data'] %}
                        <td>{{ stat['order'] }} <br/> &euro;{{ stat['amount'] | number_format(2) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">TOTAL</th>
                {% for d in total %}
                    <th class="head0" style="text-align: left">{{ d['order']}}<br/>&euro;{{ d['amount'] | number_format(2) }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>


    <!-- CHART TOTAL ORDER-->
    <div id="chartTotalOrder" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var totalOrder = {{ totalOrderJson }};
            var totalOrderPlot = jQuery.plot(
                jQuery("#chartTotalOrder"),
                [ { data: totalOrder, label: "Order per month", color: "#F3991D"} ], 
                {
                    series: {
                        lines: { show: true, lineWidth: 3, fill: false },
                        points: { show: true }
                    },
                    xaxis: {
                        ticks: [[0, ""] {% for i, m in months %}, [{{ i}}, "{{ m }}"] {% endfor %}],
                        min: 1, max: 12
                    },
                    yaxis: {
                        ticks: 5,
                        min: 0,
                        tickDecimals: 0,
                        labelWidth: 100
                    },                 
                    legend: { position: 'nw'},
                    grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb' },
                   
                }
            );
        });
    </script>

    <!-- CHART TOTAL AMOUNT-->
    <div id="chartTotalAmount" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var totalAmount = {{ totalAmountJson }};
            var totalAmountPlot = jQuery.plot(
                jQuery("#chartTotalAmount"),
                [ { data: totalAmount, label: "Revenue per month", color: "#5B9BD5"} ], 
                {
                    series: {
                        lines: { show: true, lineWidth: 3, fill: false },
                        points: { show: true }
                    },
                    xaxis: {
                        ticks: [[0, ""] {% for i, m in months %}, [{{ i }}, "{{ m }}"] {% endfor %}],
                        min: 1, max: 12
                    },
                    yaxis: {
                        ticks: 5,
                        min: 0,
                        tickDecimals: 2,
                        tickFormatter: function(val, axis) { return '&euro;' + val.toFixed(2); },
                        labelWidth: 100
                    },                 
                    legend: { position: 'nw'},
                    grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },
                   
                }
            );
        });
    </script>
{% endblock %}
