{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
  {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% block formContentNormal %}
      <h2>Cost Tracker per Month - Year: {{ year }}</h2>
      <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
          <thead>
              <tr>
                  <th class="head1" width="40%" colspan=2>Cost Tracker Sector</th>
                  {% for idxMonth, m in months %}
                      <th class="head1" style="width: 3%">
                        {{ m }} <br/>
                        <a href='#' onClick='javascript:deleteDataOfMonth({{ idxMonth }})'>
                          {% set infoClearDataPerMonth = 'Delete values of ' ~ m %}
                          <div class="button-delete" alt="{{ infoClearDataPerMonth }}" title="{{ infoClearDataPerMonth }}"></div></a>
                        </a>
                      </th>
                  {% endfor %}
              </tr>
          </thead>

          <tbody>
              {% for id, sector in sectors %}
                  <tr>
                    <td rowspan=3>{{ sector }}</td>
                    <td>Cash out</td>
                    {% for i in 1..12 %}
                      <td>
                        {{ form_widget(form['view'].getChild('sector_cashout_reset_' ~ id ~ '_' ~ i)) }}

                        <div id='sector_cashout_val_{{ id }}_{{ i }}'>
                          {% if (linkedCashOut[id] is defined) %}
                            {{ linkedCashOut[id][i] | number_format(2)}}
                          {% else %}
                            0.00
                          {% endif %}
                        </div>
                      </td>
                    {% endfor %}
                  </tr> 
                  <tr>
                      <td style="border-left: none">Override</td>
                      {% for i in 1..12 %}
                          <td>{{ form_widget(form['view'].getChild('sector_' ~ id ~ '_' ~ i)) }}</td>
                      {% endfor %}
                  </tr>
                  <tr>
                      <td style="border-left: none">Prognosis</td>
                      {% for i in 1..12 %}
                          <td>{{ form_widget(form['view'].getChild('sector_prognosis_' ~ id ~ '_' ~ i)) }}</td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>

      <script>
        function deleteDataOfMonth(idxMonth) {
          {% for id, sector in sectors %}
            {% for i in 1..12 %}
              if (idxMonth == {{ i }}) {
                // mark as changed
                jQuery('#{{ form['view'].getChild('sector_cashout_reset_' ~ id ~ '_' ~ i).vars.id }}').val(1);
                jQuery('#sector_cashout_val_{{ id }}_{{ i }}').html('0.00');

                jQuery('#{{ form['view'].getChild('sector_' ~ id ~ '_' ~ i).vars.id }}').val('0.00');
                jQuery('#{{ form['view'].getChild('sector_prognosis_' ~ id ~ '_' ~ i).vars.id }}').val('0.00');
              }
            {% endfor %}
          {% endfor %}
        }
      </script>
    {% endblock %}
  {% endembed %}
{% endblock %}
