{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        {% if parseResult is not empty %}
            <h2>Parse result</h2>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                <thead>
                    <tr style="height: 45px">
                        <th class="head1" style="width: 25%">Result line</th>
                        <th class="head1" style="width: 10%">Amount</th>
                        <th class="head1" style="width: 10%">Date</th>        
                        <th class="head1" style="width: 10%">Category</th>
                        <th class="head1" style="width: 25%">Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in parseResult %}
                        {% if row['error'] is not empty %}
                            <tr style="background-color: #FFCCCC; color: red">
                                <td>{{ row['raw'] }}</td>
                                <td>{{ row['tokens'][0] | default('') }}</td>
                                <td>{{ row['tokens'][1] | default('') }}</td>
                                <td>{{ row['tokens'][2] | default('') }}</td>
                                <td>{{ row['error'] }}</td>
                            </tr>
                        {% else %}
                            {% if row['isAdded'] is defined %}
                            <tr style="background-color: #CCCCFF; color: blue">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{ row['raw'] }}</td>
                                <td>{{ row['tokens'][0] | default('') }}</td>
                                <td>{{ row['tokens'][1] | default('') }}</td>
                                <td>{{ row['tokens'][2] | default('') }}</td>
                                <td>{{ row['error'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br/>
        {% elseif warningSubmitEmptyData %}
            <div class="notification msgerror">
               <p>Plz submit Cost Tracker data to process</p>
            </div>
            <br/>
        {% endif %}
        
        <h2>
            {% if lastSubmitDate %}
                Update Cost Tracker Data Submitted on {{ lastSubmitDate }}
            {% else %}
                Submit Cost Tracker
            {% endif %}
        </h2>
        <br/>
        Input format: {amount};{date - dd/mm/yyyy};{category}
        <br/>
        Separator: semi colon
        <br/>
        Example: 100;20/10/2015;rent
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% endembed %}
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery(".submit").click(function(e) {
                var inputData = jQuery('#{{ form.view.result.vars.id }}').val();
                if (!inputData.trim()) {
                    swal("Missing Something!", "Plz input Cost Tracker data!", "error");
                    return false;
                }
            });
        });
    </script>
{% endblock %}
