{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        {% if parseResult is not empty %}
        <h2>Parse result</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px;table-layout:fixed; width:800px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 70%">Result line</th>
                    <!--
                    <th class="head1" style="width: 6%">Designation</th>
                    <th class="head1" style="width: 6%">Recorded Date</th>
                    <th class="head1" style="width: 6%">Cash Amount</th>
                    <th class="head1" style="width: 6%">Currency</th>
                    <th class="head1" style="width: 6%">Partner Name</th>
                    <th class="head1" style="width: 6%">Reference</th>
                    <th class="head1" style="width: 6%">Posting Date</th>
                    <th class="head1" style="width: 6%">Sale Target</th>
                    <th class="head1" style="width: 6%">Partner</th>
                    <th class="head1" style="width: 6%">Transaction Content</th>
                    <th class="head1" style="width: 6%">Transaction ID</th>
                    <th class="head1" style="width: 6%">Company Name</th>
                    <th class="head1" style="width: 6%">Company ID</th>
                    -->
                    <th class="head1" style="width: 30%">Error</th>
                </tr>
            </thead>
            <tbody>
                {% for row in parseResult %}
                    {% if row['error'] is not empty %}
                        <tr style="background-color: #FFCCCC; color: red">
                            <td>
                                <div style="overflow:scroll; width:100%">
                                    {{ row['raw'] }}
                                </div>
                            </td>
                            <!--
                            <td>{{ row['tokens']['designation'] | default('') }}</td>
                            <td>{{ row['tokens']['recorded_date'] | default('') }}</td>
                            <td>{{ row['tokens']['cash_amount'] | default('') }}</td>
                            <td>{{ row['tokens']['currency'] | default('') }}</td>
                            <td>{{ row['tokens']['partner_name'] | default('') }}</td>
                            <td>{{ row['tokens']['reference'] | default('') }}</td>
                            <td>{{ row['tokens']['posting_date'] | default('') }}</td>
                            <td>{{ row['tokens']['sale_target'] | default('') }}</td>
                            <td>{{ row['tokens']['partner'] | default('') }}</td>
                            <td>{{ row['tokens']['transaction_content'] | default('') }}</td>
                            <td>{{ row['tokens']['transaction_id'] | default('') }}</td>
                            <td>{{ row['tokens']['company_name'] | default('') }}</td>
                            <td>{{ row['tokens']['company_id'] | default('') }}</td>
                            -->
                            <td>{{ row['error'] }}</td>
                        </tr>
                    {% else %}
                        {% if row['isAdded'] is defined %}
                        <tr style="background-color: #CCCCFF; color: blue">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td >
                                <div style="overflow:scroll; width:100%">
                                    {{ row['raw'] }}
                                </div>
                            </td>
                            <!--
                            <td>{{ row['tokens']['designation'] | default('') }}</td>
                            <td>{{ row['tokens']['recorded_date'] | default('') }}</td>
                            <td>{{ row['tokens']['cash_amount'] | default('') }}</td>
                            <td>{{ row['tokens']['currency'] | default('') }}</td>
                            <td>{{ row['tokens']['partner_name'] | default('') }}</td>
                            <td>{{ row['tokens']['reference'] | default('') }}</td>
                            <td>{{ row['tokens']['posting_date'] | default('') }}</td>
                            <td>{{ row['tokens']['sale_target'] | default('') }}</td>
                            <td>{{ row['tokens']['partner'] | default('') }}</td>
                            <td>{{ row['tokens']['transaction_content'] | default('') }}</td>
                            <td>{{ row['tokens']['transaction_id'] | default('') }}</td>
                            <td>{{ row['tokens']['company_name'] | default('') }}</td>
                            <td>{{ row['tokens']['company_id'] | default('') }}</td>
                            -->
                            <td>{{ row['error'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br/>
        {% endif %}

        <h2>Submit Cash Data</h2>
        <br/>
        Input format: {designation};{recorded_date - dd/mm/yyyy};{cash_amount};{currency};{partner_name};{reference};{recorded_date - dd/mm/yyyy};{sale_target};{partner};{transaction_content};{transaction_id};{company_name};{company_id}
        <br/>
        Separator: semi colon
        <br/>
        Example:<br/>
        designation;12/02/2015;10000;euro;partner_name;reference;13/02/2015;sale_target;partner;transaction_content;transaction_id;company_name;company_id <br/>
        ;12/02/2015;10000;;;;;;;;;; <br/>
        ;12/02/2015;-10000;;;;;;;;;;
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% endembed %}
    </div>
{% endblock %}
