{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.flot.resize.min.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': filter } %}
        {% block buttons %}
            {{ parent() }}
            <div style="float: right">
                <button class="radius2" onclick="return updateCostPerMonth()">&nbsp;&nbsp;Update Cost/Cash&nbsp;&nbsp;</button>
            </div>
            <script type="text/javascript">
                function updateCostPerMonth() {
                    var targetUrl = '{{ editCostUrl }}';
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "75%",
                        height: "75%",
                        onClosed:function(){
                            location.reload();
                        }
                    });

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}

    <!-- TABLE -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 16%">Summary</th>
                {% for m in months %}
                    <th class="head1" style="width: 7%">{{ m }}</th>
                {% endfor %}
                <th class="head1" style="width: auto">This Year</th>
                <th class="head1" style="width: auto">Prediction</th>
                <th class="head1" style="width: auto">Last Year</th>
            </tr>
        </thead>
        <tbody>
            {% for dc in statistic %}
                <tr>
                    <td>{{ dc['name'] }}</td>
                    {% for stat in dc['data'] %}
                        <td>{{ stat['order'] }} <br/> &euro;{{ stat['amount'] | number_format(2) }}</td>
                    {% endfor %}
                    <td>{{ dc['grandTotal']['order'] | number_format(2) }} <br/> &euro;{{ dc['grandTotal']['amount'] | number_format(2) }}</td>
                    <td>{{ dc['prediction']['order'] | number_format(2) }} <br/> &euro;{{ dc['prediction']['amount'] | number_format(2) }}</td>
                    <td>{{ dc['predictionLastYear']['order'] | number_format(2) }} <br/> &euro;{{ dc['predictionLastYear']['amount'] | number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">TOTAL</th>
                {% for d in total %}
                    <th class="head0" style="text-align: left">{{ d['order']}}<br/>&euro;{{ d['amount'] | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left" id="totalCell">{{ grandTotalOrder }}<br/>&euro;{{ grandTotalAmount | number_format(2) }}</th>
                <th class="head0" style="text-align: left" id="totalCell">{{ prediction['total']['order'] | number_format(2) }}<br/>&euro;{{ prediction['total']['amount'] | number_format(2) }}</th>
                <th class="head0" style="text-align: left" id="totalCell">{{ predictionLastYear['total']['order'] | number_format(2) }}<br/>&euro;{{ predictionLastYear['total']['amount'] | number_format(2) }}</th>
            </tr>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">COST</th>
                {% for d in cost %}
                    <th class="head0" style="text-align: left">&euro;{{ d['amount'] | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left">&euro;{{ wholeYearCost | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ prediction['cost'] | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ predictionLastYear['cost'] | number_format(2) }}</th>
            </tr>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">PROFIT</th>
                {% for d in profit %}
                    {% if d['amount'] >= 0 %}
                        <th class="head0" style="text-align: left">&euro;{{ d['amount'] | number_format(2) }}<br/>({{ d['percentOfTotal'] | number_format(2) }}%)</th>
                    {% else %}
                        <th class="head0" style="text-align: left; color: red">&euro;{{ d['amount'] | number_format(2) }}<br/>({{ d['percentOfTotal'] | number_format(2) }}%)</th>
                    {% endif %}
                {% endfor %}
                {% if wholeYearProfit >= 0 %}
                    <th class="head0" style="text-align: left">
                        &euro;{{ wholeYearProfit | number_format(2) }}<br/>({{ wholeYearProfitPercentage | number_format(2) }}%)
                    </th>
                {% else %}
                    <th class="head0" style="text-align: left; color: red">
                        &euro;{{ wholeYearProfit | number_format(2) }}<br/>({{ wholeYearProfitPercentage | number_format(2) }}%)
                    </th>
                {% endif %}

                {% if prediction['profit']['amount'] >= 0 %}
                    <th class="head0" style="text-align: left">
                        &euro;{{ prediction['profit']['amount'] | number_format(2) }}<br/>({{ prediction['profit']['percentOfTotal'] | number_format(2) }}%)
                    </th>
                {% else %}
                    <th class="head0" style="text-align: left; color: red">
                        &euro;{{ prediction['profit']['amount'] | number_format(2) }}<br/>({{ prediction['profit']['percentOfTotal'] | number_format(2) }}%)
                    </th>
                {% endif %}
                {% if predictionLastYear['profit']['amount'] >= 0 %}
                    <th class="head0" style="text-align: left">
                        &euro;{{ predictionLastYear['profit']['amount'] | number_format(2) }}<br/>({{ predictionLastYear['profit']['percentOfTotal'] | number_format(2) }}%)
                    </th>
                {% else %}
                    <th class="head0" style="text-align: left; color: red">
                        &euro;{{ predictionLastYear['profit']['amount'] | number_format(2) }}<br/>({{ predictionLastYear['profit']['percentOfTotal'] | number_format(2) }}%)
                    </th>
                {% endif %}
            </tr>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">CASH IN ACCOUNT</th>
                {% for d in cash %}
                    <th class="head0" style="text-align: left">&euro;{{ d['amount'] | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left"></th> <!-- &euro;{{ wholeYearCash | number_format(2) }} -->
                <th class="head0" style="text-align: left"></th>
                <th class="head0" style="text-align: left"></th>
            </tr>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">INVOICE CREATED</th>
                {% for d in invoice %}
                    <th class="head0" style="text-align: left">&euro;{{ d['amount'] | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left">&euro;{{ wholeYearInvoice | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ prediction['invoice'] | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ predictionLastYear['invoice'] | number_format(2) }}</th>
            </tr>
            <tr>
                <th class="head0" style="text-align: left" id="totalCell">BOOK KEEPER</th>
                {% for d in costTrackerData['data'] %}
                    <th class="head0" style="text-align: left">&euro;{{ d | number_format(2) }}</th>
                {% endfor %}
                <th class="head0" style="text-align: left">&euro;{{ costTrackerData['wholeYear'] | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ prediction['bookKeeper'] | number_format(2) }}</th>
                <th class="head0" style="text-align: left">&euro;{{ predictionLastYear['bookKeeper'] | number_format(2) }}</th>
            </tr>
        </tfoot>
    </table>

    <!-- CHART TOTAL AMOUNT-->
    <div id="chartTotalAmount" style="height:400px; margin-top: 20px"></div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var totalAmount = {{ totalAmountJson }};
            var totalCost = {{ totalCostJson }};
            var totalCash = {{ totalCashJson }};
            var totalInvoice = {{ totalInvoiceJson }};
            var totalCostTracker = {{ costTrackerData['chartData'] }};

            var totalAmountPlot = jQuery.plot(
                jQuery("#chartTotalAmount"),
                [ { data: totalAmount, label: "Revenue per month", color: "#5B9BD5"},
                  { data: totalCost, label: "Cost per month", color: "#FF0000"},
                  { data: totalCash, label: "Cash in account", color: "#008000"},
                  { data: totalInvoice, label: "Invoice created", color: "#FFA500"},
                  { data: totalCostTracker, label: "Book keeper", color: "{{ costTrackerData['chartColor'] }}"},
                ],
                {
                    series: {
                        lines: { show: true, lineWidth: 3, fill: false },
                        points: { show: true }
                    },
                    xaxis: {
                        ticks: [[0, ""] {% for i, m in months %}, [{{ i }}, "{{ m }}"] {% endfor %}],
                        min: 1, max: 12
                    },
                    yaxis: {
                        ticks: 5,
                        min: 0,
                        tickDecimals: 2,
                        tickFormatter: function(val, axis) { return '&euro;' + val.toFixed(2); },
                        labelWidth: 100
                    },
                    legend: { position: 'nw'},
                    grid: { hoverable: true, clickable: true, labelMargin: 5, borderWidth: 1, borderColor: '#bbb', aboveData: true },

                }
            );
        });
    </script>
{% endblock %}
