{% block app_form_step_widget %}
    {{ form_widget(form.id) }} 
    {{ form_widget(form.sortOrder) }} 
    
    <span style="width: 65%; display: inline-block">
        {{ form_widget(form.name) }}
    </span>

    {% if form.id.vars.value != 0 %}
        &nbsp;&nbsp;&nbsp;<a href="{{ editUrl }}?id={{ stepId }}">Edit</a>
    {% endif %}
{% endblock %}
