{% block app_form_item_widget %}
    {{ form_widget(form.id) }} 
    {{ form_widget(form.sortOrder) }} 
    {{ form_widget(form.idType) }}

    <!-- STRUCTURE -->
    <span id="{{ form.idType.vars.id }}_formItem_structureInstruction" class="text_block" style="background-color: #FFFFFF">
        <span><text>Text:</text>{{ form_widget(form.structureInstruction.text) }} </span>
    </span>
    <span id="{{ form.idType.vars.id }}_formItem_structureTextBox" class="text_block" style="background-color: #FFFFFF">
        <span><text>Text:</text>{{ form_widget(form.structureTextBox.text) }} </span>
    </span>
    <span id="{{ form.idType.vars.id }}_formItem_structureDate" class="text_block" style="background-color: #FFFFFF">
    </span>
    <span id="{{ form.idType.vars.id }}_formItem_structurePerson" class="text_block" style="background-color: #FFFFFF">
        <span><text>Text:</text>{{ form_widget(form.structurePerson.text) }} </span>
        <span><text>Exclude Me:</text>{{ form_widget(form.structurePerson.excludeMe) }} </span>
    </span>
    <span id="{{ form.idType.vars.id }}_formItem_structureAuthorizedPersonnel" class="text_block" style="background-color: #FFFFFF">
        <span><text>Text:</text>{{ form_widget(form.structureAuthorizedPersonnel.text) }} </span>
        <span><text>Exclude Me:</text>{{ form_widget(form.structureAuthorizedPersonnel.excludeMe) }} </span><br/>
        <span><text>Authorized Personnel:</text>{{ form_widget(form.structureAuthorizedPersonnel.authorizedPersonnel) }} </span>
    </span>

    <script type="text/javascript">            
        jQuery('#{{ form.idType.vars.id }}').change(function() {
            var toolId = jQuery(this).val();
            onChangeFormItem('#{{ form.idType.vars.id }}', toolId);
        });
    </script>
{% endblock %}
