<p>
    <span class="field formItem" style="margin-left: -1px">
        {{ index }}. {{ instruction }} &nbsp;&nbsp;&nbsp;
        <input type="text" name="field_{{ id }}" value="{{ value }}" style="width: 250px" />
    </span>
</p>