{% extends 'LeepAdminBundle::PopupWithoutTabs.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <div class="mainwrapper">
                <div class="mainwrapperinner">
                    {{ form_row(form['view'].formVersionId) }}
                    {{ form_row(form['view'].notes) }}
                </div>
            </div>

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
                .mainwrapper {
                    margin: 0px;
                    border-top: solid 1px #ddd;
                }
            </style>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var resetUrl = jQuery("#{{ form['view'].resetUrl.vars.id }}").val();
                    if (resetUrl) {
                        window.top.location.href = resetUrl;
                    }
                });
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}