<p>
    <span class="field formItem" style="margin-left: -1px">
        {{ index }}. Date: &nbsp;&nbsp;&nbsp;

        <input type="text" id="field_{{id}}" name="field_{{ id }}" pattern="dd/mm/yy"  value="{{ value }}" class="calendar" style="width: 90px" />

        <script type="text/javascript">
            jQuery("#field_{{ id }}").datepicker({
                showOn: "both",
                buttonImage: "{{ asset('bundles/designstarlight/images/calendar_small.png') }}",
                buttonImageOnly: true,
                dateFormat: "dd/mm/yy"
            });
        </script>
    </span>
</p>