{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}            

    <script type="text/javascript">
        function onChangeFormItem(id, toolId) {
            {% for ctrlId, mapId in formItemMapping %}
                jQuery(id + '_formItem_{{ mapId }}').css('display', 'none');
                if (toolId == {{ ctrlId}}) {
                    jQuery(id + '_formItem_{{ mapId }}').css('display', 'block');
                    var bgColor = jQuery(id + '_textTool_{{ mapId }}').css('background-color');
                    jQuery(id + '_formItem_{{ mapId }}').parent().css('background-color', bgColor);
                }
            {% endfor %}
        }
    </script>
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}   
            {{ form_row(form['view'].name)}}    
            {{ form_row(form['view'].activeVersion)}}       

            <!-- FORM STEP -->
            <p id="field_row_{{ form['view'].idFormStep.vars.id}}">
                {{ form_label(form['view'].idFormStep) }}
                <span class="field">
                    {{ form_widget(form['view'].idFormStep) }}
                    <a href="{{ links['form']['editStep'] }}?id={{ idFormVersion | default('0') }}">Edit steps</a>                
                </span>
                <script type="text/javascript">
                    jQuery('#{{ form['view'].idFormStep.vars.id }}').change(function() {
                        var idFormStep = jQuery(this).val();
                        document.location = '{{ links['form']['editItem'] }}?id=' + idFormStep;
                    });
                </script>
            </p>          
            
            {{ form_row(form['view'].sectionItems)}} 

            <!-- REPORT SECTION BEGIN -->
            <script type="text/javascript">                        
                var newIndex = 1;

                function reportSectionRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }                

                function reportSectionRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#reportSectionRowCollection');
                    var prototype = jQuery('#reportSectionRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);        

                    var rowId = 'reportSectionRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');                
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }                                        
                    spanWidget.append('<a href="javascript:reportSectionRowDelete(\'' + rowId + '\')"><span class="button-delete" style="width: 25px"></span></a>');
                    spanWidget.append('<a href="javascript:reportSectionRowAddNew(\'' + '#' + rowId + '\')"><span class="button-add" style="width: 25px"></span></a>');
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span>');
                    spanWidget.append(newForm);
                }


                jQuery(document).ready(function() {
                    jQuery('#reportSectionRowCollection').sortable();
                });
            </script>

            <div id="reportSectionRowCollection">
                {% for id, reportSectionRow in form['view'].itemList %}
                    <p id="reportSectionRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">                            
                            <a href="javascript:reportSectionRowDelete('reportSectionRow_{{ id }}')"><span class="button-delete" style="width: 25px"></span></a>                
                            <a href="javascript:reportSectionRowAddNew('#reportSectionRow_{{ id }}')"><span class="button-add" style="width: 25px"></span></a>
                            <span style="width: 41px; display: inline-block"></span>
                            {{ form_widget(reportSectionRow)}}                            
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                            onChangeFormItem('#{{ reportSectionRow.idType.vars.id }}', {{ reportSectionRow.idType.vars.value }});
                        </script>
                    </p>
                {% endfor %}                                
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="reportSectionRowAddNewLink" href="javascript:reportSectionRowAddNew('')">Add new item</a>
                </span>
            </p>
            <div id="reportSectionRowDataPrototype" data-prototype="{{ form_widget(form['view'].itemList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}

        {% block buttons %}
            <button class="radius2" onclick="return submitReportForm()">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>    

            <script type="text/javascript">
                function submitReportForm() {
                    jQuery('#reportSectionRowCollection p').each(function(index) {
                        jQuery(this).find('input[type=hidden]').each(function(pos) {
                            if (pos == 1) {
                                jQuery(this).val(index + 1);
                            }
                            
                        });
                    });

                    jQuery('form').submit();

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
