{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/designstarlight/js/plugins/jquery.jgrowl.js') }}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <style type="text/css">
                .disabled-field {
                    opacity: 0.8;
                }
            </style>

            {{ form_row(form['view'].name)}}
            {{ form_row(form['view'].formType)}}
            {{ form_row(form['view'].formNumber)}}
            {{ form_row(form['view'].description)}}
            {{ form_row(form['view'].sortOrder)}}
            {{ form_row(form['view'].colorCode)}}
            {{ form_row(form['view'].idActiveFormVersion)}}

            <!-- FORM VERSION -->
            {{ form_row(form['view'].sectionFormVersion)}}
            <p id="field_row_{{ form['view'].idFormVersion.vars.id}}">
                {{ form_label(form['view'].idFormVersion) }}
                <span class="field">
                    {{ form_widget(form['view'].idFormVersion) }}
                    <a onClick="return makeNewVersionClick()" href="#">Make new version</a>
                    &nbsp;&nbsp;
                    <a onClick="return showHistoryLogClick()" href="#">show history logs</a>
                </span>
                <script type="text/javascript">
                    jQuery('#{{ form['view'].idFormVersion.vars.id }}').change(function() {
                        var idFormVersion = jQuery(this).val();
                        document.location = '{{ links['form']['editStep'] }}?id=' + idFormVersion;
                    });
                </script>
            </p>

            {{ form_row(form['view'].alertOldVersion) }}
            {{ form_row(form['view'].notes) }}

            {{ form_row(form['view'].sectionSteps)}}

            <!-- REPORT SECTION BEGIN -->
            <script type="text/javascript">
                var newIndex = 1;

                function makeNewVersionClick() {
                    var targetUrl = "{{ links['form']['createVersionLog'] }}?id={{ appRequestId | default('0') }}";
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "90%",
                        height: "90%"
                    });

                    return false;
                }

                function showHistoryLogClick() {
                    var targetUrl = "{{ links['form']['showVersionHistoryLogs'] }}?id={{ appRequestId | default('0') }}";
                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "90%",
                        height: "90%"
                    });

                    return false;
                }

                function reportSectionRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }

                function reportSectionRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#reportSectionRowCollection');
                    var prototype = jQuery('#reportSectionRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);

                    var rowId = 'reportSectionRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }
                    spanWidget.append('<a href="javascript:reportSectionRowDelete(\'' + rowId + '\')"><span class="button-delete" style="width: 25px"></span></a>');
                    spanWidget.append('<a href="javascript:reportSectionRowAddNew(\'' + '#' + rowId + '\')"><span class="button-add" style="width: 25px"></span></a>');
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span>');
                    spanWidget.append(newForm);
                }


                jQuery(document).ready(function() {
                    jQuery('#reportSectionRowCollection').sortable();
                });
            </script>

            <div id="reportSectionRowCollection">
                {% for id, reportSectionRow in form['view'].stepList %}
                    <p id="reportSectionRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            <a href="javascript:reportSectionRowDelete('reportSectionRow_{{ id }}')"><span class="button-delete" style="width: 25px"></span></a>
                            <a href="javascript:reportSectionRowAddNew('#reportSectionRow_{{ id }}')"><span class="button-add" style="width: 25px"></span></a>
                            <span style="width: 41px; display: inline-block"></span>
                            {{ form_widget(reportSectionRow)}}
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}
            </div>
            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="reportSectionRowAddNewLink" href="javascript:reportSectionRowAddNew('')">Add new step</a>
                </span>
            </p>
            <div id="reportSectionRowDataPrototype" data-prototype="{{ form_widget(form['view'].stepList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}

        {% block buttons %}
            <button class="radius2" onclick="return submitReportForm()">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>

            <script type="text/javascript">
                function submitReportForm() {
                    jQuery('#reportSectionRowCollection p').each(function(index) {
                        jQuery(this).find('input[type=hidden]').each(function(pos) {
                            if (pos == 1) {
                                jQuery(this).val(index + 1);
                            }

                        });
                    });

                    jQuery('form').submit();

                    return false;
                }
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
