{% extends 'LeepAdminBundle:Form:listFormHeader.html.twig' %}

{% block content %}

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 10%">Number</th>
                <th class="head1">Name</th>
                <th class="head1" style="width: 20%">Version</th>
            </tr>
        </thead>
        {% for form in forms %}
            <tr style="cursor: pointer; height: 40px; font-weight: bold;{% if form['bgColor'] %}background-color:{{ form['bgColor'] }};{% endif %}{% if form['textColor'] %}color:{{ form['textColor'] }};{% endif %}" onclick="useForm('{{ form['id'] }}')" >
                <td>{{ form['number'] }}</td>
                <td>{{ form['name'] }}</td>
                <td>Version {{ form['version']}} at {{ form['time']}}</td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        function useForm(idFormVersion) {
            document.location= '{{ useFormUrl }}?id=' + idFormVersion;
        }
    </script>
{% endblock %}
