{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <ul class="maintabmenu">
                {% include 'DesignStarlightBundle:Component:MainTabs.html.twig' with {'tabs': mainTabs } %}
            </ul>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}