{% extends 'LeepAdminBundle:Form:listFormHeader.html.twig' %}

{% block content %}

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
        <thead>
            <tr>
                <th class="head1" style="width: 15%">Time</th>
                <th class="head1" style="width: 15%">Number</th>
                <th class="head1">Name</th>
                <th class="head1" style="width: 20%">Version</th>
            </tr>
        </thead>
        <tbody>
            {% for formSession in formSessions %}
                <tr style="cursor: pointer; height: 40px; font-weight: bold;{% if formSession['colorCode'] %}background-color:{{ formSession['colorCode'] }}{% endif %}" onclick="viewForm('{{ formSession['id'] }}')">
                    <td>{{ formSession['creationDatetime'] }}</td>
                    <td>{{ formSession['formNumber'] }}</td>
                    <td>{{ formSession['name'] }}</td>
                    <td>Version {{ formSession['version']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        function viewForm(idFormSession) {
            document.location= '{{ viewFormUrl }}?id=' + idFormSession;
        }
    </script>
{% endblock %}
