<p>
    <span class="field formItem" style="margin-left: -1px;">
        {{ index }}. {{ instruction }} &nbsp;&nbsp;&nbsp;

        <select name="field_{{ id }}" style="max-width: 150px; min-width: 150px">
            <option value=""></option>
            {% for k, v in choices %}
                <option value="{{ k }}" {% if k == value %}selected{% endif %}>{{ v }}</option> 
            {% endfor %}
        </select>
    </span>
</p>