{% extends 'LeepAdminBundle:Form:listFormHeader.html.twig' %}

{% block CustomHeaderScript %}
<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300normal,300italic,700normal|Open+Sans:400normal|Oswald:400normal|Roboto:400normal|Merriweather:400normal|Josefin+Slab:400normal|Source+Sans+Pro:400normal|Offside:400normal|Pacifico:400normal|Francois+One:400normal|Amatic+SC:400normal&amp;subset=all" rel="stylesheet" type="text/css">
<style type="text/css">
    .formItem {
        font-family: 'Open Sans Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: bold;
    }

    .stepContainer h2 {
        font-family: 'Open Sans Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
    <div class="contenttitle">
        <h2 id="vertical" class="form"><span>
            Form {{ formNumber }} - {{ formName }} (Version {{ formVersion }}), by {{ formUser }}, at {{ formCreationDatetime }}{% if barcodeData %}, {{ barcodeData }} {% endif %}
        </span></h2>
    </div>
    <br/>

    <!-- FORM -->
    <form id="mainForm" class="stdform stdform2" method="post" action="{{ formActionUrl }}">
        <div id="wizard3" class="wizard verwizard">

        <input type="hidden" name="formAction" id="formAction" />
        <input type="hidden" name="idFormSession" id="idFormSession" value="{{ idFormSession }}" />
        <input type="hidden" name="idActiveFormStep" id="idActiveFormStep" value="{{ idActiveFormStep }}" />

        <ul class="verticalmenu anchor" style="width: 20%">
            <li style="width:100%">
                <div class="contenttitle">
                    <h2 class="form">
                        <span>
                            Form Description
                        </span>
                    </h2>
                </div>
                <div>
                    {{ formDescription }}
                </div>
            </li>
            <br/>
            {% for id, step in formSteps %}
                <li>
                    <a href="{{ switchStepUrl }}?idFormSession={{ idFormSession }}&idStep={{ id }}" {% if step['isActive'] %} class="selected" {% else %} {% if step['isDone'] %} class="done" {% else %} class="disabled" {% endif %}{% endif %} rel="1">
                        <span class="label">Step {{ step['no'] }}: {{ step['name'] }}</span>
                    </a>
                </li>
            {% endfor %}

            <br/>
            <li>
                <a href="{{ switchStepUrl }}?idFormSession={{ idFormSession }}&idStep=-2" {% if isSummaryStep %}class="selected"{% else %}class="done"{% endif %}>
                    <span class="label">SUMMARY</span>
                </a>
            </li>
            <br/>

            <li style="width:100%">
                <div class="contenttitle">
                    <h2 class="form">
                        <span>
                            NOTES
                        </span>
                    </h2>
                </div>
                <div>
                    <textarea rows="5" style="width:96%" name="step_note">{% if note %}{{ note }}{% endif %}</textarea>
                </div>
            </li>

            <li style="width:100%; margin-top: 20px">
                <div class="contenttitle">
                    <h2 class="form">
                        <span>
                            Additional Information
                        </span>
                    </h2>
                </div>
                <div>
                    {{ additionalInformation | raw}}
                </div>
            </li>
        </ul>

        {% if isSummaryStep %}
            <div class="stepContainer" style="margin-left: 23%; margin-right: 0px">
                <h2>Current Lots
                    <div style="float: right; color: {{ statusColor }}">{{ status }}</div>
                </h2>
                <div>
                    <span class="actionBar">
                        {% if isOpen %}
                            <a href="javascript:performFormAction('complete')" class="largeButton buttonSave">COMPLETE</a>
                        {% endif %}
                    </span>
                <div>
                <div style="clear:right"></div>
                <div>
                    Captured at {{ currentLotsTimestamp }}
                </div>
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>SUPPLEMENT TYPE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 40%">Supplement Type</th>
                                <th class="head0" style="width: 30%">Letter</th>
                                <th class="head0" style="width: 30%">Lot in use</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['supplementType'] %}
                                <tr>
                                    <td>{{ r['name'] }}</td>
                                    <td>{{ r['letter'] }}</td>
                                    <td>{{ r['lotInUse'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>TESTED AND IN-USE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 35%">Pellet Type</th>
                                <th class="head0" style="width: 2%">Letter</th>
                                <th class="head0" style="width: 2%">Ordered (k)</th>
                                <th class="head0" style="width: 2%">Cups</th>
                                <th class="head0" style="width: 2%">w/w (%)</th>
                                <th class="head0" style="width: 2%">Shipment</th>
                                <th class="head0" style="width: 2%">Expiry</th>
                                <th class="head0" style="width: 2%">Notes</th>
                                <th class="head0" style="width: 35%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['testedAndInUsePellet'] %}
                                <tr>
                                    <td>{{ r['name'] }}</td>
                                    <td>{{ r['letter'] }}</td>
                                    <td>{{ r['ordered'] }}</td>
                                    <td>{{ r['cups'] }}</td>
                                    <td>{{ r['activeIngredient'] }}</td>
                                    <td>{{ r['shipment'] }}</td>
                                    <td>{{ r['expiryDate'] }}</td>
                                    <td>{{ r['notes'] }}</td>
                                    <td>{{ r['status'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <div class="contenttitle radiusbottom0">
                    <h2 class="form">
                        <span>MATERIAL USED UP - IN USE</span>
                    </h2>
                </div>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                        <thead>
                            <tr>
                                <th class="head0" style="width: 35%">Material</th>
                                <th class="head0" style="width: 10%">Quantity in units</th>
                                <th class="head0" style="width: 25%">Used for</th>
                                <th class="head0" style="width: 10%">Date taken</th>
                                <th class="head0" style="width: 25%">Taken by</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in currentLots['selectedUsedUpMaterial'] %}
                                <tr>
                                    <td>{{ r['materialName'] }}</td>
                                    <td>{{ r['quantity'] }}</td>
                                    <td>{{ r['usedFor'] }}</td>
                                    <td>{{ r['dateTaken'] }}</td>
                                    <td>{{ r['takenBy'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="stepContainer" style="margin-left: 23%; margin-right: 0px">
                <div class="formwiz content">
                    <h2>Step {{ formSteps[idActiveFormStep]['no'] }}: {{ formSteps[idActiveFormStep]['name'] }}
                        <div style="float: right; color: {{ statusColor }}">{{ status }}</div>
                    </h2> <br>

                    {% for stepHtml in formItemHtml %}
                        {{ stepHtml | raw }}
                    {% endfor %}
                </div>

            </div>

            <div class="actionBar">
                {% if hasNextStep %}
                    <a href="javascript:performFormAction('next')" class="largeButton buttonSave">NEXT</a>
                {% else %}
                    <a href="javascript:performFormAction('finish')" class="largeButton buttonSave">NEXT</a>
                {% endif %}
                {% if hasLastStep %}
                    <a href="javascript:performFormAction('previous')" class="largeButton buttonSave">PREVIOUS</a>
                {% endif %}

            </div>
        {% endif %}
        </div>
    </form>

    <br clear="all" />

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var alertOldVersion = {{ alertOldVersion | default('false') }};

            if (alertOldVersion) {
                swal('Caution', 'This is not the current version!');
            }
        });

        function performFormAction(action) {
            jQuery('#formAction').val(action);
            jQuery('#mainForm').submit();
        }
    </script>
{% endblock %}
