{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    	{% block formContentNormal %}
            <div>
                <p style="border: 0px;">
                    <span id="span-go-acquisiteur1"><a id="go-acquisiteur1" href="javascript: goAcquisiteur(posAcquisiteur = 1)">Go to Acquisiteur1</a></span>
                    <span id="span-go-acquisiteur2" style="padding-left: 30px;"><a id="go-acquisiteur2" href="javascript: goAcquisiteur(posAcquisiteur = 2)">Go to Acquisiteur2</a></span>
                    <span id="span-go-acquisiteur3" style="padding-left: 30px;"><a id="go-acquisiteur3" href="javascript: goAcquisiteur(posAcquisiteur = 3)">Go to Acquisiteur3</a></span>
                </p>
                <br>
                <output id="err-mess" class="error-message"></output>
            </div>

    		{# BASIC INFORMATION #}
    		{{ form_row(form['view'].sectionBasicInformation )}}
    		{{ form_row(form['view'].domain )}}
    		{{ form_row(form['view'].partner )}}
    		{{ form_row(form['view'].creationDate )}}
            {{ form_row(form['view'].accountingCode )}}
            {{ form_row(form['view'].idCode) }}
    		{{ form_row(form['view'].uidNumber )}}
    		{{ form_row(form['view'].genderId )}}
    		{{ form_row(form['view'].title )}}
    		{{ form_row(form['view'].firstName )}}
    		{{ form_row(form['view'].surName )}}
    		{{ form_row(form['view'].institution )}}
            {{ form_row(form['view'].idCurrency) }}

    		{# ADDRESS #}
    		{{ form_row(form['view'].section1 )}}
    		{{ form_row(form['view'].street )}}
    		{{ form_row(form['view'].postCode )}}
    		{{ form_row(form['view'].city )}}
    		{{ form_row(form['view'].countryId )}}
    		{{ form_row(form['view'].contactEmail )}}
    		{{ form_row(form['view'].telephone )}}
    		{{ form_row(form['view'].fax )}}

    		{# INVOICE ADDRESS #}
    		{{ form_row(form['view'].sectionInvoiceAddress )}}
    		{{ form_row(form['view'].invoiceAddressIsUsed )}}
    		{{ form_row(form['view'].invoiceClientName )}}
    		{{ form_row(form['view'].invoiceCompanyName )}}
    		{{ form_row(form['view'].invoiceAddressStreet )}}
    		{{ form_row(form['view'].invoiceAddressPostCode )}}
    		{{ form_row(form['view'].invoiceAddressCity )}}
    		{{ form_row(form['view'].invoiceAddressIdCountry )}}
    		{{ form_row(form['view'].invoiceAddressTelephone )}}
    		{{ form_row(form['view'].invoiceAddressFax )}}


    		{# CONTACT PERSON #}
    		{{ form_row(form['view'].sectionContactPerson )}}
    		{{ form_row(form['view'].contactPersonName )}}
    		{{ form_row(form['view'].contactPersonEmail )}}
    		{{ form_row(form['view'].contactPersonTelephoneNumber )}}

    		{# WEB LOGIN #}
    		{{ form_row(form['view'].sectionWebLogin )}}
            {{ form_row(form['view'].webLoginUsername )}}
            {{ form_row(form['view'].webLoginPassword )}}
    		{{ form_row(form['view'].webLoginStatus )}}
            {{ form_row(form['view'].webLoginGoesTo) }}
            {{ form_row(form['view'].isWebLoginOptOut )}}
            {{ form_row(form['view'].canViewShop) }}
            {{ form_row(form['view'].isCanViewYourOrder) }}
            {{ form_row(form['view'].isCanViewCustomerProtection) }}
            {{ form_row(form['view'].isCanViewRegisterNewCustomer) }}
            {{ form_row(form['view'].isCanViewPendingOrder) }}
            {{ form_row(form['view'].isCanViewSetting) }}
            {{ form_row(form['view'].isDelayDownloadReport) }}
            {{ form_row(form['view'].numberDateDelayDownloadReport) }}
            {{ form_row(form['view'].isNotAccessReport) }}
            {{ form_row(form['view'].isNotSendEmail) }}

    		{# DELIVERY #}
    		{{ form_row(form['view'].section5 )}}
    		{{ form_row(form['view'].statusDeliveryEmail )}}
    		{{ form_row(form['view'].invoiceDeliveryEmail )}}
            {{ form_row(form['view'].invoiceDeliveryNote) }}
    		{{ form_row(form['view'].idInvoicesGoesTo )}}
			{{ form_row(form['view'].isInvoiceWithTax )}}
			{{ form_row(form['view'].invoiceNoTaxText )}}
    		{{ form_row(form['view'].idMarginGoesTo )}}
    		{{ form_row(form['view'].idMarginPaymentMode )}}
    		{{ form_row(form['view'].isPaymentWithTax )}}
    		{{ form_row(form['view'].paymentNoTaxText )}}
			{{ form_row(form['view'].commissionPaymentWithTax) }}
    		{{ form_row(form['view'].idNutrimeGoesTo )}}


    		{# ACQUISITEUR #}
    		{{ form_row(form['view'].section3 )}}
    		{{ form_row(form['view'].acquisiteurId1 )}}
    		{{ form_row(form['view'].commission1 )}}
    		{{ form_row(form['view'].yearlyDecayPercentage1 )}}
    		{{ form_row(form['view'].acquisiteurId2 )}}
    		{{ form_row(form['view'].commission2 )}}
    		{{ form_row(form['view'].yearlyDecayPercentage2 )}}
    		{{ form_row(form['view'].acquisiteurId3 )}}
    		{{ form_row(form['view'].commission3 )}}
    		{{ form_row(form['view'].yearlyDecayPercentage3 )}}

    		{# WEB USER #}
    		{{ form_row(form['view'].section4 )}}
    		{{ form_row(form['view'].webUserId )}}

    		{# BANK ACCOUNT INFORMATION #}
    		{{ form_row(form['view'].section2 )}}
    		{{ form_row(form['view'].accountName )}}
    		{{ form_row(form['view'].accountNumber )}}
    		{{ form_row(form['view'].bankCode )}}
    		{{ form_row(form['view'].bic )}}
    		{{ form_row(form['view'].iban )}}
    		{{ form_row(form['view'].otherNotes )}}

    		{# OTHER #}
    		{{ form_row(form['view'].sectionOthers )}}
    		{{ form_row(form['view'].idPreferredPayment )}}
    		{{ form_row(form['view'].isStopShipping )}}
    		{{ form_row(form['view'].isCustomerBeContacted )}}
    		{{ form_row(form['view'].isNutrimeOffered )}}
    		{{ form_row(form['view'].isNotContacted )}}
            {{ form_row(form['view'].isDestroySample) }}
            {{ form_row(form['view'].isFutureResearchParticipant) }}
            {{ form_row(form['view'].sampleCanBeUsedForScience) }}
            {{ form_row(form['view'].canCustomersDownloadReports) }}
            {{ form_row(form['view'].isGenerateFoodTableExcelVersion) }}

            {{ form_row(form['view'].idLanguage) }}

            {# REPORT SETTINGS #}
            {{ form_row(form['view'].sectionReportSetting) }}
            {{ form_row(form['view'].idRecallGoesTo) }}

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>

            <script type="text/javascript">
                var acquisiteurId1, acquisiteurId2, acquisiteurId3;

                jQuery(document).ready(function(){
                    acquisiteurId1 = String(jQuery("#{{ form['view'].acquisiteurId1.vars.id }}").val());
                    acquisiteurId2 = String(jQuery("#{{ form['view'].acquisiteurId2.vars.id }}").val());
                    acquisiteurId3 = String(jQuery("#{{ form['view'].acquisiteurId3.vars.id }}").val());
                    var countHidden = 0;
                    if (!acquisiteurId1) {
                        jQuery("#span-go-acquisiteur1").remove();
                        countHidden += 1;
                    }
                    if (!acquisiteurId2) {
                        jQuery("#span-go-acquisiteur2").remove();
                        countHidden += 1;
                    }
                    else{
                        if (countHidden == 1) {
                            jQuery("#go-acquisiteur2").css({
                                "margin-left":"-30px",
                            });
                        }
                    }
                    if (!acquisiteurId3) {
                        jQuery("#span-go-acquisiteur3").remove();
                        countHidden += 1;
                    }
                    else{
                        if (countHidden == 2) {
                            jQuery("#go-acquisiteur3").css({
                                "margin-left":"-30px",
                            });
                        }
                    }

                    var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                    if (delayDownload.is(':checked')) {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                    }
                    else {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                    }

                    jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').change(function(){
                        if (this.checked) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }
                    });
                });

                function showError(errorMessage){
                    var delay = 500;
                    setTimeout(function(){
                        document.getElementById("err-mess").value = errorMessage;
                        document.getElementById("err-mess").style.visibility = "visible";
                    }, delay);
                }

                function goAcquisiteur(posAcquisiteur){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    var acquisiteurId;
                    if (posAcquisiteur == 1) {
                        acquisiteurId = acquisiteurId1;
                    }
                    else{
                        if (posAcquisiteur == 2) {
                            acquisiteurId = acquisiteurId2;
                        }
                        else{
                            acquisiteurId = acquisiteurId3;
                        }
                    }
                    acquisiteurId = String(acquisiteurId);
                    if (acquisiteurId) {
                        var url = "{{ links['acquisiteur']['edit'] }}".concat("?id=") + acquisiteurId;
                        window.open(url, '_blank');
                    }
                    else{
                        var errorMessage = "Acquisiteur" + String(posAcquisiteur) + " is empty";
                        showError(errorMessage);
                    }
                }
            </script>
    	{% endblock %}
    {% endembed %}
{% endblock %}
