{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridDrawCallback %}
            jQuery(".simpletip").tooltip({
                bodyHandler: function() {
                    return jQuery(this).find('.hide-content').html();
                },
                left: -600,
                top: 20,
                position: { my: "left+150 center", at: "right center" },
                showURL: false
            });
            jQuery('.dataTablePopupButton').colorbox({
                iframe: true,
                width:  "75%",
                height: "75%",
                onClosed:function(){
                    funcDynamicTableReload_{{ grid['id'] }}();
                }
            });
        {% endblock %}

        {% block filterForm %}
            <style type="text/css">
            button.disabled {
                opacity: 0.5;
            }
            </style>

            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return exportPartnerCsv()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                            <button class="radius2" onclick="return ratingPartner()">&nbsp;&nbsp;Rating&nbsp;&nbsp;</button>
                            <button class="radius2 disabled" id="btn-web-login-mass-email" onClick="return massWebLoginEmail()" disabled>&nbsp;&nbsp;Web Login Email&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function getSelectedId() {
                                var selectedId = [];
                                var checkboxes = jQuery("#{{ grid['id'] }} .stdtableCheckBox");
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId.push(id);
                                    }
                                });

                                return selectedId;
                            }

                            function exportPartnerCsv() {
                                var selectedIds = getSelectedId();
                                var targetUrl = '{{ links['partner']['exportPartner'] }}?selected=all';
                                console.log(selectedIds);
                                if (selectedIds != null && selectedIds.length > 0) {
                                    console.log("Failed");
                                    targetUrl = '{{ links['partner']['exportPartner'] }}?selected=' + selectedIds;
                                }
                                window.open(targetUrl, '_blank');
                                return false;
                            }

                            function ratingPartner() {
                                var url = '{{ links['rating']['ratingPartner'] }}';
                                window.open(url,'_blank');
                                return false;
                            }

                            function massWebLoginEmail() {
                                selectedId = getSelectedId();
                                if (selectedId != []) {
                                    var targetUrl = '{{ links['partner']['webLoginMassEmail'] }}?selected=' + getSelectedId().join(',');
                                    jQuery.colorbox({
                                        href: targetUrl,
                                        iframe: true,
                                        width:  "90%",
                                        height: "90%",
                                        onClosed:function(){
                                            funcDynamicTableReload_CrudGrid();
                                            setTimeout(function(){ onCheckBoxChange(); }, 500);
                                        }
                                    });
                                }

                                return false;
                            }

                            function getSelectedId() {
                                var selectedId = [];
                                var checkboxes = jQuery("#{{ grid['id'] }} .stdtableCheckBox");
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId.push(id);
                                    }
                                });

                                return selectedId;
                            }

                            function onCheckBoxChange() {
                                if (getSelectedId().length <= 0) {
                                    jQuery("#btn-web-login-mass-email").addClass('disabled').prop("disabled", true);
                                } else {
                                    jQuery("#btn-web-login-mass-email").removeClass('disabled').prop("disabled", false);
                                }
                            }

                            jQuery(document).on("change", "input[type='checkbox']", function () {
                                onCheckBoxChange();
                            });
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
