{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="widgetgrid">
        <div class="widgetbox" style="width: 48%">
            <div class="title"><h2 class="tabbed"><span>Order statistic</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                    <tbody>
                        <tr>
                            <td>MWA Sample received</td>
                            <td>{{ orderStat['received'] }}</td>
                        </tr>
                        <tr>
                            <td>MWA Sample inprogress</td>
                            <td>{{ orderStat['inprogress'] }}</td>
                        </tr>
                        <tr>
                            <td>MWA Sample completed</td>
                            <td>{{ orderStat['completed'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="widgetbox" style="width: 48%">
            <div class="title"><h2 class="tabbed"><span>Status statistic</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                    <tbody>
                        {% for r in statusStat %}
                            <tr>
                                <td>{{ r['status']}}</td>
                                <td>{{ r['total']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="widgetbox" style="width: 31%">
            <div class="title"><h2 class="tabbed"><span>TAT statistic (overall)</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                    <tbody>
                        <tr>
                            <td>Samples processed</td>
                            <td>{{ tatStatAll['total']}}</td>
                        </tr>
                        <tr>
                            <td>Average TAT</td>
                            <td>{{ tatStatAll['average'] }}</td>
                        </tr>
                        <tr>
                            <td>Shortest TAT</td>
                            <td>{{ tatStatAll['shortest'] }}</td>
                        </tr>
                        <tr>
                            <td>Longest TAT</td>
                            <td>{{ tatStatAll['longest'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT < 7d</td>
                            <td>{{ tatStatAll['less7'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 7d and < 14d</td>
                            <td>{{ tatStatAll['less14'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 14 and < 21d</td>
                            <td>{{ tatStatAll['less21'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 21d</td>
                            <td>{{ tatStatAll['more21'] }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="widgetbox" style="width: 31%">
            <div class="title"><h2 class="tabbed"><span>TAT statistic (last 3 months)</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                    <tbody>
                        <tr>
                            <td>Samples processed</td>
                            <td>{{ tatStatLast3['total']}}</td>
                        </tr>
                        <tr>
                            <td>Average TAT</td>
                            <td>{{ tatStatLast3['average'] }}</td>
                        </tr>
                        <tr>
                            <td>Shortest TAT</td>
                            <td>{{ tatStatLast3['shortest'] }}</td>
                        </tr>
                        <tr>
                            <td>Longest TAT</td>
                            <td>{{ tatStatLast3['longest'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT < 7d</td>
                            <td>{{ tatStatLast3['less7'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 7d and < 14d</td>
                            <td>{{ tatStatLast3['less14'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 14 and < 21d</td>
                            <td>{{ tatStatLast3['less21'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 21d</td>
                            <td>{{ tatStatLast3['more21'] }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="widgetbox" style="width: 31%">
            <div class="title"><h2 class="tabbed"><span>TAT statistic (last month)</span></h2></div>
            <div class="widgetcontent padding0">      
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                    <tbody>
                        <tr>
                            <td>Samples processed</td>
                            <td>{{ tatStatLast1['total']}}</td>
                        </tr>
                        <tr>
                            <td>Average TAT</td>
                            <td>{{ tatStatLast1['average'] }}</td>
                        </tr>
                        <tr>
                            <td>Shortest TAT</td>
                            <td>{{ tatStatLast1['shortest'] }}</td>
                        </tr>
                        <tr>
                            <td>Longest TAT</td>
                            <td>{{ tatStatLast1['longest'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT < 7d</td>
                            <td>{{ tatStatLast1['less7'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 7d and < 14d</td>
                            <td>{{ tatStatLast1['less14'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 14 and < 21d</td>
                            <td>{{ tatStatLast1['less21'] }}</td>
                        </tr>
                        <tr>
                            <td>%TAT > 21d</td>
                            <td>{{ tatStatLast1['more21'] }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}