{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <script src="{{ asset('bundles/ace/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}           
            {% block formFieldssss %}                 
                {{ form_row(form['view'].name )}}        
                {{ form_row(form['view'].number )}}          
                {{ form_row(form['view'].formula )}}
                <p id="field_row_{{ form['view'].testInputValue.vars.id}}">
                    {{ form_label(form['view'].testInputValue) }}
                    <span class="field">
                        {{ form_widget(form['view'].testInputValue) }}<br/><br/>

                        Order number: <input type="text" id="orderNumber" style="width: 100px" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="radius2" id="importButton" onclick="return importCustomerData()">&nbsp;&nbsp;Import&nbsp;&nbsp;</button>
                    </span>
                </p>
                {{ form_row(form['view'].testOutputValue )}}    
                {{ form_row(form['view'].changesNote )}}   

                <p class="stdformbutton">
                    <button class="radius2" id="testButton" onclick="return executeFormula()">&nbsp;&nbsp;Test&nbsp;&nbsp;</button>
                </p>
                {{ form_row(form['view'].sectionVersioning )}}   
                {{ form_row(form['view'].isOverrideHead )}}  
            {% endblock %}
        {% endblock %}

        {% block buttons %}
            <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>

            <script type="text/javascript">
                {% include 'LeepAdminBundle:FormulaTemplate:form_script.js.twig' %}    
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}
