{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block MainContentInner %}
    <h3>Formula: {{ formulaName }}</h3>
    <br/>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return showDiffTool()">&nbsp;&nbsp;Diff tool&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                        	function showDiffTool() {
                        		var url = '{{ formulaDiffLink }}';
                        		window.open(url, '_blank');
                                return false;
                        	}
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}