{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            {{ parent() }}
            <script type="text/javascript">
                function validateSampleId() {
                    var sampleIdValue = jQuery('#{{ form['view'].selectedSamples.vars.id }}').val();
                    if (sampleIdValue != '') {
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentStatus.vars.id }} .field');
                        resultSpan.html('Validating..');
                        jQuery('#{{ form['view'].pushStatus.vars.id }}').html("<option></option>");
                        jQuery('#{{ form['view'].pushStatus.vars.id }}').attr('disabled', 'disabled');
                        var targetUrl = '{{ links['russiaMwaSample']['bulkValidate'] }}';
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: { sampleId: sampleIdValue },
                            context: document.body
                        }).done(function(data) {
                            resultSpan.html(data);
                            if (data.indexOf('Valid') !== -1) {
                                populateStatus();
                            }
                        }).error(function(jqXHR, textStatus, errorThrown ) {
                            resultSpan.html(textStatus + " " + errorThrown);
                        });                        
                    }
                    else {       
                        var resultSpan = jQuery('#field_row_{{ form['view'].currentStatus.vars.id }} .field');
                        resultSpan.html('');             
                        jQuery('#{{ form['view'].pushStatus.vars.id }}').html("<option></option>");
                        jQuery('#{{ form['view'].pushStatus.vars.id }}').attr('disabled', 'disabled');
                    }
                }

                function populateStatus() {
                    var sampleIdValue = jQuery('#{{ form['view'].selectedSamples.vars.id }}').val();
                    if (sampleIdValue != '') {
                        var targetUrl = '{{ links['russiaMwaSample']['bulkGetStatus'] }}';
                        jQuery.ajax({
                            url: targetUrl,
                            type: "POST",
                            data: { sampleId: sampleIdValue },
                            context: document.body
                        }).done(function(data) {
                            jQuery('#{{ form['view'].pushStatus.vars.id }}').removeAttr('disabled');
                            jQuery('#{{ form['view'].pushStatus.vars.id }}').html(data);
                        }).error(function(jqXHR, textStatus, errorThrown ) {
                        });                        
                    }
                }

                jQuery('#{{ form['view'].selectedSamples.vars.id }}').change(function() {
                    validateSampleId();
                });
                jQuery(document).ready(function() {
                    validateSampleId();

                    jQuery('#{{ form['view'].pushStatus.vars.id }}').change(function() {
                    
                    });
                });                
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}