{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}                            
            {{ form_row(form['view'].sectionSampleInfo )}}
            {{ form_row(form['view'].sampleId )}}
            {{ form_row(form['view'].group )}}
            {{ form_row(form['view'].resultPattern )}}
            {{ form_row(form['view'].currentStatus )}}
            {{ form_row(form['view'].infoText )}}
            {{ form_row(form['view'].gew )}}
            
            {{ form_row(form['view'].sectionSendPush )}}
            {{ form_row(form['view'].pushStatus )}}
            {{ form_row(form['view'].pushDatetime )}}
            {{ form_row(form['view'].isSendNow )}}
            {{ form_row(form['view'].isOverrideSending )}}
            {{ form_row(form['view'].sendingStatus )}}
            
            {{ form_row(form['view'].sectionPushHistory )}}            
            
            {% for id, pushRow in form['view'].pushList %}
                <table class="stdtable" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #ddd; margin-top: -1px">
                    {{ form_widget(pushRow)}}
                </table>
            {% endfor %}     
        {% endblock %}        
    {% endembed %}
{% endblock %}
