{% extends 'LeepAdminBundle:CRUD:popup_list.html.twig' %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [1,'desc'] ] );
        {% endblock %}
    {% endembed %}
{% endblock %}