{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        <h2>Selected orders</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 30%">Order number</th>
                    <th class="head1" style="width: 35%">Customer name</th>
                    <th class="head1" style="width: 35%">Errors</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer['orderNumber'] }}</td>
                        <td>{{ customer['name'] }}</td>
                        <td>
                            {% if customer['messages'] is empty %}
                                No error
                            {% else %}
                                {% for msg in customer['messages'] %}
                                    {{ msg | raw }}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>

        <h2>Bulk process</h2>
        <br/>
        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentHidden %}
                {{ parent() }}
                <input type="hidden" name="selected" value="{{ selectedCustomers }}" />
            {% endblock %}
        {% endembed %}

        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#{{ form['view'].idAction.vars.id }}').change(function() {
                    jQuery('#field_row_{{ form['view'].idPriceCategory.vars.id }}').css('display', 'none');
                    jQuery('#field_row_{{ form['view'].idMarginGoesTo.vars.id }}').css('display', 'none');
                    jQuery('#field_row_{{ form['view'].idInvoiceGoesTo.vars.id }}').css('display', 'none');

                    var idAction = jQuery(this).val();
                    if (idAction == {{ constant('\\Leep\\AdminBundle\\Business\\Billing\\Constant::BULK_PROCESS_ACTION_FIX_MISSING_PRICE_CATEGORY')}}) {
                        jQuery('#field_row_{{ form['view'].idPriceCategory.vars.id }}').css('display', 'block');
                    }
                    if (idAction == {{ constant('\\Leep\\AdminBundle\\Business\\Billing\\Constant::BULK_PROCESS_ACTION_FIX_MISSING_MARGIN_GOES_TO')}}) {
                        jQuery('#field_row_{{ form['view'].idMarginGoesTo.vars.id }}').css('display', 'block');
                    }
                    if (idAction == {{ constant('\\Leep\\AdminBundle\\Business\\Billing\\Constant::BULK_PROCESS_ACTION_FIX_MISSING_INVOICE_GOES_TO')}}) {
                        jQuery('#field_row_{{ form['view'].idInvoiceGoesTo.vars.id }}').css('display', 'block');
                    }
                });


                jQuery('#{{ form['view'].idAction.vars.id }}').change();
            });
        </script>
    </div>
{% endblock %}
