{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 100%">
        <div class="title"><h2 class="tabbed"><span>Statistics</span></h2></div>
        <div class="widgetcontent">
            {% for stat in statsList %}
                <div class="analytics analytics2" style="width: 25%; display: inline-block">
                    <small>{{ stat['name'] }}</small>
                    <h1>{{ stat['totalNumber']}}</h1>
                    <small>&euro;{{ stat['totalAmount']}}</small>
                </div>
            {% endfor %}
        </div>
    </div>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridDrawCallback %}
            jQuery(".simpletip").tooltip({
                bodyHandler: function() {
                    return jQuery(this).find('.hide-content').html();
                },
                left: -100,
                top: 20,
                showURL: false
            });
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return bulkProcessCustomers()">&nbsp;&nbsp;Bulk-process&nbsp;&nbsp;</button>
                        </div>
                    {% endblock %}
                {% endembed %}

                 <script type="text/javascript">
                    function bulkProcessCustomers() {
                        var selectedId = '';
                        var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                        checkboxes.each(function(i, v) {
                            if (jQuery(this).is(':checked')) {
                                var id = jQuery(this).attr('id').substring(4);
                                selectedId += id + ',';
                            }
                        });

                        var targetUrl = '{{ links['billing']['bulkProcess'] }}?selected=' + selectedId;
                        jQuery.colorbox({
                            href: targetUrl,
                            iframe: true,
                            width:  "90%",
                            height: "90%",
                            onClosed:function(){
                                funcDynamicTableReload_{{ grid['id'] }}();
                            }
                        });

                        return false;
                    }
                </script>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
