{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}
{% block MainContentInner %}
    <div class="content">
        {% if isAddedInvoiced %}
            <div class="notification msgalert">
                <p>Already moved to phase 2! Changes won't be updated anymore</p>
            </div>
            <br/>
        {% endif %}

        {% for error in pricing.errors %}
            <div class="notification msgerror">
                <p> {{ error }} </p>
            </div>
            <br/>
        {% endfor %}

        {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
            {% block formContentNormal %}

                <h2>Order detail</h2>
                <br/>
                <div class="stdform stdform2 one_half">
                    <p>
                        <label>Order number</label>
                        <span class="field">{{ customer.orderNumber }} <a target="_blank" href="{{ editCustomerUrl }}">View order</a></span>
                    </p>
                    <p>
                        <label>Order date</label>
                        <span class="field">{{ customerOrderDate }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Distribution channel</label>
                        <span class="field">{{ distributionChannel }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Partner</label>
                        <span class="field">{{ partner }}&nbsp;</span>
                    </p>
                </div>
                <div class="stdform stdform2 one_half last">
                    <p>
                        <label>Price category</label>
                        <span class="field">{{ form_widget(form['view'].priceCategoryId) }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Invoice goes to</label>
                        <span class="field">{{ form_widget(form['view'].invoiceGoesToId) }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Report delivery</label>
                        <span class="field">{{ form_widget(form['view'].reportDeliveryId) }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Margin goes to</label>
                        <span class="field">{{ form_widget(form['view'].idMarginGoesTo) }}&nbsp;</span>
                    </p>
                    <p>
                        <label>Acquisiteurs</label>
                        <span class="field">
                            1. {{ form_widget(form['view'].idAcquisiteur1) }}&nbsp;&nbsp;&nbsp;%{{ form_widget(form['view'].acquisiteurCommissionRate1) }}<br/>
                            2. {{ form_widget(form['view'].idAcquisiteur2) }}&nbsp;&nbsp;&nbsp;%{{ form_widget(form['view'].acquisiteurCommissionRate2) }}<br/>
                            3. {{ form_widget(form['view'].idAcquisiteur3) }}&nbsp;&nbsp;&nbsp;%{{ form_widget(form['view'].acquisiteurCommissionRate3) }}<br/>
                        </span>
                    </p>
                </div>
                <br clear="all"/>
                <br/>

                {% if pricing.errors is empty %}
                    <h2>Pricing details</h2>
                    <br/>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                        <thead>
                            <tr style="height: 45px">
                                <th class="head1" style="width: 20%">Product</th>
                                <th class="head1" style="width: 32%" colspan="5">Price</th>
                                <th class="head1" style="width: 8%; color: green">Invoice {{ invoiceTo }}</th>
                                <th class="head1" style="width: 8%; color: red">Pay DC</th>
                                <th class="head1" style="width: 8%; color: red">Pay Partner</th>
                                <th class="head1" style="width: 8%; color: red">Pay A1</th>
                                <th class="head1" style="width: 8%; color: red">Pay A2</th>
                                <th class="head1" style="width: 8%; color: red">Pay A3</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i, entry in entries %}
                                <tr style="height: 45px">
                                    <td>{{ entry['product'] }}</td>
                                    <td style="width: 8%">&euro;{{ form_widget(form['view'].getChild('price_' ~ entry['id'])) }}</td>
                                    <td style="width: 8%">&euro;{{ form_widget(form['view'].getChild('dcMargin_' ~ entry['id'])) }}</td>
                                    <td style="width: 8%">&euro;{{ form_widget(form['view'].getChild('partnerMargin_' ~ entry['id'])) }}</td>
                                    <td style="width: 3%; text-align: center">
                                        {% if entry['isPriceChanges'] %}
                                            <div class="button-warning" id="btn-warning-{{ entry['id'] }}"></div>
                                        {% endif %}
                                    </td>
                                    <td style="width: 5%; text-align: center">
                                        <a target="_blank" href="{{ priceChangesUrl }}&entryCode={{ entry['id'] }}">
                                            <div class="button-detail"></div>
                                        </a>
                                        <a target="_blank" href="javascript:loadLatestPrice('{{ entry['id'] }}')">
                                            <div class="button-redo"></div>
                                        </a>
                                    </td>
                                    <td style="color: green; text-align: right">&euro;{{ invoiceBill['entries'][i]['amount']  | number_format(2, '.', ',')}}</td>
                                    <td style="color: red; text-align: right">{% if paymentDcBill is defined %}&euro;{{ paymentDcBill['entries'][i]['amount'] | number_format(2, '.', ',') }}{% endif %}</td>
                                    <td style="color: red; text-align: right">{% if paymentPartnerBill is defined %}&euro;{{ paymentPartnerBill['entries'][i]['amount'] | number_format(2, '.', ',') }}{% endif %}</td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                </tr>
                            {% endfor %}

                            {% if extraEntryPostage is defined %}
                                <tr style="height: 45px">
                                    <td>{{ reportDeliveryBillingText }}</td>
                                    <td style="width: 32%" colspan="5">&euro;{{ form_widget(form['view'].extraPriceReportDeliveryOverride) }}</td>
                                    <td style="color: green; text-align: right">&euro;{{ extraEntryPostage }}</td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                </tr>
                            {% endif %}
                            {% if extraNutriMeDeliveryPrice is defined %}
                                <tr style="height: 45px">
                                    <td>{{ nutriMeBillingText }}<br/>
                                        {{ extraNutriMeNumProduct }} product(s) x &euro;{{ extraNutriMePricePerProduct }}
                                    </td>
                                    <td style="width: 32%" colspan="5">&euro;{{ form_widget(form['view'].extraPriceNutriMeDeliveryOverride) }}</td>
                                    <td style="color: green; text-align: right">&euro;{{ extraNutriMeDeliveryPrice }}</td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                    <td style="color: red; text-align: right"></td>
                                </tr>
                            {% endif %}

                            <tr style="height: 45px">
                                <td colspan="6"><b>Total</b></td>
                                <td style="color: green; text-align: right">&euro;{{ invoiceBill['total'] | number_format(2, '.', ',') }}</td>
                                <td style="color: red; text-align: right">{% if paymentDcBill is defined %}&euro;{{ paymentDcBill['total'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentPartnerBill is defined %}&euro;{{ paymentPartnerBill['total'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill1 is defined %}&euro;{{ paymentAcquisiteurBill1['total'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill2 is defined %}&euro;{{ paymentAcquisiteurBill2['total'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill3 is defined %}&euro;{{ paymentAcquisiteurBill3['total'] | number_format(2, '.', ',') }}{% endif %}</td>
                            </tr>
                            <tr style="height: 45px">
                                <td colspan="6"><b>Override</b></td>
                                <td style="text-align: right">&euro;{{ form_widget(form['view'].priceOverride) }}</td>
                                <td style="text-align: right">%{{ form_widget(form['view'].marginOverrideDc) }}</td>
                                <td style="text-align: right">%{{ form_widget(form['view'].marginOverridePartner) }}</td>
                                <td style="text-align: right">&euro;{{ form_widget(form['view'].paymentOverrideAcquisiteur1) }}</td>
                                <td style="text-align: right">&euro;{{ form_widget(form['view'].paymentOverrideAcquisiteur2) }}</td>
                                <td style="text-align: right">&euro;{{ form_widget(form['view'].paymentOverrideAcquisiteur3) }}</td>
                            </tr>
                            <tr style="height: 45px">
                                <td colspan="6"><b>Final Total</b></td>
                                <td style="color: green; text-align: right">&euro;{{ invoiceBill['finalTotal'] | number_format(2, '.', ',') }}</td>
                                <td style="color: red; text-align: right">{% if paymentDcBill is defined %}&euro;{{ paymentDcBill['finalTotal'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentPartnerBill is defined %}&euro;{{ paymentPartnerBill['finalTotal'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill1 is defined %}&euro;{{ paymentAcquisiteurBill1['finalTotal'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill2 is defined %}&euro;{{ paymentAcquisiteurBill2['finalTotal'] | number_format(2, '.', ',') }}{% endif %}</td>
                                <td style="color: red; text-align: right">{% if paymentAcquisiteurBill3 is defined %}&euro;{{ paymentAcquisiteurBill3['finalTotal'] | number_format(2, '.', ',') }}{% endif %}</td>
                            </tr>
                        </tbody>

                    </table>

                    <br/>
                    <h2>Ready pricing</h2>
                    <br/>
                    <p></p>
                {% endif %}

                <script type="text/javascript">
                    function loadLatestPrice(entryId) {
                        var targetUrl = "{{ loadLatestPriceUrl }}&entryCode=" + entryId;
                        jQuery.ajax({
                            url: targetUrl,
                            context: document.body
                        }).done(function(data) {
                            if (data == "FAIL") {
                                alert("Error! Can't load latest price");
                                return false;
                            }

                            var price = JSON.parse(data);
                            jQuery('#{{ form['view'].vars.id }}_price_' + entryId).val(price['price']);
                            jQuery('#{{ form['view'].vars.id }}_dcMargin_' + entryId).val(price['dcMargin']);
                            jQuery('#{{ form['view'].vars.id }}_partnerMargin_' + entryId).val(price['partnerMargin']);
                            jQuery('#btn-warning-' + entryId).css('display', 'none');
                        });
                        return false;
                    }
                </script>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}