{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}
{% block MainContentInner %}
    <div class="content stdform stdform2">
        <h2>Order info</h2>
        <br/>
        <p></p>
        <p>
            <label>Order number</label>
            <span class="field">{{ customer.orderNumber }}</span>
        </p>
        <p>
            <label>Order date</label>
            <span class="field">{{ customerOrderDate }}</span>
        </p>
        <p>
            <label>Price category</label>
            <span class="field">{{ customerPriceCategory }}</span>
        </p>
        <p>
            <label>{{ itemType }}</label>
            <span class="field">{{ item }}</span>
        </p>

        <br/>
        <h2>History</h2>
        <br/>
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head1" style="width: 40%">Date</th>
                    <th class="head1" style="width: 20%">Price</th>
                    <th class="head1" style="width: 20%">DC Margin</th>
                    <th class="head1" style="width: 20%">Partner Margin</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="text-align: left">CURRENT PRICE</td>
                    <td style="text-align: right">&euro;{{ currentPrice['price'] | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">&euro;{{ currentPrice['dcMargin'] | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">&euro;{{ currentPrice['partnerMargin'] | number_format(2, '.', ',') }}</td>
                </tr>
                {% for price in historyPrices %}
                    <tr>
                        <td style="text-align: left">{{ price['date'] }}</td>
                        <td style="text-align: right">&euro;{{ price['price'] | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">&euro;{{ price['dcMargin'] | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">&euro;{{ price['partnerMargin'] | number_format(2, '.', ',') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}