{% if title is not empty %}
<div class="contenttitle">
    <h2 class="form"><span>{{ title }}</span></h2>
</div><!--contenttitle-->
{% endif %}
<div class="stdform stdform2">
    {% for item in data %}
        {% if item['type'] == 'section' %}
            <br/><h2>{{ item['label'] }}</h2><br/>
            <p></p>
        {% else %}
            <p> 
                <label>{{ item['label'] }}</label>
                <span class="field">{{ item['content'] | raw }}&nbsp;</span>
            </p>
        {% endif %}
    {% endfor %}                
</div>
