{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <h2>EDIT WEB LOGIN BY DISTRIBUTION CHANNEL</h2>
            <br/>

            <select id="id" name="id">
                <option value="">All</option>
                {% for id, partner in partners %}
                    <option value="{{ id }}" {% if id == idPartner %}selected{% endif %}>{{ partner }}</option>
                {% endfor %}
            </select>

            <br/>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                    {% if partner is defined %}
                    <tr>
                        <th class="head1" width="19%">Partner Settings: {{ partner.partner }}</th>
                        <th class="head1" width="9%">{{ partner.isWebLoginOptOut ? 'x' : '' }}</th>
                        <th class="head1" width="9%">{{ partner.canCustomersDownloadReports ? 'x' : '' }}</th>
                        <th class="head1" width="9%">{{ partner.isCustomerBeContacted ? 'x' : '' }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="head1" width="19%">Distribution Channel</th>
                        <th class="head1" width="9%">Can create login and send status message to user
                            <br/><a href="javascript:selectCheckbox('isWebLoginOptOut', true)">All</a> | <a href="javascript:selectCheckbox('isWebLoginOptOut', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can customers download reports
                            <br/><a href="javascript:selectCheckbox('canCustomersDownloadReports', true)">All</a> | <a href="javascript:selectCheckbox('canCustomersDownloadReports', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can customer be contacted
                            <br/><a href="javascript:selectCheckbox('isCustomerBeContacted', true)">All</a> | <a href="javascript:selectCheckbox('isCustomerBeContacted', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view Shop
                            <br/><a href="javascript:selectCheckbox('canViewShop', true)">All</a> | <a href="javascript:selectCheckbox('canViewShop', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view [Your order]?
                            <br/><a href="javascript:selectCheckbox('isCanViewYourOrder', true)">All</a> | <a href="javascript:selectCheckbox('isCanViewYourOrder', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view [Customer protection]?
                            <br/><a href="javascript:selectCheckbox('isCanViewCustomerProtection', true)">All</a> | <a href="javascript:selectCheckbox('isCanViewCustomerProtection', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view [Register new customer]?
                            <br/><a href="javascript:selectCheckbox('isCanViewRegisterNewCustomer', true)">All</a> | <a href="javascript:selectCheckbox('isCanViewRegisterNewCustomer', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view [Pending order]?
                            <br/><a href="javascript:selectCheckbox('isCanViewPendingOrder', true)">All</a> | <a href="javascript:selectCheckbox('isCanViewPendingOrder', false)">None</a>
                        </th>
                        <th class="head1" width="9%">Can view [Setting]?
                            <br/><a href="javascript:selectCheckbox('isCanViewSetting', true)">All</a> | <a href="javascript:selectCheckbox('isCanViewSetting', false)">None</a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for id, dc in dcList %}
                        <tr>
                            <td>{{ dc }}</td>
                            <td tag="isWebLoginOptOut">{{ form_widget(form['view']['isWebLoginOptOut_' ~ id]) }}</td>
                            <td tag="canCustomersDownloadReports">{{ form_widget(form['view']['canCustomersDownloadReports_' ~ id]) }}</td>
                            <td tag="isCustomerBeContacted">{{ form_widget(form['view']['isCustomerBeContacted_' ~ id]) }}</td>

                            <td tag="canViewShop">{{ form_widget(form['view']['canViewShop_' ~ id]) }}</td>
                            <td tag="isCanViewYourOrder">{{ form_widget(form['view']['isCanViewYourOrder_' ~ id]) }}</td>
                            <td tag="isCanViewCustomerProtection">{{ form_widget(form['view']['isCanViewCustomerProtection_' ~ id]) }}</td>
                            <td tag="isCanViewRegisterNewCustomer">{{ form_widget(form['view']['isCanViewRegisterNewCustomer_' ~ id]) }}</td>
                            <td tag="isCanViewPendingOrder">{{ form_widget(form['view']['isCanViewPendingOrder_' ~ id]) }}</td>
                            <td tag="isCanViewSetting">{{ form_widget(form['view']['isCanViewSetting_' ~ id]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script type="text/javascript">
                jQuery('#id').change(function() {
                    var idPartner = jQuery(this).val();
                    document.location = '{{ links['distributionChannel']['bulkEditWebLogin'] }}?id=' + idPartner;
                });

                function selectCheckbox(tag, value) {
                    jQuery('[tag="' + tag + '"] input').each(function() {
                        jQuery(this).prop('checked', value);
                    });
                }
            </script>
        {% endblock %}


        {% block buttons %}
        <button class="submit radius2">&nbsp;&nbsp;{{ form['submitLabel'] }}&nbsp;&nbsp;</button>
        <button class="radius2" id="apply_default_button">&nbsp;&nbsp;Apply default&nbsp;&nbsp;</button>

        <script type="text/javascript">
        jQuery('#apply_default_button').click(function(event) {
            {% for id, dc in dcList %}
            if (jQuery('#form_canCustomersDownloadReports_{{ id }}').is(':checked') ||
                jQuery('#form_isCustomerBeContacted_{{ id }}').is(':checked')) {
                jQuery('#form_isWebLoginOptOut_{{ id }}').attr('checked', 'checked');
            } else {
                jQuery('#form_isWebLoginOptOut_{{ id }}').removeAttr('checked');
            }
            {% endfor %}
            event.preventDefault();
        });
        </script>

        {% endblock %}
    {% endembed %}
    </div>
{% endblock %}
