{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <h2>EDIT REPORT SETTING BY DISTRIBUTION CHANNEL</h2>
            <br/>

            <select id="id" name="id">
                <option value="">All</option>
                {% for id, partner in partners %}
                    <option value="{{ id }}" {% if id == idPartner %}selected{% endif %}>{{ partner }}</option>
                {% endfor %}
            </select>

            <br/>      
            <br/>      
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                    {% if partner is defined %}
                    <tr>
                        <th class="head1" width="25%">Partner Settings: {{ partner.partner }}</th>
                        <th class="head1" width="7%">{{ partner.isPrintedReportSentToPartner ? 'x' : '' }}</th>
                        <th class="head1" width="7%">{{ partner.isPrintedReportSentToDc ? 'x' : '' }}</th>
                        <th class="head1" width="7%">{{ partner.isPrintedReportSentToCustomer ? 'x' : '' }}</th>
                        <th class="head1" width="7%">{{ partner.isDigitalReportGoesToCustomer ? 'x' : '' }}</th>
                        <th class="head1" width="7%">
                            {% if partner.idRecallGoesTo == 1 %}
                                Partner
                            {% elseif partner.idRecallGoesTo == 2 %}
                                DC
                            {% elseif partner.idRecallGoesTo == 3 %}
                                Customer
                            {% endif %}
                        </th>
                        <th class="head1" width="12%"></th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="head1" width="25%">Distribution Channel</th>
                        <th class="head1" width="7%">Printed report sent to Partner
                            <br/><a href="javascript:selectCheckbox('isPrintedReportSentToPartner', true)">All</a> | <a href="javascript:selectCheckbox('isPrintedReportSentToPartner', false)">None</a> 
                        </th>
                        <th class="head1" width="7%">Printed report sent to DC
                            <br/><a href="javascript:selectCheckbox('isPrintedReportSentToDc', true)">All</a> | <a href="javascript:selectCheckbox('isPrintedReportSentToDc', false)">None</a> 
                        </th>
                        <th class="head1" width="7%">Printed report sent to Customer
                            <br/><a href="javascript:selectCheckbox('isPrintedReportSentToCustomer', true)">All</a> | <a href="javascript:selectCheckbox('isPrintedReportSentToCustomer', false)">None</a> 
                        </th>
                        <th class="head1" width="7%">Digital report goes to Customer
                            <br/><a href="javascript:selectCheckbox('isDigitalReportGoesToCustomer', true)">All</a> | <a href="javascript:selectCheckbox('isDigitalReportGoesToCustomer', false)">None</a> 
                        </th>
                        <th class="head1" width="7%">Recall goes to
                            <br/><a href="javascript:selectRecallGoesTo('idRecallGoesTo', true)">Set</a> | <a href="javascript:selectRecallGoesTo('idRecallGoesTo', false)">Clear</a> 
                        </th>
                        <th class="head1" width="12%">Copy to customers
                            <br/><a href="javascript:selectCheckbox('isCopyToCustomer', true)">All</a> | <a href="javascript:selectCheckbox('isCopyToCustomer', false)">None</a> 
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for id, dc in dcList %}
                        <tr>
                            <td>{{ dc }}</td>
                            <td tag="isPrintedReportSentToPartner">{{ form_widget(form['view']['isPrintedReportSentToPartner_' ~ id]) }}</td>
                            <td tag="isPrintedReportSentToDc">{{ form_widget(form['view']['isPrintedReportSentToDc_' ~ id]) }}</td>
                            <td tag="isPrintedReportSentToCustomer">{{ form_widget(form['view']['isPrintedReportSentToCustomer_' ~ id]) }}</td>
                            <td tag="isDigitalReportGoesToCustomer">{{ form_widget(form['view']['isDigitalReportGoesToCustomer_' ~ id]) }}</td>
                            <td tag="idRecallGoesTo">{{ form_widget(form['view']['idRecallGoesTo_' ~ id]) }}</td>
                            <td tag="isCopyToCustomer">{{ form_widget(form['view']['isCopyToCustomer_' ~ id]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script type="text/javascript">
                jQuery('#id').change(function() {
                    var idPartner = jQuery(this).val();
                    document.location = '{{ links['distributionChannel']['bulkEditReportSetting'] }}?id=' + idPartner;
                });

                function selectCheckbox(tag, value) {
                    jQuery('[tag="' + tag + '"] input').each(function() {
                        jQuery(this).prop('checked', value);
                    });
                }

                function selectRecallGoesTo(tag, value) {
                    jQuery('[tag="' + tag + '"] select').each(function() {
                        if (value) {
                            {% if partner is defined %}
                                jQuery(this).val('{{ partner.idRecallGoesTo }}');
                            {% endif %}
                        }
                        else {
                            jQuery(this).val(0);
                        }
                    });
                }
            </script>
        {% endblock %}
    {% endembed %}
    </div>
{% endblock %}
