{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
  {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% block formContentNormal %}
      <h2>EDIT CUSTOMERS SETTING BY DISTRIBUTION CHANNEL</h2>
      <br/>

      <select id="id" name="id">
        <option value="">All</option>
        {% for id, partner in partners %}
          <option value="{{ id }}" {% if id == idPartner %}selected{% endif %}>{{ partner }}</option>
        {% endfor %}
      </select>

      <br/>
      <br/>
      <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
          <thead>
              {% if partner is defined %}
              <tr>
                <th class="head1" width="25%">Partner Settings: {{ partner.partner }}</th>
                <th class="head1" width="7%">{{ partner.isCustomerBeContacted ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.isNutrimeOffered ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.isNotContacted ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.isDestroySample ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.sampleCanBeUsedForScience ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.isFutureResearchParticipant ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.canViewShop ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.canCustomersDownloadReports ? 'x' : '' }}</th>
                <th class="head1" width="7%">{{ partner.isGenerateFoodTableExcelVersion ? 'x' : '' }}</th>
                <th class="head1" width="12%"></th>
              </tr>
              {% endif %}
              <tr>
                  <th class="head1" width="25%">Distribution Channel
                  </th>
                  <th class="head1" width="7%">Can be contacted directly
                    <br/><a href="javascript:selectCheckbox('isCustomerBeContacted', true)">All</a> | <a href="javascript:selectCheckbox('isCustomerBeContacted', false)">None</a>
                  </th>
                  <th class="head1" width="7%">NutriMe Supplements are offered
                    <br/><a href="javascript:selectCheckbox('isNutrimeOffered', true)">All</a> | <a href="javascript:selectCheckbox('isNutrimeOffered', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Customer chose OPT OUT – don’t contact
                    <br/><a href="javascript:selectCheckbox('isNotContacted', true)">All</a> | <a href="javascript:selectCheckbox('isNotContacted', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Destroy details and samples after completion
                    <br/><a href="javascript:selectCheckbox('isDestroySample', true)">All</a> | <a href="javascript:selectCheckbox('isDestroySample', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Sample can be used for science
                    <br/><a href="javascript:selectCheckbox('sampleCanBeUsedForScience', true)">All</a> | <a href="javascript:selectCheckbox('sampleCanBeUsedForScience', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Customer agreed to extended research participation
                    <br/><a href="javascript:selectCheckbox('isFutureResearchParticipant', true)">All</a> | <a href="javascript:selectCheckbox('isFutureResearchParticipant', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Can view shop
                    <br/><a href="javascript:selectCheckbox('canViewShop', true)">All</a> | <a href="javascript:selectCheckbox('canViewShop', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Can customers download reports
                    <br/><a href="javascript:selectCheckbox('canCustomersDownloadReports', true)">All</a> | <a href="javascript:selectCheckbox('canCustomersDownloadReports', false)">None</a>
                  </th>
                  <th class="head1" width="7%">Is generate food table excel version?
                    <br/><a href="javascript:selectCheckbox('isGenerateFoodTableExcelVersion', true)">All</a> | <a href="javascript:selectCheckbox('isGenerateFoodTableExcelVersion', false)">None</a>
                  </th>
                  <th class="head1" width="12%">Copy "Can be contacted correctly" and "NutriMe supplement offered" to customers
                    <br/><a href="javascript:selectCheckbox('isCopyToCustomer', true)">All</a> | <a href="javascript:selectCheckbox('isCopyToCustomer', false)">None</a>
                  </th>
              </tr>
          </thead>

          <tbody>
              {% for id, dc in dcList %}
                  <tr>
                    <td>{{ dc }}</td>
                    <td tag="isCustomerBeContacted">{{ form_widget(form['view']['isCustomerBeContacted_' ~ id]) }}</td>
                    <td tag="isNutrimeOffered">{{ form_widget(form['view']['isNutrimeOffered_' ~ id]) }}</td>
                    <td tag="isNotContacted">{{ form_widget(form['view']['isNotContacted_' ~ id]) }}</td>
                    <td tag="isDestroySample">{{ form_widget(form['view']['isDestroySample_' ~ id]) }}</td>
                    <td tag="sampleCanBeUsedForScience">{{ form_widget(form['view']['sampleCanBeUsedForScience_' ~ id]) }}</td>
                    <td tag="isFutureResearchParticipant">{{ form_widget(form['view']['isFutureResearchParticipant_' ~ id]) }}</td>
                    <td tag="canViewShop">{{ form_widget(form['view']['canViewShop_' ~ id]) }}</td>
                    <td tag="canCustomersDownloadReports">{{ form_widget(form['view']['canCustomersDownloadReports_' ~ id]) }}</td>
                    <td tag="isGenerateFoodTableExcelVersion">{{ form_widget(form['view']['isGenerateFoodTableExcelVersion_' ~ id]) }}</td>
                    <td tag="isCopyToCustomer">{{ form_widget(form['view']['isCopyToCustomer_' ~ id]) }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="dataTables_paginate paging_full_numbers" id="CrudGrid_paginate">
          <span style="left:30px" id="CrudGrid_info">Showing {{ entriesNow }} to {{ entriesTo }} of {{ allEntries }} entries </span>
          <span class="first paginate_button paginate_button_disabled" id="CrudGrid_first" onClick="pageFirst();">First</span>
          <span class="previous paginate_button paginate_button_disabled" id="CrudGrid_previous" onClick="pagePre();">Previous</span>
          <span>
              {% for val in leftCurPage..rightCurPage %}
                {% if curPage == val %}
                    <span class="paginate_active"> {{ val }} </span>
                {% else %}
                    <span class="paginate_button" onClick="changePage({{val}});"> {{ val }} </span>
                {% endif %}
              {% endfor %}
          </span>
          <input type= "hidden" val="{{curPage}}" id="page" name="page"/>
          <span class="paginate_button next" id="CrudGrid_next" onClick="pageNext();">Next</span>
          <span class="last paginate_button" id="CrudGrid_last" onClick="pageLast();">Last</span>
          <input id="CrudGrid_goto" style="width: 30px; max-height: 28px; margin-left: 5px;">
          <span class=" paginate_button">Go</span>
      </div>
      <script type="text/javascript">
        jQuery('#id').change(function() {
          var idPartner = jQuery(this).val();
          document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page=1';
        });

        function selectCheckbox(tag, value) {
          jQuery('[tag="' + tag + '"] input').each(function() {
            jQuery(this).prop('checked', value);
          });
        }
        function changePage(page) {
             var idPartner = jQuery('#id').val();
             document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page='+ page;
        }
        function pagePre() {
             var idPartner = jQuery('#id').val();
             var page = ({{curPage}} - 1 < 0 ) ? 1 : {{curPage}} -1;
             document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page='+ page;
        }
        function pageNext(page) {
             var idPartner = jQuery('#id').val();
             var page = ({{curPage}} + 1 > {{totalPage}}) ? {{curPage}} : {{curPage}} +1;
             document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page='+ page;
        }
        function pageLast(page) {
             var idPartner = jQuery('#id').val();
             document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page={{ totalPage }}';
        }
        function pageFrist(page) {
             var idPartner = jQuery('#id').val();
             document.location = '{{ links['distributionChannel']['bulkEdit'] }}?id=' + idPartner+ '&&page=1';
        }
      </script>
    {% endblock %}
  {% endembed %}
  </div>
{% endblock %}
