{% extends 'LeepAdminBundle:CRUD:list.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    <div class="widgetbox" style="width: 48%">
        <div class="title"><h2 class="tabbed"><span>Complaints statistics</span></h2></div>
        <div class="widgetcontent padding0">      
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">                    
                <tbody>
                    {% for stat in complaintStatistics %}
                        <tr>
                            <td>{{ stat['name'] }}</td>
                            <td>{{ stat['total'] }} <a style="float: right" href="{{ viewDcComplaint }}?status={{ stat['id'] }}" target="_blank">View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block gridDrawCallback %}    
            jQuery(".simpletip").tooltip({ 
                bodyHandler: function() {   
                    return jQuery(this).find('.hide-content').html();
                }, 
                left: -20, 
                top: 20,
                showURL: false 
            });                     
        {% endblock %}
    {% endembed %}
{% endblock %}