{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
  <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
   <div class="content">
      {% for dcName in dcName %}
          <h1><span style="position: relative; margin-left: 4px; top: -4px; width:200px"> Customer in distribution channel 
                <span style="color: green">"{{ dcName['dcName'] }}"</span></span></h1>
      {% endfor %}

      {% for countIn in countIn %}
        <h4>Number customer: <span style="color: orange">{{ countIn['countIn'] }}</span></h4>
      {% endfor %} 
      <h4>Number customer contain gene <span style="color: blue">{{ geneName }}: </span><span style="color:orange">{{ geneCountIn }}</span></h4>

      <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
          <thead>  
            <tr style="heigth:45px">
                <th class="head1" style="width: 5%"></th>
                <th class="head1" style="width: 10%">Number customer (in customer have {{ geneName }})</th>
                <th class="head1" style="width: 10%">Percentage (on customer have {{ geneName }})</th>
                {% for dcName in dcName %}
                <th class="head1" style="width: 10%">Number customer (in all customer of {{ dcName['dcName'] }})</th>
                <th class="head1" style="width: 10%">Percentage (on all customer of {{ dcName['dcName'] }})</th>
                {% endfor %}
            </tr>    
          </thead>
          
          <tbody>
          {% for geneResult in geneResult %}
            <tr>
                <td align="center">{{ geneResult['name'] }}</td>
                <td align="center">{{ geneResult['total'] }}</td>  
                <td align="center">{{ geneResult['percentage'] }}</td>
                {% for outGeneResult in outGeneResult %}
                    {% if outGeneResult['name'] == geneResult['name'] %}
                        <td align="center">{{ outGeneResult['total'] }}</td>
                        <td align="center">{{ outGeneResult['percentage'] }}</td>
                    {% endif %}
                {% endfor %}
                
            </tr>
          {% endfor %}

          </tbody>
        </table>

    <br></br>
    <br></br>


    {% for dcName in dcName %}
      <h1><span style="position: relative; margin-left: 4px; top: -4px; width:200px"> 
          Customer <span style="color: red">not</span> in distribution channel <span style="color: green">"{{ dcName['dcName'] }}"</span></span></h1>
      {% endfor %}
      <h4>Number customer: <span style="color: orange"> {{ countNotIn }} </span></h4>
      <h4>Number customer contain gene <span style="color: blue">{{ geneName }}: </span><span style="color:orange">{{ restTotalGene }}</span></h4>

      <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
          <thead>  
            <tr style="heigth:45px">
                <th class="head1" style="width: 5%"></th>
                <th class="head1" style="width: 10%">Number customer (in customer have {{ geneName }})</th>
                <th class="head1" style="width: 10%">Percentage (on customer have {{ geneName }})</th>
                {% for dcName in dcName %}
                  <th class="head1" style="width: 10%">Number customer (in all customers without of {{ dcName['dcName'] }})</th>
                  <th class="head1" style="width: 10%">Percentage (on all customers without of {{ dcName['dcName'] }})</th>
                {% endfor %}
            </tr>    
          </thead>
          
          <tbody>
          {% for notDCGeneResult in notDCGeneResult %}
            <tr>
                <td align="center">{{ notDCGeneResult['name'] }}</td>
                <td align="center">{{ notDCGeneResult['total'] }}</td>
                <td align="center">{{ notDCGeneResult['percentage'] }}</td>

                {% for notDCNotGeneResult in notDCNotGeneResult %}
                    {% if notDCNotGeneResult['name'] == notDCGeneResult['name'] %}
                        <td align="center">{{ notDCNotGeneResult['total'] }}</td>
                        <td align="center">{{ notDCNotGeneResult['percentage'] }}</td>
                    {% endif %}
                {% endfor %}

            </tr>
          {% endfor %}

          </tbody>

        </table>

    <br>
    <form>
      <button id='backUrl' style="padding: 7px 16px; border: 1px solid #333; background: #333; color: #fff; cursor: pointer; font-weight: bold; font-size: 12px; font-family: sans-serif; margin: 0" onClick="redirectPage()">
        Back
      </button>
    </form>
   </div>

   <script type="text/javascript">
      function redirectPage(){
          var targetUrl = '{{ backUrl }}?id={{ dcId }}'
          window.open(targetUrl);
      }  
   </script>
{% endblock %}