{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}
{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <div>
                <p style="border: 0px;">
                    <span id="span-go-acquisiteur1"><a id="go-acquisiteur1" href="javascript: goAcquisiteur(posAcquisiteur = 1)">Go to Acquisiteur1</a></span>
                    <span id="span-go-acquisiteur2" style="padding-left: 30px;"><a id="go-acquisiteur2" href="javascript: goAcquisiteur(posAcquisiteur = 2)">Go to Acquisiteur2</a></span>
                    <span id="span-go-acquisiteur3" style="padding-left: 30px;"><a id="go-acquisiteur3" href="javascript: goAcquisiteur(posAcquisiteur = 3)">Go to Acquisiteur3</a></span>
                    <span id="span-go-partner" style="padding-left: 30px;"><a id="go-partner" href="javascript: goPartner()">Go to Partner</a></span>
                </p>
                <br>
                <output id="err-mess" class="error-message"></output>
            </div>

            <script type="text/javascript">
                var acquisiteurId1, acquisiteurId2, acquisiteurId3;
                var partnerId;

                function onChangeReportDeliveryId() {
                    var reportDeliveryId = jQuery('#{{ form['view'].reportDeliveryId.vars.id }}').val();
                    var ftpServerRow = jQuery('#field_row_{{ form['view'].ftpServer.vars.id }}');

                    if (reportDeliveryId == {{ constant('Leep\\AdminBundle\\Business\\DistributionChannel\\Constant::REPORT_DELIVERY_FTP_SERVER') }}) {
                        ftpServerRow.css('display', '');
                    }
                    else {
                        ftpServerRow.css('display', 'none');
                    }
                }

                function onChangePartner() {
                    var id = jQuery('#{{ form['view'].partnerId.vars.id }}').val();
                    var targetUrl = "{{ links.partner.ajaxRead }}?id=" + id;
                    jQuery.ajax({
                        url: targetUrl,
                        context: document.body
                    }).done(function(data) {
                        if (data == "FAIL") {
                            return;
                        }
                        var partner = JSON.parse(data);

                        jQuery('#{{ form['view'].invoiceGoesToId.vars.id }}').val(partner['idInvoicesGoesTo']);
                        jQuery('#{{ form['view'].idMarginGoesTo.vars.id }}').val(partner['idMarginGoesTo']);
                        jQuery('#{{ form['view'].idMarginPaymentMode.vars.id }}').val(partner['idMarginPaymentMode']);
                        jQuery('#{{ form['view'].idNutrimeGoesTo.vars.id }}').val(partner['idNutrimeGoesTo']);

                        if (partner['isCustomerBeContacted']) {
                            jQuery('#{{ form['view'].isCustomerBeContacted.vars.id }}').prop('checked', true);
                        }

                        if (partner['isPaymentWithTax']) {
                            jQuery('#{{ form['view'].isPaymentWithTax.vars.id }}').prop('checked', true);
                        }

                        if (partner['isNutrimeOffered']) {
                            jQuery('#{{ form['view'].isNutrimeOffered.vars.id }}').prop('checked', true);
                        }
                        if (partner['isNotContacted']) {
                            jQuery('#{{ form['view'].isNotContacted.vars.id }}').prop('checked', true);
                        }
                        if (partner['isDestroySample']) {
                            jQuery('#{{ form['view'].isDestroySample.vars.id }}').prop('checked', true);
                        }
                        if (partner['sampleCanBeUsedForScience']) {
                            jQuery('#{{ form['view'].sampleCanBeUsedForScience.vars.id }}').prop('checked', true);
                        }
                        if (partner['isFutureResearchParticipant']) {
                            jQuery('#{{ form['view'].isFutureResearchParticipant.vars.id }}').prop('checked', true);
                        }

                        if (partner['canViewShop']) {
                            jQuery('#{{ form['view'].canViewShop.vars.id }}').prop('checked', true);
                        }

                        if (partner['isCanViewYourOrder']) {
                            jQuery('#{{ form['view'].isCanViewYourOrder.vars.id }}').prop('checked', true);
                        }

                        if (partner['isCanViewCustomerProtection']) {
                            jQuery('#{{ form['view'].isCanViewCustomerProtection.vars.id }}').prop('checked', true);
                        }

                        if (partner['isCanViewRegisterNewCustomer']) {
                            jQuery('#{{ form['view'].isCanViewRegisterNewCustomer.vars.id }}').prop('checked', true);
                        }

                        if (partner['isCanViewPendingOrder']) {
                            jQuery('#{{ form['view'].isCanViewPendingOrder.vars.id }}').prop('checked', true);
                        }

                        if (partner['isCanViewSetting']) {
                            jQuery('#{{ form['view'].isCanViewSetting.vars.id }}').prop('checked', true);
                        }

                        if (partner['canCustomersDownloadReports']) {
                            jQuery('#{{ form['view'].canCustomersDownloadReports.vars.id }}').prop('checked', true);
                        }

                        jQuery('#{{ form['view'].webLoginGoesTo.vars.id }}').val(partner['webLoginGoesTo']);
                        jQuery('#{{ form['view'].webLoginStatus.vars.id }}').val(partner['webLoginStatus']);
                        jQuery('#{{ form['view'].invoiceDeliveryNote.vars.id }}').val(partner['invoiceDeliveryNote']);

                        // Report setting
                        jQuery('#{{ form['view'].idRecallGoesTo.vars.id }}').val(partner['idRecallGoesTo']);

                        jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').prop('checked', partner['isDelayDownloadReport']);
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').val(partner['numberDateDelayDownloadReport']);

                        var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                        if (delayDownload.is(':checked')) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }
                    });
                }

                jQuery(document).ready(function() {
                    onChangeReportDeliveryId();
                    jQuery("#{{ form['view'].partnerId.vars.id }}").change(function() {
                        onChangePartner();
                    });
                    // get the three acquisiteur Id and the partnerId
                    acquisiteurId1 = jQuery("#{{ form['view'].acquisiteurId1.vars.id }}").val();
                    acquisiteurId2 = jQuery("#{{ form['view'].acquisiteurId2.vars.id }}").val();
                    acquisiteurId3 = jQuery("#{{ form['view'].acquisiteurId3.vars.id }}").val();
                    partnerId = jQuery("#{{ form['view'].partnerId.vars.id }}").val();
                    var countHidden = 0;
                    if (!acquisiteurId1) {
                        jQuery("#span-go-acquisiteur1").remove();
                        countHidden += 1;
                    }
                    if (!acquisiteurId2) {
                        jQuery("#span-go-acquisiteur2").remove();
                        countHidden += 1;
                    }
                    else{
                        if (countHidden == 1) {
                            jQuery("#go-acquisiteur2").css({
                                "margin-left":"-30px",
                            });
                        }
                    }
                    if (!acquisiteurId3) {
                        jQuery("#span-go-acquisiteur3").remove();
                        countHidden += 1;
                    }
                    else{
                        if (countHidden == 2) {
                            jQuery("#go-acquisiteur3").css({
                                "margin-left":"-30px",
                            });
                        }
                    }
                    if (!partnerId) {
                        jQuery("#span-go-partner").remove();
                    }
                    else{
                        if (countHidden == 3) {
                            jQuery("#go-partner").css({
                                "margin-left":"-30px",
                            });
                        }
                    }

                    var delayDownload = jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}');
                    if (delayDownload.is(':checked')) {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                    }
                    else {
                        jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                    }

                    jQuery('#{{ form['view'].isDelayDownloadReport.vars.id }}').change(function(){
                        if (this.checked) {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').show();
                        }
                        else {
                            jQuery('#{{ form['view'].numberDateDelayDownloadReport.vars.id }}').hide();
                        }
                    });

                });

                function showError(errorMessage){
                    var delay = 500;
                    setTimeout(function(){
                        document.getElementById("err-mess").value = errorMessage;
                        document.getElementById("err-mess").style.visibility = "visible";
                    }, delay);
                }

                function goAcquisiteur(posAcquisiteur){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    var acquisiteurId;
                    if (posAcquisiteur == 1) {
                        acquisiteurId = acquisiteurId1;
                    }
                    else{
                        if (posAcquisiteur == 2) {
                            acquisiteurId = acquisiteurId2;
                        }
                        else{
                            acquisiteurId = acquisiteurId3;
                        }
                    }
                    acquisiteurId = String(acquisiteurId);
                    if (acquisiteurId) {
                        var url = "{{ links['acquisiteur']['edit'] }}".concat("?id=") + acquisiteurId;
                        window.open(url, '_blank');
                    }
                    else{
                        var errorMessage = "Acquisiteur" + String(posAcquisiteur) + " is empty";
                        showError(errorMessage);
                    }
                }

                function goPartner(){
                    document.getElementById("err-mess").style.visibility = "hidden";
                    var url = "{{ links['partner']['edit'] }}".concat("?id=");
                    url += String(partnerId);
                    window.open(url, '_blank');
                }
            </script>

            {# ATTACHMENT #}
            {{ form_row(form['view'].sectionAttachment) }}
            {{ form_row(form['view'].attachment) }}
            {{ form_row(form['view'].attachmentKey) }}

            {# INFO #}
            {{ form_row(form['view'].sectionInfo) }}
            {{ form_row(form['view'].domain) }}
            {{ form_row(form['view'].distributionChannel) }}
            {{ form_row(form['view'].idCode) }}
            {{ form_row(form['view'].accountingCode) }}
            {{ form_row(form['view'].uidNumber) }}
            {{ form_row(form['view'].creationDate) }}
            {{ form_row(form['view'].typeId) }}
            {{ form_row(form['view'].priceCategoryId) }}
            {{ form_row(form['view'].genderId) }}
            {{ form_row(form['view'].title) }}
            {{ form_row(form['view'].firstName) }}
            {{ form_row(form['view'].surName) }}
            {{ form_row(form['view'].institution) }}
            {{ form_row(form['view'].idCompleteStatus) }}
            {{ form_row(form['view'].supplementInfo) }}
            {{ form_row(form['view'].idCurrency) }}

            {# ADDRESS #}
            {{ form_row(form['view'].section1) }}
            {{ form_row(form['view'].street) }}
            {{ form_row(form['view'].postCode) }}
            {{ form_row(form['view'].city) }}
            {{ form_row(form['view'].countryId) }}
            {{ form_row(form['view'].contactEmail) }}
            {{ form_row(form['view'].telephone) }}
            {{ form_row(form['view'].fax) }}

            {# INVOICE ADDRESS #}
            {{ form_row(form['view'].sectionInvoiceAddress) }}
            {{ form_row(form['view'].invoiceAddressIsUsed) }}
            {{ form_row(form['view'].invoiceClientName) }}
            {{ form_row(form['view'].invoiceCompanyName) }}
            {{ form_row(form['view'].invoiceAddressStreet) }}
            {{ form_row(form['view'].invoiceAddressPostCode) }}
            {{ form_row(form['view'].invoiceAddressCity) }}
            {{ form_row(form['view'].invoiceAddressIdCountry) }}
            {{ form_row(form['view'].invoiceAddressTelephone) }}
            {{ form_row(form['view'].invoiceAddressFax) }}


            {# CONTACT PERSION #}
            {{ form_row(form['view'].sectionContactPerson) }}
            {{ form_row(form['view'].contactPersonName) }}
            {{ form_row(form['view'].contactPersonEmail) }}
            {{ form_row(form['view'].contactPersonTelephoneNumber) }}

            {# WEB LOGIN #}
            {{ form_row(form['view'].sectionWebLogin) }}
            {{ form_row(form['view'].webLoginUsername) }}
            {{ form_row(form['view'].webLoginPassword) }}
            {{ form_row(form['view'].webLoginStatus) }}
            {{ form_row(form['view'].webLoginGoesTo) }}
            {{ form_row(form['view'].isWebLoginOptOut) }}
            {{ form_row(form['view'].canViewShop) }}
            {{ form_row(form['view'].isCanViewYourOrder) }}
            {{ form_row(form['view'].isCanViewCustomerProtection) }}
            {{ form_row(form['view'].isCanViewRegisterNewCustomer) }}
            {{ form_row(form['view'].isCanViewPendingOrder) }}
            {{ form_row(form['view'].isCanViewSetting) }}
            {{ form_row(form['view'].isDelayDownloadReport) }}
            {{ form_row(form['view'].numberDateDelayDownloadReport) }}
            {{ form_row(form['view'].isNotAccessReport) }}
            {{ form_row(form['view'].isNotSendEmail) }}

            {# PARTNER #}
            {{ form_row(form['view'].section4) }}
            {{ form_row(form['view'].partnerId) }}
            {{ form_row(form['view'].webUserId) }}

            {# DELIVERY #}
            {{ form_row(form['view'].section5) }}
            {{ form_row(form['view'].statusDeliveryEmail) }}
            {{ form_row(form['view'].reportDeliveryEmail) }}
            {{ form_row(form['view'].invoiceDeliveryEmail) }}
            {{ form_row(form['view'].invoiceDeliveryNote) }}
            {{ form_row(form['view'].invoiceGoesToId) }}
            {{ form_row(form['view'].reportGoesToId) }}
            {{ form_row(form['view'].isFixedReportGoesTo) }}
            {{ form_row(form['view'].reportDeliveryId) }}
            {{ form_row(form['view'].idNutrimeGoesTo) }}
            {{ form_row(form['view'].idRecipeBookDelivery) }}
            {{ form_row(form['view'].idRecipeBookGoesTo) }}
            {{ form_row(form['view'].isInvoiceWithTax) }}
            {{ form_row(form['view'].invoiceNoTaxText) }}
            {{ form_row(form['view'].idMarginGoesTo) }}
            {{ form_row(form['view'].idMarginPaymentMode) }}
            {{ form_row(form['view'].isPaymentWithTax) }}
            {{ form_row(form['view'].paymentNoTaxText) }}
            {{ form_row(form['view'].commissionPaymentWithTax) }}
            {{ form_row(form['view'].ftpServer) }}

            {# REPORT DELIVERY #}
            {{ form_row(form['view'].sectionReportDeliveryOptions) }}
            {{ form_row(form['view'].isReportDeliveryDownloadAccess) }}
            {{ form_row(form['view'].isReportDeliveryFtpServer) }}
            {{ form_row(form['view'].isReportDeliveryPrintedBooklet) }}
            {{ form_row(form['view'].isReportDeliveryDontChargeBooklet) }}

            {# ACQUISITEUR #}
            {{ form_row(form['view'].section3) }}
            {{ form_row(form['view'].acquisiteurId1) }}
            {{ form_row(form['view'].commission1) }}
            {{ form_row(form['view'].yearlyDecayPercentage1) }}
            {{ form_row(form['view'].acquisiteurId2) }}
            {{ form_row(form['view'].commission2) }}
            {{ form_row(form['view'].yearlyDecayPercentage2) }}
            {{ form_row(form['view'].acquisiteurId3) }}
            {{ form_row(form['view'].commission3) }}
            {{ form_row(form['view'].yearlyDecayPercentage3) }}

            {# BANK ACCOUNT INFORMATION #}
            {{ form_row(form['view'].section2) }}
            {{ form_row(form['view'].accountName) }}
            {{ form_row(form['view'].accountNumber) }}
            {{ form_row(form['view'].bankCode) }}
            {{ form_row(form['view'].bic) }}
            {{ form_row(form['view'].iban) }}
            {{ form_row(form['view'].otherNotes) }}

            {# REBRANDER #}
            {{ form_row(form['view'].sectionRebrander) }}
            {{ form_row(form['view'].rebrandingNick) }}
            {{ form_row(form['view'].headerFileName) }}
            {{ form_row(form['view'].footerFileName) }}
            {{ form_row(form['view'].titleLogoFileName) }}
            {{ form_row(form['view'].boxLogoFileName) }}

            {# REPORT DETAIL #}
            {{ form_row(form['view'].sectionReportDetails) }}
            {{ form_row(form['view'].companyInfo) }}
            {{ form_row(form['view'].laboratoryInfo) }}
            {{ form_row(form['view'].contactInfo) }}
            {{ form_row(form['view'].contactUs) }}
            {{ form_row(form['view'].letterExtraText) }}
            {{ form_row(form['view'].clinicianInfoText) }}
            {{ form_row(form['view'].text7) }}
            {{ form_row(form['view'].text8) }}
            {{ form_row(form['view'].text9) }}
            {{ form_row(form['view'].text10) }}
            {{ form_row(form['view'].text11) }}

            {# GS SETTING #}
            {{ form_row(form['view'].sectionGsSetting) }}
            {{ form_row(form['view'].doctorsReporting) }}
            {{ form_row(form['view'].automaticReporting) }}
            {{ form_row(form['view'].noReporting) }}
            {{ form_row(form['view'].invoicingAndPaymentInfo) }}

            {# REPORT #}
            {{ form_row(form['view'].sectionReportSection) }}
            {{ form_row(form['view'].reportLogo) }}
            {{ form_row(form['view'].reportColor) }}

            {# OTHER #}
            {{ form_row(form['view'].sectionOthers) }}
            {{ form_row(form['view'].customBodAccountNumber) }}
            {{ form_row(form['view'].customBodBarcodeNumber) }}
            {{ form_row(form['view'].rating) }}
            {{ form_row(form['view'].idVisibleGroupReport) }}
            {{ form_row(form['view'].idVisibleGroupProduct) }}
            {{ form_row(form['view'].idPreferredPayment) }}
            {{ form_row(form['view'].isStopShipping) }}
            {{ form_row(form['view'].idDncReportType) }}
            {{ form_row(form['view'].idReportNameType) }}
            {{ form_row(form['view'].isShowBodCoverPage) }}
            {{ form_row(form['view'].isCustomerBeContacted) }}
            {{ form_row(form['view'].isNutrimeOffered) }}
            {{ form_row(form['view'].isNotContacted) }}
            {{ form_row(form['view'].isDestroySample) }}
            {{ form_row(form['view'].destroyInNumDays) }}
            {{ form_row(form['view'].isFutureResearchParticipant) }}
            {{ form_row(form['view'].sampleCanBeUsedForScience) }}
            {{ form_row(form['view'].idLanguage) }}
            {{ form_row(form['view'].canCustomersDownloadReports) }}
            {{ form_row(form['view'].onlyShowDistributionChannelAddress )}}

            {{ form_row(form['view'].isGenerateXmlVersion) }}
            {{ form_row(form['view'].isDeliveryViaSftp) }}
            {{ form_row(form['view'].sftpHost) }}
            {{ form_row(form['view'].sftpUsername) }}
            {{ form_row(form['view'].sftpPassword) }}
            {{ form_row(form['view'].sftpFolder) }}
            {{ form_row(form['view'].expressShipment )}}
            {{ form_row(form['view'].canDownloadViaSftp) }}
            {{ form_row(form['view'].sftpDownloadHost) }}
            {{ form_row(form['view'].sftpDownloadUsername) }}
            {{ form_row(form['view'].sftpDownloadPassword) }}
            {{ form_row(form['view'].sftpDownloadFolder) }}

            {# REPORT SETTINGS #}
            {{ form_row(form['view'].sectionReportSetting) }}
            {{ form_row(form['view'].idRecallGoesTo) }}

            {# CREDIT CARD #}
            {{ form_row(form['view'].sectionCreditCardDetail) }}
            {{ form_row(form['view'].cardTypeId) }}
            {{ form_row(form['view'].cardNumber) }}
            {{ form_row(form['view'].cardExpiryDate) }}
            {{ form_row(form['view'].cardCvcCode) }}
            {{ form_row(form['view'].cardFirstName) }}
            {{ form_row(form['view'].cardSurName) }}

            {# EMAIL TEMPLATE #}
            {{ form_row(form['view'].sectionEmailTemplate) }}
            {{ form_row(form['view'].emailTemplates) }}

            <style>
                .content {
                    line-height: normal;
                }
                .stdform2 label {
                    padding: 5px 20px 5px 20px;
                }
            </style>
        {% endblock %}
    {% endembed %}
{% endblock %}
