{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}        
            <script type="text/javascript">            
                function viewRatingHistory() {
                    var targetUrl = '{{ links['rating']['viewDCRatingHistory'] }}' + '?id={{ form['view'].idDC.vars.value }}';

                    jQuery.colorbox({
                        href: targetUrl,
                        iframe: true,
                        width:  "75%",
                        height: "75%",
                        onClosed:function(){ 
                            //do nothing
                        }
                    });
                            
                    return false;
                }


                function statusRowDelete(rowId) {
                    jQuery('#' + rowId).remove();
                }

                var newIndex = 1;

                function statusRowAddNew(appendAfter) {
                    var collectionHolder = jQuery('#statusRowCollection');
                    var prototype = jQuery('#statusRowDataPrototype').attr('data-prototype');

                    newIndex++;
                    var newForm = prototype.replace(/__name__/g, newIndex);        

                    var rowId = 'statusRecordRow_' + newIndex;

                    var newWidget = jQuery('<p id="' + rowId + '"><span class="field" style="margin-left: -1px"></span></p>');
                    var spanWidget = newWidget.find('span');                
                    if (appendAfter != '') {
                        var a = collectionHolder.find(appendAfter);
                        newWidget.insertAfter(a);
                    }
                    else {
                        collectionHolder.append(newWidget);
                    }
                    spanWidget.append(newForm);
                    spanWidget.append('<span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete(\'' + rowId + '\')">Remove</a>');
                    spanWidget.append('&nbsp;&nbsp;<a href="javascript:statusRowAddNew(\'' + '#' + rowId + '\')">Insert</a>');
                }

                jQuery(document).ready(function() {
                    jQuery('#logComplaint').click(function() {
                        jQuery.colorbox({
                            href: '{{ linkCreateComplaint }}',
                            iframe: true,
                            width:  "75%",
                            height: "75%",
                            onClosed:function(){ 
                                window.location.reload();
                            }
                        });
                    })
                });
            </script>
            
            {{ form_row(form['view'].sectionAttachment)}}
            {{ form_row(form['view'].attachment)}}
            {{ form_row(form['view'].section1 )}}
            {{ form_row(form['view'].distributionChannel )}}
            {{ form_row(form['view'].rating )}}
            <p>
                <label for="form_rating">Complaints/Feedbacks DC</label>
                <span class="field">
                    <a href="{{ linkDCComplaints }}" target="_blank">{{ totalComplaint }} complaint(s)</a> / 
                    <a href="{{ linkDCFeedback }}" target="_blank">{{ totalFeedback }} feedback(s)</a> / 
                    <a id="logComplaint" href="javascript:void()">Log new complaint</a> 
                </span>
            </p>
            <p>
                <label for="form_rating">Complaints/Feedbacks Customer</label>
                <span class="field">
                    <a href="{{ linkCustomerComplaints }}" target="_blank">{{ totalCustomerComplaint }} complaint(s)</a> / <a href="{{ linkCustomerFeedback }}" target="_blank">{{ totalCustomerFeedback }} feedback(s)</a>
                </span>
            </p>
            {{ form_row(form['view'].section2 )}}

            <div id="statusRowCollection">
                {% for id, statusRow in form['view'].statusList %}
                    <p id="statusRecordRow_{{ id }}">
                        <span class="field" style="margin-left:-1px">
                            {{ form_widget(statusRow)}}
                            <span style="width: 50px; display: inline-block"></span><a href="javascript:statusRowDelete('statusRecordRow_{{ id }}')">Remove</a>
                            &nbsp;<a href="javascript:statusRowAddNew('#statusRecordRow_{{ id }}')">Insert</a>
                        </span>
                        <script type="text/javascript">
                            newIndex = newIndex > {{ id }} ? newIndex : {{ id }};
                        </script>
                    </p>
                {% endfor %}        
            </div>

            <p>
                <span class="field" style="margin-left: -1px">
                    <a id="statusRowAddNewLink" href="javascript:statusRowAddNew('')">Add new record</a>
                </span>
            </p>

            <div id="statusRowDataPrototype" data-prototype="{{ form_widget(form['view'].statusList.vars.prototype)|e }}" style="display: none">
            </div>
        {% endblock %}
        {% block buttons %}
            <button id="btnViewRatingHistory" class="radius2" onclick="return viewRatingHistory()">&nbsp;&nbsp;View Rating History&nbsp;&nbsp;</button>
            &nbsp;&nbsp;
            <button id="btnSubmit" class="submit radius2">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
        {% endblock %}
    {% endembed %}
{% endblock %}
