{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{% endblock %}


{% block MainContentInner %}
    <script type="text/javascript">
        var distributionChannels = JSON.parse('{{ dcAddressJson | raw }}');
        var distributionChannelMarkers = [];

        var customers = JSON.parse('{{ customerAddressJson | raw }}');
        var customerMarkers = [];

        var map;
        var directionDisplay;
        var flags = [];


        function addMarker(map, lat, long, title, idFlag) {            
            if (flags[idFlag] == 'undefined') {
                return new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map,
                    title: title
                });
            }
            else {
                return new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map,
                    icon: flags[idFlag],
                    title: title
                });
            }
        }   

        function initializeGoogleMap() {        
            // Create new map
            var centerLat = new google.maps.LatLng(50,11);
            var mapOptions = {
                zoom: 6,
                center: centerLat,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }            
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // Direction display
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('directions-panel'));

            // Add distribution channel
            for (var i = 0; i < distributionChannels.length; i++) {
                var dc = distributionChannels[i];
                distributionChannelMarkers[i] = addMarker(map, dc['lat'], dc['long'], dc['title'], dc['flag']);
            }            

            // Add customer
            for (var i = 0; i < customers.length; i++) {
                var c = customers[i];
                customerMarkers[i] = addMarker(map, c['lat'], c['long'], c['title'], c['flag']);
            }            
        }

        jQuery(document).ready(function() {
            // Load flags
            {% for id, flag in flags %}    
                flags["{{ id }}"] = { url: "{{ flag }}" };
            {% endfor %}

            // Google map
            google.maps.event.addDomListener(window, 'load', initializeGoogleMap);        

            // Hide/show flags
            jQuery('#showHideDcType input').change(function() {
                switchDCVisibility();
            });

            // Hide/show DC by Rating
            jQuery('#ratingSelect').change(function() {
                switchDCVisibility();
            });

            function switchDCVisibility() {
                var checkedTypes = [];
                jQuery('#showHideDcType input:checked').each(function() {
                    var typeId = jQuery(this).attr('dctypeId');
                    if (typeId != 'undefined') {
                        checkedTypes[typeId] = 1;
                    }                    
                }); 

                var selectedIdRatings = [];
                jQuery('#ratingSelect :selected').each(function(){
                    var tmpRating = parseInt(jQuery(this).val());
                    if (tmpRating != 0) {
                        selectedIdRatings.push(tmpRating);
                    }
                });

                for (var i = 0; i < distributionChannels.length; i++) {
                    var idRating = distributionChannels[i]['idRating'];
                    var idType = distributionChannels[i]['idType'];
                    if (checkedTypes.hasOwnProperty(idType)) {
                        if (selectedIdRatings.length == 0 || jQuery.inArray(idRating, selectedIdRatings) != -1) {
                            distributionChannelMarkers[i].setVisible(true);
                        }
                        else {
                            distributionChannelMarkers[i].setVisible(false);
                        }
                    }
                    else {
                        distributionChannelMarkers[i].setVisible(false);
                    }                    
                }
            }

            // Hide/show customers
            jQuery('#customerCheckbox').change(function() {
                var isChecked = jQuery(this).is(':checked');
                for (var i = 0; i < customerMarkers.length; i++) {
                    customerMarkers[i].setVisible(isChecked);
                }
            }); 

            // Search
            jQuery('#searchNearestDc button').click(function() {
                var address = jQuery('#searchNearestDc input').val();

                var geocoder = new google.maps.Geocoder();
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var addressLocation = results[0].geometry.location;
                        var lat = addressLocation.lat();
                        var long = addressLocation.lng();

                        // Compute distance to dc
                        var minDistanceSqrt = Number.MAX_VALUE;
                        var minDcId = -1;
                        var minDcLat, minDcLong;
                        for (var i = 0; i < distributionChannels.length; i++) {
                            var dc = distributionChannels[i];
                            var dcLat = dc['lat'];
                            var dcLong = dc['long'];

                            var disSqrt = (dcLat-lat)*(dcLat-lat)+(dcLong-long)*(dcLong-long);
                            if (disSqrt < minDistanceSqrt) {
                                minDistanceSqrt = disSqrt;
                                minDcLat = dcLat;
                                minDcLong = dcLong;
                                minDcId = i;
                            }
                        }

                        // Set marker
                        map.setCenter(addressLocation);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: addressLocation
                        });

                        // Process path
                        if (minDcId != -1) {
                            var request = {
                                origin: addressLocation,
                                destination: new google.maps.LatLng(minDcLat, minDcLong),
                                travelMode: google.maps.DirectionsTravelMode.DRIVING
                            };

                            var directionsService = new google.maps.DirectionsService();
                            directionsService.route(request, function(response, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                    directionsDisplay.setDirections(response);
                                }
                            });
                        }
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            });
        });
        
    </script>

    <div id="map-canvas" style="height: 900px; width: 75%; display: inline-block;"></div>
    <div id="tools" style="width: 22%; display: inline-block; vertical-align: top; margin-left: 10px">
        <div class="widgetbox" style="width: 100%" id="showHideDcType">
            <div class="title"><h2 class="tabbed"><span>Show/hide types</span></h2></div>
            <div class="widgetcontent"> 
                {% for typeId, type in dcTypes %}
                    <div>
                        <div style="float:left;width:30px">
                            <img src="{{ type['flag'] }}" />
                        </div>
                        <div style="float:left;width:16px;padding-top:5px">
                            <input type="checkbox" class="dcType" dctypeId="{{ typeId }}" checked="checked"/>
                        </div>
                        <div style="float:left">
                            {{ type['name'] }}
                        </div>
                        <div style="clear:both"></div>
                    </div>
                {% endfor %}

                <div>
                    <div style="float:left;width:30px">
                        <img src="{{ flags['customer'] }}" />
                    </div>
                    <div style="float:left;">
                        <input type="checkbox" id="customerCheckbox" checked="checked">
                        Customers
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div>
                    <div style="float:left;width:30px">
                        <img src="{{ flags['default'] }}" />
                    </div>
                    <div style="float:left;">
                        <div style="float:left; width: 100px">
                            Rating
                        </div>
                        <div style="float:left">
                            <select id="ratingSelect" multiple style="width:50px">
                                {% for ratingId, ratingName in dcRatings %}
                                    <option value="{{ ratingId }}">{{ ratingName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>

        <div class="widgetbox" style="width: 100%" id="searchNearestDc">
            <div class="title"><h2 class="tabbed"><span>Search nearest DC</span></h2></div>
            <div class="widgetcontent stdform stdformwidget"> 
                <div class="par">
                    <label>Address</label>
                    <div class="field">
                        <input type="text" name="address" class="longinput">
                    </div>
                </div>
                <div class="par">
                    <div class="field">
                        <button class="radius2">Send</button>
                    </div>
                </div>         
            </div>
        </div>
        <div id="directions-panel" style="height: 440px; overflow-y: overlay"></div>
    </div>
{% endblock %}
