{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=de"></script>
{% endblock %}


{% block MainContentInner %}
    <script type="text/javascript">
        var map;
        var flags = [];
        var countryMarks = [];
        var countryInfoWindows = [];

        function buildInfoWindowContent(country, note, note2, isAvailable) {
            var infoNote = '';
            infoNote += '<div country="' + country + '">';
            infoNote += '<b>' + country + ': </b> ';
            infoNote += '<select id="isAvailable">';
            infoNote += '   <option value="1" ' + (isAvailable == 1 ? 'selected' : '') + '>Available</option>';
            infoNote += '   <option value="0" ' + (isAvailable == 0 ? 'selected' : '') + '>Unavailable</option>';
            infoNote += '</select>';
            infoNote += '<br/><textarea id="note" rows="10" cols="80">' + note + "</textarea>";
            infoNote += '<br/>';
            infoNote += '<br/><textarea id="note2" rows="10" cols="80">' + note2 + "</textarea>";
            infoNote += '<br/>';
            infoNote += '<div id="button"><a href="javascript:updateCountryNote(\'' + country + '\')">Update</a>&nbsp;&nbsp;<a href="javascript:deleteCountryNote(\'' + country + '\')" onclick="return confirm(\'Are you really want to delete this?\')">Delete</a></div>';
            infoNote += '</div>';
            return infoNote;
        }

        function addCountryNoteMarker(map, lat, long, country, note, note2, isAvailable) {   
            var infoNote = buildInfoWindowContent(country, note, note2, isAvailable);
            var infoWindow = new google.maps.InfoWindow({
                content: infoNote
            });

            countryInfoWindows[country] = infoWindow;

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, long),
                map: map
            });

            google.maps.event.addListener(marker, 'click', function() {                
                infoWindow.open(marker.get('map'), marker);
            });

            return marker;
        }   

        function detectCountrySelected(addressComponent) {
            var country = '(unknown)';
            for (var i = 0; i < addressComponent.length; i++) {               
                for (var j = 0; j < addressComponent[i].types.length; j++) {
                    if (addressComponent[i].types[j] == 'country') {                                        
                        return addressComponent[i].long_name;
                    }
                }
            }

            return '(unknown)';
        }

        function getCountryCodeSelected(addressComponent) {
            var country = '(unknown)';
            for (var i = 0; i < addressComponent.length; i++) {               
                for (var j = 0; j < addressComponent[i].types.length; j++) {
                    if (addressComponent[i].types[j] == 'country') {                                        
                        return addressComponent[i].short_name;
                    }
                }
            }

            return '(unknown)';
        }

        function getCountyNameSelected(addressComponent) {
            var country = '(unknown)';
            for (var i = 0; i < addressComponent.length; i++) {               
                for (var j = 0; j < addressComponent[i].types.length; j++) {
                    if (addressComponent[i].types[j] == 'administrative_area_level_1') {                                        
                        return addressComponent[i].long_name;
                    }
                }
            }

            return '(unknown)';
        }

        function createCountryNote(country, lat, long) {
            var targetUrl = "{{ links['distributionChannel']['countryNoteCreate'] }}";

            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                data: { 
                    country: country,
                    lat: lat,
                    long: long
                },
                context: document.body
            }).done(function(data) {
                return true;
            }).error(function(jqXHR, textStatus, errorThrown ) {
                resultSpan.html(textStatus + " " + errorThrown);
            }); 
            return false;
        }

        function updateCountryNote(country) {
            var countryDiv = jQuery('div[country="' + country + '"]');
            var isAvailable =  countryDiv.find('#isAvailable').val();
            var note = countryDiv.find('#note').val();
            var note2 = countryDiv.find('#note2').val();

            var divButton = countryDiv.find('#button');
            var currentHtml = divButton.html();
            divButton.html('Updating..');

            var targetUrl = "{{ links['distributionChannel']['countryNoteUpdate'] }}";
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                data: { 
                    country: country,
                    isAvailable: isAvailable,
                    note: note,
                    note2: note2
                },
                context: document.body
            }).done(function(data) {
                var infoNote = buildInfoWindowContent(country, note, note2, isAvailable);
                countryInfoWindows[country].setContent(infoNote);

                divButton.html(currentHtml);
                return true;
            }).error(function(jqXHR, textStatus, errorThrown ) {
                resultSpan.html(textStatus + " " + errorThrown);
            }); 
        }

        function deleteCountryNote(country) {
            var countryDiv = jQuery('div[country="' + country + '"]');

            var divButton = countryDiv.find('#button');
            var currentHtml = divButton.html();
            divButton.html('Deleting..');

            var targetUrl = "{{ links['distributionChannel']['countryNoteDelete'] }}";
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                data: { 
                    country: country
                },
                context: document.body
            }).done(function(data) {
                divButton.html(currentHtml);

                countryMarks[country].setMap(null);
                delete countryMarks[country];

                return true;
            }).error(function(jqXHR, textStatus, errorThrown ) {
                resultSpan.html(textStatus + " " + errorThrown);
            }); 
        }

        function initializeGoogleMap() {        
            // Create new map
            var centerLat = new google.maps.LatLng(50,11);
            var mapOptions = {
                zoom: 6,
                center: centerLat,
                disableDoubleClickZoom: true, 
                draggableCursor: 'default', 
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }            
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); 

            // Load country notes
            {% for country in countryNotes %}
                countryMarks['{{ country['country'] }}'] = addCountryNoteMarker(map, '{{ country['lat'] }}', '{{ country['long'] }}' , '{{ country['country'] }}', '{{ country['note'] | escape('js') }}', '{{ country['note2'] | escape('js') }}', '{{ country['isAvailable'] }}');
            {% endfor %}

            // Event
            google.maps.event.addListener(map, 'dblclick', function(event) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'latLng': event.latLng}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[1]) {
                            // Detect country
                            var country = detectCountrySelected(results[1].address_components);
                            if (country == '(unknown)') {
                                alert("Error while detecting country selected!");
                                return;
                            }

                            // Check if US
                            var countryCode = getCountryCodeSelected(results[1].address_components);
                            if (countryCode == 'US') {
                                var countyName = getCountyNameSelected(results[1].address_components);

                                country = country + " - " + countyName;
                            }

                            // Search marker
                            geocoder.geocode( { 'address': country}, function(results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    var loc = results[0].geometry.location;

                                    if (countryMarks[country] == undefined) {
                                        createCountryNote(country, loc.lat(), loc.lng());
                                        countryMarks[country] = addCountryNoteMarker(map, loc.lat(), loc.lng(), country, '', '', true);
                                    }
                                }
                                else {
                                    alert('Geocoder failed due to: ' + status);
                                }
                            });

                        }
                    } else {      
                        alert('Geocoder failed due to: ' + status);
                    }
                });
            });
        }

        jQuery(document).ready(function() {            
            // Google map
            google.maps.event.addDomListener(window, 'load', initializeGoogleMap);                    
        });
        
    </script>

    <div id="map-canvas" style="height: 900px; width: 100%; display: inline-block;"></div>
    <br/>
    <br/>
    <h2>Continent notes</h2>
    <br/>

    {% for continentNote in continentNotes %}
        <div class="widgetbox" style="width: 100%" id="continent_{{ continentNote['id'] }}">
            <div class="title"><h2 class="tabbed"><span>{{ continentNote['continent']}}</span></h2></div>
            <div class="widgetcontent stdform stdformwidget" style="display: none"> 
                <div class="par">
                    <label>Africa</label>
                    <div class="field">
                        <select id="isAvailable">
                            <option value="1" {% if continentNote['isAvailable'] == 1 %}selected{% endif %}>Available</option>
                            <option value="0" {% if continentNote['isAvailable'] == 0 %}selected{% endif %}>Unavailable</option>
                        </select>
                    </div>
                </div>
                <div class="par">
                    <label></label>
                    <div class="field">
                        <textarea id="note" rows="7" cols="80">{{ continentNote['note'] | raw }}</textarea>
                    </div>
                </div>
                <div class="par">
                    <label></label>
                    <div class="field">
                        <textarea id="note2" rows="7" cols="80">{{ continentNote['note2'] | raw }}</textarea>
                    </div>
                </div>
                <div class="par">
                    <div class="field">
                        <button class="radius2" id="btnUpdate" onclick="javascript:updateContinentNote('{{ continentNote['id'] }}')">Update</button>
                    </div>
                </div>         
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        function updateContinentNote(idContinent) { 
            var continentDiv = jQuery('#continent_' + idContinent);
            var isAvailable =  continentDiv.find('#isAvailable').val();
            var note = continentDiv.find('#note').val();
            var note2 = continentDiv.find('#note2').val();

            var divButton = continentDiv.find('#btnUpdate');
            var currentHtml = divButton.html();
            divButton.html('Updating..');

            var targetUrl = "{{ links['distributionChannel']['continentNoteUpdate'] }}";
            jQuery.ajax({
                url: targetUrl,
                type: "POST",
                data: { 
                    id: idContinent,
                    isAvailable: isAvailable,
                    note: note,
                    note2: note2
                },
                context: document.body
            }).done(function(data) {
                divButton.html(currentHtml);
                return true;
            }).error(function(jqXHR, textStatus, errorThrown ) {
                alert(textStatus + " " + errorThrown);
            }); 
        }
    </script>
{% endblock %}
