{% block marketing_status_row_widget %}
	<span>
		<span style="float:left; width: 300px">
			<span style="height: 37px; display: inline-block">
				<span style="float:left; width: 100px">
					Date
				</span>
				<span>
					{{ form_widget(form.statusDate) }}
				</span>
			</span><br/>
			<span style="height: 37px; display: inline-block">
				<span style="float:left; width: 100px">
					Status
				</span>
				<span>
					{{ form_widget(form.idMarketingStatus) }}
				</span>
			</span><br/>
			<span style="height: 37px; display: inline-block">
				<span style="float:left; width: 100px">
					Reminder Date
				</span>
				<span>
					{{ form_widget(form.reminderDate) }}
				</span>
			</span><br/>
			<span style="height: 37px; display: inline-block">
				<span style="float:left; width: 100px">
					User
				</span>
				<span>
					{{ form_widget(form.idUser) }}
				</span>
			</span><br/>
		</span>
		<span>
			Notes<br/>
			{{ form_widget(form.notes) }}
		</span>
		<span style="clear:both"></span>

		<!-- Workaround -->
		<script type="text/javascript">
			jQuery(document).ready(function() {
				if (jQuery("#{{ form.idUser.vars.id }}").val() == '') {
					jQuery("#{{ form.idUser.vars.id }}").val({{ idUser | default(0)}});
				}
			});
		</script>
	</span>
{% endblock %}
