{% extends 'LeepAdminBundle::PopupWithTabs.html.twig' %}

{% block MainContent %}
    <style type="text/css">
    #main-wrapper {
        margin: 10px 20px;
    }

    #main-wrapper table {
        margin-top: 20px;
    }

    .contenttitle {
        margin-top: 20px;
    }

    .common-input {
        margin: 0px 0px;
        padding: 10px 10px;
        border: 1px solid #ddd;
        background: white;
    }

    input,
    select,
    textarea {
        border: 1px solid #ccc;
        background: #fcfcfc;
        padding: 3px 5px;
        font-size: 14px;
    }

    span.label {
        margin-right: 10px;
    }

    span.input-wrapper {
        margin-right: 15px;
    }

    table {
        font-size: 13px;
        background: white;
    }

    table td {
        font-size: 12px;
    }

    table select {
        width: 100%;
    }

    table input,
    table textarea {
        width: calc(100% - 10px);
    }

    .controll-wrapper {
        margin-bottom: 30px;
    }

    .custom-btn {
        border: 1px solid #333;
        background: #333;
        color: #fff;
        cursor: pointer;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        font-size: 13px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        margin-top: 20px;
        margin-right: 10px;
    }

    .generate-link {
        float: right;
        margin-top: 5px;
        margin-left: 10px;
    }

    .hidden {
        display: none;
    }

    #btn-save-language,
    #btn-expand, {
        margin-top: 0px;
    }

    #languageForm {
        float: left;
    }

    .notification {
        margin-top: 10px;
    }

    .controll-wrapper {
        background: white;
        margin-top: 20px;
        padding: 20px;
    }
    </style>

    <div id="main-wrapper">
        <div class="contenttitle radiusbottom0">
            <h2 class="table"><span>Common</span></h2>
        </div>

        <div class="common-input">
            <form id="languageForm" action="{{ massUpdateLanguageUrl }}" method="post">
                <input id="hidden-selected-input" type="text" name="selected" class="hidden" value="{{ selected }}">

                <span id="common-language-select" class="input-wrapper">
                    <span class="label">Language</span>
                    <select name="language">
                        {% for id, language in languages %}
                            <option value="{{ id }}">{{ language }}</option>
                        {% endfor %}
                    </select>
                </span>

                <span>
                    <input id="btn-save-language" class="custom-btn" type="submit" name="btn-save-language" value="Save languages">
                </span>
            </form>

            <span id="common-email-method-select" class="input-wrapper">
                <span class="label">Email method</span>
                <select onChange="onCommonEmailMethodChange(this)">
                    <option value="0"></option>
                    {% for id, method in emailMethods %}
                        <option value="{{ id }}">{{ method }}</option>
                    {% endfor %}
                </select>
            </span>

            <span>
                <input id="btn-expand" class="custom-btn" type="submit" name="btn-expand" value="Expand all" onclick="onBtnExpandClick(this)">
            </span>
        </div>

        <div class="contenttitle radiusbottom0">
            <h2 class="table"><span>Detail</span></h2>
        </div>

        {% if otherMsg != "" %}
            <div class="notification msginfo">
                <a class="close"></a>
                <p>
                    {{ otherMsg }}
                </p>
            </div>
        {% endif %}

        {% if errorMsg != "" %}
        <div class="notification msgerror">
            <a class="close"></a>
            <p>
                {{ errorMsg }}
            </p>
        </div>
        {% endif %}

        <form id="webloginForm" action="{{ massWebLoginEmailSendUrl }}?selected={{ selected }}" method="post">
            <table style="font-size: 16px" cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
                <thead>
                    <tr>
                        <th class="head1" style="width: 5%">ID</th>
                        <th class="head1" style="width: 14%">Name</th>
                        <th class="head1" style="width: 10%">Language</th>
                        <th class="head1" style="width: 13%">Username</th>
                        <th class="head1" style="width: 13%">Password</th>
                        <th class="head1" style="width: 20%">Email method</th>
                        <th class="head1" style="width: 20%">Send to</th>
                        <th class="head1" style="width: 3$">Expand</th>
                    </tr>
                </thead>
                {% for dc in dcList %}
                    <tr style="cursor: pointer; font-weight: bold; text-align: left;" >
                        <td style="text-align: center;">{{ dc['id'] }}</td>
                        <td>{{ dc['name'] }}</td>
                        <td>
                            {{ languages[dc['language']] }}
                        </td>
                        <td>
                            <input id="input-username-of-{{ dc['id'] }}" type="text" name="dc[{{ dc['id'] }}][username]" value="{{ dc['username'] }}">
                            <a class='generate-link' href="javascript:generateUsername({{ dc['id'] }}, '{{  dc['name'] }}')">Generate</a>
                            <a class='generate-link' href="{{ saveUrl }}?id={{ dc['id'] }}" onClick="onSaveClick(this, {{ dc['id'] }})">Save</a>
                        </td>
                        <td>
                            <input id="input-password-of-{{ dc['id'] }}" type="text" name="dc[{{ dc['id'] }}][password]" value="{{ dc['password'] }}">
                            <a class='generate-link' href="javascript:generatePassword({{ dc['id'] }})">Generate</a>
                            <a class='generate-link' href="{{ saveUrl }}?id={{ dc['id'] }}" onClick="onSaveClick(this, {{ dc['id'] }})">Save</a>
                        </td>
                        <td>
                            <select name="dc[{{ dc['id'] }}][emailMethod]">
                            {% for id, method in emailMethods %}
                                <option class="email-method-select-val-{{ id }}" value="{{ id }}">{{ method }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="dc[{{ dc['id'] }}][sendTo]" value="{{ dc['sendTo'] }}" onChange="onSendToInputChange(this, {{ dc['id'] }})">
                            <div id='send-to-warning-of-{{ dc['id'] }}' class="warning {% if dc['sendTo'] != '' %}hidden{% endif %}" style="color: red;">Empty value</div>
                        </td>
                        <td>
                            <div id="button-expand-of-{{ dc['id'] }}" class="btn-expand-email-detail button-copy" alt="Expand" title="Expand" onclick="onExpandClick({{ dc['id'] }})"></div>
                            <div id="button-close-of-{{ dc['id'] }}" class="btn-close-email-detail button-delete hidden" alt="Close" title="Close" onclick="onCloseClick({{ dc['id'] }})"></div>
                        </td>
                    </tr>
                    <tr id="cc-of-" class="expand-section-of-{{ dc['id'] }} hidden" style="cursor: pointer; font-weight: bold; text-align: left;" class="email-cc">
                        <td></td>
                        <td>
                            <span class="label required">CC</span>
                        </td>
                        <td colspan="6">
                            <input type="text" name="dc[{{ dc['id'] }}][cc]" value="">
                        </td>
                    </tr>
                    <tr id="subject-of-{{ dc['id'] }}" class="expand-section-of-{{ dc['id'] }} hidden" style="cursor: pointer; font-weight: bold; text-align: left;" class="email-subject">
                        <td></td>
                        <td>
                            <span class="label required">Subject</span>
                        </td>
                        <td colspan="6">
                            <input type="text" name="dc[{{ dc['id'] }}][emailSubject]" value="{{ dc['emailSubject'] }}">
                        </td>
                    </tr>
                    <tr id="content-of-{{ dc['id'] }}" class="expand-section-of-{{ dc['id'] }} hidden" style="cursor: pointer; font-weight: bold; text-align: left;" class="email-content">
                        <td></td>
                        <td>
                            <span class="label required">Content</span>
                        </td>
                        <td colspan="6">
                            <textarea name="dc[{{ dc['id'] }}][emailContent]" rows="10">{{ dc['emailContent'] }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="controll-wrapper">
                <p>
                    <label for="is-auto-retry-checkbox">Auto retry when fail?</label>
                    &nbsp;
                    <span class="field">
                        <input type="checkbox" style="position: relative; top: 2px;" id="is-auto-retry-checkbox" name="isAutoRetry" value="1">
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <label for="is-send-now-checkbox">Send now?</label>
                    &nbsp;
                    <span class="field">
                        <input type="checkbox" style="position: relative; top: 2px;" id="is-send-now-checkbox" name="isSendNow" value="1">
                    </span>
                </p>

                <span>
                    <input id="btn-send-email" class="custom-btn" type="submit" name="btn-send-email" value="Send email">
                </span>
            </div>
        </form>
    </div>

    <script type="text/javascript">
    function onExpandClick(id) {
        jQuery(".expand-section-of-" + id).removeClass('hidden');
        jQuery("#button-expand-of-" + id).addClass('hidden');
        jQuery("#button-close-of-" + id).removeClass('hidden');
    }

    function onCloseClick(id) {
        jQuery(".expand-section-of-" + id).addClass('hidden');
        jQuery("#button-expand-of-" + id).removeClass('hidden');
        jQuery("#button-close-of-" + id).addClass('hidden');
    }

    function onCommonEmailMethodChange(select) {
        var value = jQuery(select).val();
        jQuery(".email-method-select-val-" + value).attr('selected', true);
    }

    function onSendToInputChange(input, id) {
        if (jQuery(input).val().trim() == "") {
            jQuery("#send-to-warning-of-" + id).removeClass('hidden');
        } else if (!jQuery("#send-to-warning-of-" + id).hasClass('hidden')) {
            jQuery("#send-to-warning-of-" + id).addClass('hidden');
        }
    }

    function generateUsername(id, name) {
        var targetUrl = '{{ generateUsernameUrl }}?name=' + name;
        jQuery.ajax({
            url: targetUrl,
            type: "POST"
        }).done(function(data) {
            jQuery('#input-username-of-' + id).val(data);
        }).error(function(jqXHR, textStatus, errorThrown ) {
            alert("ERROR! CAN'T LOAD DATA");
        });
    }

    function generatePassword(id) {
        var targetUrl = '{{ generatePasswordUrl }}';
        jQuery.ajax({
            url: targetUrl,
            type: "POST"
        }).done(function(data) {
            console.log("here2", 'input-password-of-' + id, data);
            jQuery('#input-password-of-' + id).val(data);
        }).error(function(jqXHR, textStatus, errorThrown ) {
            alert("ERROR! CAN'T LOAD DATA");
        });
    }

    function onSaveClick(link, id) {
        var username = jQuery('#input-username-of-' + id).val();
        var password = jQuery('#input-password-of-' + id).val();
        var selected = jQuery('#hidden-selected-input').val();
        jQuery(link).attr('href', "{{ saveUrl }}?id=" + id + "&username=" + username + "&password=" + password + "&selected=" + selected);
    }

    function onBtnExpandClick(btn) {
        var name = jQuery(btn).val();
        if (name == "Expand all") {
            jQuery(".btn-expand-email-detail").click();
            jQuery(btn).val("Close all");
        } else {
            jQuery(".btn-close-email-detail").click();
            jQuery(btn).val("Expand all");
        }
    }
    </script>
{% endblock %}