{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block MainContentInner %}
	{% if scanFormFile is null %}
		<p id="field_row_form_scanFormFileDownload">
			No Form pending for template detection
		</p>
	{% else %}
	    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
	    	{% block formContentNormal %}
				{{ form_row(form['view'].idScanFormFile) }}
				{{ form_row(form['view'].idScanFormTemplate) }}

				{# SCAN FORM FILE #}
				{{ form_row(form['view'].scanFormFileSection) }}

				<p id="field_row_form_scanFormFileDownload">
				    <label class="required">
						PDF
				    </label>
				    <span class="field">
				    	<a href='{{ scanFormFile['downloadPdfUrl'] }}'>
				    		View
				    	</a>
				    </span>
				</p>

				{# SCAN FORM TEMPLATE #}
				{{ form_row(form['view'].scanFormTemplateSection) }}

				<div>
					<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
			            <thead>
			                <tr style="height: 45px">
			                    <th class="head1" style="width: 5%">&nbsp;</th>
			                    <th class="head1" style="width: 15%">Template</th>
			                    <th class="head1" style="width: 40%">Expected Images</th>
			                    <th class="head1" style="width: 40%">Actual Images</th>
			                </tr>
			            </thead>
					    <tbody>
					    	{% for idScanFormTemplate, scanFormTemplate in arrTemplates %}
						        <tr>
						            <td>
						                <input type="radio" name="template" value='{{ idScanFormTemplate }}'/>
						            </td>
						            <td>
						            	{{ scanFormTemplate['name'] }}
						            </td>
						            <td>
					    				{% for image in scanFormTemplate['image'] %}
					    					<img width="100%" src="{{ image }}"/><br/>
					    				{% endfor %}
						            </td>
						            <td>
					    				{% for image in scanFormTemplate['actualImages'] %}
					    					<img width="100%" src="{{ image }}"/><br/>
					    				{% endfor %}
						            </td>
						        </tr>
					    	{% endfor %}
					    </tbody>
					</table>
				</div>

			    <script type="text/javascript">
			        jQuery(document).ready(function() {
			        	jQuery('#{{ form['view'].idScanFormFile.vars.id }}').val({{ scanFormFile['id'] }});

						jQuery(".stdform>tbody").selectable({
							filter: 'tr'
						});

						jQuery(".stdform>tbody tr").click(function() {
							var radioInput = jQuery(this).find('input[type="radio"]');
							radioInput.prop('checked', true);
							jQuery('#{{ form['view'].idScanFormTemplate.vars.id }}').val(radioInput.val());
						});
			        });
			    </script>
			    <style>
			    	.stdtable tbody tr:hover td, .stdtable tbody tr.selected td {}

					.ui-selectable>.ui-selected {
					    background-color: #a6c9e2;
					}
			    </style>
	    	{% endblock %}
	    {% endembed %}
	{% endif %}
{% endblock %}