{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
	<div>
		<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
            <thead>
                <tr style="height: 45px">
                    <th class="head1" style="width: 10%">Status</th>
                    <th class="head1" style="width: 10%">Total</th>
                    <th class="head1" style="width: 10%">Action</th>        
                </tr>
            </thead>
		    <tbody>
		    	{% for statusStat in stats  %}
			        <tr>
			            <td>
			                {{ statusStat['statsTitle'] }}
			            </td>
			            <td>
			            	{{ statusStat['total'] }}
			            </td>
			            <td>
			            	{{ statusStat['action'] | raw }}
			            </td>
			        </tr>
		    	{% endfor %}
		    </tbody>
		</table>
	</div>

	<br/>

    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
    {% endembed %}

	<script>
		function setFilterForErrorFiles() {
			jQuery('#{{ grid['filter']['view']['status'].vars.id }}').val({{ errorStatus }});
			jQuery('#{{ grid['filter']['view']['isHideErrorStatus'].vars.id }}').prop('checked', false);
			jQuery('#{{ grid['filter']['view']['isHideClosedStatus'].vars.id }}').prop('checked', true);
		}
	</script>
{% endblock %}