{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return exportGeneResult()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
                        </div>
                        <script type="text/javascript">
                            function exportGeneResult() {
                                var orderNumber = jQuery('#{{ form['view'].orderNumber.vars.id }}').val();
                                var url = '{{ links['gene_manager']['exportGeneResultByOrderNumber'] }}?orderNumber=' + orderNumber;

                                window.open(url, '_blank');
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
