{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}

        {% block gridDrawCallback %}
            jQuery(".simpletip").tooltip({
                bodyHandler: function() {
                     
                    return jQuery(this).find('.hide-content').html();
                },

                left: -100,
                showURL: false,
                display: "always-top"
            });

            jQuery('.dataTablePopupButton').colorbox({
                iframe: true,
                width:  "90%",
                height: "90%",
                onClosed:function(){
                    funcDynamicTableReload_{{ grid['id'] }}();
                }
            });
        {% endblock %}

        {% block filterForm %}
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <div>
                                <button class="radius2" onclick="return customerResultReadyBulkEdit()">&nbsp;&nbsp;Result-ready bulk-edit&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return customerStatusBulkEdit()">&nbsp;&nbsp;Bulk-edit&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return viewResultHistory()">&nbsp;&nbsp;View history&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return submitResult()">&nbsp;&nbsp;Submit result&nbsp;&nbsp;</button>
                            </div>
                            <div style="margin-top: 3px">
                                <button class="radius2" onclick="return exportMassarrays()">&nbsp;&nbsp;Export MASSARRAYS&nbsp;&nbsp;</button>
                                <button class="radius2" onclick="return exportSNPS()">&nbsp;&nbsp;Export SNPS&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <script type="text/javascript">
                            function submitResult() {
                                var targetUrl = '{{ links['gene_manager']['submitResult'] }}';
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function viewResultHistory() {
                                var targetUrl = '{{ links['gene_manager']['viewResultHistory'] }}';
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                    }
                                });

                                return false;
                            }

                            function customerResultReadyBulkEdit() {
                                var targetUrl = '{{ links['customer']['bulkEditResultReady'] }}';
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function customerStatusBulkEdit() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                var targetUrl = '{{ links['customer']['bulkEditStatus'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "90%",
                                    height: "90%",
                                    onClosed:function(){
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });

                                return false;
                            }

                            function toggleRecallFlag(idCustomer) {
                                var btn = jQuery('#toggleRecallFlag_' + idCustomer);
                                btn.html('Updating..');


                                var targetUrl = '{{ links['customer']['toggleRecallFlag'] }}?idCustomer=' + idCustomer;

                                var jqxhr = jQuery.ajax({
                                    url:  targetUrl,
                                    type: 'GET',
                                    data: { idCustomer: idCustomer },
                                }).done(function( msg ) {
                                    funcDynamicTableReload_{{ grid['id'] }}();
                                }).fail(function(jqXHR, textStatus) {
                                    alert("Failed: " + textStatus );
                                });
                            }

                            function exportMassarrays() {
                                var targetUrl = '{{ links['customer']['exportMassarrays'] }}';
                                window.open(targetUrl, '_blank');

                                return false;
                            }

                            function exportSNPS() {
                                var targetUrl = '{{ links['customer']['exportSNPS'] }}';
                                window.open(targetUrl, '_blank');

                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}

