{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="content">
        {% for errorRecord in errorRecords %}
            <h2>{{ errorRecord['name'] }}</h2>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                <thead>
                    <tr style="height: 45px">
                        <th class="head1" style="width: 25%">Result line</th>
                        <th class="head1" style="width: 10%">Order number</th>
                        <th class="head1" style="width: 10%">RsNumber</th>        
                        <th class="head1" style="width: 10%">Gene</th>
                        <th class="head1" style="width: 10%">Call result</th>
                        <th class="head1" style="width: 10%">Conversion result</th>
                        <th class="head1" style="width: 25%">Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in errorRecord['errors'] %}
                        {% if row['error'] is not empty %}
                            <tr style="background-color: #FFCCCC; color: red">
                                <td>{{ row['raw'] }}</td>
                                <td>{{ row['tokens'][0] | default('') }}</td>
                                <td>{{ row['tokens'][1] | default('') }}</td>
                                <td>{{ row['geneName'] | default('') }}</td>
                                <td>{{ row['tokens'][3] | default('') }}</td>
                                <td>{{ row['geneResult'] | default('') }}</td>
                                <td>{{ row['error'] }}</td>
                            </tr>
                        {% elseif row['warning'] is not empty %}
                            <tr style="background-color: #FFFFCC; color: orange">
                                <td>{{ row['raw'] }}</td>
                                <td>{{ row['tokens'][0] | default('') }}</td>
                                <td>{{ row['tokens'][1] | default('') }}</td>
                                <td>{{ row['geneName'] | default('') }}</td>
                                <td>{{ row['tokens'][3] | default('') }}</td>
                                <td>{{ row['geneResult'] | default('') }}</td>
                                <td>{{ row['warning'] }}</td>
                            </tr>
                        {% else %}
                            <tr style="background-color: #CCCCFF; color: blue">
                                <td>{{ row['raw'] }}</td>
                                <td>{{ row['tokens'][0] }}</td>
                                <td>{{ row['tokens'][1] }}</td>
                                <td>{{ row['geneName'] }}</td>
                                <td>{{ row['tokens'][3] }}</td>
                                <td>{{ row['geneResult'] }}</td>
                                <td>{{ row['error'] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br/>
        {% endfor %}
    </div>
{% endblock %}