{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}        
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return validCodeClearAll()">&nbsp;&nbsp;Clear all&nbsp;&nbsp;</button>      
                            <button class="radius2" onclick="return validCodeDownload()">&nbsp;&nbsp;Download&nbsp;&nbsp;</button>      
                        </div>
                        <script type="text/javascript">
                        function validCodeClearAll() {
                            if (confirm('Are you really want to delete all?')) {
                                var targetUrl = "{{ links['mwaValidCode']['deleteAll'] }}";
                                document.location = targetUrl;
                            }
                            return false;
                        }
                        function validCodeDownload() {
                            var targetUrl = "{{ links['mwaValidCode']['download'] }}";
                            document.location = targetUrl;
                            return false;
                        }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
