{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Display:OneColumn.html.twig' with {'title': title, 'data': data} %}
    {% endembed %}

    {% if backLink is defined %}
        <br/>
        <a class="stdbtn" href="{{ backLink }}"><span>Back</span></a>
    {% endif %}
{% endblock %}
