{% extends 'LeepAdminBundle:CRUD:popup_form_no_tab.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}
{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}
            <h2>Rating {{ ratingEntity }} - Period</h2>
            <br/>
            <p></p>
            {# FILTER #}
            {{ form_row(form['view'].filteredResult) }}
            {{ form_row(form['view'].createdAt) }}
            <p id="field_row_{{ form['view'].startDate.vars.id }}">
                <label for="form_createdAt">
                    Ordered Date
                </label>
                <span class="field">
                    From {{ form_widget(form['view'].startDate) }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    To {{ form_widget(form['view'].endDate) }}
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(form['view'].startDate) }}
                        {{ form_errors(form['view'].endDate) }}
                    </label>
                </span>
            </p>
            {{ form_row(form['view'].partners) }}
            {{ form_row(form['view'].distributionChannel) }}
            {{ form_row(form['view'].isNoRating) }}

            <br/>
            <h2>Rating Rules</h2>
            <br/>
            <p></p>

            {% for ratingKey, ratingLabel in ratingList %}
                {% set rMin = ratingLevelMinPrefix ~ ratingKey %}
                {% set rMax = ratingLevelMaxPrefix ~ ratingKey %}
                <p id="field_row_{{ ratingKey }}">
                    <label for="form_createdAt">
                        {{ ratingLabel }}
                    </label>
                    <span class="field">
                        From {{ form_widget(form['view'][rMin]) }}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        To {{ form_widget(form['view'][rMax]) }}
                        <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                            {{ form_errors(form['view'][rMin]) }}
                        </label>
                    </span>
                </p>
            {% endfor %}

            <br/>
            <h2>Mode</h2>
            <br/>
            <p></p>
            {{ form_row(form['view'].idMode) }}
            <p class="stdformbutton">
                <button id="btnFilter" class="radius2">&nbsp;&nbsp;Process&nbsp;&nbsp;</button>
                <button id="btnExport" class="radius2" onclick="return onExportClick()">&nbsp;&nbsp;Export&nbsp;&nbsp;</button>
            </p>

            <script type="text/javascript">
            function onExportClick() {
                // get all the inputs into an array.
                var form = jQuery('#AppForm');

                var oldAction = form.attr("action");
                var oldTarget = form.attr("target");

                form.attr("action", "{{ links['distributionChannel']['exportRating'] }}");
                form.attr("target", "_blank");
                form.submit();

                form.attr("action", oldAction);
                if (!oldTarget) {
                    form.removeAttr("target");
                } else {
                    form.attr("target", oldTarget);
                }

                return false;
            }
            </script>

            {% if ratingResult is not empty %}
                <br/>
                <h2>Rating Result</h2>
                <br/>

                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                    <thead>
                        <tr style="height: 45px">
                            <th class="head1" width="40%">{{ ratingEntity }}</th>
                            <th class="head1" width="20%">Total Order</th>
                            <th class="head1" width="20%">Current Rating</th>
                            <th class="head1" width="20%">New Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in ratingResult %}
                            <tr>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['totalOfOrders']}}</td>
                                <td>{{ row['currentRatingLabel'] }}</td>
                                <td>{{ row['ratingLabel'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endblock %}

        {% block buttons %}
        {% endblock %}
    {% endembed %}
{% endblock %}
