{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    <div class="mainwrapper">
        <div class="mainwrapperinner"> 
            <div class="content">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdform" style="margin-top: 0px">
                	<thead>
                		<tr style="height: 45px">
                            <th class="head1" style="width: 20%">Period</th>
                			<th class="head1" style="width: 20%">Rating Date</th>
                			<th class="head1" style="width: 20%">Rating</th>
                			<th class="head1" style="width: 20%">Total of Orders</th>
                            <th class="head1" style="width: 20%">Rule</th>
                		</tr>
                	</thead>
            	    <tbody>
            	    	{% for entry in histories %}
            		    	<tr>
                                <td>
                                    {{ entry['period'] }}
                                </td>
            		    		<td>
            		    			{{ entry['createdAt'] }}
            		    		</td>
            		    		<td>
            		    			{{ entry['newRating'] }}
            		    		</td>
            		    		<td>
            		    			{{ entry['totalOfOrders'] }}
            		    		</td>
                                <td>
                                    {% for r in entry['rules'] %}
                                        {{ r | raw }}<br/>
                                    {% endfor %}
                                </td>
            		    	</tr>
            	    	{% endfor %}
            	    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}