{% extends 'DesignStarlightBundle:Layout:PopupPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}    
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
    {% endembed %}

    {% if resultData is not empty %}
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" style="margin-top: 0px">
            <thead>
                <tr>
                    <th class="head1" style="width: 30%">Sample</th>
                    <th class="head1" style="width: 70%">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for sample, result in resultData %}
                    <tr>
                        <td>{{ sample }}</td>
                        <td>{{ result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        <tbody>
    {% endif %}
{% endblock %}

