{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Form:Basic.html.twig' with {'form': form} %}
        {% block formContentNormal %}                            
            {{ form_row(form['view'].sectionSampleInfo )}}
            <p id="field_row_{{ form['view'].sampleId.vars.id}}">
                {{ form_label(form['view'].sampleId) }}
                <span class="field">
                    {{ form_widget(form['view'].sampleId) }}
                    <span id="sampleIdResult"></span>
                    <label for="selection" class="error" style="margin-top: 5px; width: 50%">
                        {{ form_errors(form['view'].sampleId) }}
                    </label>
                </span>
            </p>

            {{ form_row(form['view'].group )}}
            {{ form_row(form['view'].resultPattern )}}
            {{ form_row(form['view'].currentStatus )}}
            {{ form_row(form['view'].infoText )}}
            {{ form_row(form['view'].gew )}}
            
            {{ form_row(form['view'].sectionSendPush )}}
            {{ form_row(form['view'].pushStatus )}}
            {{ form_row(form['view'].pushDatetime )}}
            {{ form_row(form['view'].isSendNow )}}
            {{ form_row(form['view'].isOverrideSending )}}
            
            <script type="text/javascript">
            jQuery('#{{ form['view'].sampleId.vars.id }}').change(function() {
                var sampleIdValue = jQuery(this).val();
                if (sampleIdValue != '') {
                    jQuery('#sampleIdResult').html('Validating..');
                    var targetUrl = '{{ links['mwaValidCode']['validate'] }}';
                    jQuery.ajax({
                        url: targetUrl,
                        type: "POST",
                        data: { sampleId: sampleIdValue },
                        context: document.body
                    }).done(function(data) {
                        jQuery('#sampleIdResult').html(data);
                    }).error(function(jqXHR, textStatus, errorThrown ) {
                        jQuery('#sampleIdResult').html(textStatus + " " + errorThrown);
                    });
                }                
            });
            </script>
        {% endblock %}        
    {% endembed %}
{% endblock %}
