{% extends 'DesignStarlightBundle:Layout:NormalPage.html.twig' %}

{% block CustomHeaderScript %}
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/app_style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/jquery.tooltip.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/leepadmin/css/sweet-alert.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/jquery.tooltip.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/leepadmin/sweet-alert.min.js')}}"></script>
{% endblock %}

{% block MainContentInner %}
    {% embed 'DesignStarlightBundle:Grid:BasicNoButton.html.twig' with {'grid': grid} %}        
        {% block extraScriptOnReady %}
            dynamicTables_{{ grid['id'] }}.fnSort( [ [0,'desc'] ] );
        {% endblock %}

        {% block gridDrawCallback %}    
            jQuery(".simpletip").tooltip({ 
                bodyHandler: function() {   
                    return jQuery(this).find('.hide-content').html();
                }, 
                left: -100, 
                top: 20,
                showURL: false 
            });                   
        {% endblock %}
        
        {% block filterForm %}    
            {% if grid['filter'] is defined %}
                {% embed 'DesignStarlightBundle:Form:Filter.html.twig' with {'form': grid['filter'] } %}
                    {% block buttons %}
                        {{ parent() }}
                        <div style="float: right">
                            <button class="radius2" onclick="return computeResultPattern()">&nbsp;&nbsp;Compute pattern&nbsp;&nbsp;</button>   
                            <button class="radius2" onclick="return mwaSampleBulkTatSend()">&nbsp;&nbsp;Bulk-edit TAT&nbsp;&nbsp;</button>   
                            <button class="radius2" onclick="return mwaSampleBulkSend()">&nbsp;&nbsp;Bulk-send&nbsp;&nbsp;</button>   
                        </div>
                        <script type="text/javascript">
                            function getSelectedId() {
                                var checkboxes = jQuery('#{{ grid['id'] }} .stdtableCheckBox');
                                var selectedId = '';
                                checkboxes.each(function(i, v) {
                                    if (jQuery(this).is(':checked')) {
                                        var id = jQuery(this).attr('id').substring(4);
                                        selectedId += id + ',';
                                    }
                                });
                                return selectedId;
                            }
                            function mwaSampleBulkSend() {
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['mwaSample']['bulkEdit'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                
                                return false;
                            }

                            function computeResultPattern() {                            
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['mwaSample']['computePattern'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                
                                return false;
                            }

                            function mwaSampleBulkTatSend() {                            
                                var selectedId = getSelectedId();
                                var targetUrl = '{{ links['mwaSample']['bulkEditTat'] }}?selectedId=' + selectedId;
                                jQuery.colorbox({
                                    href: targetUrl,
                                    iframe: true,
                                    width:  "75%",
                                    height: "75%",
                                    onClosed:function(){ 
                                        funcDynamicTableReload_{{ grid['id'] }}();
                                    }
                                });
                                
                                return false;
                            }
                        </script>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
